[2019-03-22 19:02] awjuliani commented on #1324
Hi @ConorZAM

This has been added in v0.6 and v0.7.

[2019-03-22 22:14] EricFiore commented on #1851
thank you @awjuliani even though I did a complete reinstallation of Anaconda, tensorflow, resetup the Unity game and everything I still get same error. Not sure what is going on here.  Any advice is appreciated.
I am following the tutorial to a tee.  Still I get the error.  I am on Windows 10.  I am not using the Nvidia toolkit.  This is strictly CPU.  I can install everything fine but when I try

[2019-03-22 22:37] TashaSkyUp commented on #1389
If there is anything i can do to help please let me know, I worry this may
currently be a bit beyond me however.. this is something that is a high
priority for me.

On Fri, Mar 22, 2019 at 1:24 PM Vincent(Yuan) Gao <notifications@github.com>
wrote:

[2019-03-23 04:14] moonsh commented on #1837
@ervteng I am sorry. I can't get it. So every update will occur 3 times when the model reaches every 1024 steps? like 1024, 2048, 3072, 4096... ?

[2019-03-23 04:47] TashaSkyUp commented on #1837
A very very detailed explanation of all of these parameters would definitely help this project.

[2019-03-23 20:54] rafvasq opened #1859 "Simulation much slower using Python"
Whether I run using a build or in the Editor using the Python API, the simulation is much slower than when using mlagents-learn. I'm using a PyTorch implementation of DDPG and using Cuda10.1. Is this expected behaviour?

[2019-03-24 15:12] rafvasq commented on #1859
I guess this is expected behaviour for more expensive learning algorithms. By raising the decision frequency, frame rate is much better.

I also noted that only CUDA v9.0 and cuDNN v7.0.5 is supported right now according to the [installation docs](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation-Windows.md), but this wasn't related to my performance issues in the end.

[2019-03-24 15:12] #1859 closed

[2019-03-24 16:57] dheerajdhall27 opened #1860 ".bytes file does not save after training"
After the training finishes, the .bytes file does not save into the models folder.
I have tried reducing the max steps. When I enter ctrl-c during training it shows these errors.
![TensorFlowError](https://user-images.githubusercontent.com/6852126/54882812-42f30700-4e34-11e9-824c-d3b171dd04c3.PNG)
![TensorFlowError2](https://user-images.githubusercontent.com/6852126/54882817-4be3d880-4e34-11e9-97d

[2019-03-24 20:02] mdinoulis opened #1861 "ML-Agents not found in Assets -> Create dropdown"
I am able to run the ml-agents Examples however when I create a new project and follow the instructions for creating a new machine learning project (the RollerBall example) I cannot see the Assets -> Create -> ML-Agents menu option.

I have dragged and dropped the ML-Agents and Gizmos folders into my Assets folder in the Project window just as described in the documentation, I then create an Acade

[2019-03-25 00:08] fool1280 commented on #1701
you can reinstall with
`conda install numpy==1.15.4
pip install pypiwin32`

Mine works perfectly.

[2019-03-25 03:36] xaxathiena opened #1862 "Question about ML-Agents choice "Cards combination"?"
How can i choice some cards from unstable or stable number cards like "Capsa Susun Game" by ML-Agents?

[2019-03-25 07:57] qwe-git-hub commented on #1853
Looks like I found the cause of the error. My processor does not support AVX but TF 1.6 require this.
https://github.com/tensorflow/tensorflow/releases/tag/v1.6.0
It would be good if installation guide had hardware requirements.

[2019-03-25 08:18] #1831 closed

[2019-03-25 08:34] ConorZAM commented on #1324
Hey @awjuliani

How would I do this? Is there a bool I can check in the discrete action applier class to bypass the multinomial part?

[2019-03-25 08:43] mdinoulis commented on #1861
Update, I've managed to get this to work by moving both the Assets and ProjectSettings folders into the new project folder

[2019-03-25 08:43] #1861 closed

[2019-03-25 08:50] JaAlSaDev opened #1863 "max_steps won't change when loading Imitation Learning model"
I trained my agents via Imitation Learning until the simulation steps reached `max_steps`, I had `max_steps`'s value set as 10,000.

I want to continue training, so I changed  `max_steps`'s value into 50,000 steps.
![DefaultHype1](https://user-images.githubusercontent.com/46474223/54905459-21585500-4ef2-11e9-8bc2-1c5d07fb116d.png)

I loaded the trained model:
![Train Command](https://user-images.g

[2019-03-25 16:59] benmadinebuisness opened #1864 "Curiosity Training Help"
Hi there, im currently trying out curiosity training and I've basically copied all the same parameters from the pyramid example but my results after half a million steps are pretty poor and I'm not sure why...
I have already made 4 agents navigate to the end of a maze using imitation learning but I am now trying to create an agent that hunts down these agents by exploring the maze, so using curios

[2019-03-25 18:12] awjuliani commented on #1851
Hi @EricFiore

Can you confirm that the installation works with a tensorflow provided example? If not, it may be better to share this issue on the TensorFlow Github page.

[2019-03-25 18:15] awjuliani commented on #1853
Hi @qwe-git-hub

Thanks for pointing this out. We will add a note about this.

[2019-03-25 18:19] #1853 closed

[2019-03-25 18:21] awjuliani commented on #1324
Hi @ConorZAM

You will need to modify the inference brain script files. It is actually trickier for discrete actions, as they are represented as logits. In the gaussian case, the mean can be directly extracted however.

[2019-03-25 18:23] awjuliani commented on #1856
Hi @ConorZAM

As mentioned in the other thread, this currently isn't possible without editing code for the inference brain. It is something we can add to our roadmap though, since a few people have requested it.

[2019-03-25 18:25] awjuliani commented on #1857
Hi @kazurati

This seems to be an issue with parsing your yaml file. Can you share what python version and default system language you are using?

[2019-03-25 18:26] awjuliani commented on #1860
I am assigning @xiaomaogy as he worked on this piece of code.

[2019-03-25 18:27] awjuliani commented on #1862
Hi @xaxathiena

Can you provide a little more information about the nature of your problem? I am unfamiliar with this game.

[2019-03-25 18:29] awjuliani commented on #1863
Hi @JaAlSaDev

Changing the `max_steps` like this is not recommended. There are a number of internal variables which are based on the previous `max_step`, which when changed are no longer valid. I would recommend in general to train using a `max_step` as long or longer than you think you will need, and simply end the training session early when you receive the average reward you would like for you

[2019-03-25 18:30] awjuliani commented on #1864
Hi @benmadinebuisness

The curiosity parameters will need to be fine-tuned for this specific environment. The default parameters we provide were fine-tuned for the pyramids example, and likely won't transfer well. In particular the `curiosity_strength` will likely be important to balance with some extrinsic reward.

[2019-03-25 18:34] benmadinebuisness commented on #1864
Hi there, thanks for the reply! Yea I was thinking that as well, just wasn't sure what the best values would be, but I guess that is down to testing. Just out of curiosity, would you suggest a very high strength, maybe past 10 considering the pyramid is 0.01... Not sure how the scaling is effected for the strength.

[2019-03-25 20:15] #1864 closed

[2019-03-25 21:57] xiaomaogy commented on #1860
Hi @dheerajdhall27, now what gets saved is the .nn file instead of the .bytes file, and in your case it is saved into ./models/first_1/ folder.

[2019-03-26 05:32] JaAlSaDev commented on #1863
Thanks for responding, @awjuliani!

I figured out what my problem was, the PushBlockIL scene has a brain called StudentBrain, I gave the same name to one of the brains in my scenes and added it to the configuration file `trainer_config.yaml`, So, the configuration file had two StudentBrains. I had to remove the configuration for PushBlockIL's StudentBrain.

![image](https://user-images.githubuserc

[2019-03-26 05:32] #1863 closed

[2019-03-26 10:45] ConorZAM commented on #1856
Hi @awjuliani thank you for the response!

I've tried using continuous actions instead and rounding them to integers but still the agent seems to perform random actions.

I have been looking through the inference brain code and it seems that the continuous action applier makes no changes to the actions, yet when I use a continuous brain it still seems to output random actions. Can you point me to

[2019-03-26 14:14] joabim opened #1866 "BroadcastHub brain list resets upon build"
When building or running custom scenes in the editor the brain list in `Academy.BroadcastHub` seems to reset in some situations (Unity version 2018.3.7f1 on linux). Current reproduction steps: add one LearningBrain and one HeuristicBrain to the BroadcastHub as well as check the `control` checkbox for the former. When pressing play or building, the list reverts to containing only the LearningBrain

[2019-03-26 20:21] ervteng commented on #1832
Hi @chagmgang, we believe it is an issue with Unity's Vector3.normalize function in the C# code. On our build of Unity (2017.4) no NaNs are outputted. Which version of Unity are you using?

Thanks

[2019-03-26 21:05] KReguieg opened #1867 "Increased performance on agents"
Hey fellow ml devs,

I have a question about the performance of trained agents.

Let's say you have a swarm implemented in a classical way with algorithms on the CPU or GPU your number of agents would be limited to the power of the machine and the algorithms you use it on, right? But let me ask, is a reinforced agent in general more performant because he just chooses his actions out of matrix/tree

[2019-03-26 23:24] awjuliani commented on #1866
Hi @joabim

Thanks for bringing this up. In our own tests we haven't run into this issue, but we will try to investigate it, as it definitely sounds like some kind of bug.

[2019-03-26 23:35] vincentpierre commented on #1866
I am unable to reproduce this bug. Maybe someone from the community can confirm if this is a consistent issue. I am wondering if this is because you are trying to edit the Hub while in Play Mode (Upon exiting Play Mode, all inspector properties are reset to what they were before entering Play Mode). Can you try to look at the debug inspector when adding brains to the hub ? (In the top left corner

[2019-03-27 03:07] dheerajdhall27 commented on #1860
Got it! But why does it give that error though? This happens when i press ctrl-c.

[2019-03-27 07:33] JobSmith opened #1868 "How to change the hidden units in each hidden layer?"
I found that the hidden units of each hidden layer is the same.

How to resolve this?

Thanks！

[2019-03-27 08:50] joabim commented on #1866
@vincentpierre I see your concern but I am not altering the Hub through the inspector whilst in play mode. The reason I noticed the issue was that `UnityEnvironment` indicated that no external brains were available on the python side even though at least one of them should have been a controllable LearningBrain. Interesting - when using the inspector in debug mode, the changes actually saved betwe

[2019-03-27 09:07] X-funbean commented on #1779
It generates error CS0234 in Unity 2018.3.10f1, too

[2019-03-27 10:32] mantasp commented on #1800
Typically you would train object detector in TensorFlow and then convert model using 'mlagents/trainers/tensorflow_to_barracuda.py' to Unity Inference Engine format. Later you can invoke Unity Inference Engine as provided in examples in 'UnitySDK/Assets/ML-Agents/Plugins/Barracuda.Core/Barracuda.md'

[2019-03-27 10:32] #1800 closed

[2019-03-27 12:01] #1866 closed

[2019-03-27 12:05] mantasp commented on #1779
Hi, I can't reproduce this error on my machine. Are you seeing this error in Unity or in some external editor? Could you please attach screenshot?
Thanks!

[2019-03-27 12:11] mantasp commented on #1825
@dahburj that's currently a bit outside of our tested/optimized area, but we would be interested to have closer look at your project. Which devices did you use for testing performance and what kind of input resolution did you use?

[2019-03-27 12:13] mantasp commented on #1844
Yes, "action" should be the output. Any chance you could share your model for testing?
Thanks

[2019-03-27 12:15] mantasp commented on #1784
@decoybitch if you are using different model than described above, please create separate issue, it will help to track your issue.
Thanks!

[2019-03-27 12:28] X-funbean commented on #1779
@mantasp
![image](https://user-images.githubusercontent.com/24663255/55075587-53261300-50ce-11e9-9cab-94cad0df407f.png)
and in VS2017 it says useless
![image](https://user-images.githubusercontent.com/24663255/55075743-b021c900-50ce-11e9-800a-03c8b603f769.png)

[2019-03-27 13:03] SHornoiu commented on #1844
[frozen_graph_def.pb.zip](https://github.com/Unity-Technologies/ml-agents/files/3013242/frozen_graph_def.pb.zip)
[iSiloBrain-V01.nn.zip](https://github.com/Unity-Technologies/ml-agents/files/3013243/iSiloBrain-V01.nn.zip)

[2019-03-27 13:06] SHornoiu commented on #1844
I attached both models (.nn used in UNITY and .pb used with a python program in order to use in a Docker).

Using “vector_observation” and “epsilon” when I obtain the "action" value is different in Unity with the one in Python

Thank you
Sorin

[2019-03-27 14:53] mantasp commented on #1779
Thank you! turns out it's related to API compatibility setting == ".NET Standard 2.0", which is not a default for ML Agents project.

[2019-03-27 15:07] sterlingcrispin commented on #1867
@KReguieg  a classic swarm algorithm is going to be much less computationally expensive than using this framework, but this framework can teach agents to do things that would be impractical or impossible in a classical way and thats the strength. For small, well defined, bounded problems its better to just write the code. For large complex unwieldy problems sometimes this kind of machine learning

[2019-03-27 15:51] mattinjersey commented on #1868
that is interesting... you mean the weights of all hidden layers are set the same? How do you examine that?

[2019-03-27 18:14] KReguieg commented on #1867
@sterlingcrispin yes the framework itself is ofcourse less performant but like the agents themself, couldn't they be more performant because they already 'know' what to do when?

But great explanation in general it made the advantages and disadvantages more clear. And nice idea with the herding dog I actually had a similar idea with a predator attacking the swarm and trained predator evasion. Let'

[2019-03-27 18:29] sterlingcrispin commented on #1867
The agents might be extremely good at solving the task, try it out!

[2019-03-27 22:01] xiaomaogy commented on #1860
It happens when multithreading meets the CtrlHandler.

[2019-03-28 01:39] JobSmith commented on #1868
No, I say the number of units of each hidden layer is same!

Just see the config file:

![image](https://user-images.githubusercontent.com/15700681/55123356-24935100-513d-11e9-9357-b9481004f679.png)

It doesnt means that I can not choose the different number of units in each hidden layer?

[2019-03-28 02:49] gliese581gg opened #1870 "Suggestion for performance improvement"
Hi!

I'm using a custom environment with visual observations.

I found out that sending visual observation is a bottleneck for performance when

images are large or there are many agents with a camera.

I don't know much about the internals of ml-agent but I think it uses protobuf to

serialize and deserialize the visual observations then uses grpc for communication.

In that case, I suggest using

[2019-03-28 06:19] MarcoMeter commented on #1868
The hidden layers are created in [models.py:177](https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/mlagents/trainers/models.py#L177).

You could hard code a fixed size of layers and hidden units. A dynamic solution would affect much more code.

[2019-03-28 09:16] AdhamAlHarazi opened #1871 "Velocity Problem with MLAgent learningBrain vs. PlayerBrain"
Is there a hidden difference between the normal game (also PlayerBrain) vs LearningBrain in MLAgents? I have an object-throwing projectile by changing its velocity; it works normally in PlayerBrain mode but it behaves differently with LearningBrain mode.

Is there anything I am missing regarding velocity in MLAgents?

I use the below function to calculate the desired velocity to apply to my object

[2019-03-28 13:51] mantasp commented on #1844
what "epsilon" value are you using for testing?

[2019-03-28 14:26] SHornoiu commented on #1844
During the training I used epsilon=0.2

Please find below the python used to test and compare the values obtained outside Unity. Only when I used epsilon=20. I received "action" close to the one in Unity

[load_model_and_predict.py.zip](https://github.com/Unity-Technologies/ml-agents/files/3018378/load_model_and_predict.py.zip)

[2019-03-28 15:04] mantasp commented on #1844
unfortunately I can't reproduce your issue, on my machine output of your script matches my test with Barracuda.
**Python TF output:**
value_estimate:  [[-6.743287]]
action_probs: [[0.18574142]]
--------> Action: [[-1.]]
**Barracuda CSharpFast output:**
value_estimate -6.743277
action_probs 0.1857414
action: -1
**My C# test code:**
[code]

[2019-03-28 15:30] SHornoiu commented on #1844
As mentioned, if the MODEL is through c# (Barracuda) (.nn) the results are OK.
If I use the MODEL (.pb) through python (as in my example, the results are different.
Should not be identical the two models? .nn and .pb? There is something wrong in my python code?
Thanks

[2019-03-28 15:52] mantasp commented on #1844
I mean I get the **same values on Python** with script you provided

[2019-03-28 15:54] SHornoiu commented on #1844
sorry ... I just realised that you referred to python ...
In the case I don't understand why on my computer I have different values :(((
I will tray to test on other computer ...
Thank you

[2019-03-28 16:47] pearsonkyle commented on #300
Confirming solution on windows as well, was getting the same issue with:
TFException: NodeDef mentions attr 'dilations' not in Op<name=Conv2DTranspose; signature=input:T, filter:T -> ....

Changed to tensorflow v1.4
Remade graph and it worked

[2019-03-28 18:32] xiaomaogy commented on #1868
We hard code them to be the same. You could change that in the code yourself if you want.

[2019-03-28 18:34] xiaomaogy commented on #1870
We won't consider this, currently we don't see this bottleneck in visual observation. Usually you don't need to send high resolution visual observation to the model, for example 84 * 84 in most cases already work really well.

[2019-03-28 21:38] mantasp commented on #1779
Fix landed to "develop" branch

[2019-03-28 21:38] #1779 closed

[2019-03-28 22:50] lintongoxbotica opened #1873 "can't load TF model after training"
I cant seem to be able to load the trained TF .nn file into the learning brain. I checked and the previous trained file was in .bytes format. Can anybody answer this?
<img width="196" alt="Screenshot 2019-03-28 at 22 50 10" src="https://user-images.githubusercontent.com/47388833/55197888-e6814600-51ab-11e9-86be-8f139e326a64.png">
<img width="413" alt="Screenshot 2019-03-28 at 22 50 16" src="https:

[2019-03-28 23:35] xiaomaogy commented on #1871
Hi @AdhamAlHarazi, there is no hidden difference between these two brains. How do you know they behaves differently?

[2019-03-29 00:58] dahburj commented on #1825
@mantasp yeah sure [here's a repo](https://github.com/dahburj/Barracuda-PoseNet) of what I'm working on. I explain what's going on in the ReadMe.

[2019-03-29 08:01] AdhamAlHarazi commented on #1871
Thanks for replying. When I use the player brain the object (projectile) hit the target point, but when I use the learning brain the object (projectile) extends its travel trajectory and hit another further point.

[2019-03-29 13:40] kaiolae opened #1875 "Loading trained model from gym"
Hi!
I'm following the instructions to train a model in gym, generating the unity_model.pkl file (I assume there is a tensorflow model in there?). Is there any way to load this trained model in the unity interface. Normally, I would load a .nn network there, is there some way to convert the pickled model to a .nn file?
Thanks!

[2019-03-29 14:07] xaxathiena commented on #1862
yes, in Capsa Sunsun Game, you will have 13 random cards (like Poker game), you have to choice 5 cards of them into group 1, then choice 5 cards of rest cards - 8 cards, get into group 2, them finally group 3 have 3 rest cards.
how can i apply ML-agent for this problem?
Thank you!

[2019-03-29 18:49] xiaomaogy commented on #1871
@AdhamAlHarazi You mean given the exact same action, they behave differently?

[2019-03-29 18:50] xiaomaogy commented on #1873
Maybe you are in a older version of ml-agents? The v0.7 ml-agents should generate .nn file.

[2019-03-29 19:17] xiaomaogy commented on #1875
You can but it will need some customization, basically the model you trained using openai baseline will have a different graph compared with our model graph, so you will need to map their graph nodes into ours.

[2019-03-29 19:19] AdhamAlHarazi commented on #1871
Yes, exactly.

[2019-03-29 20:15] callenshaw opened #1876 "Barracuda error when using LSTM and Visual Observation (VisualHallway example)"
I am experiencing an error while trying to train a Learning Brain in the scene VisualHallway.unity

The training seems to progress well enough, but when it is complete I am getting errors in the tensorflow_to_barracuda.py script, and it doesn't emit a .nn file. I don't quite understand the issue, but is it supported to have "use_recurrent: true" and also rely on visual observation? The error looks

[2019-03-29 20:30] lintongoxbotica commented on #1873
@xiaomaogy , I first set up my project when in v0.6, and recently pulled master to 0.7. After this, i cant drop the .nn file into the model box. How can I load it? or there is something incompatible with V0.6?

[2019-03-29 22:29] ervteng commented on #1841
Hi @SHornoiu, have you resolved this issue? Are you referring to using a trained Barracuda (.nn) for inference?

[2019-03-30 07:00] SHornoiu commented on #1841
Hi @ervteng

I still have the issue, even if @mantasp was not able to reproduce my issue (see AgentAction #1844).

I am referring to use a trained model for inference in two environments:
1. inside Unity, where was trained,
2. with a python code

In "AgentAction #1844" I attached the python code and models (Barracuda version iSiloBrain-V01.nn used in Unity and .pbfrozen_graph_def.pb used in the py

[2019-03-30 11:32] Usmaniatech commented on #1876
I am getting the same error.

[2019-03-30 12:04] Usmaniatech commented on #1876
INFO:mlagents.envs:Saved Model
INFO:mlagents.trainers:List of nodes to export for brain :SkyForgeLearning
INFO:mlagents.trainers: is_continuous_control
INFO:mlagents.trainers: version_number
INFO:mlagents.trainers: memory_size
INFO:mlagents.trainers: action_output_shape
INFO:mlagents.trainers: recurrent_out
INFO:mlagents.trainers: action
INFO:mlagents.trainers: action_probs
INFO:mlagents.trainers:

[2019-03-30 12:51] Usmaniatech commented on #1876
It does not support **use_recurrent: true** for now.
use **use_recurrent: false**
It'll work.

[2019-03-30 17:19] sw1pe opened #1877 "Having trouble with my ml agent"
I'm trying to create a car that controls itself, however, it never moves and the reward never increases, it remains the same. Pretty new to ml learning. I understand how it works but I can't seem to get this to work. Thanks.

It only seems to rotate randomly and erratically.

INFO:mlagents.trainers: racetest-0: RacingLearningBrain: Step: 21000. Mean Reward: -5.000. Std of Reward: 0.000. Training.

[2019-03-30 18:31] sw1pe commented on #1877
When not given control over forwarding momentum and just over turning, it works fine. Is there a way for it to learn how to control its momentum? thanks.

[2019-03-31 12:00] Tailwhip opened #1878 "Activation functions"
Hi
i'm making a little project to make an autonomus, self-learning car going to the light and avoiding obstacles. I used ml-agents in unity to make a model and learned it. Now i need to extract the weights but also i need to know exact architecture of the NN used in ml-agents so i can copy it to the microcontroller. The last information im lack is the activation functions used in ml-agents neural

[2019-04-01 04:43] MarcoMeter commented on #1878
Swish activation

[2019-04-01 04:45] MarcoMeter commented on #1873
#1782
Potential duplicate

[2019-04-01 05:00] ShaneCaler commented on #1877
I'm no pro but I figured I'd chime in with some advice. One thing you could do is use the Monitor feature to check and see what values vectorAction[0] and [1] are producing. Also, from my understanding you should clamp the vectorAction values between -1f and 1f (or 0f and 1f).

To enable the Monitor, just add:
`public override void InitializeAcademy()
	{
		Monitor.SetActive(true);
	}`
to your acad

[2019-04-01 09:07] OneFiveChen opened #1879 "How to run env with my own model in jupyter"
I follow the [getting-started.ipynb](https://github.com/Unity-Technologies/ml-agents/blob/master/notebooks/getting-started.ipynb) use hierarchical rl to train multi soccer agents which differ from the example soccer env given by ML-Agents(Observations and Actions have totally been changed).
I want to see the final performance not just only from the reward curve in tensorboard. How could I get the

[2019-04-01 09:29] AdhamAlHarazi commented on #1871
@xiaomaogy After reinstalling Unity and importing MLAgent, the problem is gone. I do not know the reason yet since I modified other things in the code as well before reinstalling, but I wanted you to know it is solved. Thank you!

[2019-04-01 12:29] kaiolae commented on #1875
Thanks for the info! Given this reply, I found it was more convenient to just visualize this in openAI gym by loading the model and environment again there.

[2019-04-01 12:29] #1875 closed

[2019-04-01 12:31] vijpandaturtle commented on #1775
Hello there, didn't find any relevant issue so decided to ask here. How can I possibly modify ray perception for a custom 2d environment ? Thanks

[2019-04-01 12:32] kaiolae opened #1880 "Measuring state variables"
Hi!
Is there some way to have "state variables" that one could measure and use in the training? For instance, say my agent had some battery level that I wish to monitor, and that could affect it's decisions. How could I go about to implement such a variable, and how could it be exposed to the training algorithm in the gym interface?

Thanks!
-Kai

[2019-04-01 16:02] jmamath commented on #1784
Hi there, I try to use the script tensorflow_to_barracuda on a tensorflow model "tf_model.pb" working on tensorflow 1.7.1 on python 3.6. but I get the following error:
The model uses custom layers and stacked GRU to do supervised learning. If I can't load it with Barracuda, what would be the solution to do inference with Unity, I tried the tensorflowsharp plugin using that tutorial: https://blog.g

[2019-04-01 16:27] Tailwhip commented on #1878
And it's the one and only in every layer? No tanH at output depanding on tinput range? no ReLus or Leaky ReLus in hidden?

[2019-04-01 16:41] sw1pe commented on #1877
@ShaneCaler thanks a ton :) it helps

[2019-04-01 17:30] awjuliani commented on #1775
Hi @vijpandaturtle

We are actually adding 2D raycasting in ML-Agents v0.8 release in the coming weeks.

[2019-04-01 17:36] vijpandaturtle commented on #1775
Aah i see thanks for the update :)

[2019-04-01 18:04] xiaomaogy commented on #1871
@AdhamAlHarazi Nice! Yes sometimes reinstalling everything helps.

[2019-04-01 18:05] MarcoMeter commented on #1878
The output layer does not have any activation.

[2019-04-01 18:06] xiaomaogy commented on #1879
If you want to see the game frame, you could reshape the image observation, and then visualize that image in python.

[2019-04-01 18:13] Tailwhip commented on #1878
Ok i'm not sure how is that possible but from your words i assume that all neurons in ml-agent are activated by swish. Is that correct? :)

[2019-04-01 18:50] awjuliani commented on #1870
HI @gliese581gg

Thanks for your post here. We are actually looking into flatbuffers, as they do offer some benefits over protobuf. We are also looking into shared memory solutions as well. As such, we don't have any immediate information to share on when to expect updates to our communication interface, but rest assured that we are working and exploring ways to increase performance, especially fo

[2019-04-01 20:18] xiaomaogy commented on #1876
Hi @callenshaw and @Usmaniatech I actually tried to reproduce your issue, but I was able to do the training well.

You need to change the VisualHallwayArea's Agent to point to the VisualHallLearning brain, and change the brain to use only visual observation and vector action with branches size 1 and branch 0 size as 5.

Here is the screenshot I got.

![Screen Shot 2019-04-01 at 1 14 03 PM](https:/

[2019-04-01 20:21] xiaomaogy commented on #1880
Hi @kaiolae , you could add that variable using the AddVectorObs api, please refer to this page for help. https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Create-New.md

[2019-04-01 21:10] caioc2 commented on #1817
Hi, sorry for late reply.

I have re-tested everything:
The version 0.7 works perfectly, no leak.
In the other hand the 0.6 presents the leak, but since the 0.6 is replaced by the 0.7 it may not worth to fix it in the 0.6.

[2019-04-01 21:40] lintongoxbotica commented on #1873
Thank you @MarcoMeter. I was stuck on this for so long!

[2019-04-02 00:08] xiaomaogy commented on #1797
Hi @KReguieg @third1020 we are actually working on this, but we don't have a date for when it will be released. It involves a lot of work (since making ml-agents work the ECS way is a lot of refactoring of the codebase).

[2019-04-02 00:56] TheDozMan opened #1881 "BarracudaModelParamLoader - unresolved using/import compile error"
Background:

After following "Installation-Windows.md" and "Getting-Started-With-Balance-Ball.md" running the 3D ball (both training and inference) was successful.  I could train a NN and apply it back to the brain to run in inference mode.

Problem:

However I was unable to complete steps for "Learning-Environment-Create-New.md".  Steps for "Implement Academy" (would not recogize/compile Academy

[2019-04-02 01:13] xiaomaogy commented on #1837
Hi @moonsh, epoch just means how many times you update the model with your data in the buffer with. In your example, once you fill your buffer with 1024 steps of data, if you have epoch as 3, you update your model for 3 times (or 3 times back propagation of the weights of your model) with this 1024 steps of data.

[2019-04-02 01:16] xiaomaogy commented on #1834
Hi @RocKIn0X , no you can't play the game as you do the training. we currently don't support that because 1) It is technically difficult to put the trainable model on all of the devices (what we embed into the game build for inference is a freezed model) 2) It will require a lot of data to actually make the model work, just playing won't provide as much data as needed.

[2019-04-02 01:21] xiaomaogy commented on #1829
Hi @Tailwhip We use swish activation function in ml-agents.

[2019-04-02 01:24] xiaomaogy commented on #1828
Well, actually it doesn't really matter, System Variable is just a global variable available to all users that uses your PC. You can issue a PR to remove that if you want.

[2019-04-02 01:29] xiaomaogy commented on #1819
Hi @F-Brar It would be easier to train them the same skill all together, once you've trained all of them, put them together.

[2019-04-02 01:34] xiaomaogy commented on #1805
Hi @MrGitGo I would suggest you start with the default hyperparameter instead of using your own hyperparameter, and first start with easier task to make it train, then go from there.

[2019-04-02 01:37] xiaomaogy commented on #1799
Hi @MarcoMeter , thanks for raising this, I've logged this bug.

[2019-04-02 01:41] xiaomaogy commented on #1798
This is kind of weird and unexpected, I don't see other people raising this issue, so I guess maybe delete and rerun and try to follow the basic guide step by step might help.

[2019-04-02 01:43] xiaomaogy commented on #1795
The general advice here is to first start from a working version and go from there. Maybe first try training with our crawler setup, and then tweak from there.

[2019-04-02 03:13] OneFiveChen commented on #1879
OK，I change the time scale in Academy and load my model in windows system. That works. Maybe some things wrong in X server that it cannot open the game window automatically.

[2019-04-02 03:13] #1879 closed

[2019-04-02 05:20] ShaneCaler opened #1882 "Having some trouble training my Flappy Bird agent, looking for suggestions (and help understanding Tensorflow graphs)"
Hey everyone, so I've been trying to train an agent to play Flappy Bird, and have been somewhat successful (it's gotten a high score of 34), but not as successful as I'd like. I'm wondering if you guys had any ideas on how I could improve my current system, and if you had any suggestions for hyperparameters as I'm a bit lost when it comes to them. I'll attach my code as paste bin links so it doesn

[2019-04-02 06:09] RocKIn0X commented on #1834
Ok, thank you, everybody. I'll find another way.

[2019-04-02 06:09] #1834 closed

[2019-04-02 06:19] Tejaswgupta opened #1883 "The API number is not compatible between Unity and python."
i have tried the methods listed on previous issue like running the 'pip install -e.' command and installing the ml-agents package from GitHub several times but none of it helps .
It raises an error saying
"UnityEnvironmentException                 Traceback (most recent call last)
<ipython-input-2-1844f884d357> in <module>
----> 1 env = UnityEnvironment(file_name="/Users/tejasw/Desktop/Banana.app"

[2019-04-02 09:35] krasion opened #1884 "Multiple errors after importing mlagents folder"
I got multiple errors - here is image:
https://imgur.com/2ZZIhHc
scripting runtime is set to .Net4.x

[2019-04-02 09:53] KReguieg commented on #1797
Okay cool! Nice to hear, please keep us updated! :)

Cheers, Khaled.

[2019-04-02 12:00] kaiolae commented on #1880
Thanks, @xiaomaogy ! I think I got it to work. It seems that to make this work, I had to also add some vector observations to the relevant brain, does that sound right?
My agent now has both vector and visual observations. Is that supported?
Finally, I was wondering, how can I access these vector observations in the gym-interface? When I call gym's step method, I get back the visual observation, b

[2019-04-02 12:08] kaiolae commented on #1880
I found out how to access both vector and visual observations. The relevant methods are well documented here: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Python-API.md

[2019-04-02 12:08] #1880 closed

[2019-04-02 12:22] SetoKaiba commented on #1850
After some deep dig in the cause, I found that `value_next = self.policy.get_value_estimate(bootstrapping_info, idx)` in `process_experiences` from `ppo/trainer.py` returns an array instead of a float before the error occurs.

[2019-04-02 12:22] SetoKaiba commented on #1389
After some deep dig in the cause, I found that `value_next = self.policy.get_value_estimate(bootstrapping_info, idx)` in `process_experiences` from `ppo/trainer.py` returns an array instead of a float before the error occurs.

[2019-04-02 12:42] SetoKaiba commented on #1389
The problem is still on TF side instead of the numpy. Because the `get_value_estimate` method is use the tf session to compute the reward itself. So the problem is after 9000 steps. The value estimate became an array instead of a scalar float.

[2019-04-02 12:42] SetoKaiba commented on #1850
The problem is still on TF side instead of the numpy. Because the `get_value_estimate` method is use the tf session to compute the reward itself. So the problem is after 9000 steps. The value estimate became an array instead of a scalar float.

[2019-04-02 14:07] SetoKaiba commented on #1850
@awjuliani Finally I got it working. And I tested the nn model it generates. I fix it by a trick.
`
        if not isinstance(value_estimate, float):
            value_estimate = value_estimate[0][0]
`
https://github.com/SetoKaiba/ml-agents/blob/tf2/ml-agents/mlagents/trainers/ppo/policy.py#L199-L200

[2019-04-02 14:09] SetoKaiba commented on #1389
@xiaomaogy  Finally I got it working. And I tested the nn model it generates. I fix it by a trick. At least, it's a working one in TF 2.0.
`
        if not isinstance(value_estimate, float):
            value_estimate = value_estimate[0][0]
`
https://github.com/SetoKaiba/ml-agents/blob/tf2/ml-agents/mlagents/trainers/ppo/policy.py#L199-L200

[2019-04-02 14:56] SetoKaiba commented on #1389
And it's successfully training. And I try the nn file generated as well. It's working.
The next step may be change in eager style of 2.0.

[2019-04-02 14:56] SetoKaiba commented on #1850
And it's successfully training. And I try the nn file generated as well. It's working.
The next step may be change in eager style of 2.0.

[2019-04-02 15:28] krasion commented on #1884
I resolved the issue - it was Api compatibility Level - it had to be set to .Net 4.x as well

[2019-04-02 15:28] #1884 closed

[2019-04-02 17:05] Ina299 commented on #1798
I also experienced this issue.
I use ml-agents 0.6 on 1080ti.
`
        batch_size:     1536
        beta:   0.006
        buffer_size:    15360
        epsilon:        0.17
        gamma:  0.995
        hidden_units:   512
        lambd:  0.9
        learning_rate:  0.00012
        max_steps:      5.0e15
        normalize:      True
        num_epoch:      4
        num_layers:     4
        time

[2019-04-02 19:41] ervteng commented on #1841
Hi @SHornoiu, mantasp is our Barracuda expert and I'll defer to him for anything related to that. But to narrow down the problem, are you able to reproduce this on v0.6 of ML-Agents that uses TFSharp - if it doesn't happen there, this is likely a Barracuda bug.

[2019-04-03 05:19] ShaneCaler opened #1885 "Should I use curiousity or LSTM for this project? (Somewhat similar to push-block example)"
I'll try and keep this brief as my last post dragged on a bit. I had the idea of training two agents: "cattle" that wander around aimlessly (currently could and probably should just be hard coded, but I'm lazy) and a "cowboy" that shoots a rope at a nearby cow agent and drags him to a goal area (hooked cow's movement is disabled). Since the agent needs to learn that first it needs to hook a cow, a

[2019-04-03 06:02] MarcoMeter commented on #1885
I don't think that you need LSTM. Curiosity might be helpful.

Another option could be to randomly initialize the cowoboy to have a hooked cow or not.

[2019-04-03 06:34] mustfkeskin commented on #1876
I have same problem when use recurrent=True
I dont use visual observation.
My vector action space type is continuous.
It saves tf model but cannot convert to **.nn file**

`INFO:mlagents.trainers: ppo-0: IdaLearning: Step: 149000. Mean Reward: -315.411. Std of Reward: 1035.011. Training.
INFO:mlagents.envs:Saved Model
INFO:mlagents.trainers: ppo-0: IdaLearning: Step: 150000. Mean Reward: -1048.205

[2019-04-03 06:39] Usmaniatech commented on #1876
Hi @xiaomaogy I was'nt working on  VisualHallwayArea's Agent , it was a custom problem. I was'nt using visual observation and I don't know when to use visual observation and when to use vector observations. Can you put some light on that.

[2019-04-03 07:13] SetoKaiba commented on #1389
https://github.com/SetoKaiba/ml-agents/tree/tf2
I make a tf2 branch for it.
The training is tested working with 3DBall.
And the generated nn file is working with Barracuda as well.

https://github.com/SetoKaiba/ml-agents/tree/tf2-develop
And also, the develop branch splits ml-agents into two packages.
I made a tf2-develop branch for it.
The training is tested working with 3DBall.
And the generated

[2019-04-03 07:13] SetoKaiba commented on #1850
https://github.com/SetoKaiba/ml-agents/tree/tf2
I make a tf2 branch for it.
The training is tested working with 3DBall.
And the generated nn file is working with Barracuda as well.

https://github.com/SetoKaiba/ml-agents/tree/tf2-develop
And also, the develop branch splits ml-agents into two packages.
I made a tf2-develop branch for it.
The training is tested working with 3DBall.
And the generated

[2019-04-03 07:55] djsdvg opened #1886 "Unity crash every time i try to train"
When i check the box **Control** in my **Academy** and then try to run the scene, the program freeze and it is unable to communicate with **learn.py.**
I tried to reinstall everything but nothing change.

**The error that i get is:**
_CrashReporter: initialized
Mono path[0] = '/Users/user/Documents/ml-agents/ml-agents/basic.app/Contents/Resources/Data/Managed'
Mono config path = '/Users/user/Docum

[2019-04-03 08:25] kaiolae opened #1887 "Repeated action"
Hi!
Is there some way to define how many timesteps an action should be repeated? For instance, as a way of simulating "long" key presses?
Thanks!
-Kai

[2019-04-03 17:37] xiaomaogy commented on #1389
Hi @SetoKaiba, if you don't mind could you make a PR once you've made it working? The main things to make sure for testing involves these things that I can think of right now.

1. Make sure the RNN is working correctly (Try the hallway environment)
2. Make sure the visual observation is working correctly (Try the Gridworld environment)
3. Make sure the Android and iOS is still working correctly.
4

[2019-04-03 17:39] xiaomaogy commented on #1876
@Usmaniatech when to use which depends on your use case. If you think your vector observation already contains all the information to make correct judgement, and there is no spatial information involved, vector obs usually is a better choice.

[2019-04-03 17:41] xiaomaogy commented on #1876
Hi @mustfkeskin, we don't have the bandwidth to try out your custom environment. The best thing you can do is to first use our Hallway example, and change it into your own environment and see which change breaks the thing. If you could nail down a reproducible bug, we are happy to fix it.

[2019-04-03 18:09] josephparis97 opened #1888 "RollerBall agent does not move when training"
Hi ! It is very frustrating because I have followed "Making a New Learning Environment" tutorial and it doesn't work. When I hit the play button my agent stay still and the cmd is saying repeatedly :

"INFO:mlagents.trainers: RollerBall-1-0: RollerBallBrain: Step: 37000. No episode was completed since last summary. Training."

![image](https://user-images.githubusercontent.com/47667216/55501800-7f

[2019-04-03 18:18] ervteng commented on #1881
Hi @TheDozMan, this seems like an issue with the Barracuda loader. @mantasp, have you seen this on newer builds of Unity?

[2019-04-03 18:19] ervteng commented on #1881
Hi @TheDozMan, this seems like an issue with the Barracuda loader. @mantasp, have you seen this on newer builds of Unity?

[2019-04-03 18:26] ervteng commented on #1882
It looks like your agent is actually learning quite well. Do you know how far the bird moves per FixedUpdate? Decision Interval controls how frequently the agent takes an action. If this distance is quite far, then the agent may not be able to react in time to a goal that it sees - and I see that your bird is moving quite quickly.

With a randomly generated level there will always be a bit of rand

[2019-04-03 18:28] ervteng commented on #1883
Have you imported the latest UnitySDK from the repo into your Unity project? It looks like your Unity project is still using ML-Agents 0.4. You'll need to either update your project to use the latest ML-Agents, or clone and pip install the v0.4 version of the repo.

[2019-04-03 18:45] mmattar commented on #1121
Thanks for sharing @choconamu. Closing this issue for now, but please let us know if you run into additional issues.

[2019-04-03 18:45] #1121 closed

[2019-04-03 18:54] mmattar commented on #1580
That is correct @JPhilipp. It's mostly a way to specify the importance of the intrinsic reward, compared to the extrinsic reward. If there are no other rewards, then, in theory, it shouldn't matter, but it would scale the reward presented to the agent.

[2019-04-03 18:57] mmattar commented on #1579
Hi @JPhilipp - we would likely share this in the github project itself. We're hoping to do so in the next 3 months. I'm closing this issue for now, and thanks for raising it.

[2019-04-03 18:57] #1579 closed

[2019-04-03 19:06] mmattar commented on #1561
@hyounesy - this is a good point. I'm re-tagging this issue as a feature request because it makes sense.

[2019-04-03 19:41] mattinjersey commented on #1882
what score would a human typically achieve on this game

[2019-04-03 20:11] mmattar commented on #1571
Thanks, @13Flo. We made a note internally to add this to our backlog. We'll prioritize accordingly. Closing this issue.

[2019-04-03 20:11] #1571 closed

[2019-04-03 20:29] mmattar commented on #1140
Closing this issue for now - we've logged this request into our backlog.

[2019-04-03 20:29] #1140 closed

[2019-04-03 20:33] mmattar commented on #1307
Hi @bjmolitor - we've released v0.7 of ML-Agents which replaces our TF# with our own internal inference engine. Please give this a go and let us know if it fixes your issue. I'm closing this issue for now, but please submit a new issue if something else comes up.

[2019-04-03 20:33] #1307 closed

[2019-04-03 20:41] mmattar commented on #1130
Hi, @lcyzgdy / @IJEMIN - apologies for the delays in looping back on this. We've released v0.7 of ML-Agents, are you still observing this issue? Also, is this occurring in any of our demo scenes?

[2019-04-03 20:42] ShaneCaler commented on #1882
I have the spawn speed, scroll speed and distance between columns set to be super easy - I was just able to hit 35 without hardly trying, it just took forever because the scroll speed is so slow. Could have kept going but I lost patience lol, but the point is - it's much easier than the traditional flappy birds game is, though I would like to teach the agent to play harder versions later on.

In r

[2019-04-03 20:42] mmattar commented on #1435
Closing this issue as it's not clear it related to ml-agents.

[2019-04-03 20:42] #1435 closed

[2019-04-03 20:48] mmattar commented on #1551
Hi @husnainyousaf88 - I'm closing this issue for now, but if you're able to provide more context please submit a new Issue. Thanks.

[2019-04-03 20:48] #1551 closed

[2019-04-03 20:49] mmattar commented on #1296
Closing this issue due to lack of activity. If you run into any additional issues, please be sure to re-open or submit a new issue.

[2019-04-03 20:49] #1296 closed

[2019-04-03 20:51] mmattar commented on #1135
Thanks for raising this @much2pro4you and @icaro56. We'll update the documentation to provide more information. I'll update this Issue page when it's folded in.

[2019-04-03 20:55] mmattar commented on #1553
Thanks for the input everyone. We've updated ML-Agents to v0.7 which changes our inference engine. This should fix this issue. Please give it a go and submit a new issue if you continue facing issues (which should be different from the ones here).

[2019-04-03 20:55] #1553 closed

[2019-04-03 21:00] ShaneCaler commented on #1885
Good idea! Might have to try that out. Thanks.

[2019-04-03 21:19] ShaneCaler commented on #1888
Have you tried removing RollerballPlayerBrain from the academy? Maybe it's waiting for some input from that to train the learning brain? I haven't messed much with player brains, though, so I'm not totally sure what the problem is.

[2019-04-03 21:27] josephparis97 commented on #1888
I have tried to remove the RollerballPlayerBrain but nothing changed.
I forgot to put the pictures off the cmd
![image](https://user-images.githubusercontent.com/47667216/55514294-fbf0e700-5667-11e9-87d5-445f067c8e3f.png)
![image](https://user-images.githubusercontent.com/47667216/55514326-15922e80-5668-11e9-84d4-b55ef3eed090.png)

[2019-04-03 21:34] josephparis97 commented on #1888
I think that the learning brain never takes any decision because vectorAction is always equal to zero. I don't know why

[2019-04-03 22:10] ervteng commented on #1691
Closing this issue due to inactivity. Please post a new one if you're still having issues. Thanks!

[2019-04-03 22:10] #1691 closed

[2019-04-03 22:14] #468 closed

[2019-04-03 22:15] vincentpierre commented on #1549
Thank you ! Feature was merged successfully.

[2019-04-03 22:15] #1549 closed

[2019-04-03 22:16] eshvk commented on #966
We are going to close this issue for now, if and when it gets prioritized, this feature will be noted in our release notes.

[2019-04-03 22:16] #966 closed

[2019-04-03 22:16] #1731 closed

[2019-04-03 22:16] unityjeffrey commented on #1065
Hi all - closing this as we have shipped demonstration recorder in v0.6 https://blogs.unity3d.com/2018/12/17/ml-agents-toolkit-v0-6-improved-usability-of-brains-and-imitation-learning/?_ga=2.158778168.364000799.1554222568-145274537.1510700117

[2019-04-03 22:16] #1065 closed

[2019-04-03 22:16] eshvk commented on #1290
We are going to close this issue for now, if and when it gets prioritized, this feature will be noted in our release notes.

[2019-04-03 22:16] #1290 closed

[2019-04-03 22:16] awjuliani commented on #681
Hi all. I am closing this issue due to inactivity. If the issue persists in ML-Agents v0.7, please feel free to re-open.

[2019-04-03 22:16] #681 closed

[2019-04-03 22:16] vincentpierre commented on #1732
This seems to be a Unix-Editor issue. I will close this issue for now.

[2019-04-03 22:16] #1732 closed

[2019-04-03 22:17] vincentpierre commented on #1754
Feature was merged successfully.

[2019-04-03 22:17] #1754 closed

[2019-04-03 22:17] ervteng commented on #1677
Closing this issue due to inactivity. Feel free to open a new issue if you're still having problems. Thanks!

[2019-04-03 22:17] #1677 closed

[2019-04-03 22:17] xiaomaogy commented on #1403
I'm closing this since we already have merged a PR.

[2019-04-03 22:17] #1403 closed

[2019-04-03 22:17] awjuliani commented on #1185
Hi @superjayman

In v0.8 we will support custom observations and actions, which will make this possible. As such I am closing the issue for now.

[2019-04-03 22:17] #1185 closed

[2019-04-03 22:17] harperj commented on #994
Since there hasn't been any activity on this issue in many months and we don't currently have it on our roadmap I'm going to close it.  Please feel free to reopen if you're working on this or have more to add.

[2019-04-03 22:17] #994 closed

[2019-04-03 22:18] awjuliani commented on #1390
Glad to hear. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:18] #1390 closed

[2019-04-03 22:18] eshvk commented on #1545
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:18] #1545 closed

[2019-04-03 22:18] eshvk commented on #1532
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue to discussion though.

[2019-04-03 22:18] #1532 closed

[2019-04-03 22:19] awjuliani commented on #1070
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary. We are still interested to hear about self-play progress people may make!

[2019-04-03 22:19] #1070 closed

[2019-04-03 22:19] ervteng commented on #1693
We've merged this feature into our `develop` branch, and it will show up in our next release. Thanks again for the contribution!

[2019-04-03 22:19] #1693 closed

[2019-04-03 22:19] harperj commented on #1129
Unfortunately there's not currently a way to increase the time scale further.  I'm going to close this issue due to inactivity / not being actionable but please feel free to reopen if there's more to discuss.

[2019-04-03 22:19] #1129 closed

[2019-04-03 22:19] #1530 closed

[2019-04-03 22:20] xiaomaogy commented on #1147
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:20] #1147 closed

[2019-04-03 22:20] awjuliani commented on #926
Hi all. We have switched to Barracuda for inference. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:20] #926 closed

[2019-04-03 22:20] harperj commented on #1130
I'm going to close this issue due to a few months of inactivity.  Please feel free to reopen if you are still experiencing this issue.

[2019-04-03 22:20] #1130 closed

[2019-04-03 22:20] ervteng commented on #1694
Closing this issue due to inactivity. Feel free to open a new issue if you're still having problems. Thanks!

[2019-04-03 22:20] #1694 closed

[2019-04-03 22:21] awjuliani commented on #1518
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you are still having this issue with ML-Agents v0.7.

[2019-04-03 22:21] #1518 closed

[2019-04-03 22:22] awjuliani commented on #1522
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:22] #1522 closed

[2019-04-03 22:22] xiaomaogy commented on #928
Since we've switched to barracuda and deprecated TensorFlowSharp, this issue is no longer valid. I will close it for now. Feel free to open if you want to discuss more.

[2019-04-03 22:22] #928 closed

[2019-04-03 22:22] eshvk commented on #1535
Hi @nanxintin:
1: You can change the reward function of striker and goalie by changing the C# Scripts.
2 You can do this by ensuring that the fixed brain is not set for training by deselecting the Control option in the Broadcast Hub of the Inspector.
3. Yes we use PPO.

[2019-04-03 22:22] vincentpierre commented on #1302
After investigation, using capture frame rate fixes the Time.deltaTime regardless of how long a frame actually takes. We need it for training in order to make sure that when speeding up the environment, the Time.deltaTime will be consistent with regular speed game time. In order to train the game at faster speeds, the game time scale must be increased without breaking the game. You can either put

[2019-04-03 22:22] #1621 closed

[2019-04-03 22:23] xiaomaogy commented on #1612
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:23] #1612 closed

[2019-04-03 22:23] awjuliani commented on #1527
Hi all. We are now using the internal inference solution. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:23] #1527 closed

[2019-04-03 22:23] vincentpierre commented on #1640
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:23] #1640 closed

[2019-04-03 22:23] harperj commented on #1134
This discussion has been inactive for a while now so I'm going to close it.  Feel free to reopen or create a new issue if there's more to add.

[2019-04-03 22:23] #1134 closed

[2019-04-03 22:24] eshvk commented on #1536
Thank you for sending this. We are going to close this issue due to inactivity for now. Please feel free to open it again if you wish.

[2019-04-03 22:24] #1536 closed

[2019-04-03 22:24] awjuliani commented on #1528
We are now using the internal Unity inference solution as of v0.7. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:24] #1528 closed

[2019-04-03 22:24] vincentpierre commented on #1642
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:24] #1642 closed

[2019-04-03 22:24] eshvk commented on #1542
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:24] #1542 closed

[2019-04-03 22:25] xiaomaogy commented on #1620
Since we are no longer using TensorFlowSharp and this issue is no longer valid, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:25] #1620 closed

[2019-04-03 22:26] xiaomaogy commented on #1615
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:26] #1615 closed

[2019-04-03 22:26] vincentpierre commented on #1646
We will be splitting the mlagents package into two packages in the next release (v0.8) which will resolve part of that issue.

[2019-04-03 22:26] #1646 closed

[2019-04-03 22:26] eshvk commented on #1543
Hi @MrGitGo, thanks for reaching out to us. No, you don't need these methods. I am going to close this issue, please create a new issue if you have a new question.

[2019-04-03 22:26] #1543 closed

[2019-04-03 22:27] #1660 closed

[2019-04-03 22:27] awjuliani commented on #1526
You can check the `Time` settings in the Editor to set these. https://docs.unity3d.com/Manual/class-TimeManager.html Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:27] #1526 closed

[2019-04-03 22:27] vincentpierre commented on #1662
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:27] #1662 closed

[2019-04-03 22:27] vincentpierre commented on #1663
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:27] #1663 closed

[2019-04-03 22:28] xiaomaogy commented on #1408
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:28] #1408 closed

[2019-04-03 22:28] awjuliani commented on #1306
As of v0.8 we are changing and expanding the supported python package versions. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:28] #1306 closed

[2019-04-03 22:28] eshvk commented on #1374
Hi again: Unfortunately, due to bandwidth constraints, we won't be able to dig deeper into the curiosity paper. Since there are no other comments from other users here, we are going to close the issue for now.

[2019-04-03 22:28] #1374 closed

[2019-04-03 22:29] awjuliani commented on #1299
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:29] #1299 closed

[2019-04-03 22:29] xiaomaogy commented on #1362
Since this bug is fixed, I will close the issue. Feel free to open if you want to discuss more.

[2019-04-03 22:29] #1362 closed

[2019-04-03 22:29] harperj commented on #1304
I'm going to close this issue due to inactivity, but if the problem continues and there's more to add please feel free to reopen or create a new issue.

[2019-04-03 22:29] #1304 closed

[2019-04-03 22:30] #1685 closed

[2019-04-03 22:30] eshvk commented on #1438
Offline BC works as of Release 0.7, we encourage you to try it and open a new issue if you have further question.

[2019-04-03 22:30] #1438 closed

[2019-04-03 22:30] eshvk commented on #1251
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:30] #1251 closed

[2019-04-03 22:30] harperj commented on #1673
This issue has been inactive for a while now so I'm going to close it.  If you continue to have problems with this or there's more to add please feel free to reopen.

[2019-04-03 22:30] #1673 closed

[2019-04-03 22:31] vincentpierre commented on #1695
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:31] #1695 closed

[2019-04-03 22:31] xiaomaogy commented on #1614
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:31] #1614 closed

[2019-04-03 22:31] eshvk commented on #1626
We logged this bug and we will note in future releases when it is fixed. For now, we are closing this issue, thanks!

[2019-04-03 22:31] #1626 closed

[2019-04-03 22:32] harperj commented on #1670
This issue has been inactive for a while, so I'm going to close it.  Please feel free to reopen if you continue to have trouble.

[2019-04-03 22:32] #1670 closed

[2019-04-03 22:32] eshvk commented on #1648
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:32] #1648 closed

[2019-04-03 22:32] ervteng commented on #1888
Hey @josephparis97, what Brain is assigned to the Agent game object? It should be the Learning brain, not the Player Brain.

[2019-04-03 22:32] xiaomaogy commented on #447
Now that we have Barracuda replacing TensorFlowSharp, this issue is no longer valid. Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:32] #447 closed

[2019-04-03 22:32] eshvk commented on #1770
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:32] #1770 closed

[2019-04-03 22:34] xiaomaogy commented on #918
Since we've switched from TensorFlowSharp to Barracuda, this issue is no longer relevant. I will close it for now. Feel free to open if you want to discuss more.

[2019-04-03 22:34] #918 closed

[2019-04-03 22:35] vincentpierre commented on #1675
Thank you for the discussion. We are closing this issue due to inactivity. If you use on demand decision, Calling request decision will prompt a decision and an action but if no subsequent call to RequestDecision or RequestAction then AgentAction will not be called. We need to allow the AgentAction to be called multiple times per decision in a lot of cases such as locomotion. I would recommend loo

[2019-04-03 22:35] #1675 closed

[2019-04-03 22:35] vincentpierre commented on #1738
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:35] #1738 closed

[2019-04-03 22:36] ervteng commented on #1887
Hi @kaiolae, you'll have to add some code to your AgentAction code to make the actions "sticky." You can also change the Decision Interval to ask for actions less frequently.

[2019-04-03 22:36] eshvk commented on #676
We don't use bytes files anymore, we have our own [custom inference engine](https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/mlagents/trainers/tensorflow_to_barracuda.py) which tensorflow graphs are converted to.

[2019-04-03 22:36] #676 closed

[2019-04-03 22:37] awjuliani commented on #1370
We will add this to our bug log to look into. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:37] #1370 closed

[2019-04-03 22:37] eshvk commented on #858
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:37] #858 closed

[2019-04-03 22:38] vincentpierre commented on #1734
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:38] #1734 closed

[2019-04-03 22:38] ervteng commented on #1886
Hi @djsdvg, do the example environments work? Make sure you've done everything at the bottom of the error message

[2019-04-03 22:38] harperj commented on #1425
Target Frame Rate is the frame rate that the Unity engine will attempt to maintain.  This means that the engine will make a best-effort attempt to run all game logic and physics updates and also render within  the time of `1 / target_fps` seconds.  If this value is set too high, there is a possibility you could see unexpected physics simulation behavior.

When you use the trained brain this is "in

[2019-04-03 22:38] #1425 closed

[2019-04-03 22:39] vincentpierre commented on #1704
Thank you for the discussion. We are closing this issue due to inactivity.
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-PPO.md#number-of-layers

[2019-04-03 22:39] #1704 closed

[2019-04-03 22:39] eshvk commented on #952
Thanks for this discussion, we are going to close this issue because it is merged!

[2019-04-03 22:39] #952 closed

[2019-04-03 22:39] #1676 closed

[2019-04-03 22:40] awjuliani commented on #1511
We have replaced TF# with our internal inference solution as of v0.7. Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:40] #1511 closed

[2019-04-03 22:40] vincentpierre commented on #1692
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:40] #1692 closed

[2019-04-03 22:40] ervteng commented on #1885
Has Cattle Hooked should be sufficient for the Agent to know what to do once it hooks a cow. As @MarcoMeter says, you probably won't need LSTM. You might want to assign a small positive reward for hooking the cow, and a bigger one for dragging the cow to the right place.

[2019-04-03 22:40] vincentpierre commented on #1769
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:40] #1769 closed

[2019-04-03 22:40] eshvk commented on #961
We now use an internal inference engine which should support MagicLeap Lumin OS. Please check it out.

[2019-04-03 22:40] #961 closed

[2019-04-03 22:40] harperj commented on #1442
Hi @deeplearningrobotics -- we also keep a list of unique agent IDs along with the reward and dones vectors.  What interface are you using to interact with the environment?

[2019-04-03 22:41] awjuliani commented on #1515
@vincentpierre

[2019-04-03 22:41] eshvk commented on #1593
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:41] #1593 closed

[2019-04-03 22:41] vincentpierre commented on #1776
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:41] #1776 closed

[2019-04-03 22:41] awjuliani commented on #1519
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:41] #1519 closed

[2019-04-03 22:42] eshvk commented on #1598
We released a new inference engine, so we are closing this issue for now.

[2019-04-03 22:42] #1598 closed

[2019-04-03 22:42] vincentpierre commented on #1740
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:42] #1740 closed

[2019-04-03 22:42] #1442 closed

[2019-04-03 22:42] awjuliani commented on #1707
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:42] #1707 closed

[2019-04-03 22:43] vincentpierre commented on #1766
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:43] #1766 closed

[2019-04-03 22:43] vincentpierre commented on #1774
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-03 22:43] #1774 closed

[2019-04-03 22:43] xiaomaogy commented on #1788
Since there is no activity to this issue, I will close it. Feel free to open if you want to discuss more.

[2019-04-03 22:43] #1788 closed

[2019-04-03 22:44] eshvk commented on #1602
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:44] #1602 closed

[2019-04-03 22:44] eshvk commented on #1608
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:44] #1608 closed

[2019-04-03 22:45] awjuliani commented on #1708
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:45] #1708 closed

[2019-04-03 22:45] ervteng commented on #1817
Great that it works in 0.7! 0.7 is much better for inference anyways, please use that going forward. If you're still having issues, feel free to open again. Thanks!

[2019-04-03 22:45] #1817 closed

[2019-04-03 22:46] awjuliani commented on #1706
Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:46] #1706 closed

[2019-04-03 22:46] awjuliani commented on #1716
Thanks again for the PR! Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:46] #1716 closed

[2019-04-03 22:46] xiaomaogy commented on #1792
@jilcky Did you follow step by step the stuff on https://github.com/Unity-Technologies/ml-agents/blob/e3b86a27a2547cdd177bf9e848b4337aa71b887a/protobuf-definitions/README.md?

[2019-04-03 22:47] awjuliani commented on #1719
Thanks again for the PR! Closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:47] #1719 closed

[2019-04-03 22:48] awjuliani commented on #1723
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:48] #1723 closed

[2019-04-03 22:48] awjuliani commented on #1722
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:48] #1722 closed

[2019-04-03 22:49] ervteng commented on #1798
Are you using a Numpy version greater than 1.14.1 by any chance? Newer versions of Numpy are known to have similar issues.

[2019-04-03 22:49] awjuliani commented on #1717
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:49] #1717 closed

[2019-04-03 22:50] awjuliani commented on #1709
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:50] #1709 closed

[2019-04-03 22:50] eshvk commented on #1611
Hi @pringithub, thank you for sending this. Are you running our docker image, if so it should automatically install TensorFlow. You can however run the docker container in iterative mode using the flags `-it` and then attach to it using `docker attach`.

[2019-04-03 22:51] eshvk commented on #1617
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:51] #1617 closed

[2019-04-03 22:51] xiaomaogy commented on #1802
I don't think we will be working on this in the near future. You are welcome to try to make this work yourself if you are interested.

[2019-04-03 22:51] awjuliani commented on #1718
Hi @tanakataiki

We don't support this, but are happy to accept PRs for it.

[2019-04-03 22:52] ervteng commented on #828
Hi all, great news! (actually)

There is a parallel trainer available on our `develop` branch, which we will release on `master` very soon. Give it a go! Just add `--num-envs=X` to mlagents-learn to open more than one Unity environment at a time.

[2019-04-03 22:52] #828 closed

[2019-04-03 22:52] awjuliani commented on #1728
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:52] #1728 closed

[2019-04-03 22:52] eshvk commented on #1618
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:52] #1618 closed

[2019-04-03 22:53] eshvk commented on #1622
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:53] #1622 closed

[2019-04-03 22:53] awjuliani commented on #1730
Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:53] #1730 closed

[2019-04-03 22:53] awjuliani commented on #1710
Hi all,

Due to inactivity, I am closing this issue for now. Please feel free to re-open if you deem it necessary.

[2019-04-03 22:53] #1710 closed

[2019-04-03 22:54] eshvk commented on #1629
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:54] #1629 closed

[2019-04-03 22:55] eshvk commented on #1631
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:55] #1631 closed

[2019-04-03 22:56] eshvk commented on #1637
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:56] #1637 closed

[2019-04-03 22:56] harperj commented on #1445
If your strength is a constant, you could just keep them as constants and make no changes to them in the `AgentAction` method.  You'd want to also change the action space by modifying the Brain configuration.  You can see the [documentation on Brains](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Brains.md) for more on this.

I'm going to close this i

[2019-04-03 22:56] #1445 closed

[2019-04-03 22:56] eshvk commented on #1767
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2019-04-03 22:56] #1767 closed

[2019-04-03 22:56] vincentpierre commented on #1510
The error `An item with the same key has already been added.` is symptomatic of an error that occurred earlier in the process. My guess is that when reloading the scene, a second academy was instantiated which broke the connection to the agents in the scene. There is a patch to this bug in v0.8. You can also set the academy game object to don't destroy on load.

[2019-04-03 22:57] eshvk commented on #1657
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:57] #1657 closed

[2019-04-03 22:58] eshvk commented on #1643
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:58] #1643 closed

[2019-04-03 22:59] eshvk commented on #1647
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:59] #1647 closed

[2019-04-03 22:59] vincentpierre commented on #1777
Training is only supported for Mono because of our use of gRPC. You can run inference on IL2CPP but training is not supported.

[2019-04-03 22:59] eshvk commented on #1641
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 22:59] #1641 closed

[2019-04-03 23:01] eshvk commented on #1638
We are going to close this issue for now, if and when it gets prioritized, this feature will be noted in our release notes.

[2019-04-03 23:01] #1638 closed

[2019-04-03 23:01] eshvk commented on #1639
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 23:01] #1639 closed

[2019-04-03 23:02] harperj commented on #1550
@cipher813 We've not been seeing this issue in our own tests, so it's hard to know how to fix this.  If you could create a reproducible code snippet using only the ml-agents library (and dependencies) I am glad to look into it further.

[2019-04-03 23:03] eshvk commented on #1632
Hi @Andres-Suarez this sounds more specifically a linux editor problem than a Unity problem. Do you happen to have log files on this error?

[2019-04-03 23:03] eshvk commented on #1630
Thank you for this discussion, we are going to close this issue due to inactivity for now.

[2019-04-03 23:03] #1630 closed

[2019-04-03 23:04] ervteng commented on #1687
Hey @striderdoom, are you still seeing this issue? From what we see, there shouldn't be a case where next_info.agents is 0, since the Agent is the one asking for the decision. I think for the time being your fix is OK.

We changed how this portion of the mechanism works in our `develop` branch in preparation for our next release, so perhaps give that a go and see if it works. Let us know if it's s

[2019-04-03 23:15] harperj commented on #1573
@eblabs This sounds like a reasonable approach, though I can't speak to how the behavior of our behavioral cloning trainer will compare to the model you used previously.  Hopefully this worked out for you in the end.

It has been a while since any activity on this issue so I'm going to close it, but if you have any more to share or have run into any problems please feel free to reopen.

[2019-04-03 23:15] #1573 closed

[2019-04-03 23:15] harperj commented on #1580
This issue has been inactive for some time, so I'm going to close it.  Please feel free to reopen or create a new issue if you have any more trouble.

[2019-04-03 23:15] #1580 closed

[2019-04-03 23:50] eblabs commented on #1573
Thanks @harperj!
Things didnt quite work out how I had hoped. The offline training method ended up being much slower for some reason, and I couldn't quite achieve the same results as with using Tensor/Karas in python.

I had considered exporting the network+data from python into Unity, but I didn't have the time to get into this as from what I had read, it wasn't totally straightforward. (having c

[2019-04-04 00:41] markpwoodward opened #1889 "Shadows not showing up in visual_observations"
Shadows are not showing up in the visual_observations. I see them clearly in the game display of the visual editor, but the same visual observation for the same camera, when it comes out of mlagents, does not render the shadows. Any idea what the problem might be?

I was able to reproduce this with the unmodified VisualBanana environment.

os: linux (debian laptop)
editor: Unity2018.3.5f1
mlagents

[2019-04-04 00:42] awjuliani commented on #1889
Hi @markpwoodward

This is likely because you are using different quality settings for training and inference mode (set in the Academy component).

[2019-04-04 00:53] markpwoodward commented on #1889
@awjuliani Thank you so much for the quick response. Would it be the "Quality Level" setting, I see for Visual Banana, that Training is set to 0, but Inference is set to 5.

Also, how do I specify which configuration to use? I don't see it in the constructor for UnityEnvironment constructor arguments.

[2019-04-04 04:33] SetoKaiba commented on #1389
@xiaomaogy Of course.
The updated branch is just replaced with the v1 compat api and the same functional api for contrib module. It's working with TF 2.0a0. But it's incompatible with v1. Which branch should I create the PR for?

1. Yes.
2. Yes.
3. I'm not sure. Here's an uploaded nn file. Could you please test it? I don't have android and ios environment now.
Hallway: https://www42.zippyshare.com

[2019-04-04 05:02] josephparis97 commented on #1888
Oh you are right !!!!! The learnig brain was not assigned ! It was the player brain! thank you so much ! But now it is moving frame by frame, I there a way to make it more fluid ?
![roller agent](https://user-images.githubusercontent.com/47667216/55530643-2d3cd780-56a7-11e9-8cdd-fa0a9b86c3e2.gif)

And I have another question, my training process stopped without me. Why ?
![image](https://user-imag

[2019-04-04 05:13] SetoKaiba commented on #1389
@xiaomaogy And about the develop branch which separates two packages. You did update the documentation. But you didn't update the Dockerfile. Maybe there is something else.

[2019-04-04 05:54] xaxathiena commented on #1862
@awjuliani can u help me?

[2019-04-04 05:56] SetoKaiba opened #1890 "High GC Alloc for communicator based on gRPC"
Currently the communicator use gRPC to exchange the data with Unity and TensorFlow. gRPC C# is mostly managed and it GC Alloc for KBs of data. Then a GC Collect will be triggered after just a few seconds. And for RNN training, the GC Alloc per frame is up to 100KB.
It seems that the GC Alloc will affect some kind of training. For example, there is an agent and npc with a blade. It hurts by the ani

[2019-04-04 06:12] SetoKaiba commented on #1890
Maybe a pool for communication will solve the problem as well.

[2019-04-04 07:41] Hongsungchan opened #1891 "Can i using ML_Agent for fightgame?"
Can i using ML_Agent for fightgame?

like Tekken or Street Fighter

i am making fightgame prototype

ml_agent can learnig fight game?

[2019-04-04 08:09] SetoKaiba commented on #1890
And also, for RayPerception, I rewritten with NativeList from Unity.Collections. I can prevent GC Alloc for Collection Observations. But It's still high GC Alloc for communicator.

[2019-04-04 09:11] pyjamads commented on #1693
Thanks, that sounds great!

On Thu, 4 Apr 2019 at 00:19 Ervin T. <notifications@github.com> wrote:

[2019-04-04 09:11] weiweitoo commented on #1511
@awjuliani I am using the v0.7 ml-agent, and unity 2018.3.11. Still facing the issue the same issue.
![image](https://user-images.githubusercontent.com/25069837/55543957-a9add580-56fc-11e9-9914-2ab5be0e7448.png)

Step to reproduce the setup
1. Do the same project configuration
![image](https://user-images.githubusercontent.com/25069837/55543881-8420cc00-56fc-11e9-868d-1671c100a479.png)
2. Import f

[2019-04-04 09:46] #1871 closed

[2019-04-04 10:57] DannyFriky commented on #1891
I am using it for a 2d fighting game and no problems atm, (except that you cant use Rayperception on 2D, but someone said that they are working on it)

[2019-04-04 13:38] AdhamAlHarazi opened #1892 "Error after migrating from 0.6 to 0.7"
I have the following error after I migrated from 0.6 to 0.7.

I installed mlagents through pip3 install -e .
I copied the new Mlagents and Gizmos folders into game assets

and I receive this error:-

Assets/ML-Agents/Scripts/InferenceBrain/BarracudaModelParamLoader.cs(7,22): error CS0234: The type or namespace name 'Remoting' does not exist in the namespace 'System.Runtime' (are you missing an ass

[2019-04-04 13:53] docbrisky commented on #1515
Having the same problem here!

[2019-04-04 14:46] AdhamAlHarazi commented on #1892
Ok I followed the fix in here: https://github.com/Unity-Technologies/ml-agents/pull/1869/files/3f8ddeffd146b8910fafb2d77f83e4a06ddcaf3a

And it solved the problem

[2019-04-04 14:46] #1892 closed

[2019-04-04 16:49] awjuliani commented on #1889
These values (0-5) correspond to the "Quality Settings" for the project: https://docs.unity3d.com/Manual/class-QualitySettings.html. `Training` is used by default when connecting from the python api, and `inference` is used otherwise.

[2019-04-04 16:58] markpwoodward commented on #1889
That makes sense, thank you. And changing the "Quality Level" for the Training Configuration in the Academy inspector did solve the problem, as you suggested. Thanks!

[2019-04-04 16:58] #1889 closed

[2019-04-04 17:43] SetoKaiba commented on #1389
@xiaomaogy I tested it with 3DBall, Hallway, GridWorld and Pyramids. They all works.
But when I tested it with my own game. The nn file is broken.
If you don't mind could you please have a look at the file?
https://www98.zippyshare.com/v/E1g7vLaG/file.html

<details>
<summary>
Log
</summary>

</details>

[2019-04-04 17:52] xiaomaogy commented on #1511
Hi @weiweitoo , since we got rid of TensorflowSharp, please remove the ENABLE_TENSORFLOW symbol, and it should be working.

[2019-04-04 17:57] weiweitoo commented on #1511
@xiaomaogy Cool. It works perfectly. Thanks!

[2019-04-04 18:01] SetoKaiba commented on #1389
It's strange. I try to train it with 1.7.1 again and get the nn file. It's with the problem as well.
But it works for my game before. But yesterday, I change my RayPerception to use native collection. Maybe it's the cause. I'll have a look tomorrow. It's too late in China. I have to go to bed.

[2019-04-04 18:05] xiaomaogy commented on #1389
Hi @SetoKaiba , thanks for testing out these things!
Given just the .nn file I guess I can't do the testing..Also I didn't actually worked on the Barracuda piece myself and am not so familiar with this piece. If you find a reproducible bug please report it and I will get the corresponding guy to look into it.

We are going to release soon, so won't not able to merge in your upgrade of Tensorflow P

[2019-04-04 18:58] striderdoom commented on #1687
Thanks for the update!  Can't wait to test things out for the next release!

[2019-04-04 19:07] unityjeffrey commented on #1783
thanks @Cliwo - I've added this and will be updated in the 0.8 release.

https://github.com/Unity-Technologies/ml-agents/pull/1893

[2019-04-04 19:07] #1783 closed

[2019-04-04 21:04] ervteng commented on #1890
Hi @SetoKaiba, this is the main place as of this moment to discuss development - our email address (on the main readme) would be the other place we check regularly.

I think the ultimate goal is to remove the need for gRPC at all - for fast-running environments, the serialization/deserialization of large observations quickly becomes CPU-hungry. But in the meantime, it would be great to discuss way

[2019-04-04 21:06] ervteng commented on #1888
Ah, that's because it's training! The rendering is slow but you're getting many more steps. When you're happy with the reward it's getting, run ml-agents with the --load and --slow flags and it'll run at realtime.

[2019-04-04 21:09] ervteng commented on #1891
Just in case, it is possible to use ray casts (you'll have to do some hacking if you want to use the built in Ray Perception 2D) with flat games. See: #1882

[2019-04-04 21:13] ervteng commented on #1882
Hi @ShaneCaler, hyperparameters are a bit of black magic sometimes, so definitely play around with them and see what happens. If your training appears to be unstable, I'd try lowering the learning rate.

[2019-04-04 21:14] josephparis97 commented on #1888
ok thank you really much !!! This ml agent IA toolkit is really cool ! I  am actually trying to create littles creatures like this one :)
![creature1](https://user-images.githubusercontent.com/47667216/55588918-5012ce80-572f-11e9-9094-46a122bb8ce5.gif)

[2019-04-05 05:11] SetoKaiba opened #1897 "Problem with Barracuda"
I successfully trained my game and generated working nn models before.
But I just found it didn't working rencently.
Before it didn't work, I migrated the ml-agents python side to TF 2.0.
And I modify the RayPerception to use native collections to avoid the high GC Alloc per FixedUpdate.
I try to train it on TF 1.7.1 with RayPerception reverted and generate nn on TF 1.7.1.
But it still doesn't wor

[2019-04-05 05:17] SetoKaiba commented on #1389
#1897 I reported a bug. Could you please get a corresponding guy to look into it?
The bug just happens when you drag the nn file to a learning brain. So you don't have to test it.
And I attach the folder containing frozen graph and so on as well.
Barracuda is converting to nn file based on the frozen graph.

[2019-04-05 05:54] SetoKaiba commented on #1897
It's caused by RNN. The problem have gone after "use recurrent: true" is removed.

<details>
<summary> Here's the hyperparameters causing the problem.</summary>

[code]

</details>

[2019-04-05 05:56] SetoKaiba commented on #1897
Maybe it's related? #1876 Maybe they provide the frozen graph before converting to bc will help.

[2019-04-05 08:50] SetoKaiba commented on #1389
@xiaomaogy Is the latest commit on develop branch broken? I try to merge it to my tf2_develop branch. And it breaks my branch. I tried to use develop branch directly. It's broken as well. Here's the log when I try to train.

<details>
<summary>
Log
</summary>

</details>

[2019-04-05 09:05] SetoKaiba commented on #1389
https://github.com/Unity-Technologies/ml-agents/commit/e59eff493707db84ffdbb1221cc70ba83c255ddf
The error is introduced by this commit.

[2019-04-05 10:25] DannyFriky opened #1898 "Brain icons dont dissplay correctly"
Hello, I've been using ml-agents for a couple of months (I started with version 0.6) but I was not aware that the brains had an icon, today when I updated to version 0.7 I saw that the .nn files did (and it shows) and reading the changes of 0.6 and 0.7 I saw that the brains had an icon to distinguish them, but they are not shown to me. Is there anything I need to do to make them look good?

![imag

[2019-04-05 10:34] DannyFriky commented on #1891
@ervteng thanks yous so much, will take a look later ^^

[2019-04-05 12:08] SetoKaiba commented on #1897
OK. I find out how to reproduce this bug.
RNN with more than one branch discrete vector action space.
Just add two more branches to Hallway.

[2019-04-05 16:05] xiaomaogy commented on #1389
@SetoKaiba Yes it is broke, we are working on fixing it right now.

[2019-04-05 16:10] xiaomaogy commented on #1389
@SetoKaiba How did you get this bug output? What does the environment use?

[2019-04-05 16:13] xiaomaogy commented on #1389
@harperj

[2019-04-05 16:14] SetoKaiba commented on #1389
@xiaomaogy Do you mean this log? Just "mlagents-learn config\trainer_config.yaml --train" on windows using develop branch.

[2019-04-05 16:33] xiaomaogy commented on #1389
@SetoKaiba Yes, but what does the your Unity environment uses? Continuous or Discrete? RNN? curiosity?

[2019-04-05 16:35] SetoKaiba commented on #1389
@xiaomaogy No. Editor. I get it even without training. Just run the command. And it shows up. Normally, it should tell me to hit the Play button in Editor.

[2019-04-05 16:37] xiaomaogy commented on #1389
@SetoKaiba Ah I see, now we know how to reproduce it. We will look into it. Thanks for raising this!

[2019-04-05 17:00] SetoKaiba commented on #1389
Thank you. Is the Barracuda issue being looking into as well? I found out the way to reproduce and fill it into #1897 .

[2019-04-05 17:03] xiaomaogy commented on #1389
@SetoKaiba Yes, I'll work with @vincentpierre to look into it.

[2019-04-05 17:10] vincentpierre commented on #1897
I was able to reproduce this bug. It is related to our Inference Engine. We will work on it but I do not think we will be able to fix this by the next release.

[2019-04-05 17:13] SetoKaiba commented on #1897
Thank you. Just to know that you're aware this bug and fixing it is fair enough.

[2019-04-05 17:17] SetoKaiba opened #1899 "Should I use LSTM or not with my case?"
I'm developing an RPG AI game. The agents are fighting with each other.
Now, for simplify the case. I just want to train it to hit and run or just running away in the beginning.
Is LSTM proper for this case? Will it use the memory to make some pre movement?
Thank you.

[2019-04-05 18:30] atom182 opened #1900 "Error CS0234: The type or namespace name 'Remoting'"
Hi, i download the ml-agents and i follow the tutorial from the proyect.
When drag the ml-agents and gizmos folders in unity apear an error, and they said:
"Assets\ML-Agents\Scripts\InferenceBrain\BarracudaModelParamLoader.cs(7,22): error CS0234: The type or namespace name 'Remoting' does not exist in the namespace 'System.Runtime' (are you missing an assembly reference?)"
i don't know if a don't

[2019-04-05 18:30] ervteng commented on #1899
Hi @SetoKaiba, LSTMs tend to be harder to train, so I'd start with something basic like stacking observations (done on the Unity editor side). Unless there's a need for long-term memory I'd start without the LSTM first.

[2019-04-05 18:33] ervteng commented on #1898
Hi @DannyFriky, did you copy the Gizmos files in the UnitySDK/Assets folder too? You might also have to restart the editor.

[2019-04-05 18:36] DannyFriky commented on #1898
yes, i added it to the assets folder ( same folder as ml-agents) and restarted the editor a bunch of times since i start using MLAgents, but never show it

[2019-04-05 23:41] harperj commented on #1389
@SetoKaiba I'm looking into the pickling bug you ran into as well.  I can reproduce it on a Windows machine; it looks like a regression based on our recent update.

[2019-04-06 03:42] an-ice opened #1902 "Descretitzing key continuous player Actions while maintaining continuous axis actions"
I have a character that uses controller input, and i'm making a PlayerBrain because I want to train it with BC. The character you play is sensitive to how much you tilt the analog sticks, so using "Axis Continuous Player Actions" worked perfectly for this.

Then I tried to map one of the buttons to a character action (toggle to open/close a thing). I looked at the bouncer example that uses key con

[2019-04-06 05:44] moonsh opened #1903 "Learning time for Imitation Learning"
I set up imitation learning using my own environment.

Even I played a teacher agent for 30 minutes it seems that there is no progress at all.

I thought that imitation learning can surprisingly handle with a complex environment

Is time-consuming for imitation learning depending on the complexity of the environment?

[2019-04-06 06:01] caioc2 opened #1904 "Area for releasing and sharing ML-Agents stuff"
Hello,

I took a (superficial) look  and couldnt find a specific place to share ML-Agents related stuff, like experiences, projects and games. As much as there exists the unity forum, I think that not everyone is interested in RL and a proper place for ML-Agents related stuff would be interesting. IMHO the github issues is not the place for that.

If I'm mistaken and there exists a place for it, p

[2019-04-06 12:14] djsdvg commented on #1886
When i press the run button on unity i didn't get any error message in the console because the program crash.
I can play with my BrainPlayer but if i try to run something with the Academy cntrol box selected Unity freeze up

[2019-04-06 15:41] ervteng commented on #1902
Hi @an-ice, regardless of what type of action output you're using, it will still be called every decision. If it's a toggle, it's inevitable that a button press will result in flickering. However, this isn't an issue for an agent, as it can call the action exactly once (hard to do with PlayerBrain). I agree that adding a timeout will result in the recorded behavior being odd.

It'll probably be be

[2019-04-06 16:11] ervteng commented on #1903
Hi @moonsh, the current implementation of Imitation Learning does not work well for complex environments, as it simply directly imitates player behavior (Behavioral Cloning). So unless you have enough player data to cover a large number of possible states, you won't get a good policy out of it. Stay tuned for a better IL algorithm - or try out an early version on the branch called `develop-irl-pre

[2019-04-06 16:15] ervteng commented on #1904
Hi @caioc2, thank you for sharing your game! This is really cool.

Currently Github Issues is the most active place that people share information. But I agree there should be a better place for discussions and sharing rather than just bugs/problems. @unityjeffrey do we have a better place for doing this?

[2019-04-06 17:07] elijahnavarro opened #1905 "Help With Adjusting Hyperparameters"
I am currently building a tron-like game and all of the training I have performed has resulted in agents that are not performing as expected. The game consists of a 50x50 board and two agents. Each agent collects 2504 observations; 2500 for the state of the board at each step, 2 for this agent's position and direction, and 2 for the opponent's position and direction. Each agent can do nothing whic

[2019-04-06 17:23] an-ice commented on #1902
@ervteng Ok thanks for the suggestion. I'll take a look at adding a debounce. Just wanted to make sure I wasn't overlooking any commonly used ml-agents features.

[2019-04-06 18:10] #1837 closed

[2019-04-06 18:58] moonsh commented on #1903
@ervteng  Thank you for the answer. I will try both suggestions.

[2019-04-06 18:58] #1903 closed

[2019-04-06 19:06] moonsh opened #1906 "BC offline training - Teacher agent doesn't move and training is very slow."
I made a demo file and loaded and started training.

During the training, the teacher agent doesn't move because I use the player brain for the teacher agent.

Is this right way to train?

Also, the training speed is so slow compared to using the normal training.

I've seen some people have the same issue with me but I don't know they solved this problem or not.

https://github.com/Unity-Technolog

[2019-04-06 19:08] #1830 closed

[2019-04-07 04:17] MLaroucheLaSalle opened #1907 "Imitation learning online is running too fast"
I don't know what's happening, but when I train my AI using imitation learning online the speed of the simulation is way too fast.

The academy setting said to run with a timescale of 1 and I launched the training process with mlagents-learn config/online_bc_config.yaml --train **--slow**

but it doesn't feels slow, it feel fast and the more i restart the training the faster it seems to get.
Is th

[2019-04-07 20:10] moonsh commented on #1422
@awjuliani @mmattar I wonder the slow down issue was fixed or not. I am using the v0.6 and pre-recorded demonstrations for offline training but the slow down problem still exists.

[2019-04-08 00:22] ShaneCaler opened #1908 "Why do the devs convert booleans to integers in the Banana Collectors example?"
In this example, why are the frozen/shoot boolean variables converted to integers before being passed as observations? (using System.Convert.ToInt32()) Is there any benefit to this?

I'm currently trying to train an agent to play what I'm calling "shape runner" which is just an endless runner mixed with tetris (agent has to decide when to be a cube, rectangle, etc. to fit through the obstacles). S

[2019-04-08 07:30] aprouzeau opened #1909 "3DBall Example: Can't connect to Unity - Too long to respond"
Hello,

I follow the step to install the ml-agents environment and everything else to have the project run. I am on Windows 10 and I used python 3.6 (the one recommended in the getting started section). And I am on Unity 2017.4.19f1

When I try to launch the learning for the 3D Balls example, the python program crash after one minute or so. Unity does not show any errors.

Here is a screenshot of

[2019-04-08 07:31] krishnanpc commented on #1737
@b-fazamb
What versions of Unity and MRTK/Holotoolkit were you using? I was not able to build for il2cpp also..
ANd also curious to know how it turned out, when further MR components were added?

[2019-04-08 08:23] mikiwong opened #1910 "Help wanted for suggested ways to pass in objects' location"
Hi, i would like the agent to know the position of certain gameobjects in the environment.
As I believe vector obs work better than visual obs, is it possible to pass in these gameobjs positions as vector obs?

For eg, I append all the transform.position of these gameobjs into a list of Vector3 [objA_vector3, objB_vector3 ... ]. How do I pass this list into AddVectorObs?

Would it be hard for the

[2019-04-08 09:36] b-fazamb commented on #1737
Yes, I had built using 2018.3, in fact.
MRTK was the latest version before vNext and no extra components had been added.

That was a mere proof of concept, as our main production branch had to be started way earlier than the patch and so prototype turned out to use OpenVR, instead.

However, we plan to go back to it very soon and move to UWP/MRTK, especially once we can get our hands on HoloLens 2

[2019-04-08 09:54] DannyFriky commented on #1898
@ervteng i tried to "reinport all" and restart the editor and nothing changed. After that i search for references to the .png files (like there is with the nn files) but dont find anithing on the scripts.

[2019-04-08 11:09] krishnanpc commented on #1737
Thank you for writing.

I have also treid a few basic MR elements and it seems to work, but i have just tried the pre trained envs.

[2019-04-08 11:12] b-fazamb commented on #1737
A different environment should not make much of a difference, really, in terms of being able to build to an UWP target.

[2019-04-08 15:01] oseq opened #1911 "Documentation for Behavioral Cloning/ Imitation learning"
Hello, i noticed that there is far less documentation for BC than for PPO. Of course I have read this document /docs/Training-Imitation-Learning.md and there is instructuin how to use BC but almost no background about algorithm
I also struggled finding on Internet good documentation or article about how BC works . Can you recomend me some reading?

[2019-04-08 15:29] unityjeffrey commented on #1904
hi @caioc2 - the predominant community activity is here in Github issues.  Unity also hosts our own Discord channels, which also includes [ML](https://discordapp.com/channels/489222168727519232/502171346503991307).  However, it is not actively monitored compared to Github issues.  We do have several folks share their experiences, including RL and developing games, on Github issues.  I would encour

[2019-04-08 15:29] unityjeffrey commented on #1904
Also - feel free to provide us feedback in our survey.  We actively monitor this as well - https://docs.google.com/forms/d/e/1FAIpQLSfVnER5i5YiE748MjyI7Ts3gIgpfzXZjSrDGPKR7s2Ydeb9tg/viewform

[2019-04-08 17:04] mattinjersey commented on #1909
I think you have to hit "play" in unity when indicated in the command window.

[2019-04-08 17:10] mattinjersey commented on #1905
2500 is a lot of observations...might need a larger network for that which will take a long time to train. I wonder if there is a way to reduce the number of observations. Or maybe it would go better if you switch to image-based analysis rather than a fully-connected network.

[2019-04-08 18:22] harperj commented on #1389
@SetoKaiba I have a PR which should address the issue with the subprocess environment here: #1912

We'll make sure this or a similar fix for the pickling issue makes it in before the v0.8 release.

[2019-04-08 18:39] SetoKaiba commented on #1389
@harperj In the previous implementation. We can stop the game from Unity side. Or by ctrl c to terminate the training. And the model will be saved.
But now it doesn't. I don't know whether it will save the model after the whole training. Let me test it and feedback later.

[2019-04-08 20:21] Eli-Candoris commented on #1905
Yeah I was thinking that 2500 observations may be a lot as well but I was not sure. Switching to image-based analysis seems like it could be useful.

[2019-04-08 20:22] elijahnavarro commented on #1905
Yeah I was thinking that 2500 observations may be a lot as well but I was not sure. Switching to image-based analysis seems like it could be useful.

[2019-04-08 20:42] lz2411 opened #1913 "cant run academy with .nn file"
**ArgumentException: Off-axis dimensions must match**
Barracuda.TensorExtensions.Concat (Barracuda.TensorShape[] shapes, System.Int32 axis) (at <1071b9a446b04698af9605e3e272de23>:0)
Barracuda.TensorExtensions.ConcatShapes (Barracuda.Tensor[] tensors, System.Int32 axis) (at <1071b9a446b04698af9605e3e272de23>:0)
Barracuda.ReferenceCPUOps.Concat (Barracuda.Tensor[] tensors, System.Int32 axis) (at <10

[2019-04-08 22:36] aprouzeau commented on #1909
Yes, I did hit play when the command window indicated it. And the unity program runs normally, without errors.

[2019-04-09 09:22] krishnanpc commented on #1737
I see, ultimately my Goal is to make some interactive RL (HoloLens info as
implicit Feedback for the reward systems) work within this setup. Maybe
there are better approaches to solve this, given both ML Agents and
HoloLens dev are experimental :)

On Mon, Apr 8, 2019 at 1:12 PM Fabio <notifications@github.com> wrote:

[2019-04-09 10:17] yangjob opened #1914 "No TFmodels file after training such as Ball3DBrain.bytes?"
The version is 0.5. And I did not get this problem before! It appears strangely!
When I finish training, the last line of output is "You need to supply the name of a node to --output_node_names." and I do not get the .bytes file.I do not have much experience about ML, DL, DRL and tensorflow.

![捕获](https://user-images.githubusercontent.com/33831043/55792545-7780e700-5af3-11e9-8afa-a1685ad43cdc.PNG

[2019-04-09 10:19] yangjob commented on #1914
I have checkpoint file and .pb file in PyramidBrain dir. But why do not  have .byte file in ppo-0 dir?
![捕获](https://user-images.githubusercontent.com/33831043/55792779-f4ac5c00-5af3-11e9-8324-dd7c794335e7.PNG)

[2019-04-09 10:38] MarcoMeter commented on #1642
One more question on this context. How do the mini batch updates fit to your hyerparameter naming conventions? Like what is the actual batch size and the mini batch size in ml-agents?

[2019-04-09 15:23] yangjob commented on #1914
Does it mean I have not got any training models? Or I failed to train? Or the agent learn nothing？

[2019-04-09 16:21] eshvk commented on #1911
The algorithm used is called Behavior Cloning. Here is an example [paper](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.88.8215&rep=rep1&type=pdf) that you can read.

[2019-04-09 16:48] awjuliani commented on #1908
Hi @ShaneCaler,

All values passed as observations need to be set to a numerical value. If you pass bools they will be automatically converted to ints anyway. Doing this manually in the banana collector was because it was implemented before the automatic conversion was a part of ML-Agents.

[2019-04-09 16:48] xiaomaogy commented on #1914
Hi @yangjob , this is a known issue on v0.5 that on Windows, if you pause the training by ctrl+c, if won't generate the .bytes file.  Please update to v0.7.  If your issue continues, please let us know.

[2019-04-09 17:08] eshvk commented on #1848
@awjuliani ^

[2019-04-09 17:08] eshvk commented on #1845
@awjuliani

[2019-04-09 17:08] yangjob commented on #1914
Thank you! However,  I didn't pause the training by ctrl+c. I have finished my training or command line "mlagents-learn ...", though the agent learned nothing(max_steps is 5e5). The first picture show the final output.And in the last line of output is "You need to supply the name of a node to --output_node_names."  I search it in Baidu, it seems about tensorflow settings!

[2019-04-09 17:09] eshvk commented on #1847
I am closing this issue assuming you got your issue resolved. Please feel free to re-open if you have issues.

[2019-04-09 17:09] #1847 closed

[2019-04-09 17:09] awjuliani commented on #1848
Hi @moonsh

That same approach should result in a similar outcome.

[2019-04-09 17:10] xiaomaogy commented on #1900
Hi @vincentpierre does this look familiar to you?

[2019-04-09 17:10] yangjob commented on #1914
Hi @xiaomaogy ,Thank you! However, I didn't pause the training by ctrl+c. I have finished my training or command line "mlagents-learn ...", though the agent learned nothing(max_steps is 5e5). The first picture show the final output.And in the last line of output is "You need to supply the name of a node to --output_node_names." I search it in Baidu, it seems about tensorflow settings!

[2019-04-09 17:13] xiaomaogy commented on #1914
@yangjob Again, we won't help you debug the issues that happened on v0.5. Please upgrade to v0.7!

[2019-04-09 17:15] awjuliani commented on #1906
Hello @moonsh

Currently the slow speed is because most of the time is spent updating the model, rather than moving in the environment. This is the expected behavior. As for the learning brain, this is not needed when using offline BC. Instead you should create a demonstration file beforehand and use that.

[2019-04-09 17:33] hukaidong opened #1915 "Undocumented clamp behavior in mlagents-learn PPO trainer"
Recently when I implemented an experiment scene, I find that actions in ml-agent learned NN was clamped in the range of [-1, 1] although I have no explicit clamp in my code. I find no line document this behavior. Controversially, many examples in this repository explicit clamp their actions before applying physics, which could be quite misleading for developers to have a sense of "action vector co

[2019-04-09 17:43] moonsh commented on #1906
@awjuliani Thank you.

[2019-04-09 17:43] #1906 closed

[2019-04-09 19:35] ShaneCaler commented on #1908
@awjuliani gotcha, that's kind of what I figured but just wanted to make sure. Thank you!

[2019-04-09 22:12] #1908 closed

[2019-04-09 23:36] awjuliani commented on #1915
Hi @hukaidong

This is indeed documented here: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agents.md#continuous-action-space

```By default the output from our provided PPO algorithm pre-clamps the values of vectorAction into the [-1, 1] range. It is a best practice to manually clip these as well, if you plan to use a 3rd party algorithm with your e

[2019-04-09 23:42] vincentpierre commented on #1900
This was addressed in #1869
This fix was simply to remove [this line](https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Scripts/InferenceBrain/BarracudaModelParamLoader.cs#L7)

[2019-04-09 23:42] #1900 closed

[2019-04-10 00:39] hukaidong commented on #1915
Uh, I see. This makes me more clear about the code. Thanks for the answer!

[2019-04-10 00:39] #1915 closed

[2019-04-10 08:47] zbrnwpu opened #1918 "Cannot add official .nn file to LearningBrain"
There are officially available in TFModels . nn model，i can‘t drag the 3DBallLearning model file from the Assets/ML-Agents/Examples/3DBall/TFModels folder to the Model field of the 3DBallLearning Brain in the Inspector window

[2019-04-10 08:47] #1918 closed

[2019-04-10 08:59] zbrnwpu opened #1919 "Cannot add official .nn file to LearningBrain and my trained .nn file also can't add to LearningBrain？help！"
There are officially available in TFModels . nn model，i can‘t drag the 3DBallLearning model file from the Assets/ML-Agents/Examples/3DBall/TFModels folder to the Model field of the 3DBallLearning Brain in the Inspector window #
![image](https://user-images.githubusercontent.com/34335281/55865578-3bac5700-5bb1-11e9-8b3e-7e06a3536fa0.png)
![QQ图片20190410165634](https://user-images.githubusercontent.c

[2019-04-10 09:00] zbrnwpu commented on #1919
please!!!!!!  help!!!!!

[2019-04-10 09:14] zbrnwpu commented on #1919
@xiaomaogy

[2019-04-10 09:38] mikiwong commented on #1913
I am meeting with the same problem when trying to run a trained brain in the same environment it was trained in.

[2019-04-10 17:20] warpdriv commented on #1852
Having same problem and "Reimport All" does not work in fixing the menu. I'm on 2018.3.11f1. Although "Reimport All" did fix the RollerAcademy script to where the Broadcast Hub options showed up.

[2019-04-10 17:41] warpdriv commented on #1888
Bug in instructions:
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Create-New.md

Section : Final Editor Setup - Step 3. It says:
Drag the Brain RollerBallPlayer from the Project window to the RollerAgent Brain field.

Should say:
Drag the Brain RollerBallBrain from the Project window to the RollerAgent Brain field.

Please someone correct this. Thank you.

[2019-04-10 18:41] Phong13 opened #1920 "Develop Branch: Can't Run learn.py on Windows 10 (commit c1bad57)"
I have a 16 core threadripper so was very excited to see that training a single brain with multiple environments is now possible on the develop branch as described here:

https://github.com/Unity-Technologies/ml-agents/issues/828

I checked out the develop branch (commit c1bad57). First I noticed that mlagents-learn was not updated on this branch with the new parameter num-envs. However the parame

[2019-04-10 20:25] ProgCuteCat opened #1921 "Two different types of AddVectorObs() data"
I am newer in neural networks. I have a problem, my object must move to the some position and simulteniosly avoid obstacles. So, i am give to AddVectorObs to different types of data.
1  type is  position of target and object position.
2 type is  distance to the obstacles.
 Is it possible what neural network understand what she must do ? Or i must choose another way? I do not want to waste time

`

[2019-04-10 22:28] xiaomaogy commented on #1919
Maybe you didn't delete your ENABLE_TENSORFLOW flag in the player settings?

[2019-04-10 23:51] vincentpierre commented on #1733
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-04-10 23:51] #1733 closed

[2019-04-11 00:59] zbrnwpu commented on #1919
hahahha，thank you very much for your help，At the beginning of the introduction, there are some problems that will be confused with the old version.

[2019-04-11 06:53] #1914 closed

[2019-04-11 08:56] dumplingsforbreakfast commented on #1913
Did you uncheck control toggle?
What I did for use the trained brain is like this :
1, add nn file to brain
![image](https://user-images.githubusercontent.com/43144274/55944187-a4abd180-5c7a-11e9-8785-18bcab85cb6b.png)
2, uncheck the control toggle
![image](https://user-images.githubusercontent.com/43144274/55944228-bd1bec00-5c7a-11e9-8818-c8d246998813.png)
Then you can run with your trained brain

[2019-04-11 08:58] clikes commented on #1913
Did you uncheck control toggle?
What I did for use the trained brain is like this :
1, add nn file to brain
![image](https://user-images.githubusercontent.com/43144274/55944187-a4abd180-5c7a-11e9-8785-18bcab85cb6b.png)
2, uncheck the control toggle
![image](https://user-images.githubusercontent.com/43144274/55944228-bd1bec00-5c7a-11e9-8818-c8d246998813.png)
Then you can run with your game with tra

[2019-04-11 09:10] clikes commented on #1910
pass them one by one through AddVectorObs, I think it would be easy since it's an exact position of the object, see the banana collector example, it detect the object in front of it by rayperceptron, it hard to train than just pass the exact position

[2019-04-11 09:16] lintongoxbotica commented on #1913
Hi @clikes , thank you for the suggestion. Yes i did uncheck control but i still have the same problem.

[2019-04-11 10:25] lz2411 commented on #1913
@clikes , Thank you and yes, i have unticked the control box but that probably wasn't the issue. Any other thought?

[2019-04-11 10:50] SetoKaiba commented on #1389
@xiaomaogy Here's the models generated with TensorFlow 2.0. It's merged with the latest commits from 0.8 branch. Maybe you can have a test to see whether it's working in Android and iOS.
https://www19.zippyshare.com/v/cgG7AWza/file.html
3DBall
https://www19.zippyshare.com/v/cH7uWwrR/file.html
Hallway
https://www19.zippyshare.com/v/X70sT51v/file.html
GridWorld
The problem I encountered is proved to

[2019-04-11 15:49] marcusabate opened #1923 "Unable to run any examples"
I'm running Ubuntu 16.04, Unity 2017.4.10f1 (have also tried 2017.4.25.f1) with ml-agents 0.5.0 (although I've tried the most up-to-date version as well). Building for Linux. I follow all the instructions in [Basic Guide](https://github.com/Unity-Technologies/ml-agents/blob/0.5.0/docs/Basic-Guide.md), but when I load the 3DBall scene it seems as though the ml-agents assets aren't loaded.

For 0.5.

[2019-04-11 16:10] xiaomaogy commented on #1919
Hi @zbrnwpu , so removing the ENABLE_TENSORFLOW flag helped?
Also what is the problems in the introduction doc? Could you issue a PR to fix if possible?

[2019-04-11 16:37] harperj commented on #1920
Hi @Phong13 -- this is a known issue with the develop branch which we have now fixed but not yet merged into develop.  I've added the fix to the `release-v0.8` branch.  Can you try the release branch and see if this issue is fixed for you?  We'll merge this back into develop shortly.

[2019-04-11 16:39] Phong13 commented on #1920
Great news! Will try this later today when I am back at the office.

[2019-04-11 17:10] eshvk commented on #1923
Hi @marcusabate, have you tried building on a different platform targeting linux? Just trying to make sure whether it is a linux editor issue or an ML-Agents specific issue.

[2019-04-11 22:00] callenshaw commented on #1913
Hi, I'm getting the same error right now. This is on a modified version of the Visual Hallway scene, with a single visual input (84x84), and two discrete outputs, both of size 3. For me, the error comes as soon as I drag the NNModel on the Brain, before ever pressing play (so the "Control" checkbox is irrelevant).

I trained the model up in the same scene, dropped it in, and get this error when I

[2019-04-11 22:51] caioc2 commented on #1904
Hi,

The inference engine worked perfectly for PC and WebGL.

If here is the right place I'll continue to share any progress and related stuff here, thanks.

[2019-04-11 23:22] unityjeffrey commented on #1904
Absolutely - we look forward to checking it out!

[2019-04-11 23:22] #1904 closed

[2019-04-12 01:14] Phong13 commented on #1920
This appears to be working great!. Definitely a big speed boost!

[2019-04-12 01:17] zbrnwpu commented on #1919
yes，I did solve the problem like that.And it isn't the problem with the introduction doc,The reason is that I followed the original version of the document.

[2019-04-12 02:17] mikiwong commented on #1910
Hi, thank you for your suggestion. However, the number of objects change according to my curriculum, which will make the vector observation space change everytime the lesson is changed.

Would it be wise to feed in dummy values? Do you think this will confuse the agent?

[2019-04-12 03:30] harperj commented on #1920
Glad to hear it @Phong13! We'd love to see / hear what kind of speedups you end up reaching using the parallel environments if you'd ever like to share.  We've noticed the best speedups on real games :-)

I'm going to close this issue since it seems we've addressed the original problem, but feel free to reopen or create another issue if you have any more trouble. The official release + publish to

[2019-04-12 03:30] #1920 closed

[2019-04-12 03:36] clikes commented on #1910
@mikiwong  I do not think dynamically change the obs space is work in mlagent, since space should be determined before you start training, I facing a similar problem, is that Imay change the obs space after training, I do not try it, what I do is retrain the whole model, maybe you can try it.

[2019-04-12 05:57] Amanpradhan commented on #1825
I am trying to convert my protobuf file to use in unity inference engine. I ran:python tensorflow_to_barracuda.py obj.pb nn
but I am getting the error:
[tensors[0].data[0], 1, 1, tensors[0].data[1]]
IndexError: index 1 is out of bounds for axis 0 with size 1

[2019-04-12 06:47] mikiwong commented on #1913
i retrained the model using use_recurrent: false and inference worked.

[2019-04-12 08:38] clikes commented on #1913
@mikiwong I train a model with use_recurrent:true and I got same error.

[2019-04-12 10:10] TheDozMan opened #1925 "Decisions modification"
I've been working with ML-Agents 0.7 . I haven't worked with any earlier versions of ML-Agents.

I've been working specifically with HeuristicBrain and Decisions (Decision Script).  One thing that I want to do but don't know how is to expose variables used in my decision logic to the UI so that I can see what is going on as the logic executes.   Then I realised that it would be ideal if the decisi

[2019-04-12 12:09] krishnanpc commented on #1899
Hi @SetoKaiba , i dont think there is any temporal dependency in your Problem. So you might not need a recurrent neural net (LSTM) here.

[2019-04-12 13:24] callenshaw commented on #1913
I've learned that if I only have one discrete action (instead of 2 as before), I no longer get the error. So something with multiple discrete outputs seems to cause issues. Might be related to the issue I saw here #1876 when i was trying continuous outputs too

[2019-04-12 18:15] Phong13 commented on #1920
The speedup in my case is very impressive because I have a 16 core machine.
I have not tried careful measurements, but training that used to take 48
hours to reach a particular reward is now taking 5-6 hours to reach the
same reward.

On the down side, it doesn't seem as stable as it was when using one
process. If I quit training using CTRL-C and try to resume it sometimes
hangs or, after a while,

[2019-04-12 18:37] #1567 closed

[2019-04-12 18:38] unityjeffrey opened #1926 "**Unity ML-Agents Toolkit Survey**"
Your opinion matters a great deal to us. Only by hearing your thoughts on the Unity ML-Agents Toolkit can we continue to improve and grow. Please take a few minutes to let us know about it.

[Fill out the survey](https://goo.gl/forms/qFMYSYr5TlINvG6f1)

[2019-04-12 18:50] unityjeffrey opened #1927 "**Unity Inference Engine Survey**"
Your opinion matters a great deal to us. Only by hearing your thoughts on the Unity Inference Engine can we continue to improve and grow. Please take a few minutes to let us know about it.

[Fill out the survey](https://docs.google.com/forms/d/e/1FAIpQLSe9mWiunsYZLexkMtYZZ6q1tmDzKWW_bY97FaMU8E3nwq3QHQ/viewform)

@mantasp @rejunity

[2019-04-12 21:46] moonsh opened #1935 "Question - Visual observation training usually takes more time?"
I am training my environment using one camera from one agent's.

Even though 3 or 4 hours passed there is no big difference.
( I got a good result without using visual observation )

Should I wait more time to get a good result?

Thank you,

[2019-04-12 22:55] cbchouinard opened #1936 "No module named 'mlagents.envs.communicator_objects'"
Just tried to install latest 0.8 version of mlagents along with mlagents_env but we're running into this error when trying to `from mlagents.envs import UnityEnvironment`

[code]

[2019-04-12 23:27] harperj commented on #1936
Hi @cbchouinard -- could you share the steps you took to update the package?

[2019-04-13 00:21] cbchouinard commented on #1936
Hi @harperj, I created a new venv and pip installed
[code]

Also tried in another new venv:

[code]

With the same error on `import` both through python terminal or within Jupyter notebook.

[2019-04-13 09:21] Tailwhip opened #1938 "Restore model"
Hi
i'm trying to use a frozen model to recreate it in Rapsberry Pi to control my riding robot.
What i found out the way to load frozen model is according to tutorial:

[https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc](url)

What i got is a long list of Ops.

I've prepared some testing vector of observations together with outputs values (act[])

[2019-04-13 16:22] lz2411 commented on #1913
I used visual observation as well and i have 7 discrete actions. I retained with use_recurrent: false, but it still report the same error. What does this "off-axis mismatch" mean?

[2019-04-13 22:15] Guidosalimbeni commented on #1927
Hi great new addition. Thank you for providing this. Can I use it also to load model that I develop and trained outside of Unity in python? For instance a cnn made in keras to recognise digit from minst dataset?  It is only a question to use nn file extensions instead of bytes...?

[2019-04-13 22:52] marcusabate commented on #1923
Hi @eshvk, I've been able to build on a separate 16.04 machine for linux. I can't figure out what the difference between the two systems is; for both of them I followed the install guide in the same way. These were both after fresh installs of 16.04 as well.

[2019-04-14 02:11] hukaidong opened #1939 "pip install -e . => mlagents-envs 0.8.0 has requirement Pillow<=5.4.1,>=4.2.1, but you'll have pillow 6.0.0 which is incompatible."
I tried to run an example on mlagents-learning in version 0.8.0, when set up the experiment, I met following problem:

[code]

Any idea about this?

[2019-04-14 03:28] weiweitoo commented on #127
@awjuliani I am using ml-agent v0.8. I cannot find the choice for creating an internal brain as well.

[2019-04-14 13:39] jw1401 commented on #1936
I had the same issue. I copied the communicators_objects folder from Github **ml-agents/ml-agents-envs/mlagents/envs/** into the **Anaconda3\envs\YOUR ENVIRONMENT NAME\Lib\site-packages\mlagents\envs**
Now it is working! The problem seems to be that the communicator_objects folder is not installed with the pip command

[2019-04-14 13:43] superjayman commented on #1185
Can you please elaborate on this feature?

[2019-04-15 00:51] mattinjersey commented on #1939
I ran into similar problems including pillow and protobuf.
You can uninstall packages using pip3 uninstall pillow==6.0.0
You can install packages using pip3 install pillow==5.0.0

So using this sort of approach you could get pillow version 5.0.0 and protobuf version 3.6 which seems to be what it wants.

[2019-04-15 03:25] mattinjersey opened #1940 "unityenvworker object has no attribute send"
try to update from 0.7 to 0.8

getting errors as shown below, including:
AttributeError: 'UnityEnvWorker' object has no attribute 'send'
![image](https://user-images.githubusercontent.com/8679102/56105872-7b09d900-5f0c-11e9-8469-3cfdbbf4e5e1.png)

[2019-04-15 03:26] mattinjersey commented on #1940
part of the problem seems to be that I installed the communication_objects folder as described in an issue below. maybe it was done incorrectly.

[2019-04-15 09:13] thepycoder commented on #1936
I had to do the same with the PPO and bc folders. Only after that did the command work.

[2019-04-15 13:37] mattinjersey commented on #1936
do you copy the folder or do you take the elements out of the folder and put them into envs. I tried this and it seemed to work at first (so that MLagents-learn works) , but then later it seems to have problems when I try to run the 3D balls.

[2019-04-15 16:27] weiweitoo commented on #127
Solved. Just figure out that can import the .nn model and assign it into learning brain. Then run it with --slow flag

[2019-04-15 17:02] unityjeffrey commented on #1185
Hi @superjayman - see link to documentation:

https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Creating-Custom-Protobuf-Messages.md

[2019-04-15 17:20] sebastiani commented on #1936
@mattinjersey You have to move `ml-agents/mlagents/trainers` and `ml-agents-envs/mlagents/envs` into `anaconda3/envs/py3.6/lib/python3.6/site-packages/mlagents/trainers/` and `anaconda3/envs/py3.6/lib/python3.6/site-packages/mlagents/envs/` respectively to make it work. For some reason pip is not properly putting these subdirectories where they belong.

[2019-04-15 17:25] xiaomaogy commented on #127
Nice, what went wrong before?

[2019-04-15 17:58] eshvk commented on #1936
Folks, we just bumped a hot fix to deal with this. Please try it out.

[2019-04-15 17:59] eshvk commented on #1940
Please try with the latest version of ML-Agents (0.8.1) which has a hotfix to deal with `communicator_objects`.

[2019-04-15 18:00] eshvk commented on #1939
Please try version 0.8.1 (just uploaded to pypi) and let us know if you still face issues.

[2019-04-15 18:38] awjuliani commented on #1938
Hi @Tailwhip

This is an interesting use case. You will want to use the correct node names for input and outputs. If you have trained the model using our PPO, then here are a list of those names: https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Scripts/InferenceBrain/TensorNames.cs

[2019-04-15 18:55] unityjeffrey commented on #1927
hi @Guidosalimbeni - right now we only support models that are developed or created with ML-Agents.  However, we are potentially looking at adding support for other models.  @mantasp

[2019-04-15 19:21] franvf opened #1945 "Problem installing ml-agents in ubuntu"
Hi everybody, i have ubuntu 18.04 and I want to install unity and ml-agents per hobby. I read the github documentation but I do not know what I do wrong because after doing the steps the ml-agents are not executed. I have installed ml-agents, unity and tensorflow but I do not know if it is properly installed. Someone can help me?

1. I'm downloaded Unity from this web beta.unity3d.com/download/dad

[2019-04-15 19:36] malmaud commented on #1910
You might be well-served by the newly-introduced custom protobuffer feature: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Creating-Custom-Protobuf-Messages.md. It sounds like a custom protobuf with a repeated version of a  custom 'Position' field might be useful to you.

[2019-04-15 20:01] eshvk commented on #1945
Hi @franvf: Can you clarify a couple of things:

- Are you cloning a version of ML-Agents that has the latest hotfix (merged in a couple of hours back)?
- If you are installing from source, have you done a `cd ml-agents/ml-agents-envs` and do a `pip install -e ./` before you install `ml-agents`?

[2019-04-15 21:35] caioc2 opened #1948 "Concurrent training v0.8"
Hi,

I've tried to use the concurrent training in v0.8 but I`m not sure if the console output time/steps is correct.

For instance, I`m running a machine with 4c/8t, if I set --num-evns=1 it uses about ~27% of CPU and  the **console**  shows it taking about 10 seconds to complete 1000 steps.

If I set --num-evns=8 it uses about 90% of the CPU and the **console**  shows it taking about 60 seconds t

[2019-04-15 23:58] Hongsungchan opened #1949 "unknown error..."
![K-002](https://user-images.githubusercontent.com/43347736/56172715-b2b87400-6025-11e9-84f1-21eef184390f.png)

ArgumentException: An item with the same key has already been added. Key: P1 (Ch_Ctrl)
System.Collections.Generic.Dictionary`2[TKey,TValue].TryInsert (TKey key, TValue value, System.Collections.Generic.InsertionBehavior behavior) (at <ac823e2bb42b41bda67924a45a0173c3>:0)
System.Collectio

[2019-04-16 02:41] mattinjersey commented on #1940
I have tried again. Now the communicator folder is going to the right place, which is good.
But I still see the same error as above. Not working.

[2019-04-16 03:20] mattinjersey commented on #1940
strange because I look at the code and I can see that the UnityEnvWorker does have a method for send. So I am not sure why it doesn't see it.

[2019-04-16 07:41] seaswander opened #1950 "About dynamic_partition and loss calculation"
While reading into ppo_optimizer, I found that dynamic_partition is used to mask input by all loss calculation. My question is, what's this mask? I followed mini_batch feeding, it seems it's always full one. So is this dynamic_partition still meaningful? Is this mask affected by BP?
Thanks for reading, any help appreciated.

[2019-04-16 12:58] franvf commented on #1945
Many thanks @eshvk, I have not executed the second step. But now I have a warning with a tensorflow, when I execute the command: mlagents-learn --help, the following warning appears:

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be re

[2019-04-16 13:04] weiweitoo commented on #127
Not sure what is the problem. But I guess is because internal brain feature is replaced with learning brain in the new update?

[2019-04-16 14:57] Hongsungchan opened #1951 "vectorAction index error"
![K-004](https://user-images.githubusercontent.com/43347736/56219924-855ddb80-60a2-11e9-8a3e-dde49b924da7.png)
![K-005](https://user-images.githubusercontent.com/43347736/56219957-94dd2480-60a2-11e9-80c1-3909c49491c2.png)

why????

![K-006](https://user-images.githubusercontent.com/43347736/56220156-f2717100-60a2-11e9-8d3a-068d29cf82e7.png)

I used two vectorAction index for horizontal and vertica

[2019-04-16 16:54] eshvk commented on #1726
Hi @mattinjersey, I am going to close this issue for now due to inactivity. Hopefully you were able to resolve your issue.

[2019-04-16 16:54] #1726 closed

[2019-04-16 16:55] eshvk commented on #1720
Hi @MrGitGo, I am going to close this issue for now due to inactivity. Hopefully you were able to resolve your issue.  Please feel free to reopen if you still have issues.

[2019-04-16 16:55] #1720 closed

[2019-04-16 16:56] eshvk commented on #1780
Hi @13Flo, I am going to close this issue for now due to inactivity. Hopefully you were able to resolve your issue.  Please feel free to reopen if you still have issues.

[2019-04-16 16:56] #1780 closed

[2019-04-16 17:50] xiaomaogy commented on #127
Yes it is.

[2019-04-16 20:37] awjuliani commented on #1950
Hi @seaswander

We use the mask for when training LSTMs. This allows us to mask out the ends of trajectories which are of variable sizes, and "zeroed out."

[2019-04-17 03:13] BlueFisher opened #1953 "A blank window appears when using no_graphics mode"
I built the training environment based on Unity 2019 on windows. However, when I started training with no_graphics mode, specifically when `env.step()` was executed, a blank .exe windows would appear. If i closed the window, the training process would be terminated.

[2019-04-17 05:21] StepNeverStop commented on #1953
I got the same error with you , my Unity Version is 2018.3.11f1.
whether the ml-agents version is 0.8.1 or 0.6.0, when i start training with `no-graphics` using the executable file built by Unity 2018.3.11f1 , there always be another blank window. I dont know why.
Unity 2018.2.19 would not cause such case.
Anyone know how to fix it? Although it doesn't affect the training process , but it's too un

[2019-04-17 05:25] rt974 opened #1954 "Why do you make neural networks so complicated ?"
You could just write a neural network library in compute shaders, and provide a few utility cs files to manipulate the neural network to your users.

What the hell is this workflow, with docker, python, gym, lol do you really expect me to use that.

Whats next? download gentoo and compile my os from scratch ? No thanks.

When you dont want to do something, just dont do anything, all this looks lik

[2019-04-17 10:43] seaswander commented on #1950
@awjuliani Thanks for your explanation! Actually I'm trying to rewrite trainers with Pytorch, and it confuses me that intermediate variables (v_opt_a , v_opt_b, r_theta ,p_opt_a ,p_opt_b ) seems not to be in the computation graph, therefore not affected by optimizer.
I printed the computation graph, and the optimizer variables, totally 52 of them. And double for the Adam part. As followed:
ppo_opt

[2019-04-17 15:40] Dastyn opened #1955 "IndexOutOfRangeException in ObservationToTexture / param.cameraResolutions (line 625)"
Dear All,

I'm using ml-agents v0.8, and trying to use Visual Observations through a camera to train an Internal Brain.
But I have an exception raised systematically:
  IndexOutOfRangeException: Index was outside the bounds of the array.
  MLAgents.Agent.SendInfoToBrain () (at Assets/ML-Agents/Scripts/Agent.cs:625)

Thanks to a debug, the exception comes from the fact that param.cameraResolutions

[2019-04-17 17:13] Dastyn commented on #1955
Hummm.
The issue came from the fact that the Academy instantiated a new Agent, but the camera was not re-linked to the script agent.
So I close this (false) issue.

[2019-04-17 17:13] #1955 closed

[2019-04-17 17:24] awjuliani commented on #1950
Hello @seaswander These are definitely part of the computation graph, as they are used to compute the loss. Unfortunately I cannot help you with specifics of repurposing our code for Pytorch. That being said, I am aware of some high quality implementations written in pytorch which may be worth taking a look at, such as https://github.com/kengz/SLM-Lab

[2019-04-17 17:45] ruairidhcumming commented on #1936
I updated my system last night and have encountered the same problem

[2019-04-17 18:28] vincentpierre commented on #1953
Hi, this seems to be an issue with a newer version of Unity, not with the ML-Agents Toolkit.

[2019-04-17 18:37] harperj commented on #1954
Hi @rt974 -- sorry to hear the ML-Agents workflow doesn't work for you. We use Python because of the wealth of tools for training NN models for deep RL (e.g. Tensorflow) which simply don't exist in C#.  We do provide support for executing our Tensorflow models via compute shaders if you'd like to deploy them after training.

We always welcome constructive feedback on how to improve ML-Agents, and

[2019-04-17 18:37] #1954 closed

[2019-04-18 00:55] WHiT3R4bBiT commented on #1687
We're still seeing this issue in ML-Agents 0.8.1. The same fix, now on line 148 of /trainers/ppo/trainer.py, appears to still avoid the error.

[2019-04-18 01:03] seaswander commented on #1950
@awjuliani Thanks for your help!

[2019-04-18 01:03] #1950 closed

[2019-04-18 07:18] thomasvanta commented on #1825
I'm trying to get the original model from Posenet to work on Barracuda as well.
I have now a .pb model downloaded with posenet-python but when trying to use tensorflow_to_barracuda I get this:
IGNORED: SpaceToBatchND unknown layer
Traceback (most recent call last):
  File "tensorflow_to_barracuda.py", line 23, in <module>
    tf2bc.convert(args.source_file, args.target_file, args.trim_unused_by_ou

[2019-04-18 07:50] Fadroni opened #1957 "Error after installing ToolKit V0.8 IndexOutOfRangeException: Index was outside the bounds of the array."
Hey,
After I could successfully train my agent on my PC I wanted to start training on my work desktop. (because it has a GTX 1080 so I could train on GPU instead of CPU). Note that I could train on GPU on my PC
Version PC:
* ML-Agent Toolkit v0.6
* Anaconda: Anaconda3-2018.12-Windows-x86_64 (Pyhton version 3.6.8)
* NVIDEA CUDA: 10.1 Cudann 10.1
* Windows 10 (Desktop Windows 10 Home)

So, I install

[2019-04-18 09:21] jinzhaochaliang commented on #1940
Hello, have you solved this problem? I also encountered this problem after the update, thank you very much

[2019-04-18 12:13] mattinjersey commented on #1940
no not solved. I suspect it is because I am updating. There is something that needs to be deleted from previous code and I am not sure what. I have tried to remove all previous code.
Thanks Matt

[2019-04-18 13:35] mattinjersey commented on #1957
are you sure that there is no error in your code, for example using an index in an array that exceeds the dimension of the array. It might be interesting to run the code even without MLAgents to make sure it is working correct.

[2019-04-18 15:57] Fadroni commented on #1957
The code works on my PC portable computer, I can train the agent there. I just wanted to be able to train my agent on the desktop from work cause it has more GPU.
So, yup I’m like 99% sure there is nothing wrong with the code.

Do you have any idea how to fix it?

[2019-04-18 21:55] vincentpierre commented on #1957
I think I have an idea of what could be wrong. I think you have a camera attached to your agent. Your BrainParameters say there is 0 visual observations but there is a camera dragged into the camera properties of your agent. Let us know how this goes.

[2019-04-18 22:33] ervteng commented on #1921
Hi @MoSHer93, this should work in general. I would make a change to how you are adding the vector observations for the target. You can either add it as a detectableObject or add it as a direction vector (target.position - this.transform.position).normalized. Absolute positions usually aren't robust to where the target is - unless your target is always in the same place in your scene, this will cau

[2019-04-18 23:08] AhmedMasryKU opened #1958 "No External Brains found in the Unity Environment."
I am still new to Unity. I am using an open source unity game project to train a DQN agent on. However, for some reason, Python always print the following error. "No External Brains found in the Unity Environment. You will not be able to pass actions to your agent(s)."

The problem is that I have already checked the control checkbox next to the brain which means that my learning brain in the Acade

[2019-04-18 23:14] mattinjersey commented on #1958
does the brain goes in two places... in the academy and also in the agent. this would be attached to the player. so you may check to see if there is another spot where you got to put the brain.

[2019-04-18 23:18] vincentpierre commented on #1958
I am unable to reproduce this behavior. Could you give me a way to reproduce it ? Could you try to connect to the editor directly ? This would help us diagnose what is going on.

[2019-04-18 23:19] AhmedMasryKU commented on #1958
Thanks for your reply.
Yes, the same brain is attached to both the Academy and the Agent. However, I can not find a control checkbox next to the brain label in the agent. I only checked the box in the Academy

[2019-04-18 23:25] AhmedMasryKU commented on #1958
In my python file, after executing this line "env = UnityEnvironment(file_name=None)", I click on the play button in the editor.
It prints the following:
INFO:unityagents:
'Academy' started successfully!
Unity Academy name: Academy
        Number of Brains: 2
        Number of External Brains : 0
        Lesson number : 0
        Reset Parameters :

Unity brain name:
        Number of Visual Obser

[2019-04-19 00:07] vincentpierre commented on #1958
Can you upgrade ML-Agents to the latest version ?
What version of ML-Agents are you on, what version of Unity and which OS?
Could you give me a way to reproduce it ?

[2019-04-19 00:56] AhmedMasryKU commented on #1958
ML-Agents version is 0.7.0
UnityAgents version is 0.4.0
Unity version is 2018.3.6f1
Windows10 OS.
I also think the problem is related to the versions. I tried to train the agent on another very simple game and still the same error, so the error is not from the game itself.

I realized I have a problem:
When I run my code now, I get the following error

"The API number is not compatible between Uni

[2019-04-19 02:30] DVonk commented on #1939
I'm getting the exact same error installing 0.8.1 on a fresh machine.

[2019-04-19 05:20] seaswander commented on #1909
So ... Did you selected "control" for the brain property on Academy gameobject?

[2019-04-19 07:34] 0lento commented on #1927
I like the new inference engine but would also request getting the actual source code with the barracuda packages.

Right now if I put "com.unity.barracuda": "0.1.6-preview" or "com.unity.barracuda.burst": "0.1.6-preview" on my projects manifest on 2019.2.0a11 project, it will trigger API upgrade tool each time I start the editor with this project. API upgrade tool can't do anything either as the

[2019-04-19 08:32] Nunukuluk commented on #1907
I had the same problem. For me it worked to play around with the  "Time Scale" under "Training Configuration" from the Academy script attached to my Academy Game Object inside of Unity, while also passing the --slow line in the command prompt.

[2019-04-19 09:26] Vanoo opened #1959 "Inference outside Unity"
Hi, i'm currently using your's wonderful ml-agents as a training environment for a robot to pick some object and move them at a specific destination, in the hope that I can use this neural network in a real robot.

I use a discrete action space, with 2 branches of size 2.

The problem that I encounter is that I don't understand which value to put for the inference, and I need to make sense of the

[2019-04-19 10:58] SetoKaiba commented on #1897
Any update on this?

[2019-04-19 12:00] jinzhaochaliang commented on #1940
Hello, I successfully solved this problem by creating a new virtual environment through conda.
my unity version is 2019.1.0f2 and ml_agents version is 0.8.0.

[2019-04-19 15:36] franvf opened #1960 "Problem to train agents v: 0.8.0"
Hi everybody, i make a little game for try to learning how works the ml-agents, but when i execute the command:  mlagents-learn ./unity-volume/Test/Test.x86_64 --train
 to train the agents appears the next error:
[code]

[2019-04-19 16:32] vincentpierre commented on #1958
Hi @AhmedMasryKU
You need to have the same version for the UnitySDK and the pip package. I would recommend updating to the latest version.

[2019-04-19 16:43] vincentpierre commented on #1959
As of version v0.8, the [action node](https://github.com/Unity-Technologies/ml-agents/blob/0.8.1/ml-agents/mlagents/trainers/models.py#L345) is normalized **log** probabilities. To get the action, you will need to use a multinomial operator to sample an action with each of the two branches.

[2019-04-19 16:47] mattinjersey commented on #1940
great I have it working now. I even went back and updated conda which took a while but maybe it helped. Then I created a new virtual environment.

[2019-04-19 16:47] vincentpierre commented on #1960
Here is a [link](https://github.com/Unity-Technologies/ml-agents/blob/0.8.1/docs/Training-ML-Agents.md#training-with-mlagents-learn) to the documentation.

The basic command for training is:

[code]

where

* `<trainer-config-file>` is the file path of the trainer configuration yaml.
* `<env_name>`__(Optional)__ is the name (including path) of your Unity
  executable containing the agents to be tr

[2019-04-19 16:50] vincentpierre commented on #1958
Ah, sorry, I did not see the second part of you message. I think it is because your environment does not recognize the new install of ml-agents. I would try to pip uninstall the current mlagents you have and reinstall it. Or maybe you could use a virtual environment. if you do `pip show mlagents` it will tell you what version you have installed.

[2019-04-19 16:51] vincentpierre commented on #1907
Hi, sorry for the late reply. I think this bug was addressed in version 0.8

[2019-04-19 16:53] vincentpierre commented on #1897
This will require an update on the Inference Engine and probably a new release of the mlagents package. Ideally in the next major release.
@mantasp ?

[2019-04-19 16:57] ervteng commented on #1910
Adding a bit to the discussion - you can add a Vector to VectorObs by calling AddVectorObs to the whole vector: `AddVectorObs(position)`. But as @clikes mentioned, changing the vector observations during runtime is currently not possible in ML-Agents.

What we do in examples (e.g. BananaCollector) is to use a RayPerception, which is a fixed number of raycasts out from the Agent, that returns the c

[2019-04-19 16:59] franvf commented on #1960
Thx @vincentpierre !

[2019-04-19 16:59] #1960 closed

[2019-04-20 00:45] WHiT3R4bBiT opened #1961 ""UnityActionException: The episode is completed." with --num-envs > 1"
Running v0.8.1 I get the following error when `--num-envs` is greater than 1. The error happens at the step where AcademyReset() should be called (30k steps in our case).

[code]

[2019-04-20 07:30] chihoxtra opened #1962 "How should I calculate an episodic reward for the CRAWLER env?"
Dear professionals,

I am a new learner of RL. I am trying to implement PPO to solve the CRAWLER env. I am a bit puzzled by how to calculate an episodic reward.

One way is to check if all agents 'done' status are true. that is:
`if np.all(done):
                self.episodic_rewards.append(np.mean(self.running_rewards))
                break`
but then I found that the number of steps resulting in

[2019-04-20 09:13] inconst opened #1963 "Reset in multi-agent environments in UnityEnv"
Documentation for env.step() says that

But how can I reset separate environments in case of multi-agent setup?

[2019-04-20 10:57] PrintAlot opened #1964 "Failed to load the native TensorFlow runtime."
Hello,

I follow the step to install the ml-agents environment and everything else to have the project run. I am on Windows 10 and I used python 3.6 (the one recommended in the getting started section). And I am on Unity 2018.3.12f1

When I try to launch the learning for the 3D Balls example, the python program shows these errors.

Here is a screenshot of the errors
![Anaconda Prompt part1](https:

[2019-04-20 12:01] Vanoo commented on #1959
Thx you for the fast answer.
I will look on multinomial operator as i don't know what that is.

For my first question about the action_mask, it is correct ?

[2019-04-20 12:19] Hongsungchan opened #1965 "CPU vs GPU which one is fast in "ML Agent" Learnig?"
I'm going to buy a new computer.

Is it true that "ML Agent" does not use gpu performance for learning?

Does "ML Agent" have more CPU performance than GPU?

"1 Agent " = "1 Thread" true?

[2019-04-20 12:36] Fadroni commented on #1957
Thanks for the respons @vincentpierre I'll check it after the weekend (it's on desktop at work )

[2019-04-20 13:21] inconst opened #1966 "Reward function in python gym interface"
I'm trying to implement HER ([link](https://arxiv.org/pdf/1707.01495.pdf)) algorithm using Unity gym interface. This algorithm requires the ability to get reward function for arbitrary state. Is there a way I can get reward from Unity environment without performing env.step() ?

[2019-04-20 17:23] djbyrne commented on #1945
I am getting the same warning ModuleNotFoundError: No module named 'mlagents.envs.exception', when trying to install on my Mac

[2019-04-20 22:27] BhaskarTrivedi opened #1967 "No module named 'mlagents_envs'"
I am trying to run obstacle jupyter notebook and facing no mlagent_envs module in anaconda3 venv.

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-3928ac1f49b7> in <module>
----> 1 from obstacle_tower_env import ObstacleTowerEnv
      2 get_ipython().run_line_magic('matplotlib', 'inline')
      3 from matplotlib import pyplot as plt

~/obstacle-tower-en

[2019-04-21 10:35] KDUNAS opened #1968 "Unity ML-Agents Gym Wrapper On Windows"
Hi,

 Dopamine and gym didn't support Windows.
 So how could I use the Unity ML-Agents Gym Wrapper and the environments built by unity to train?

[2019-04-21 11:22] franvf commented on #1945
You need execute the next command:
cd ml-agents/ml-agents-envs
pip install -e ./

[2019-04-21 11:25] djbyrne commented on #1945
This was when I was installing via pip. I tried installing it from source and it worked fine

[2019-04-21 11:37] lz2411 commented on #1913
I am still stuck on this, anyone has solved this issue?

[2019-04-22 06:56] PeterJaq commented on #1850
@SetoKaiba Thank you for your work! And I also still try to implement ml-agent to tf2. The work is all finished？

[2019-04-22 16:28] vincentpierre commented on #1961
Hi @WHiT3R4bBiT
I was able to reproduce your bug. I modified the *3DBall* environment Academy script this way :

[code]

This error seems to arise when the the environments do not need to reset at the same time. One of them needs to reset but not the other. In this situation, a STEP command might be sent while one of the environment was expecting a reset leading to the error you saw.
This is a bug

[2019-04-22 16:36] vincentpierre commented on #1962
Hi @chihoxtra
Unfortunately, this repository is not meant to teach people reinforcement learning. I would recommend looking at the [PPO paper](https://arxiv.org/pdf/1707.06347.pdf). There are a lot of resources online to help you : here is a [blog post](https://medium.com/emergent-future/simple-reinforcement-learning-with-tensorflow-part-8-asynchronous-actor-critic-agents-a3c-c88f72a5e9f2) by @awj

[2019-04-22 16:39] vincentpierre commented on #1963
Hi @inconst
I am not sure I understand your question fully. In our definitions, an environment can contain multiple agents. When calling `env.reset` the environment (an all of the agents it contains) will reset. When the Academy of an environment is `Done` then the Python `env` will no longer be able to step and `env.reset` must be called to continue the simulation.
In the case of multi-agent setu

[2019-04-22 16:44] vincentpierre commented on #1965
Hi @Hongsungchan
In our current implementation of PPO, we do not make an efficient use of the GPU. This will change in future versions but for the time being, updating the model is faster on a CPU most of the time.
Each agent does not run on an individual thread. In Python, the observations of the agents are processed in batches.

[2019-04-22 16:49] vincentpierre commented on #1966
Hi @inconst
In order to calculate the reward an agent receives, the Unity Environment must simulate it. It is currently not possible to request a reward given a state, action, goal triplet.
I would recommend creating this reward on the Python side.

[2019-04-22 16:51] louis030195 opened #1969 "v0.8 - Can't access brain parameters"
I had this issue migrating from 0.6 -> 0.8, tried with fresh project following new instructions, same error

![Peek 2019-04-22 18-44](https://user-images.githubusercontent.com/25003283/56512097-b325a300-652e-11e9-86d2-db740decd178.gif)

Ubuntu 18.04
Unity editor 2018.3.9f1
ml-agents 0.8

[2019-04-22 16:57] vincentpierre commented on #1964
Hi @PrintAlot
This seems to be a TensorFlow related error from what I can see [online](https://github.com/tensorflow/tensorflow/issues/11571). Probably due to missing DLLs on your machine. I would recommend uninstalling and reinstalling tensorflow 1.7.1 in a virtual environment.

[2019-04-22 17:02] vincentpierre commented on #1967
I think this issue is better suited on this repository : https://github.com/Unity-Technologies/obstacle-tower-env
I think you do not have the mlagents_envs that obstacle tower is expecting. I think you should try to install into a separate virtual environment and then do

[code]

[2019-04-22 17:07] vincentpierre commented on #1968
Hi @KDUNAS
You can use our PPO trainer to train UnityEnvironments as it does not require Gym to work. If you really want to train using Dopamine and Gym, this sounds more like a feature request for their project.

[2019-04-22 17:09] vincentpierre commented on #1969
Hi @louis030195
I am not sure how the Ubuntu editor is different from the Mac and Windows editor. Are there any compilation errors showing in the console ? Have you tried restarting the editor? Are you able to access the Brain parameters on a new project / in a new Brain ?

[2019-04-22 17:15] inconst commented on #1963
So whenever any of agents finish its episode, `Done` is called, right? But other agents may need more time to finish theirs, so they can't be reset yet because env.reset() will reset all agents. Is this handled somehow?

[2019-04-22 17:17] vincentpierre commented on #1959
Yes, I means the action is valid. You can test this to be sure.

[2019-04-22 17:30] vincentpierre commented on #1963
There are 2 levels of Done flags : One on the Agents and one on the Environment / Academy.
When the Environment / Academy is Done, everything must reset : Academy and Agents alike.
When an Agent is done, it is labeled as Done and the simulation can go on. (The Environment is no Done and can proceed)

[2019-04-22 17:35] #1966 closed

[2019-04-22 17:36] #1963 closed

[2019-04-22 17:38] SetoKaiba commented on #1850
@PeterJaq It's a working migrated version. But it's not modified to eager execution yet.

[2019-04-22 19:16] WishMasterGit opened #1970 "SetActionMask doesn't work as described"
Working on simple turnbased game with discrete actions. I tried to set action mask to eliminate moves that aren't possible anymore, but it seem it doesn't work at all, because once agent gets to AgentAction it still has wrong moves inside the vectorAction that are suppose to be masked.
Any ideas?

[code]

[2019-04-22 19:51] vincentpierre commented on #1970
Hi, You must call SetActionMask in the CollectObservation method for it to work.

[2019-04-22 20:15] hukaidong commented on #1939
I am concentrating in a version of 0.7.x so would not test 0.8.1 for a period. Since there are no more update from others about this, I assume it's already solved. Please reopen this issue if anyone still meets the same condition.

[2019-04-22 20:15] #1939 closed

[2019-04-22 22:23] goncharom opened #1972 "Forces from AgentStep or collision still being applied after AgentReset"
Hi! I'm working on a rocket learning to land on a specific zone. To steer the rocket I use AddForceAtPosition() and to reset the agent I check the Done() flag and set the rewards using onCollisionEnter() (more reward for landing on the landing pad), however, after I reset the agent, some random forces are applied to the rocket making it spin instead of being still. I suspect said forces are from t

[2019-04-22 22:31] vincentpierre commented on #1972
I am not sure if I can help with this information. I think AgentAction might be called after reset and that this could be the cause of the problem. Can you check with `IsDone()` if the agent is done when calling AgentAction ?

[2019-04-23 06:08] rainysolar commented on #1798
I have the same issue.
I use a 2070 card which only support CUDA 10.
CUDA 10 needs TensorFlow >=1.13.0.
And Numpy 1.14.1 is not support TensorFlow>=1.13.0

[2019-04-23 06:13] chihoxtra commented on #1962
thank you so much. Sorry for asking the wrong question. I will do some more researches by myself. Thanks.

Sam

[2019-04-23 06:35] Fadroni commented on #1957
Thanks @vincentpierre , there was indeed a camera (Thought I deleted that but apparently not).
Just out curiosity why didn't it gave an error in the v0.6? Cause there was a camera too and not error.

[2019-04-23 07:55] Amanpradhan opened #1973 "Object Detection"
I originally wanted to convert my model into barracuda to use for object detection. Seeing as it is not very easy to do it right now, is there any way to train the model inside unity by providing data to it?

[2019-04-23 10:07] goncharom commented on #1972
Hi. I checked with a simple log in `AgentAction()` checking `IsDone()` and nothing gets printed. I think I figured out the problem though, but I am having trouble fixing it. I checked the terrain as trigger so no collision forces are applied when the rocket collides, but I still have the same problem. Since I calculate the positions where I add the forces on that step on `AgentStep()`, maybe the f

[2019-04-23 11:19] PrintAlot commented on #1964
no, I tryed uninstalling and reinstalling tensorflow 1.7.1 in a virtual environment.
and I'm still getting the same errors.

[2019-04-23 12:55] goncharom commented on #1972
Okay I seem to have found a way around it. I simply added a step variable, which I set to zero on every reset, and on the `AgentStep()` has the following logic:
[code]

[2019-04-23 13:24] Vanoo commented on #1938
Hi, i opened a issue somewhat similar to yours #1959. And I wanted to know if you had any success in make sense of the output given by sess.run() with the PPO model ?

[2019-04-23 14:52] ScriptBono opened #1974 "Breaking Down Complex Environments"
I have a complex problem I would like to solve and so I had the idea to break it down into multiple smaller environments that focus onto smaller sub problems. Let's assume I have a scenario similar to the 3DBall Environment and I break it down into three scenarios:
	1) Agent just has to learn to reach goal
	2) Same as 1) but I add random obstacles onto the plane
	3) I have a bigger plane with obst

[2019-04-23 14:53] yttiktak commented on #1798
Same issue. Using Ubuntu Bionic, numpy v 1.16.2
Trying to track it down, seems a numpy array (advantages) changes shape from (N,) to (1,N) when the ppy trainer.py subtracts the mean from it, about line 325.
 I hacked out a thing to bypass policy updates when that happens. Walker seems to be training now. My 5 yr old approves of the walker. It got up to a reward of 300 so far.

[2019-04-23 16:41] LeSphax commented on #1070
Hello @awjuliani

I spent some more time working on it, so I fixed the issues and created a pull-request #1975 :)

[2019-04-23 17:09] awjuliani commented on #1070
@LeSphax

Thanks! Our team will take a look.

[2019-04-23 17:09] vincentpierre commented on #1973
Hi,
The Inference Engine does not support back-propagation so it is not possible to do the training in C# at this time. You can convert your model from python using [this script](https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/mlagents/trainers/tensorflow_to_barracuda.py) but some operators might be missing.

[2019-04-23 17:15] vincentpierre commented on #1974
Hi @ScriptBono
You scenario seems to fit curriculum learning almost perfectly. If you want to do further experimentations, I would suggest having a randomized environment. At each reset of the environment, you could randomly have either scenario 1), 2) or 3) This will not train on the three scenarios in parallel but it will make sure that the agent does not forget simpler tasks. In addition to thi

[2019-04-23 17:18] #1972 closed

[2019-04-23 17:19] #1962 closed

[2019-04-23 17:20] louis030195 commented on #1969
No error, and yes i tried with new project as i said, new brain etc
Even installed latest Linux editor 2019.1.0f2, still same ...

[2019-04-23 17:21] vincentpierre commented on #1957
Ok, great, I will label this a s bug since the error needs to be more graceful.

[2019-04-23 17:40] vincentpierre commented on #1969
I am not sure how I can help since I cannot reproduce this with my setup. I think this is a bug on the Linux Editor. Can you try the debug mode of the inspector ? In an inspector window, there is a button next to the lock on the top right corner. Here you can select `debug` and it will allow you to see hidden fields.
I suspect there is an error in [this file](https://github.com/Unity-Technologies/

[2019-04-23 17:55] vincentpierre commented on #1786
We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion.

[2019-04-23 17:55] #1786 closed

[2019-04-23 17:55] vincentpierre commented on #1846
We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion.

[2019-04-23 17:55] #1846 closed

[2019-04-23 17:55] vincentpierre commented on #1851
We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion.

[2019-04-23 17:55] #1851 closed

[2019-04-23 17:56] vincentpierre commented on #1857
We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion.

[2019-04-23 17:56] #1857 closed

[2019-04-23 18:13] vincentpierre commented on #1964
Hi, I cannot reproduce this error. Are you trying to use tensorflow-gpu ? It seems you have missing cuDNN library.

[2019-04-23 21:27] WishMasterGit commented on #1970
Thank you it did better this time, but now I see another issue, sometimes, CollectObservations step skipped and AgentAction called instead. This create the issue again that SetActionMask dosen't set properly.

[2019-04-23 21:27] WishMasterGit commented on #1970
`public class GamePlayerAgent : Agent
{
    public int PlayerId;

    public BoardRules boardRules;

    // Start is called before the first frame update
    private void Start()
    {

    }

    public override void AgentAction(float[] vectorAction, string textAction)
    {
        var result = boardRules.Game.move(PlayerId, (int)vectorAction[0]);
        if(result == Assets.Moves.Illegal) { Req

[2019-04-23 21:45] WishMasterGit commented on #1970
I find workaround by introducing artificial delay between steps for 1 sec. But seems like a hack. Probably the issue is that I request the next Agent action right inside the AgentAction method by calling boardRules.NextMove and it isn't enough time to sync context or something

[2019-04-24 00:10] elijahnavarro opened #1976 "Building a Project Using Pre-Trained Models"
I have a project that I am going to build from Unity that has trained agents in it. One agent has a learning brain while another has a heuristic brain. I have already performed training on these agents and I have the corresponding bytes files added to their brains. However, the issue I am experiencing is that when I build my project and run the standalone, the agents perform as if there is no mode

[2019-04-24 05:32] zheyangshi commented on #1304
I also tried to train the agent in PyramidVisual, and I found that the reward was keeping -1 before step 1.6 * e6 (--num-envs=4). Compared to training with vector observation, visual observation seems not to be a good input for this environment.

[2019-04-24 06:23] Fadroni commented on #1957
So problem is fixed I'll close this

[2019-04-24 06:23] #1957 closed

[2019-04-24 08:25] zheyangshi commented on #1935
I also tried to train the agent in PyramidVisual, and I found that the reward was keeping -1 before step 1.6 * e6 (--num-envs=4). Compared to training with vector observation, visual observation seems not to be a good input for this environment.

[2019-04-24 09:47] mikiwong commented on #1949
Hi I am also meeting this same error. I had my environment duplicated (in the same scene) for faster convergence as recommended.
The error appears halfway through training randomly
Manual control using playerbrain does not produce this error

The error is not produced when I train with only 1 instance of environment

[2019-04-24 10:48] dahburj commented on #1825
@thomasvanta I was getting an "UpSample: unknown layer" error, or something along those lines, when I tried to download Tensorflow's Tensorflow-Lite PoseNet, if you click on the repo I linked it explains the steps in detail. There seems to be a lot of issues converting these models to .bytes with other models I've tried (layers being skipped over, labelled-unknown, etc.), but I got it running arou

[2019-04-24 11:22] GoingMyWay commented on #799
Same error does anyone solved it？

[2019-04-24 13:01] ScriptBono commented on #1974
Thank you very much for your response, I tried to create a curriculum learning environment by my own.

So far I designed curriculum learning by training a model on a simple environment and after certain amount of steps I stop and continue to train the model on a more complex environment by doing the mlagents-learn --load command.  In theory this should have the same effect right? Is it also possib

[2019-04-24 13:04] JeroenBoesten opened #1977 "Using Agents to personalise player experience"
Hi,

I want to create a personal experience for the players of my game, by adapting the difficulty specific for that player.

To understand what I'm trying to achieve some context. The game is a 2d game where people have to answer questions with yes or no, there are a couple of settings that the agent can decide on making the game harder or easier like the duration of the question, number of tests

[2019-04-24 15:55] harperj commented on #1976
Hi @elijahnavarro -- did you make sure to turn off the "control" checkbox in the Academy for the LearningBrain you've attached your trained model to?  If "control" is still set, ML-Agents will not use the trained model.

[2019-04-24 16:14] Eli-Candoris commented on #1976
@harperj Yes, the "control" checkbox was unchecked when I performed my build.

[2019-04-24 16:15] elijahnavarro commented on #1976
@harperj Yes, the "control" checkbox was left unchecked when I performed my build.

[2019-04-24 17:04] vincentpierre commented on #1974
Hi @ScriptBono
With out current imitation learning, you will need to have all of the different variations be the same scene and use the reset parameters to change the difficulty. If you want to use a different scene, you could try to load the scene without destroying the Academy when the reset parameter is changed. You can also use different executables, the result should be the same.

In the Wall

[2019-04-24 17:06] #1907 closed

[2019-04-24 17:10] clankill3r opened #1979 "please get rid of tensorflow 1.7 dependency"
With pip3 I get:
`
  Could not find a version that satisfies the requirement tensorflow==1.7 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 2.0.0a0)`

This repository is still such a pain to get the work.

[2019-04-24 17:12] vincentpierre commented on #1959
Hi, I am not sure I understand that last comment,
Multinomial is a sampling operator. Softmax will give you probabilities for each actions and multinomial is what will sample the action according to the probability. It is true that there will still be some randomness but always according to the probabilities "decided" by the agent. This randomness is crucial for exploration.

There can be multiple

[2019-04-24 17:47] khaledbnmohamed commented on #1918
Hi , I have the same Issue , How did you solve it ?

[2019-04-24 18:10] xiaomaogy commented on #1935
Hi @moonsh @zheyangshi , the training on the visual observation will generally take much longer. To increase the training speed, you can also increase the number of agents.

[2019-04-24 18:16] moonsh commented on #1935
@zheyangshi @xiaomaogy Thanks a lot.  I will close this issue.

[2019-04-24 18:16] #1935 closed

[2019-04-25 00:32] cbchouinard commented on #1936
@eshvk great its now working! Thanks!

[2019-04-25 03:56] seaswander opened #1980 "[Question] About "log_sigma_squared""
While reading code, I only found:
`log_sigma_sq = tf.get_variable("log_sigma_squared", [self.act_size[0]], dtype=tf.float32,
                                       initializer=tf.zeros_initializer())`
How is this variable get calculated and assigned? Is it affected by optimizer BP process?
Many thanks for your help.

[2019-04-25 04:09] MarcoMeter commented on #1979
Sounds like your are not using Python version 3.6

[2019-04-25 06:24] louis030195 commented on #1969
I had this error at some point
`Socket: bind failed, error: Address already in use(98)`

But thanks, indeed debug mode works, not normal mode though

**Normal**
![Peek 2019-04-25 08-22](https://user-images.githubusercontent.com/25003283/56713911-71197e80-6733-11e9-8f15-7fcf1c83ee3f.gif)

**Debug**
![Peek 2019-04-25 08-23](https://user-images.githubusercontent.com/25003283/56713893-66f78000-6733-11

[2019-04-25 07:56] Vanoo commented on #1959
Hi, i was saying that with just the result of the softmax, the best result is the one with the highest probability, and without change in the network it's always the same result.
With the multinomial operator we get a result base on a dice roll with the output of our network as the probabilities of the dice.

In the end i did this to convert the output to a onehot encoding of the action.
[code]

[2019-04-25 08:35] SetoKaiba commented on #1850
https://github.com/tensorflow/tensorflow/issues/27669
And here's the related issue for TF 2.0. My migrated version is solved by a workaround. But it's indeed a bug from TF 2.0. When it's fixed, it will be ok to remove the workaround.

[2019-04-25 08:39] SetoKaiba commented on #1389
https://github.com/Unity-Technologies/ml-agents/issues/1850
I think it should be ok to close this issue and have the discussion on this instead.
Because I think the next upgrade for it should be 2.0 instead.
And I tested my migrated branch is working for CPU and GPU.

[2019-04-25 08:45] JeffBobHans opened #1981 "TFException: No OpKernel was registered to support Op 'DecodeJpeg' with these attrs."
Hi,

I am trying to use an image classifier on a iOS device using Unity with the TensorFlowSharp plugin .
When I tested this on a Mac, it had no problems and it was running fine.
However when run it on iOS, I get this exception.

[code]
Since this is my first time trying to run something on iOS, I struggle fixing this problem.
Can anyone provide an instruction how I can fix this?

Thanks.

[2019-04-25 08:47] juva opened #1982 "pip install -e . => mlagents-envs 0.8.1 has requirement Pillow<=5.4.1,>=4.2.1, but you'll have pillow 6.0.0 which is incompatible."
E:\mobilework\ml-agents-master\ml-agents>mlagents-learn config/trainer_config.yaml --run-id=firstRun --train
Traceback (most recent call last):
  File "d:\users\jhfeng\appdata\local\programs\python\python36\lib\site-packages\pkg_resources\__init__.py", line 583, in _build_master
    ws.require(__requires__)
  File "d:\users\jhfeng\appdata\local\programs\python\python36\lib\site-packages\pkg_resour

[2019-04-25 09:36] DannyFriky opened #1983 "Problems compiling RayPerceptionTest after updating to 0.8.1"
just update to 0.8.1 and when i opened my proyect 4 errors on RayPerceptionTests.cs appears:

i have the ML-Agents folder and Gizmos as before (but updated)

what did i miss?

[2019-04-25 09:48] #1983 closed

[2019-04-25 10:46] DannyFriky opened #1984 "mlagents.envs.exception.UnityEnvironmentException when num-envs >1"
Just updated to 0.8.1 version and i'm trying the new features, but when i tried to use more than 1 training environment i get that error:

on every environment greater than 1.

I tried to find if i did something wrong when trying to train with more than 1 environment but didn't find anything.

I used :  ` mlagents-learn config/config.yaml --run-id=name --num-envs=2 --train` to train

Do I need to

[2019-04-25 12:16] Llain55 commented on #1982
had this problem myself at one point. You'll have to uninstall your current version of pillow using
pip uninstall pillow
once it has uninstalled successfully reinstall using required version
pip install pillow==5.4.1

hopefully this works for you!

[2019-04-25 14:00] ScriptBono commented on #1984
To use the new feature I had to use an executable environment. Means you have to build the simulation first and when you start the training with the command you also have to specify `--env=YourEnv`. Hope this helps!

[2019-04-25 14:31] DannyFriky commented on #1984
hi, @ScriptBono, thanks for your help, but i need 1 executable for every environment that i want, or 1 regardless the nun-env?

[2019-04-25 17:08] #1969 closed

[2019-04-25 17:10] #1959 closed

[2019-04-25 18:00] tzoiker opened #1985 "Can not use trained brain"
I am following the guide from here https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Basic-Guide.md#after-training. Using version 0.7.

I have trained the model and placed `CopterBrain.nn` file in the `TFModels` directory. Now, according to the guide, I need to drag `CopterBrain.nn` to the model placeholder of the `LearningBrain` in the inspector. However, nothing happens and I only

[2019-04-25 19:59] harperj commented on #1979
Hi @clankill3r -- I think MarcoMeter is right, at this time you'll need to use Python 3.6 to use ML-Agents.  We've looked into updating the version of Python / Tensorflow recently and found conflicts which haven't yet been resolved.

[2019-04-25 20:02] harperj commented on #1976
@elijahnavarro in that case it's a bit hard for me to diagnose the issue without some more information.  Are you able to reproduce the issue when you build one of the ML-Agents example environments?

It would also help to know what OS, Unity version, and ML-Agents version you're using.

[2019-04-25 20:41] harperj commented on #1980
Hi @seaswander, this statement is creating a variable to represent the log of the variance for the action outputs of the policy.  This is the continuous control case, and each action output is modeled by a gaussian with a given mean and stddev/variance.  Then each action value is produced by generating a value from this distribution mean and standard deviation scaled by the epsilon hyperparam (htt

[2019-04-25 20:45] harperj commented on #1981
Hi @JeffBobHans -- unfortunately since we don't maintain or test the TensorFlowSharp library it's unlikely that we can help you with this.  You might try creating an issue on the TF# Github repo (https://github.com/migueldeicaza/TensorFlowSharp).

[2019-04-25 20:46] #1981 closed

[2019-04-25 20:47] harperj commented on #1980
I think I've answered your question here, so I'm going to close this issue -- but please feel free to reopen or create a new issue if you run into any more problems.

[2019-04-25 20:47] #1980 closed

[2019-04-25 20:49] harperj commented on #1982
Hi @juva -- what @Llain55 said should work.  You might also consider using a virtualenv so that ML-Agents dependencies can be managed separately from your global dependencies.

[2019-04-25 20:58] harperj commented on #1984
Hi @DannyFriky -- yes, it looks like you're trying to train using the Unity Editor.  Since the `num-envs` argument needs to open multiple instances of your environment, it needs a build/executable to run.  So if you make a build of your game and point `mlagents-learn` to it using the `env` argument it should work correctly.

Hope this works for you.  On our end, I think it would be good to provide

[2019-04-26 00:48] seaswander commented on #1980
@harperj Thanks for your explanation!

[2019-04-26 01:53] juva commented on #1982
https://github.com/Llain55 https://github.com/harperj
thanks,it really works!

[2019-04-26 01:55] juva commented on #1982
@Llain55 @harperj
thanks,it really works!

[2019-04-26 01:56] #1982 closed

[2019-04-26 06:40] MarcoMeter commented on #1968
Google Dopamine pretty much works on Windows.
If you want to use the Atari environments on Windows then you have to install this
`pip install --no-index -f https://github.com/Kojoley/atari-py/releases atari_py`

[2019-04-26 07:49] stakemura opened #1986 "Where is onnx_to_barracuda.py ?"
According to [Barracuda manual](https://github.com/Unity-Technologies/ml-agents/blob/e3b86a27a2547cdd177bf9e848b4337aa71b887a/UnitySDK/Assets/ML-Agents/Plugins/Barracuda.Core/Barracuda.md),  converting from ONNX to Barracuda is mentioned as follows.

But I couldn't find the onnx_to_barracuda.py.
Would you like to tell me how to convert from ONNX to Barracuda format?

[2019-04-26 09:07] DannyFriky commented on #1984
it works with that, thank you very much

[2019-04-26 09:07] #1984 closed

[2019-04-26 10:23] MrGitGo opened #1987 "Neural Network"
I don't know if I can read it in the docu, but I couldn't find it. So my question is: What kind of neural network is ml-agents using (recurrent, convolutional,...)?

[2019-04-26 11:28] JuhaVuorenalho opened #1988 "Issue on Rollerball training"
I've followed this tutorial for creating the learning environment with the ball on a plane. https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Create-New.md

When I have entered the command _**mlagents-learn C:\Users\Juha\ml-agents\config\trainer_config.yaml --run-id=RollerBall-1 --train**_ I get the prompt saying that I have to press play in Unity. However, when

[2019-04-26 13:19] mantasp commented on #1973
As mentioned in our e-mail discussion: Mobilenet+SSD is currently not supported by inference engine, but we added it to our wishlist. Thanks for feedback!

[2019-04-26 13:35] jjxtra commented on #1710
Seeing this with a blank project just LWRP, shader graph and post process. Latest Unity 2019.1.

[2019-04-26 14:14] buddha314 commented on #1988
I am following that same tutorial on Windows and when I press Play, it simply does not respond.  I'm using the 2017 LTS version of Unity.

[2019-04-27 00:16] buddha314 commented on #1888
I just lost two days to this error.  Man oh man.  I read that line four times because it seemed wrong and then I forgot about it.  Poop.  Poop poop procreating poop.

[2019-04-27 07:02] MarcoMeter commented on #1987
This is dynamic and configurable.
If your agent has visual observations, a CNN is used.
If there is only a vector observation, than it is just a feed forward network.
If you set use_recurrent to true in the trainer_config, an LSTM layer will be added.

[2019-04-27 07:13] KDUNAS commented on #1968
Thank you for the replay.

[2019-04-27 07:13] #1968 closed

[2019-04-27 10:58] AdhamAlHarazi commented on #1913
As @mikiwong mentioned, I retrained with use_recurrent: false and no error received. Apparently, there is a problem with using recurrent.

[2019-04-28 11:38] patdavisgames opened #1989 "Agent OnEnable() Error"
Just updated to version 0.8, and I'm getting this error from the MLAgents.Agent.OnEnable(). I am enabling the academy and adding the agents with brains at runtime so that may be contributing to the issue.

NullReferenceException: Object reference not set to an instance of an object
  at MLAgents.Agent.OnEnable () [0x00001] in C:\Users\patra\Documents\Unity\Pin Puck\Assets\ML Agents Assets\ML-Agent

[2019-04-28 13:19] antonio1234567891011 opened #1990 "mlagents"
Hi guys
i can only install tensorflow cpu from version 13 upwards in anaconda 3.7
when is a version of mlagents going to work with this?
or how can i  make this work?
thanks

[2019-04-28 21:29] aaronvdbrugge opened #1991 "How to convert to *.nn file?"
Hi guys,

We've created a model in Python, it is a .pb file.

Could you please advise on how we can convert this to a model file that can be used by Unity Inference?

Also, how far along is Unity Inference for working on Android and iOS?

We're currently using an outdated TF# but the accuracy within Unity is worse than regular TF, strangely. Also our latest model made with TF 12.0 does not run on

[2019-04-29 05:24] MarcoMeter commented on #1990
use Python 3.6

[2019-04-29 08:34] patdavisgames commented on #1989
I'm an idiot and didn't realise that it was having this issue because it

[2019-04-29 09:21] patdavisgames commented on #1989
Seems to be linked to creating the instances and attaching agents while the game is running as agents that're in the scene when it is created do not cause an error

[2019-04-29 13:51] Dreadnut93 opened #1992 "Visualizing the neural network used by PPO Model"
Hi all,  I am working on a project in Unity where my agent has two Cameras and 281 vector observations. To obtain a better understanding on what is going on I was wondering if it is possible to visualize the underlying architecture used by the PPO model?  Unforunately, under graphs in Tensorboard I found this message "No graph definition files were found."

[2019-04-29 15:37] unityjeffrey commented on #1888
made a PR here to fix in develop

https://github.com/Unity-Technologies/ml-agents/pull/1993

[2019-04-29 17:48] harperj commented on #1987
@MrGitGo -- what @MarcoMeter said is correct, the network used depends on the settings you choose.  Since I think the direct question is answered, I'm going to close this issue but please feel free to reopen or create a new issue if there's something we can help with.

[2019-04-29 17:48] #1987 closed

[2019-04-29 17:51] harperj commented on #1988
Hi @JuhaVuorenalho -- could you double check that you've clicked the "Control" box for the brain you're using in the Academy GameObject?  Sometimes this error can occur because the game isn't actually attempting to connect to the trainer.

There is a timeout on both the side of the game and the side of the trainer, so timing does matter to some extent.

[2019-04-29 17:57] buddha314 commented on #1988
My issue was resolved here: https://github.com/Unity-Technologies/ml-agents/issues/1888#issuecomment-487629739 but I have experienced the "control" problem as well.

[2019-04-29 17:58] xiaomaogy commented on #1510
Since there is fix in v0.8, we are closing this.

[2019-04-29 17:58] #1510 closed

[2019-04-29 18:02] harperj commented on #1991
Hi @aaronvdbrugge -- you might give the included [tensorflow_to_barracuda.py](https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/mlagents/trainers/tensorflow_to_barracuda.py) script a go to convert your model.

[2019-04-29 18:03] harperj commented on #1990
Hi @antonio1234567891011 -- as @MarcoMeter said at this time we are only supporting Python 3.6.  We've had a number of requests for 3.7 support and have plans to look into this in the near future.

[2019-04-29 18:06] harperj commented on #1992
Hi @Dreadnut93 -- this should be possible as the graph definitions are being saved when the model is output after training.  I'm not sure where exactly Tensorboard needs the graph definition file to be located, but we'd welcome instructions or changes to make this process easier if you are able to make it work.

[2019-04-29 18:43] harperj commented on #1988
Thanks for the update @buddha314 -- glad you've resolved the problem.  I'm going to close this issue, but please feel free to reach out if you run into any more trouble!

[2019-04-29 18:43] #1988 closed

[2019-04-29 18:52] harperj commented on #1977
Hi @JeroenBoesten -- we haven't done much work at this time with ML-Agents training with humans in the loop. It would likely require substantial code changes.  At this time ML-Agents is probably not the best solution for this use-case.  You might want to read some about other approaches for training models with slow feedback loops -- one tool I know of is [Horizon](https://research.fb.com/wp-conte

[2019-04-29 20:07] clankill3r commented on #1979
It was with 3.6.
I figured out that it works using `pip install "tensorflow==1.7.0"` instead of `pip3`.
(Using `pip` instead of `pip3` seems to work quite often in general).

We try to get ml-agents working with a small group of students, for most students it works now.
Next school semester ml-agents might be a candidate for a assignment with the students but dependency hell is a big influencer fo

[2019-04-29 20:22] JeroenBoesten commented on #1977
Hi! Thank you so much for your answer and thereby confirming my presumption.

I didn't know Horizon so thank you for that I will definitely check it out!

[2019-04-29 20:22] #1977 closed

[2019-04-29 20:24] ManjitBedi commented on #1991
Hi @harperj.  I am working with @aaronvdbrugge.  I just installed Python 3.6.8 etc on a Mac.

I am getting errors in the conversion process:

[code]

[2019-04-30 08:26] Dreadnut93 commented on #1992
Hi @harperj, here are the steps I used to plot the my graph.

1.) I copied the "import_pb_to_tensorboard.py " from (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/import_pb_to_tensorboard.py) to my ml-agents-master directory.

2.) Using anaconda to activate the ml-agents environment and navigated  to the directory where the ML-Agents Toolkit is installed.

3.) From th

[2019-04-30 09:03] Fadroni opened #2000 "Training agent in Anaconda get a "not responding""
Hey,

I have made a test environment and If I use that environment I got no problems but when I use the same agent in (this) environment I have this problem. mentioned under here.

I want to train my agent (RL PPO) using Anaconda and sometimes it works but then other times I get a "not responding" (reageert niet).
![NOT_RESPONDING](https://user-images.githubusercontent.com/49722763/56951375-f50aa6

[2019-04-30 15:18] unityjeffrey commented on #1992
Hi @Dreadnut93 - hope you are doing well.  Thank you for raising this and providing instructions.  We've added this as a potential enhancement for future versions of ML-Agents.  In the meantime, would you be open to creating PR, for a single MD document, in our /docs folder from the develop branch that details these instructions?

Happy to do it as well, if you are busy and cannot make the contrib

[2019-04-30 17:39] xiaomaogy commented on #1410
We've updated our doc to explain this issue in this PR. So I'm closing the issue for now. Please reopen this if you feel the doc is still not enough and what improvement you wish to make. https://github.com/Unity-Technologies/ml-agents/pull/1996

[2019-04-30 17:39] #1410 closed

[2019-04-30 17:39] xiaomaogy commented on #1024
We've updated the doc that explain this in more details. https://github.com/Unity-Technologies/ml-agents/pull/1996

[2019-04-30 17:40] xiaomaogy commented on #631
We've updated our doc to explain this issue in more details. https://github.com/Unity-Technologies/ml-agents/pull/1996

[2019-05-01 10:45] FelipGC opened #2002 "Tensorflow 1.7.1 incompatible"
Hello there,
i followed the guide line on how to install mlagents on windows, but i cant get it to work using tensorflow 1.7.1.

I am using python 3.6 and "pip install tensorflow==1.7.1" and "pip install mlagents" worked fine in the console.
However, when trying to run "mlagents-learn" (or import tensorflow via python) i get the following error:
![tsf2](https://user-images.githubusercontent.com/38

[2019-05-01 10:52] FelipGC commented on #1964
I am experiencing similar issues, did you find a solution @PrintAlot?

[2019-05-01 14:34] Irekter opened #2004 "NN model not created when agent trained with --env"
Hey,
I am using conda for ML-agents.
Whenever I reference a path in --envs and set multiple environments, the agent get trained but the model never gets saved in file. But training in the unity editor using the standard method successfully saves the model to file.

Am iI doing something wrong? Please help me out! Thanks

[2019-05-02 08:18] Dreadnut93 commented on #1992
Hi @unityjeffrey, is there a deadline for the task? I would do it gladly, but it may take some time.

[2019-05-02 10:38] PrintAlot commented on #1964
no tensorflow-GPU but I have tried the tensorflow-GPU install just in case in help but I had no luck (same outcome) I have also how to install on another p.c and am getting the same results so it's most likely something I'm doing or misunderstanding in the install or setup process. it's getting rather frustrating.

@FelipGC no still no solution :-(

[2019-05-02 10:51] PrintAlot commented on #1964
Do you have a video guide to install and set up for dummies? Because this is making me feel so thick

[2019-05-02 14:38] unityjeffrey commented on #1992
hi @Dreadnut93 - no deadline.  happy to write it up for you as well.  let me know.  thanks!

[2019-05-02 17:53] xiaomaogy commented on #1964
@PrintAlot This seems to be a tensorflow related issue. https://github.com/tensorflow/tensorflow/issues/9469.

My suggestion would be not use the tensorflow-gpu version and not deal with the cuda stuff, if you don't know how to use it.

I'm going to close the issue for now since it is not related to our code.

[2019-05-02 17:53] #1964 closed

[2019-05-03 10:04] antonio1234567891011 commented on #1990
Thanks guys @harperj  @MarcoMeter

[2019-05-03 14:39] PrintAlot commented on #1964
but I was not using tensorflow-gpu version on either of my p.c's.
Thank you for trying to help anyway.

[2019-05-03 19:50] wralenezi opened #2005 "Preprocess Visual Observational Model or Modify Models"
Hi awesome people!,

I was wondering if there is way to create my own "visual" observation without using a camera. For example, to create an abstraction of the scene using a 2D array with info I find relevant to the agent.

Also, Is there a way to modify the training model? For example, to change the observation vector to 2D and add conv layers to the default model.

I would be happy to clarify if

[2019-05-04 01:29] dracolytch opened #2006 "Inference issue: Multiple instances exact same action with observations"
Hey folks, had a fairly nasty issue come up:

In inference mode, but not in training mode, when I'm using an observation, if I have multiple environments which use the same brain, they all act in unison (even though their environment states are different). Each has their own camera or render texture, but one seems to act as a "master" and all agents do the same thing. If I use separate brains with

[2019-05-04 02:22] dracolytch commented on #2005
You can write your data to a RenderTexture, and then feed that data into the neural network. As for changing the training model, absolutely. You can find the existing trainers here:
https://github.com/Unity-Technologies/ml-agents/tree/master/ml-agents/mlagents/trainers

[2019-05-04 06:37] #1990 closed

[2019-05-04 16:59] wralenezi commented on #2005
Thank you for the prompt reply.

I tried using a RenderTexture, but the brain only accepts Camera objects as input. I was hoping to modify the camera data directly and connect it to the brain.

[2019-05-04 17:19] awjuliani commented on #2005
@wralenezi

As of ML-Agents v0.8 it is possible to use render textures. https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agents.md#multiple-visual-observations

[2019-05-04 17:23] wralenezi commented on #2005
Thank you, @awjuliani

Would it be possible if you could also point me to any documentation to modify the existing trainers?

[2019-05-04 19:40] moonsh opened #2007 "Cumulative Reward suddenly dropped significantly."
![image](https://user-images.githubusercontent.com/13994270/57184004-a421e780-6e82-11e9-9a71-d33a47462acb.png)

I didn't change anything during the training but the cumulative reward was suddenly dropped.

Could you tell me what problems cause this?

Thank you,

[2019-05-05 00:11] wralenezi commented on #2005
I also noticed that RenderTexture is used with a camera. I was hoping for a way not to include a camera at all. So I can use my own representation.

[2019-05-05 03:22] dracolytch commented on #2005
You should be able to draw to a RenderTexture, something like in this thread:
https://gamedev.stackexchange.com/questions/98632/drawing-a-pixel-to-rendertexture

That said: I don't think there's much difference then between passing an image versus collecting the data in an observation, other than you might lose some fidelity by going through the image transformation process.

[2019-05-05 08:58] seaswander commented on #1992
To see the computation graph, I initialized summary_writer as :
`self.summary_writer = tf.summary.FileWriter(self.summary_path, self.policy.sess.graph)`

[2019-05-05 19:26] wralenezi commented on #2005
Thanks @dracolytch
I agree it is way easier to pass the data immediately. However, I don't know how to change the trainer architecture so I can ad con layers.

[2019-05-05 23:58] dracolytch commented on #2007
That's pretty unusual, and also unusual is that it looks like it's right at the 500,000 steps mark. Can you tell more about the problem/config? Are you using an academy or similar?

[2019-05-06 01:12] moonsh commented on #2007
@dracolytch Thank you for the response. I already handled this issue. After I normalized the input? (I turned the normalization on)  it becomes fine.  However, I can't understand this.

[2019-05-06 08:59] edthink opened #2008 "Integrating heuristic and learning brains"
I am looking to develop an agent that integrates both heuristic and learning brains. The heuristic brain would control aspects of locomotion (e.g. speed), and the learning brain would control navigation (e.g. direction). However, I am not clear whether this is possible. Within the Unity interface only one brain can be specified per agent, and I am unable to find an interface for passing observatio

[2019-05-06 11:58] decoybitch commented on #1826
Hello,
I again tried converting my mobilenet ssd model to barracuda form but it was throwing the same error. I read in some issue that Mobilenet + SSD is not supported as of now. Please add support for it soon as I am running against a deadline. My sincerest thanks to you.

[2019-05-06 15:39] brianbrown3 commented on #1940
I'm having the same issue with 0.8.1 but without using conda. Is there any updates on this or possible workaround?

[2019-05-06 23:04] ervteng commented on #2008
Hi @edthink, this should be possible, and there are several ways to do it. You could, for instance, add two agents to your GameObject - one that controls locomotion and one that controls navigation. Then, the navigation agent uses the vectorObs, while adding its instructions (e.g. go forward, go left) as observations to the locomotion agent. Or your approach within AgentAction should work as well.

[2019-05-07 04:41] dheerajemilence opened #2009 "How to train ML Agents for chess like game"
Hi,
I am new to ml agents , i have made a turn based chess like game in which i am using minimax algorithm with alpha beta pruning for AI. I dont know how to use Ml Agents for my purpose , kindly help me with the procedure or script .

[2019-05-07 06:01] edthink commented on #2008
Thanks @ervteng, it's good to know I'm not completely off-track. You're right that in this case the heuristic rules can be coded rather than put into a brain structure. I will have a look at the option of adding two agents to a GameObject.

I do still wonder if the solution would be tidier if two or more sets of rules (learnt or coded) could be combined within a single brain 'superstructure' (perh

[2019-05-07 06:01] #2008 closed

[2019-05-07 08:30] roboserg commented on #2009
I'd recommend starting with Tic tack toe and Go from there

[2019-05-07 09:47] dheerajemilence commented on #2009
@roboserg  from where i can get that tic tack toe tutorial.

[2019-05-07 10:10] seaswander opened #2010 "About evaluate and update method"
I found that evaluate and update methods are not called equally in different scenes.
In 3DBallHard,
Evaluate Count: 1001, Update Count: 0
Evaluate Count: 2001, Update Count: 30
Evaluate Count: 3001, Update Count: 60
...
In 3DBall,
Evaluate Count: 1001, Update Count: 0
Evaluate Count: 2001, Update Count: 3003
Evaluate Count: 3001, Update Count: 6003
...
Why is update called so differently? I notice

[2019-05-07 11:55] decoybitch opened #2011 "Problem in converting mobilenet ssd model to barracuda form"

[2019-05-07 12:11] decoybitch commented on #2011
Hello, I am trying to convert my custom trained mobilenet ssd object detection model to barracuda compatible format using tensorflow_to_barracuda.py but I am getting the error:
[tensors[0].data[0], 1, 1, tensors[0].data[1]]
IndexError: index 1 is out of bounds for axis 0 with size 1

I read in one such issue that mobilenet + ssd as of now is not supported and you have added it to your list. I woul

[2019-05-07 14:35] duc947 opened #2012 "Agent.RequestDecision() not work"
Hi,I am new to ml agents , i have made a turn based chess game. Now I want to call agent to decide the move of pc's move. How to do it? I try this but it do not work
`void Update()
    {
        UpdateSelection();
        //AI should be blue player
        if (!isRedTurn)
        {
            /
            Agent.RequestDecision();
        }else
        {
            //human_move
        }
    }`

[2019-05-07 16:37] singular-niche commented on #1898
one way to solve this issue:

1. in Project window, go to Assets > ML-Agents > Scripts.
2. select the HeuristicBrain, LearningBrain or PlayerBrain script.
3. assign the corresponding gizmo to the script as explained here: https://docs.unity3d.com/Manual/AssigningIcons.html.
4. save and restart Unity Editor.

hope this helps!

[2019-05-07 17:19] oseq commented on #1985
I have the same problem after migration to v0.81. In 0.6 version models were not .nn files, now i cannot choose model or drag it even on freshly created (after migration) brain :)

[2019-05-07 17:34] oseq commented on #1919
Guys can you explain me why  removing the ENABLE_TENSORFLOW flag could possibly help in this scenario? I have very simmilar issue after migration to version 0.81 and i cant find any  references to this change (models saved not in .bytes but in .nn) in documentation.

[2019-05-07 17:36] franvf opened #2013 "Doubt about brains and agents."
Hi, i don't know if the same agent can have two brains.
The problem is that i need one brain continuous for moving and one brain discrete for shooting or not shooting.
How can i don?
THX.

[2019-05-07 17:36] oseq commented on #1918
I have same issue. What is the solution?

[2019-05-07 17:44] oseq commented on #1873
@lintongoxbotica  so how did you solve the problem? I Have simmilar after migration from v0.6 to v0.81. I pulled lastest version from git hub so dont know what migh cause this problem. How i can check version of SDK i am using?

[2019-05-07 18:07] ervteng commented on #2010
Hi @seaswander, neither 3DBall nor 3DBallHard requires curiosity - you can turn it off and 3DBall should still learn. The update count and evaluate count are probably differing because of the vastly different batch sizes for both of these. So for a fixed buffer size, one will perform many more (smaller) updates than the other.

Where are you seeing this output? Is it on the ml-agents CLI?

[2019-05-07 18:10] ervteng commented on #2011
Hi Pragya, adding @mantasp to this issue, who is our Barracuda expert.

[2019-05-07 18:14] ervteng commented on #2012
Hi @duc947, are you using a Learning Brain or Player Brain? Is Python running in a terminal as well? You are correct, RequestDecision() should call AgentAction(), but it needs to pass the observations off to somewhere before making this decision.

[2019-05-07 18:16] ervteng commented on #2013
Without some re-writing, the Agent class only supports one brain. You can have multiple Agents on one GameObject, however, and do multiple brains that way. You can also have a single continuous brain with thresholds on some of the actions to make them discrete (this is probably the easiest, e.g. if channel 0 is below 0.5 then don't shoot, else shoot).