[2019-07-29 21:15] FlimFlamm commented on #2335
everything is set up, so all you need to do is open the SDK folder from the unity hub, and then initiate training with "mlagents-learn config\trainer_config.yaml --train" from the ml-agents root

[2019-07-29 22:47] MHDante commented on #2253
Was still happening in 0.8.1. I will test in 0.8.2 next week.

[2019-07-29 23:01] Guidosalimbeni commented on #2354
Thank you.
So if I not set --slow it will run at the speed set in the Inference configuration, even when it is training. Am I correct?

[2019-07-30 01:33] TheDozMan commented on #2321
It might be something really simple like accidentally feeding in the x and y parameters rather than **x and z** into AddVectorObs(....)

If you did such a thing you would get movement on one axis but not the other.

[2019-07-30 04:56] faizanophobia opened #2363 "Kernel TextureToTensor is missing MLAgents"
Hey there,
I am trying implement my pre trained tensorflow model into unity for object detection.I used the https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Plugins/Barracuda.Core/Barracuda.md method for conversion.
I am using .nn model now with a .txt file.
But it throws this error
**ArgumentException: Kernel TextureToTensor is missing
Barracuda.ComputeFunc..c

[2019-07-30 04:58] Deepak-HpyAda commented on #2363
I have the same issue

https://github.com/Unity-Technologies/ml-agents/issues/2337

[2019-07-30 05:24] manmeetsingh0013 commented on #2355
Thanks for reply. I just want to tell you that i am taking the reference of the pyramid scene. i m using the same Raycast and decreasing the reward after the steps like this : AddReward(-1f / agentParameters.maxStep) and also moving the car as per pyramid reference. could you please give the explanation that how how many rays require to detect the left and right walls

[2019-07-30 06:25] manmeetsingh0013 commented on #1660
Hi @cidelab,
I am also trying do the same and having the same issue did get any lead on it?
Thanks,
Manmeet Singh

[2019-07-30 07:04] RunSwimFlyRich commented on #2350
Will do. Just experimenting with whether it's best to supply body part velocities relative to the direction to the target or the body forward vector and then I'll make a pull request. In addition to the default training scene I'm also trialing the crawlers with my own spline following code.

[2019-07-30 07:21] HanwGeek opened #2364 "[RLlib] Train in clusters."
We custom a `UnityEnv` to run our RL algorithm in a cluster of 8 machine. In our case, we use lib [ray](https://github.com/ray-project/ray) to setup and manage the cluster. However, when we run the `train.py`, the log outputs are as follows:
[code]
I want to know whether ml-agents can be trained and deployed in cluster.

[2019-07-30 08:49] Guidosalimbeni opened #2365 "Suggestions - Hints - Developing a Scene for Inference"
**Questions**

1.  Can you recommend some best practices to develop a scene in Unity for inference?
2. Is the Agent resetting also when it is in inference mode (is reset on done called also in inference mode)?
3. can I simply set an if statement in the action call, to not perform any action if the goal is reached and tell the agent to stay in place?

**My task**

- I need to stop the agent to perf

[2019-07-30 09:11] the-zer07 commented on #2321
It doesn't works....
But the same code using mlagents 0.5.0 it works, I don't know if there is a bug in the newer version

[2019-07-30 13:55] MentalGear commented on #2353
Hi @harperj & thanks for the answer !
I think I understand now:
The Reward metric fluctuates as the training environment also fluctuates, but in general, the reward metric should increase when viewed over several steps statments, right ?

Also, when stopping the training (unsing CMD & C) the model current status is saved, not just at the last checkpoint, correct ?

[2019-07-30 15:42] gameanimation3d opened #2368 "capturing custom statistic for agent actions while training?"
Is it possible to write out custom values for agent action statistic in tensorboard or in a csv way out of unity.
For example to see how often the Agent hit a wall or the ball has flown over net relative the reward.
This would allow for better diagnoising and debugging the training over graphs.
Writing out an csv and counting the values while training for every training instance isn't a problem.

[2019-07-30 17:36] harperj commented on #2353
There's no guarantee the reward metric will continue to increase over time, but that's certainly the goal of the update steps.

RE: CMD+C that's correct.  We save the model at the current step when you press CMD+C.

[2019-07-30 19:32] LOYOJO990618 opened #2370 "Bad Training Performance"
I develop my training scene based on the tutorial guide of hitting-goal AI on github. And what I want to do is to make a block moving to its target position automatically. The agent will get its reward +1 only when the distance between its position and target's position is less than 0.1f.
I think its a really simple training but it seems the result isn't good...The mean reward is about 0.01 for ab

[2019-07-30 19:35] LOYOJO990618 commented on #2109
<

I solve this by setting the maximum step finally...

[2019-07-30 22:05] harperj commented on #2358
Hi @Guidosalimbeni -- we have limited ability to speculate on custom environments.  That said, the agents should be seeded using the same seed so initially it's very possible they will take similar actions.  The models we use inherently include random behavior, so you could say that is built in.

I'm not sure I can categorize the issue you're having, so I'm not sure how OnDecision would help.

[2019-07-30 22:06] harperj commented on #2359
Hi @Guidosalimbeni -- it would be helpful for us if you could fill out the bug report from the issue template.  You can see the form including the bug report template here: https://github.com/Unity-Technologies/ml-agents/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2019-07-30 22:08] harperj commented on #2364
Hi @HanwGeek -- you should be able to use ML-Agents within a Ray cluster / with RLLib.  Unfortunately I can't give much advice on the best way to do so at this time.  You can look at the Ray logs or the [Unity Player logs](https://docs.unity3d.com/Manual//LogFiles.html) on the workers to try to find out more specifically why your connection is failing.

[2019-07-30 22:10] harperj commented on #2365
Hi @Guidosalimbeni --

1) You shouldn't need anything extra in your scene other than the .nn model file and the same scene setup you used for training.

2) Yes, the agent will reset on done if this is set during inference mode.

3) Sure, you can do this.

[2019-07-30 22:11] harperj commented on #2368
Hi @gameanimation3d -- unfortunately we don't have any function for adding custom stats within ML-Agents at this time.  I think this is a good suggestion for the future and we'd welcome the contribution if you end up adding this functionality.

[2019-07-30 22:15] harperj commented on #2164
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:15] #2164 closed

[2019-07-30 22:15] harperj commented on #2168
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:15] #2168 closed

[2019-07-30 22:15] harperj commented on #2029
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:15] #2029 closed

[2019-07-30 22:16] harperj commented on #2036
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:16] #2036 closed

[2019-07-30 22:16] harperj commented on #2038
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:16] #2038 closed

[2019-07-30 22:16] harperj commented on #1940
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:16] #1940 closed

[2019-07-30 22:17] harperj commented on #2183
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:17] #2183 closed

[2019-07-30 22:17] harperj commented on #2185
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:17] #2185 closed

[2019-07-30 22:17] harperj commented on #2162
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:17] #2162 closed

[2019-07-30 22:17] harperj commented on #2153
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:18] harperj commented on #2134
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:18] #2134 closed

[2019-07-30 22:18] harperj commented on #2182
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:18] #2182 closed

[2019-07-30 22:18] harperj commented on #2175
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:18] #2175 closed

[2019-07-30 22:18] harperj commented on #2145
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:18] #2145 closed

[2019-07-30 22:19] harperj commented on #2156
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:19] #2156 closed

[2019-07-30 22:19] harperj commented on #2193
Hi all -- this issue has been inactive for some time so I'm going to close it.  Feel free to reopen or create a new issue if you have more to discuss.

[2019-07-30 22:19] #2193 closed

[2019-07-30 22:28] harperj commented on #2354
@Guidosalimbeni No -- if you don't set `--slow` it will always use the _training_ configuration.

[2019-07-30 22:33] harperj commented on #2342
Hi @gzrjzcx -- I'm not totally sure what you mean by `reset the buffer size` exactly -- but here's an example of what I mean:

Buffer size is 1024
Average episode length is 512 steps.
Time horizon is 64 steps.
1 agent -- ~2 full episodes per buffer (1 agent, 2 episodes)
2 agents -- ~2 full episodes per buffer (2 agents, 1 episode each)
4 agents -- ~ 4 half episodes per buffer (2 agents, 0.5 episod

[2019-07-30 23:33] gzrjzcx commented on #2342
Hi, @harperj
In terms of your example, the time horizon is 64 steps means every 64 steps the observations of these 64 steps are collected to the buffer right?
Then in the 4 agents case, 4 agents generate observations in the same time, then once the buffer is full each agent only contributes 0.5 episode right?
If it is, then is it should be:
4 agents -- ~ 4 half episodes per buffer (**4** agents, 0

[2019-07-30 23:41] harperj commented on #2342
@gzrjzcx -- you're correct, it should be 4 agents with 0.5 episode each.  I would agree that in that case it's probably best to increase your buffer size so that you are seeing experiences from all parts of an episode, though you can really only determine the best parameters via exploration :-)

[2019-07-30 23:53] gzrjzcx commented on #2342
Thanks @harperj , clear now!

So sorry to disturb you again.
The PPO algorithm employs neural network to parameterize the policy and does the policy gradient right? Is is possible to know the specific structure of the network? For example, as for the DQN, it is consisted of several convolution networks plus a fully connected layer.
I am not familiar with the TensorFlow, and I have checked the sour

[2019-07-31 00:13] harperj commented on #2342
Hi @gzrjzcx -- unfortunately the code is the only full reference for the model at this time.  To your specific question, the `use_recurrent` method adds an LSTM after the input / observation encoding (CNN in the case of camera observations).  I think what you've described with DQRN should be similar to this approach.  With PPO we have both the policy and value network, which will have their own LS

[2019-07-31 02:18] HanwGeek commented on #2364
I check the log but there is only one line showed below:
[code]
By the way, I train my model on Ubuntu server without GUI.

[2019-07-31 05:08] harperj commented on #2364
Yep, looks like you're running into the issue that Unity requires xserver to render on Linux.  You have a couple of options.

First off, if you're using only vector observations (no visual), you can use the "no graphics" mode to avoid the need for xserver.  Alternatively, you can use xvfb to perform CPU rendering of your visual observations.  If you're using the ML-Agents gym wrapper this is an op

[2019-07-31 05:31] rash1994 commented on #1389
Does the barracuda conversion possible now ? I am facing difficulty in conversion of tensorflow 1.13.1 to .nn.

[2019-07-31 05:40] HanwGeek commented on #2364
I already set the `no_graphic=True` at the first time. But it seems didn't work. Please tell me how to use a GPU to do the trick? Thanks a lot!

[2019-07-31 05:46] harperj commented on #2364
Hmm, `no_graphics` should have worked.  If you aren't using visual observations I'd highly recommend giving that another try (and reporting back if there are any other errors).  That said, if you want to try to set up XServer we don't have a general guide but this might help: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md#set-up-xserver

I am not sure

[2019-07-31 05:50] HanwGeek commented on #2364
When I train the agent alone, it worked very well. But when I train it in the cluster in `ray` lib by UCB, it comes out the `took too long to respond` problem. I think it maybe a process communication problem.

[2019-07-31 05:53] harperj commented on #2364
@HanwGeek There is no change in the communication itself when you use `no_graphics` -- I'd recommend trying it again and looking into the logs to see what went wrong.

[2019-07-31 06:12] HanwGeek commented on #2364
@harperj It seems no log at ~/.config/unity3d/company/product/. Where can I see logs?

[2019-07-31 09:22] faizanophobia commented on #2363
Thanks for replying.
Which model did you deploy for training your data?
**As the Mobilenet+SSD is currently not supported by inference engine.**
I tried with a different model as well but the same error persists though!

[2019-07-31 13:53] RunSwimFlyRich commented on #2350
I believe I've opened a pull request though as this is my first one I'm not quite sure: https://github.com/RunSwimFlyRich/ml-agents/pull/1
There's a button there to "Merge pull request" with the base branch but seeing as I'm not entirely sure what I'm doing I thought it better not to press it just yet.

[2019-07-31 17:59] harperj commented on #2364
Sorry @HanwGeek -- I'm not sure.  This might depend on your setup and what component of the system failed.  Unfortunately I'm unable to help much with how ML-Agents is used with external tools.

[2019-07-31 18:01] harperj commented on #2355
How many rays you need to effectively detect walls depends a bit on your environment setup.  One thing I can suggest is to add a small positive reward for getting closer to the goal if it is something you're able to do.  The Pyramids scene is a particularly hard scene to solve particularly because it only gives rewards _after_ solving a complex task rather than giving small incremental rewards for

[2019-07-31 19:01] tatolevicz commented on #2357
Hey @ScriptBono I think you can do a little trick that is to increase the number of steps in the trainer_config.yaml of that brain and keep training from there.

[2019-07-31 19:41] EnthusedDragon commented on #2109
I am also experiencing the same problem.
Even while only calling Done() in the AgentAction.

The Resest is clearly triggered, but it keeps on logging No episode was completed since last summary

[2019-07-31 19:44] nikola-j commented on #2153
Hi @harperj, I know it has been inactive, but shouldn't it be closed once the bug is fixed? Or do you guys use something internal to track issues?

[2019-07-31 21:31] rajatpaliwal opened #2375 "How to perform imitation learning using player and student brain ?"
In my custom made environment I have mapped the agent movement to keyboard keys . I want to use the broadcast feature to collect data generated by Player Brain game sessions and use this data to train an agent in a supervised context. Can some provide me the steps to perform above mentioned action?

[2019-07-31 21:33] awjuliani commented on #2375
Hi @rajatpaliwal

It sounds like you'd like to do online imitation learning. We have documentation on this here: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-Imitation-Learning.md#online-training

Please let us know i this works for you.

[2019-07-31 21:39] rajatpaliwal commented on #2375
Thanks @awjuliani  for such prompt reply. I have two question -
1) To implement this method do  I need to create two separate agents map them separately to the teacher and student brain?
2). While creating the agent do I need to setup reward for the agent or the simple mapping of the agent action to the keyboard buttons will do the job?

[2019-07-31 22:02] mantasp commented on #2363
@faizanophobia how did you integrate Barracuda into your project? And what platform are you targeting?

[2019-07-31 22:08] mantasp commented on #2337
How did you integrate Barracuda in your project? And what platform are you targeting?

[2019-07-31 22:11] mantasp commented on #2336
CC: @rejunity

[2019-07-31 22:16] mantasp commented on #2281
@stefanpantic we will use it as input for our roadmap planning, but I yet don't have specific timeframes when it could be actually implement.

[2019-07-31 23:17] awjuliani commented on #2375
Hi @rajatpaliwal

In this case you would use two separate agents with separate brains. You don't need to set up rewards, if you only plan to use imitation learning.

As a note, you can check out the "BananaIL" scene which demonstrates online imitation learning: https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Examples/BananaCollectors/Scenes/BananaIL.unity

[2019-07-31 23:25] rajatpaliwal commented on #2375
Thanks @awjuliani . Much appreciate your suggestions.

[2019-08-01 01:26] unnamed7 opened #2378 "Academy.EnviromentStep() : reset called too many times."
I think this bug is related to several others reported here. I think I've found the cause.

Symptoms :
AgentReset() is called at wrong timing and/or too many times.
Episode Length is often wrong when maxCount is set to not 0.
Lots of troubles when working with OnDemandDecision including no episode messages in the console, etc.

These are happening because at the Academy.EnviromentStep() method, wh

[2019-08-01 01:35] unnamed7 commented on #2253
Try commenting out ForcedFullReset() in Academy, around line number 590.
This eliminates the trouble, although I am not totally sure this is the proper way to fix.

https://github.com/Unity-Technologies/ml-agents/issues/2378

[2019-08-01 02:14] HanwGeek commented on #2364
That's OK. I think it might be a complex problem with muti-libs which is hard to fix.

[2019-08-01 04:14] #2337 closed

[2019-08-01 05:44] manmeetsingh0013 commented on #2355
Thank for the reply @harperj . I really appreciate your feedback.

[2019-08-01 06:19] faizanophobia commented on #2363
Hi @mantasp I have cloned the github file from the link provided by Unity i.e.https://github.com/Unity-Technologies/ml-agents
Also I got my code by referring to the **LearningBrain** script available in the examples bundle. I am trying to access webcam input and using the nn model along with a labels TextFile using the  **model** & **worker** API from https://github.com/Unity-Technologies/ml-agent

[2019-08-01 07:41] manmeetsingh0013 commented on #2355
I have one more question it would be great if you can give some input on it. suppose first time learning process it created .nn model and for second time learning if are using same run id will it be taking some learning inputs from 1st .nn model?  hope you get my question.
Thanks,

[2019-08-01 17:53] awjuliani commented on #2378
Hello @unnamed7

Thank you for bringing this to our attention. We will take a look at it and try to better understand the issue.

[2019-08-01 19:02] EnthusedDragon opened #2379 "When is nn optomized"
Describe what you'd like to discuss.

**Note**: The ML-Agents team has limited resources for education and community discussion.  We'll participate as we are able, but encourage members of the community to support one another to discuss and support one another.

[2019-08-01 20:46] awjuliani commented on #2379
Hi @EnthusedDragon

Can you please provide detail in your issue? It seems that you simply copied the template without changing anything.

[2019-08-01 21:44] harperj commented on #2153
Hi @nikola-j -- thanks for the comment.  It was a mistake on my part to close this issue, we will keep it open until the bug is fixed and I'll also make sure it's captured on our internal bug tracker.

[2019-08-01 22:06] EnthusedDragon commented on #2379
Hey,
I must have accidentally clicked submit.

I found my answer. :)

[2019-08-01 22:06] #2379 closed

[2019-08-02 05:29] hanseoup opened #2382 "Can I change brain's model in script(rumtime)?"
Describe what you'd like to discuss.

**Note**: The ML-Agents team has limited resources for education and community discussion.  We'll participate as we are able, but encourage members of the community to support one another to discuss and support one another.

![image](https://user-images.githubusercontent.com/53593292/62346100-d1d50600-b52f-11e9-9fe3-0763e450da9b.png)

I want to make a my custo

[2019-08-02 09:52] stefanpantic commented on #2203
Bumping this

[2019-08-02 14:34] Sid911 opened #2383 "Windows Installation Guide"
I am not sure but is there a tensorflow version specific problem while installing ml-agents in windows. Because I already have **tensorflow 1.13.1** with **python 3.7**, and **Cuda 10.0.1** in my conda environment.

Is that a problem? or do I specifically need python 3.6 with compatible tensorflow version? I am not sure because the guide doesn't tell if that's a thing. As far as I know this should

[2019-08-02 14:43] LedStarr commented on #1973
Hey, just wanted to know how serious you are considering this? I am working on a Project that needs to implement Mobilenet+SSD till the end of year for a Demo. Should I wait for the next release or should I make it work with the older TensorFlowSharp Plugin? I just need Object Detection in a WebCam and Baracuda would make it quite simple.

[2019-08-02 14:47] Sid911 commented on #2383
oh sorry it specifically says 1.7.1 I will close this issue now

[2019-08-02 14:47] #2383 closed

[2019-08-02 22:07] rajatpaliwal commented on #2375
Hi @awjuliani
I am trying to perform imitation learning in my custom made environment. But, I am not able to edit the discrete inputs for my actions in player brain.
Any thoughts.

[2019-08-02 22:23] rajatpaliwal commented on #2375
Sorry for the bother @awjuliani . It was some problem with my Unity . Restarting the project solved it.

[2019-08-02 23:07] rajatpaliwal commented on #2375
Hi @awjuliani ,
While trying to perform online imitation learning in my custom made environment, as I give training command (" mlagents-learn config/online_bc_config.yaml --train --slow") in the command prompt it prompts me to press the play button. Since my environment is heavy it takes some time to start after pressing the play button , in the meantime command prompt gives me the error" The Unit

[2019-08-03 16:39] Berenice2018 commented on #2066
Hello @vincentpierre ,
I am also getting this error message:
`command not found: mlagents-learn`

I have just installed ML Agents and restarted the Terminal, I am on MacOS Mojave.
After `pip3 show mlagents` , the following is printed:
`administrator ~ $ pip3 mlagents-learn --help
ERROR: unknown command "mlagents-learn"
administrator ~ $ pip3 show mlagents
Name: mlagents
Version: 0.9.0
Summary: Uni

[2019-08-03 17:34] brandonhotdog opened #2385 "Sudden drop in CPU usage with intense increase in disk operations"
After running the ml-agents command and letting it train for at least an hour I find that at some random point the trainer will drop largely in CPU to a small constant value while the disk operations and disk usage rise to an intensely high value.

During this phase the time between summary reports on the trainer are significantly longer than normal.

When I press ctrl+c to stop it, it spits out s

[2019-08-03 20:42] brandonhotdog commented on #2385
INFO:mlagents.envs:Saved Model
INFO:mlagents.trainers:List of nodes to export for brain :Fighter
INFO:mlagents.trainers: is_continuous_control
INFO:mlagents.trainers: version_number
INFO:mlagents.trainers: memory_size
INFO:mlagents.trainers: action_output_shape
INFO:mlagents.trainers: action
INFO:mlagents.trainers: action_probs
INFO:mlagents.trainers: value_estimate
INFO:tensorflow:Restoring param

[2019-08-04 10:25] MikeWise2718 commented on #1842
I am now using "mlagentprogram -nographics -batchmode" to run things on a non-GPU DSVM on Azure.

[2019-08-04 10:31] MikeWise2718 opened #2386 "Azure and Headless Linux Builds"
Documentation bug:

 the using ml-agents on Azure asks you to build a linux exe with headless mode checked, but that was removed in 2018.3.

You now need to simply start the build using the **-nographics** and **-batchmode** flag.

link: [ml-agents on Azure](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-on-Microsoft-Azure.md)

The doc should cover this, it takes awhile

[2019-08-04 10:38] brandonhotdog commented on #2386
Alternatively you can specify "--no-graphics" as an option to the ml-agents command. But yeah that should be put into the Azure docs.

[2019-08-04 13:00] gzrjzcx commented on #2382
Same problem.
What I do now is creating more brains to load different models.

[2019-08-04 14:40] gzrjzcx opened #2387 "How to observe velocity?"
Hi there,
I am training an agent to finish a stack task like the image:
<img width="479" alt="屏幕快照 2019-08-04 下午3 28 43" src="https://user-images.githubusercontent.com/33338567/62424869-b2271480-b6cc-11e9-8cd3-4a33b855bd57.png">

After several attempts, the model is able to stack the block to some extent. However, it is not accurate, although the cumulative reward reached 0.8(scaled to 1). It look

[2019-08-04 15:21] AidinD opened #2388 "RayPerception2D returns 0 observations"
**Describe the bug**
RayPerception2D returns 0 observations.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a RayPerception2D component to the agent
2. Use rayperception.Perceive in your agent script

Expected:
Number of observations to return be rayAngles*(2 + detectableTargets)

Actual:
Number of observations returned = 0

Vector observation size mismatch ... received 0

**Environment

[2019-08-05 04:29] narayan907 commented on #2149
Hello, @ervteng  i am working on a similar game of bubble shooter can u help me, i want to know how you are taking visual observation and whether you are using two cameras for block of bubbles and the shooting bubble.
Thanks

[2019-08-05 06:46] cgiles commented on #2387
Velocity is equal to distance/time, so if you do position(t)-position(t-1) t being the instant, you will get your velocity at this instant. You should store your previous position, then subtract it to your actual position, and you will get your velocity.

[2019-08-05 07:06] superjayman opened #2389 "Training Using Concurrent Unity Instances On Local Network?"
Is it possible to run these Instances on different computers over network? can I train a single brain using multiple computers? Cheers.

[2019-08-05 09:25] MikeWise2718 commented on #2386
Err, yeah, that is actually what I did. The other options are for running the command line version of unity directly, as opposed to letting the python wrapper do it.

[2019-08-05 11:12] stefanpantic opened #2390 "[Barracuda]UnboundLocalError: local variable 'data' referenced before assignment"
**Describe the bug**
When I try to convert a TF model to Bararcuda I get the following error
[code]
regarding the ```mean``` and ```epsilon``` variables in ```BatchNormalization```.

**To Reproduce**
Standalone script required for reproducing the bug.

[code]

**Environment (please complete the following information):**
I am currently using a ```conda``` environment with the following libraries in

[2019-08-05 11:14] stefanpantic commented on #2390
The provided script will create a frozen.pb frozen graph file that should then be converted to Barracuda using ```tensorflow_to_barracuda.py```

[2019-08-05 14:35] hfnvbh commented on #2224
What about my issue? I have no BatchMultiClassNonMaxSuppression and passed converting  after fix in converter code.

[2019-08-05 14:55] Peng2017 opened #2391 "Batcher.cs Exception"
**Describe the bug**
NullReferenceException: Object reference not set to an instance of an object
MLAgents.Batcher.SendAcademyParameters (MLAgents.CommunicatorObjects.UnityRLInitializationOutput academyParameters) (at Assets/ML-Agents/Scripts/Batcher.cs:96)
MLAgents.Academy.InitializeEnvironment () (at Assets/ML-Agents/Scripts/Academy.cs:345)
MLAgents.Academy.Awake () (at Assets/ML-Agents/Scripts/

[2019-08-05 15:21] unityjeffrey commented on #2386
thanks @MikeWise2718 for catching this. would you be open to updating the document on the develop branch and opening a PR?  https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-on-Microsoft-Azure.md document?

[2019-08-05 16:31] itisyeetimetoday opened #2392 "Tutorial for maze solver/self driving car simulation"
Does anyone have a tutorial on how to set up from scratch a similar project to this https://flyyufelix.github.io/2018/09/11/donkey-rl-simulation.html, except the car, uses raycast for navigation and it's goal is to go the next checkpoint, in which it receives a higher reward for, but a decreased reward depending on how it takes? I can add more detail if you guys are still confused about. However,

[2019-08-05 17:53] harperj commented on #2355
Hi @manmeetsingh0013 -- if you are using the same run-id and want to continue training with the same model you'd currently need to use the `--load` flag to `mlagents-learn`

[2019-08-05 20:15] awjuliani commented on #2382
Hi @hanseoup

It is possible to change the model. You will need to access the brain object, and change the model property. This is not an officially documented part of ML-Agents, but there is nothing which prevents this. I would however suggest that the simpler method is to use multiple brains with different models, and switch them that way, as each brain is meant to correspond to a specific behav

[2019-08-05 20:16] awjuliani commented on #2385
Hello, @brandonhotdog

This is a known issue with the v0.9 release. Can you confirm which version of ML-Agents you are using?

[2019-08-05 20:17] awjuliani commented on #2387
Hi @gzrjzcx,

As @cgiles mentions, I would recommend calculating it directly using differences between positions, and then passing those variables as observations to the agent.

[2019-08-05 20:20] awjuliani commented on #2388
Hi @AidinD

Just to confirm, when you use the 2D ray perception, you don't pass those additional two zero float values, correct?

[2019-08-05 20:22] awjuliani commented on #2389
Hello @superjayman

What you are asking about is typically referred to as distributed training, and is currently not possible with ML-Agents. We do allow for training from multiple instances of Unity on a single machine however, which provides similar benefits, albeit at a smaller scale.

[2019-08-05 20:24] awjuliani commented on #2391
Hi @Peng2017

Can you give a little more context about under what situation you are using ML-Agents? Are you attempting to perform training, or inference? Have you walked through the getting started tutorial before?

[2019-08-05 20:24] AidinD commented on #2388
Oh dear...my bad as I was actually sending in those two additional values... Thanks for pointing that out.
But why isn't it giving me an error saying it can't find an overloaded method for those parameters?

[2019-08-05 20:26] awjuliani commented on #2392
Hello @itisyeetimetoday

This project may be of interest to you: https://dtransposed.github.io/blog/GEAR.html

[2019-08-05 20:28] awjuliani commented on #2388
This is because it is defaulting to the base class method which simply returns 0 https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Examples/SharedAssets/Scripts/RayPerception.cs

[2019-08-05 20:29] AidinD commented on #2388
I see, well thank you again for pointing out my mistake.

[2019-08-05 20:29] #2388 closed

[2019-08-05 21:02] brandonhotdog commented on #2385
I'm not sure how to find the version but I updated 3 weeks ago and most files in my downloaded repo have date modified at 01/07/2019.

[2019-08-05 23:36] Peng2017 commented on #2391
Yes I'm familiar with C# and Tensor flow, but not familiar with Protobuf. I dragged my assets into a new project folder, and those Bugs disappeared. Sorry for bordering.

[2019-08-05 23:37] awjuliani commented on #2391
No worries. Glad you were able to get things working for you.

[2019-08-05 23:37] #2391 closed

[2019-08-05 23:38] Peng2017 commented on #2391
Sorry , bug is still there when I try to broadcast my brain

[2019-08-05 23:45] Peng2017 commented on #2391
Each time I Instantiate a GameObject Prefab with Agent.cs and Brain pre-combined with it, need I GiveBrain to the script again?

[2019-08-06 00:21] hanseoup commented on #2382
Ah! I just found that there is "LearningBrain" class... And It has model property :)  (but not in Brain class) Thank you

[2019-08-06 00:21] #2382 closed

[2019-08-06 00:30] awjuliani commented on #2391
That is correct. You will either need to instantiate the agent already with a brain, or you will need to give the brain to the agent once it is instantiated.

Can I ask a little more about your use-case? Are you trying to collect data using Unity, and hence the broadcast feature?

[2019-08-06 00:37] Peng2017 commented on #2391
![Bugs](https://user-images.githubusercontent.com/24716813/62503121-6045d200-b825-11e9-8b63-5e672a2cc6e5.jpg)

[2019-08-06 00:41] awjuliani commented on #2391
Hi @Peng2017

You have control checked on the brain in the academy, this means that you cannot run from the editor without first launching the external python process to communicate with the brain and academy. Here is a document describing how to perform behavioral cloning, which I think might be relevant for you: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-Behavioral

[2019-08-06 00:43] Peng2017 commented on #2391
My Asset, a pretty simple scene as above
[Asset.zip](https://github.com/Unity-Technologies/ml-agents/files/3469846/Asset.zip)

[2019-08-06 00:46] Peng2017 commented on #2391
(mlagents) D:\0Unity\ml-agents-0.9.0>mlagents-learn config\trainer_config.yaml --run-id=Test --train
that's what I typed before run unity project.
I forgot to get a screenshot.

[2019-08-06 01:22] Peng2017 commented on #2391
my python environment is correctly installed and has run ml agents training successfully several times before

[2019-08-06 02:13] Peng2017 commented on #2391
I figured out this:
1. whatever v0.9 example files I opened, I cannot train with the same exception message above.
2. I turned back to mlagents v0.8 and everything runs well
it seems like a environment conflict

[2019-08-06 08:41] superjayman commented on #2389
Thats a shame! I have 8 computers was hoping to put them to work:) Any plans for distributed training in the future? this would be a huge benefit. Whats the advantage of running multiple instances on the same machine?

[2019-08-06 09:04] FlorentGuinier commented on #2281
@stefanpantic did you had a specic models or papers in mind using those layer?

[2019-08-06 09:51] stefanpantic commented on #2281
Yes, I want to use Nvidia's Jasper speech recognition model from here https://arxiv.org/pdf/1904.03288.pdf

[2019-08-06 10:15] AcelisWeaven opened #2394 "Communicator not connecting when "Managed Stripping Level" is enabled"
**Describe the bug**
When "Managed Stripping Level" is set to Low/Medium/High (anything other than Disabled), the following error is shown when mlagents-learn is launched:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Settings > Player
2. Change the value of "Managed Stripping Level" to Low, Medium or High
3. Build your project and run the training
4. See error

**Envi

[2019-08-06 10:23] Mr-DDDAlKilanny commented on #839
Maybe the problem is in your input / output names are not correct

[2019-08-06 10:37] mbaske opened #2395 "Demonstration Recorder, Camera Resolutions: 0"
Hi - When recording an agent with cameras, the resulting .demo file's info says `Camera Resolutions: 0`

I ran the Visual Pyramids example with the VisualPyramidsPlayer brain. Logging the `brainProto` object in the `DemonstrationStore.WriteBrainParameters` method shows

`{ "numStackedVectorObservations": 1, "vectorActionSize": [ 5 ], "cameraResolutions": [ { "width": 84, "height": 84 } ], "vectorA

[2019-08-06 12:23] noshaba commented on #2168
Is there an option to display the std in Tensorboard?

[2019-08-06 15:45] AidinD opened #2396 "Endless runner rewards"
// EDIT: I found the original issue, but I am still interested in knowing below:

I am trying to make a flappy bird learner. But instead of using the pipes positions as observations I want to only use observations that the bird itself knows. Meaning, my observations are:

A lot of RayPerceptions
Its own y position (probably not needed)
Its own y velocity (is this needed?)

How should you generally

[2019-08-06 16:04] mbaske commented on #2392
One way of doing that is to calculate a weighted average angle from raycast hits. Let's say your car aims to drive forward, but has to dodge obstacles placed on the road. It sends out a spread of raycasts from left to right at various angles, e.g. from -30 degrees to +30 degrees (0 being the car's forward axis) at 1 degree increments. The input values for the weighted average function are the indi

[2019-08-06 16:23] awjuliani commented on #2394
Hi @AcelisWeaven

Thanks for bringing this issue to our attention.

[2019-08-06 16:38] awjuliani commented on #2389
We are doing some internal experimentation, but nothing to share publicly yet.

[2019-08-06 17:53] awjuliani commented on #2395
Hi @mbaske

Thanks for bringing this to our attention. The visual observations are indeed being recorded, there is just an issue with correctly reporting the resolution in the inspector.

[2019-08-06 17:54] awjuliani commented on #2396
Hi @AidinD

Rewards are calculated every agent step. In the case of this game, I would add a small positive reward for staying alive, and a negative reward for death, as you have here.

[2019-08-06 17:59] AidinD commented on #2396
Hi,
Yes, I understand that they are calculated every step. But are they also evaluated by the machine every step?
Is the machine thinking, alright, this step I got positive points, I did something right, next step I should try to do something similar?
The thing that bothers me seems to be the fact that we never call done() if the machine does everything right, and I have come to believe that the d

[2019-08-06 18:08] FlorentGuinier commented on #2281
Could you link the paper please?

[2019-08-06 18:44] mbaske commented on #2395
Thanks @awjuliani, good to know.

[2019-08-06 19:31] gzrjzcx commented on #2387
Hi @awjuliani,
I have calculated it directly now. But I want to know is this possible to observe the velocity via stacking vectors?  Because I have checked your `Tennis` environment, you have observed the velocity directly, but you still use the 3 stacked vectors.

In addition,  is the `--load` command used for continuing training? I find that using the `--load` for curriculum learning, although I

[2019-08-06 22:26] mrshanepaul opened #2397 "Add Jupyter Notebook example of how to set training configuration via Python API"
I have been attempting to relate the contents of the Python mlagents-learn main method with the Notebook example. I first assumed that the two were similar in nature. I now realise this was a mistake.

It appears that there is a lot of 'magic' happening under the hood in the notebook example and I could not see an easy way to include/set training customized configuration parameters.
The notebook e

[2019-08-06 23:41] rajatpaliwal opened #2399 "Trouble performing imitation learning"
Hi all,
While trying to perform online imitation learning in my custom made environment, as I give training command (" mlagents-learn config/online_bc_config.yaml --train --slow") in the command prompt it prompts me to press the play button. Since my environment is heavy it takes some time to start after pressing the play button , in the meantime command prompt gives me the error" The Unity enviro

[2019-08-07 00:11] Peng2017 commented on #2391
I saw other people met the same issue as I described.

[2019-08-07 02:44] FlimFlamm commented on #2335
@harperj
Hello Again Harper, were you able to reproduce the bug? The version is no longer up to date since the 9.0 release (I think). Should I update to make sure the error persists?

Just to reiterate the problem, using multiple agents and brains with recurrence simply does not work (if you add one of the basic agents to the environment of another, and give one of the two  trainer_config profiles

[2019-08-07 03:35] DooblyNoobly commented on #2079
@mnsmuts what did you do to resolve this?

[2019-08-07 05:24] manmeetsingh0013 commented on #2355
thanks for the help @harperj

[2019-08-07 05:38] DooblyNoobly opened #2401 "Error when trying to use a demo brain with Gail"
**Describe the bug**
When using a demo brain with gail, mlagents throws an error after pressing play in the editor.

[code]

config:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Record a demonstration on the player brain (up to 500 steps)
2. Add the demo brain path and gail reward parameters to config
3. Disable player brain, enable Learningbrain and add to Academy with control
4.

[2019-08-07 06:57] arixlin commented on #2401
Describe the bug
When using a visual demo brain with gail, mlagents throws an error after pressing play in the editor.
[code]

[2019-08-07 07:05] ervteng commented on #2399
The easiest way would be to navigate to the environment file (https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents-envs/mlagents/envs/environment.py) and modify the `timeout_wait` parameter to greater than 30 seconds.

Note that there is also a known issue with the online BC trainer that will be resolved shortly. If you're having further trouble, try checking out the `hotfix-0.9.0

[2019-08-07 07:09] ervteng commented on #2401
Hi @DooblyNoobly, thanks for raising this issue. Could you try with the latest `master` branch? `develop` is the bleeding edge and may have issues.

@arixlin, are you on `develop` or `master`? If `master` this seems like a bug and we'll investigate. Thanks!

[2019-08-07 07:18] arixlin commented on #2401
@ervteng  on release v0.9 Thanks

[2019-08-07 07:25] DooblyNoobly commented on #2401
@ervteng my mistake, turns out I was already on latest master. I'll edit my bug report:

![image](https://user-images.githubusercontent.com/20813925/62602948-3cbf7c00-b938-11e9-8c47-0f592d4a6afa.png)

[2019-08-07 08:06] AidinD opened #2402 "RayPercieve2D.Perceive does not ignore self collider"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RayPerceive2D and shoot a ray.

Expected behaviour:
The float distance should show the distance to the tagged objects included in detectable objects if in range

Actual behaviour:
The distance is always 0 since it hits its own collider

It works if changing the la

[2019-08-07 09:31] #2364 closed

[2019-08-07 12:23] faizanophobia opened #2403 "/usr/bin/python: No module named object_detection GCloud Platform"
Hi there,
I am training a custom object detection model through google cloud sdk following https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193 , https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md/the data is successfully added into the bucket and all the commands worked without

[2019-08-07 12:27] #2403 closed

[2019-08-07 13:00] gzrjzcx commented on #2387
Hi @awjuliani,
In this case, the first training ended at 5M step. Then I continue the training by `--load` without any vary in the config file except the increasing of `max_steps` from 5M to 10M.
Then you can see the mean reward decreased dramatically from the start of the following training(i.e. 5M+1 step).  Although then it increases finally, it is not same as a direct training of 10M.

<img wid

[2019-08-07 13:29] ryujaehun commented on #1835
I am also encountering the error like ```AttributeError: 'function' object has no attribute 'num_envs'``` when  [gym-unity](https://github.com/Unity-Technologies/ml-agents/tree/master/gym-unity)
This problem was solved as follows.
[code]

[2019-08-07 14:26] unityjeffrey opened #2404 "**Unity ML-Agents Toolkit Survey**"
Your opinion matters a great deal to us. Only by hearing your thoughts on the Unity ML-Agents Toolkit can we continue to improve and grow. Please take a few minutes to let us know about it.

[Fill out the survey](https://goo.gl/forms/qFMYSYr5TlINvG6f1)

[2019-08-07 14:26] #2087 closed

[2019-08-07 15:22] mbaske opened #2405 "Use cases for GAIL and pretraining?"
Hi - I'm wondering how closely a recorded demo needs to resemble the behaviour one likes to achieve through training.

In my current project, I have a heuristic brain driving a car and avoiding obstacles. The heuristic uses raycasts, which works fine at constant low speed. I'm recording its behaviour, observing velocity, steering angle and a front camera view. The camera view is actually a composi

[2019-08-07 22:30] ervteng commented on #2401
@DooblyNoobly - I wasn't able to replicate your issue on the sample environments, unfortunately. Could you try on the Hallway example and see if you're getting the same behavior? Thanks!

@arixlin - I was able to replicate this issue, it's a naming conflict between Curiosity and GAIL. It will be fixed in a patch in the next couple days. For now, I'd use GAIL only - usually, curiosity + GAIL doesn'

[2019-08-07 22:31] awjuliani commented on #2387
Hi @gzrjzcx

The learning rate is set to a ratio of the total steps based on the completed steps. When you increase the total steps, you increase the learning rate again, hence the nature of the curve you see. Going along with this is a decrease in stability of learning, which you see in your performance results as well.

[2019-08-07 22:31] awjuliani commented on #2391
Do you get any errors on the python terminal side?

[2019-08-07 22:32] ervteng commented on #2402
Hi @AidinD, is your RayPercieve inside the object? You might be able to increase the startOffset when calling Perceive to get out of the object.

[2019-08-07 22:35] ervteng commented on #2397
Hi @mrshanepaul, making the Trainer a usable library is a good idea, though it isn't designed that way today. You can look at the `learn.py` Python script (that is what is being called in mlagents-learn) and copy that into your Jupyter notebook. If you have a working notebook we'd be happy to merge it into the examples!

[2019-08-07 22:39] ervteng commented on #2405
Hi @mbaske, there is some subtlety to using PreTraining and GAIL. PreTraining attempts to force the PPO policy to directly imitate your demonstrations, while GAIL rewards the policy for encountering the states in your demonstrations (unless `use_actions` is True).

You might have better results turning off PreTraining for using visual obs, unless you have tons of demonstrations. I'd try training w

[2019-08-08 01:54] DooblyNoobly commented on #2401
I just confirmed that hallway example works fine. I have even tested recording a new demonstration and there wasn't any problem. Must be something I'm doing specifically with my project.

[2019-08-08 01:54] #2401 closed

[2019-08-08 02:00] arixlin commented on #2401
@ervteng  Thanks for your work.

[2019-08-08 06:15] hanseoup opened #2407 "Is there any recommended way to load .nn file from external directory of Unity(not in "Asset" folder)"
Hi :)
I have plan to make my custom self training system with ml-agent.
and I've made simple Battle environment. (1 vs 1)
The self training system's step that i can imagine now is following.

step 1. prepare 2 brain objects ( learningBrain, fixedLearnedBrain )and give same pre-trained model (model_v1.nn file)

step 2. set condition that only "learningBrain" can learn, but "fixedLearnedBrain" can't

[2019-08-08 06:41] KarimHabashy opened #2408 "Reset a single agent"
Hi,

I am using multiple agents in a single environment sharing the same brain.
I am trying to reset a single agent through a python API, which I don't know how to as the call to unity_env.reset() resets everything. Also, somehow even if I don't call unity_env.reset(), any agent that gets done() and has reset_on_done checked, resets the whole environment.

Thanks in advance

[2019-08-08 07:37] AidinD commented on #2402
Hi @ervteng
Thank you for the response.

1. There is no argument for the offset in the 2D RayPercieve. Only in the 3D.
2. The 3D version seems to work without using an offset, why should the 2D behave differently?
3. Since we use detectable objects, wouldn't it be more intuitive if ONLY objects with these tags were considered? Meaning, the objects itself (unless assigned one of the detectable tags

[2019-08-08 09:24] hanseoup commented on #2407
Oh..! my team leader has just found that we can load model(.nn file) from external folder of unity("Asset" folder) !
Here is one of solution he told me! :)
![image](https://user-images.githubusercontent.com/53593292/62691010-bc1c8080-ba08-11e9-9c61-35da364514e9.png)
1. we use "WWW" to load external file(.nn file)
2. and extract byte[] by using "www.bytes"
3. and just set equal to (Barracuda.NNMode

[2019-08-08 10:12] Lei-Wei commented on #2391
![Unbenannt](https://user-images.githubusercontent.com/30424884/62695000-b9546800-b9d5-11e9-9f9f-ed58b8700ad8.PNG)

[2019-08-08 12:12] MentalGear opened #2409 "Comprehension Questions"
Great blog posts & documentation, although what I'm still missing is:

1. What exactly is a step ? Is it a frame, or action that an agent takes ?

2. Is the sequence of Observations of importance when training the same models?
For example, given
[code]
changed to
[code]
a. And then training the **same model** confuse previous training, or would it not be an issue ?
b. What about resuming training

[2019-08-08 12:20] hanseoup opened #2410 "How can I load these check-point model? (not .nn file)"
How can I load these model to Agent? (not .nn file)
![image](https://user-images.githubusercontent.com/53593292/62701203-a9ad4180-ba1e-11e9-8151-d4828baf37ea.png)

If it is not possible, can i save model(.nn file) with custom save freq?

[2019-08-08 12:21] esin88 opened #2411 "CustomObservation is not reset when sending info to brain"
Unlike vector, visual and text observations, that are reset on every step (see `MLAgents.Agent.SendInfoToBrain()` method), custom observation is not cleared or reset.

Not sure if it's actually a bug or a feature, but this behaviour feels unnatural.

**Environment:**
- _ML-Agents version_: ML-Agents v0.9

[2019-08-08 14:44] KarimHabashy commented on #2408
OK, I solved it. Somehow I had a problem with the collider disabled on my agents which produced strange behavior. They all run normally and at a certain point all of them signal Done() to my API out of the blue (After like 16 steps in the environment). Re-enabling the collider fixed the isse

[2019-08-08 14:44] #2408 closed

[2019-08-08 17:24] ervteng commented on #2401
@DooblyNoobly it really does seem like a bug in the demo loader from your error message though 🤔. The only thing I can think of is if any of the brain settings changed between recording and training. Anyways, feel free to re-open the issue if you're unable to get it to work.

[2019-08-08 17:28] ervteng commented on #2407
You might be able to pass through the path to the .nn file as a reset parameter, and trigger a model reload on reset, then call the reset with the right path from Python.

Related: a fellow contributor implemented self-play in ML-Agents, you can check out his branch here: https://github.com/Unity-Technologies/ml-agents/pull/1975

[2019-08-08 17:31] ervteng commented on #2409
- A step corresponds to one action of the agent.
- Yes, the order matters - if you train a model with one order, those inputs are mapped in that order into the neural network. It will have to re-learn what each input means if you change the order.
- We currently don't support changing observations - it's still an active area of research as to how to do that effectively in deep RL. But definitely s

[2019-08-08 17:37] ervteng commented on #2410
It's possible - the easiest way would be to open the `checkpoint` file in that directory, change the name to the cptk you want, re-run mlagents-learn with `--load`, and then quit it again. This will load that checkpoint and save it as a `.nn`.

The code that does this can be found in `tf_policy.py`. There are two methods, `save_model` and  `export_model`. `save_model` saves the TF graph to both a

[2019-08-08 17:38] ervteng commented on #2411
You're right, this seems like an inconsistent behavior. I've logged the issue and we'll take a look. Thanks!

[2019-08-08 22:17] tjad commented on #1402
The training wont have a leak - as far as I remember, I'll confirm that. The way in which the training works clears the buffer ,but during eval it wasn't training, and hence not clearing the buffer.

[2019-08-08 22:20] tjad commented on #1402
Probably why it's not been such a major issue :-)

[2019-08-08 22:24] tjad commented on #1402
I suspected when I looked into this issue that there may have been lack of direction where the actual memory leak was. I trained fine for hours on end. Evaluation wasn't happening as easily.

[2019-08-08 23:16] gzrjzcx commented on #2387
Hi @awjuliani,
So I can't continue training in this case right? Because it has reached the max_step, which means the training has finished. If I change the max_step, it cannot restore to the previous situation right?

BTW, I have calculated velocity directly now. But I want to know is this possible to observe the velocity via stacking vectors? Because I have checked your Tennis environment, you ha

[2019-08-09 05:07] Hallam-Liu opened #2415 "vectorAction clamp problem"

[2019-08-09 05:09] Hallam-Liu opened #2416 "vectorAction clipped"

[2019-08-09 05:12] Hallam-Liu commented on #2416
What if I want the vectioaction's range larger than[1,1]

[2019-08-09 06:50] arixlin commented on #2416
@Hallam-Liu
` Mathf.Clamp(vectorAction[3], -2f, 2f);`

[2019-08-09 08:15] tomatenbrei commented on #2194
Hey @mantasp, have you had a chance to investigate this issue yet? I would greatly appreciate if you could estimate how serious this error is and whether it could be fixed in the upcoming releases.

If you are aware of any Barracuda compatible alternatives or workarounds for using tensors with three dimensions (of which the first two have variable size) as inputs for a dense layer, please let me k

[2019-08-09 09:48] hanseoup commented on #2410
Thanks for your answer! But when i used "export_model()" right after "save_model()" to save model(.nn file) with my "--save-freq", It seems to be extremely slow saving model(.nn file) from 7th~8th model. At the same time, memory usage also increase linearly. I think that "freeze_graph.freeze_graph()" is main problem causing above issue.

please give me your advice to solve it... :(

[2019-08-09 12:02] MentalGear commented on #2409
Wouldn't it makse sense to provide an GUI, like with the action space, to put your observation variables in, for that if you refactor your code, you don't mess up the order.
Or even better: Let us assign them fixed names when defining them, like:

AddVectorObs(C, "velocity")

I mean, there must be a better way to anchor them than just hope not to mess up the observation order, which can quickly ha

[2019-08-09 14:08] olympus12 opened #2417 "Issue with barracuda and 'Compute' worker on not supporting gpu mobile"
**Describe the bug**
During barracuda runtime I get the following message:
"compute shaders are not support on current platform. falling back to csharpfast"

**To Reproduce**
Run barracuda on mobile device using **Compute** worker type.

**Environment (please complete the following information):**
Huawei Honor running on Kirin 620, emui 4.1.3.
Barracuda 0.2.4
Android

**NOTE:**
The barracuda worke

[2019-08-09 16:03] MentalGear commented on #210
2 years later, can we use Coroutines now without issues when training (even at high scales), or do we still need to use a workaround as described by @trulyspinach  ?

[2019-08-09 16:11] MentalGear commented on #210
@trulyspinach Could you maybe show an example on how to call this function ?

[2019-08-09 18:01] rajatpaliwal commented on #2399
Hi @ervteng ,
I tried modifying the timeout_wait parameter to greater than 30 seconds. I set it to 60 secs but it is still stopping at 30 secs.
What else can I change to delay the timeout parameter.

[2019-08-09 18:24] Sohojoe opened #2418 "'command line arguments' feature does not work"
**Describe the bug**
The new feature 'support for command line arguments' #2243 does not work

**To Reproduce**
`mlagents-learn config/my_config.yaml --train  --run-id=my-id  --my-custom-opton=value`

**Environment (please complete the following information):**
- _ML-Agents version_: v0.9

**Notes / Observations**
* learn.py does not support options which are not defined in the `_USAGE` string. It

[2019-08-09 18:52] ervteng commented on #2415
Closed as it's a duplicate.

[2019-08-09 18:52] #2415 closed

[2019-08-09 18:54] ervteng commented on #2417
Adding @mantasp

@olympus12, does Barracuda work with desktop/Windows/Mac builds in your setup?

[2019-08-09 19:13] olympus12 commented on #2417
Hi Ervin,
Barracuda works with Editor (Windows) and both Android and iOS builds. It
tested with different devices, but this specific phone model didn't work
with "Compute" worker, so I had to change it to "CSharp".

On Fri, Aug 9, 2019, 21:54 Ervin T. <notifications@github.com> wrote:

[2019-08-09 20:55] ervteng commented on #2418
Hi @Sohojoe, big thanks for spotting this issue! It's an error on our part in the release notes - the PR enabled the parameters to be passable when creating a `UnityEnvironment` class, but it was never intended to pass down through `learn.py`. We're looking into doing this properly - but basically I would add a parameter to the docopt, turn it into a list of strings, and pass it into the `create_e

[2019-08-09 20:59] ervteng commented on #2416
Also - no reason why you can't multiply the vectorAction by some value in AgentAction. However, the neural network will only output values between [-1,1].

[2019-08-10 06:32] Hallam-Liu commented on #2416
Yeah，But I want the output of model larger than [-1,1]. Can I do it in ml agent?

[2019-08-10 06:33] Hallam-Liu commented on #2416
Then all the out put will be -2 or 2 if the output of model larger than 1 or smaller than -1

[2019-08-10 06:37] Hallam-Liu commented on #2416
The problem is I have decisions which spacesize is 120 in Heuristic brain. and most of their values larger than 1. And I want to imitate the Heuristic brain but cannot get output larger than 1. It is like a supervised learning and let the 120 output work like as labels

[2019-08-10 06:40] FlimFlamm opened #2422 "Observation State encoder? Autoencoder?"
I'm interested in finding creative ways to "encode" observation states as a means of overcoming the "curse of dimensionality" (in the context of one or more networks encoding their own observational data before sending it to another).

From what I know about auto-encoding, most of the low-hanging functionality comes in the form of CNN like networks, where one half does basic feature extraction (it

[2019-08-10 07:38] tjad commented on #2073
Hi @vincentpierre

Apologies for the delay - this proposal was made during a time where I was quite busy

Thanks for your feedback. I'll re-access the code base, and reconfirm my thoughts. I do see quite a bit has changed in ml-agents since this proposal.
Perhaps you guys had some considerations in the interim as well.

[2019-08-10 07:42] tjad commented on #2078
Hi @harper-u3d  @harperj   @unityjeffrey

Apologies for the delay - proposed during a time I was quite busy.

Thanks for your feedback.  I'll re-access the code base and see what needs to be done.

@harperj Did you make progress on your changes?

[2019-08-10 09:00] mantasp commented on #2417
@olympus12 Kirin 620 comes with old generation Mali450 GPU, which doesn't support OpenGL ES 3.1 / Compute Shaders, so Barracuda won't work on this GPU.

[2019-08-10 09:00] #2417 closed

[2019-08-10 10:23] MentalGear commented on #642
The docs' code reads "assign a Brain instance to the new Agent and initialize it by calling its AgentReset() method"
However, several members of the ml agents dev team said, one shouldn't manually call AgentReset(). Could we get a clarification on this plz @xiaomaogy ?

[2019-08-10 16:19] SirSundays opened #2423 "Problem with MLAgent and Anaconda"
Hi guys,

im trying to get into Machine Learning and MLAgent. I got so far that im able to train something and look at what it does in tensorboard. But when I end the learning phase, I get an error. I can still look at the tensorboard charts and I get a .nn file. But im not able to drag this one into unity.

[code]

I do not even know where to start with this error. Does anyone have seen this befo

[2019-08-10 21:48] mrshanepaul commented on #2397
Thank you for your response. Sorry for the late reply, I caught the flu.

It is sad to hear that this is not there but very helpful to know I was not just missing something.

I will have a look into it when I have some time. It might be more sensible to create helper classes/functions to make the internals a bit more accessible with standard calls.

[2019-08-11 05:46] narayan907 opened #2424 "Visual observation showing no learning , game like bubble shooter"
Hi,
i am working on a game similar to bubble shooter, for observation i am using visual observation,
using on demand request for decision and using vector action discrete for action with 120 values for angles and 2 values to switch ball, setting time scale at 5, i see no learning happening in training since the reward value remains mostly same even after 100000 steps of training.

[2019-08-11 10:13] mnsmuts commented on #2079
it was an error in the online_bc file probably caused by me messing around with the configurations. Fresh file from the new dist v0.9 and all seems to be fine. M

[2019-08-11 13:14] MentalGear opened #2425 "Documentation Update"
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agents.md#instantiating-an-agent-at-runtime
Describes using Destroy, however offical teammembers mentioned in the issues, that it would be better to use DestroyImmediate instead. Maybe someone coudl update ?

https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agent

[2019-08-11 15:22] KristianLN opened #2426 "Is it possible to update parameters of the attached brain at runtime?"
Hi,

I would like to change the space size and the number of stacked vectors for the attached brain at runtime, but I can't seem to figure out how to access those parameters.

I did assume that one could do: brain.brainParameters.vectorObservationSpaceSize
as you can do: brain.brainParameters.vectorActionSpaceType

In advance, thank you.

[2019-08-11 15:47] SirSundays commented on #2423
Updating Conda and/or Unity to a newer version do not help to fix this problem.

[2019-08-11 17:08] SirSundays commented on #2423
I fixxed it!
I just did the good old: "Hm dont know what this line does. Lets comment it out"-thing and after that it worked. I can now train my model and afterwards I can drag my model into unity and use it.

If someone else get this error:
Just change this file with the one I uploaded below
C:\Users\%YOUR_USERNAME%\Anaconda3\Lib\site-packages\mlagents\envs\subprocess_env_manager
[Typeerror Fix.z

[2019-08-11 17:08] #2423 closed

[2019-08-12 01:11] sunrui19941128 opened #2427 "KEY ERROR"
I got this error when I started Unity while imitating learning!!!!!!Help Me  Thanks!ML-Agents0.9.0

Traceback (most recent call last):
  File "D:\Anaconda3\envs\ml-agents-tutorial\Scripts\mlagents-learn-script.py", line 11, in <module>
    load_entry_point('mlagents', 'console_scripts', 'mlagents-learn')()
  File "e:\githubproject\ml-agents\ml-agents\mlagents\trainers\learn.py", line 319, in main

[2019-08-12 06:08] zheyangshi opened #2428 "Agents stop running after several steps"
**Describe the bug**
All the previous steps worked well and the reward also reached a satisfying value. However, when we started to test and set the Inference Device as GPU, agents would stop moving after several steps (Just stay in the same place). At the same time, we noticed that the GPU was still running when agents stopped.

**Screenshots**
Begining:
![image](https://user-images.githubusercon

[2019-08-12 10:31] Peng2017 commented on #2391
It was my fault. I reinstalled anaconda-envs and updated mlagents up to date, now everything runs OK! Thank you for your help!

[2019-08-12 15:41] mnsmuts commented on #2427
did you find a solution? I am hitting the same problem (suspect it is something simple) same setup trains offline but will not train online

[2019-08-12 16:59] ervteng commented on #2427
Hi @sunrui19941128, @mnsmuts, can you post your yaml config file?

[2019-08-12 17:03] ervteng commented on #2428
Hi @zheyangshi, do you mean GPU in the Brain settings, and inference with CPU works?

This could be a number of issues - I haven't been able to replicate on my end. What Unity version and GPU are you running? Thanks!

[2019-08-12 17:06] ervteng commented on #2426
Hi @KristianLN, unfortunately this isn't currently supported at the time. You can change the Brain parameters, but the model won't train as the network architecture is fixed.

A potential workaround might be to have two brains, and swap the brain during runtime. An example of this can be found in our WallJump example.

[2019-08-12 17:25] ervteng commented on #2425
Hi @MentalGear, every game is different :P If AgentReset() and Destroy() works for you, then it's definitely OK to use. AgentReset() is just called when Reset() is called, so it's definitely recommend to implement something there.

[2019-08-12 17:26] ervteng commented on #2424
Hi @narayan907, what's your reward structure for the game? We do have some experience doing bubble shooters with ML-Agents (see https://blogs.unity3d.com/en/2019/04/15/unity-ml-agents-toolkit-v0-8-faster-training-on-real-games/ for an example) so in theory it's a learnable problem.

[2019-08-12 17:30] ervteng commented on #2422
Hi @FlimFlamm, it's definitely doable without touching the C# or Unity side. You'd have to be pretty familiar with TensorFlow, though, and modify the `models.py` to create an auto encoder instead of the usual visual encoder. Then you'll have to add a loss for the encoding that's some correlation between the input and the output of the decoder, and add it to the PPO loss.

If there's an existing im

[2019-08-12 17:32] harperj commented on #2078
@tjad thanks for following up.  In the latest v0.9 release the "step" metric (global step) should reflect the number of total steps across all environments.  So if you have 4 parallel environments which have each taken 1000 steps the steps you'd see in stdout or Tensorboard will be 4000.

[2019-08-12 17:33] narayan907 commented on #2424
hello @ervteng  , yes i have seen that blog of snoopy pop game, my reward structure looks like
0.001 for switching ball,
0.01*no of balls for match hit,
-0.001 for no match hit
I am training at 10 scale time, with one environment but i see no improvement in reward even after 150000 steps.
I have tried the multi environment concept, explained in blog but i see crashes happening in that.

[2019-08-12 18:22] KristianLN commented on #2426
Hi @ervteng
Thanks for your answer.

In terms of using two brain, that would be pre-trained brains, right? As there aren't no support for training two brains at the same time currently, right? Or have I missed something?

[2019-08-13 01:16] zheyangshi commented on #2428
Hi @ervteng, Here is the picture of our brain setting.
![image](https://user-images.githubusercontent.com/27290494/62908426-939ada80-bdaa-11e9-9196-900adfc5c02d.png)
We tried on the following environments, but we still meet the same problem.
**Unity version:** 2018.2.17/2017.4.17f1
**GPU:** GTX 1080/ GTX 1070

[2019-08-13 01:21] sunrui19941128 commented on #2427
Ok  Immediately submitted I am copy  trainer_config.yaml  ,and modify config default.See the pictures for the details!
![config](https://user-images.githubusercontent.com/34094384/62908661-b8438200-bdab-11e9-932d-05d3d7b19e11.png)

[2019-08-13 01:24] sunrui19941128 commented on #2427
I didn't have this problem in version 0.8.1,But this problem was encountered in 0.9.0,Now I am using 0.8.1, so I can train the Demo normally.I tried a lot in 0.9.0 but nothing worked!Later it was reloaded with a 0.8.1 environment to train normally!

I didn't have this problem in version 0.8.1,But this problem was encountered in 0.9.0,Now I am using 0.8.1, so I can train the Demo normally.I tried a

[2019-08-13 01:25] sunrui19941128 commented on #2427
![config](https://user-images.githubusercontent.com/34094384/62908763-40c22280-bdac-11e9-931c-793ea5de523d.png)

[2019-08-13 01:31] arixlin commented on #2428
@ervteng I has same errors, when I using vsiual observation and GPU in the Brain settings run on internal, but Console dont print any errors. Thanks!

[2019-08-13 06:37] yamashin0922 commented on #2427
Can you check if RollerBallPlayer is exist in Broadcast Hub in the inspector window of your  Academy?
If it is TRUE, please try to remove RollerBallPlayer from the inspector window of the Academy.

[2019-08-13 06:44] smshehryar commented on #2427
any issues with it?

[2019-08-13 06:50] yamashin0922 commented on #2427
I'm not sure if issue is around there.  However, I faced the same issue. And I found it as workaround.

[2019-08-13 06:54] sunrui19941128 commented on #2427
ml-agents whitch version  are you using now?

[2019-08-13 06:59] yamashin0922 commented on #2427
I'm using 0.9.0.

[2019-08-13 07:02] sunrui19941128 commented on #2427
I tried it and it didn't work with 0.9.0!!  Then it worked normally in 0.8.1!!It's really frustrating

[2019-08-13 07:16] yamashin0922 commented on #2427
I understand your frustration.
Do you mean that "KeyError: 'RollerBall Player'" is still shown in the error message even if you remove it from the inspector window in 0.9.0?

[2019-08-13 07:38] MentalGear opened #2429 "Reward Monitor"
I would like to display the anticipated reward above each agent, as displayed on several screenshots in the docs.

I looked into the Monitor.log class and also set the monitor active during training, however I don't know what value I should feed it to display the reward as on the image, and the page doesn't say anything on it:
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Featur

[2019-08-13 07:48] MentalGear commented on #2429
Found the GetReward() function in Agent.cs. Would suggest to add these to the Monitor guide page for other users to find. What I'm still unsure about is how to display it over an agent ?

[2019-08-13 07:52] MentalGear commented on #2429
OK, it's the 3rd Monitor parameter, target, which one needs to feed this.transform to.

[2019-08-13 08:13] MentalGear commented on #2425
Just curious about the reasoning behind using Destroy or DestroyImmediate, as well as when to use AgentReset() and when not, as team suggestions seems to vary.

[2019-08-13 09:27] mnsmuts commented on #2427
Hi, I can train in v0.8.2 but get the key error in v0.9.X. I am currently trying to roll back my environments to get back to a working system. removing the player brain made no difference, yaml file
![image](https://user-images.githubusercontent.com/22680369/62930751-ebd6da00-bdb4-11e9-80e9-ea75359750f4.png)

pretty much nothing in it except the default - unless that is not allowed?

[2019-08-13 09:33] mnsmuts commented on #2427
In my case I get :
![image](https://user-images.githubusercontent.com/22680369/62930978-66075e80-bdb5-11e9-8c33-7020c38752ac.png)

then if I remove the player brain:
![image](https://user-images.githubusercontent.com/22680369/62931165-c3031480-bdb5-11e9-96df-aa8925e760ee.png)

[2019-08-13 09:34] mnsmuts commented on #2427
this is version v0.9.1 and I am removing the player brain from the academy.

[2019-08-13 09:52] mnsmuts commented on #2427
Just in case it helps - here is the anaconda prompt when trying exactly the same training (imitation 3DBall) in v0.8.2
![image](https://user-images.githubusercontent.com/22680369/62932617-62290b80-bdb8-11e9-8682-38397baa789d.png)

Seems to work well, which is why it feels like v0.9.1 has a bug

[2019-08-13 10:27] KristianLN opened #2430 "Training "pause" and CPU runs at 100 when using visual observations"
Hi,

I'm experimenting with incorporating visual observation in my agent but my CPU doesn't seem to be happy with the use of visual observations.

I experience a sort of dropout, where the application freezes for a x amount of time, and the CPU utilization goes up to 100, before training goes on and continue. This repeats continuously throughout training.

Is it because my CPU isn't strong enough,

[2019-08-13 11:44] agamashi opened #2431 "Everything Freezes after the first training run"
Hey,

Got everything setup, I have used this on another PC about half a year ago and everything worked fine then. Now when I try to do the learning on 3DBall Academy, Unity Editor freezes and Anaconda prompt does nothing after the first train:

INFO:mlagents.trainers: firstRun-0: 3DBallHardLearning: Step: 1000. Time Elapsed: 7.271 s Mean Reward: 1.211. Std of Reward: 0.645. Training.

Also, I noti

[2019-08-13 12:29] nmndwivedi commented on #2427
This works for me, thank you

[2019-08-13 13:27] yamashin0922 commented on #2427
@sunrui19941128 Can you share the screen capture of your inspector window of the Academy?

[2019-08-13 17:24] rajatpaliwal commented on #2399
Hello,
I am trying to modify the timeout_wait parameter to greater than 30 seconds. I did the necessary changes in the environment.py file and rpc_communicator.py file but still the timeout is happening at 30 seconds.
Can anyone suggest any other changes in order to delay the timeout .

[2019-08-13 17:25] ervteng commented on #2430
Hi @KristianLN, this "dropout" time is the time when the model is being trained. When the simulation is running, the trainer is gathering experiences (images) and collecting them in a buffer, then the TensorFlow code performs a model update. So it isn't lost time! To decrease the dropout time I'd suggest using a computer with CUDA + GPU, and installing tensorflow-gpu (especially for visual observa

[2019-08-13 17:42] KristianLN commented on #2430
Hi @ervteng
Thank you!! That makes sense why I see improvements when I play around with the  buffer/batch den.
I'm almost certain I didn't experience the dropout time when I only used vector observations, but of cause images is a completely different size to process.

Thank you once again!

[2019-08-13 17:46] Erethan opened #2432 "Curiosity in multiple agents with the same brain"
Whenever I train multiple agents with the same brain with its curiosity enabled, the resulting behaviour is to choose an arbitrary place on the environment where the agents will meet and bump into each other forever.

Does the curiosity module fail in modelling the environment? Why is that? Can I tackle the sparse rewards problem some other way?

[2019-08-13 17:53] ervteng commented on #2429
Thanks for the feedback! We'll take another look at the Monitor docs.

[2019-08-13 17:57] ervteng commented on #2432
Very interesting! It might be that the agents' interaction is sufficiently stochastic that it forever remains "interesting" to the curiosity module. There are some new techniques in research (https://arxiv.org/abs/1906.04161) that may be able to mitigate this but with the current ML-Agents, you may have to resort to demonstrations, or separating the agents during initial training, and combine them

[2019-08-13 19:18] #2430 closed

[2019-08-13 20:09] ervteng commented on #2151
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:09] #2151 closed

[2019-08-13 20:10] ervteng commented on #2184
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:10] #2184 closed

[2019-08-13 20:10] ervteng commented on #2071
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:10] #2071 closed

[2019-08-13 20:10] ervteng commented on #2122
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:10] #2122 closed

[2019-08-13 20:11] ervteng commented on #2181
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:11] #2181 closed

[2019-08-13 20:11] ervteng commented on #2093
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:11] #2093 closed

[2019-08-13 20:12] ervteng commented on #2199
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:12] #2199 closed

[2019-08-13 20:12] ervteng commented on #2188
Thanks for the discussion - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:12] #2188 closed

[2019-08-13 20:12] ervteng commented on #2186
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:12] #2186 closed

[2019-08-13 20:13] ervteng commented on #1986
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:13] #1986 closed

[2019-08-13 20:14] ervteng commented on #2171
@MoMe36 if you've gotten transfer learning working, absolutely!

[2019-08-13 20:15] ervteng commented on #2102
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:15] #2102 closed

[2019-08-13 20:16] ervteng commented on #2212
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:16] #2212 closed

[2019-08-13 20:16] ervteng commented on #2220
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:16] #2220 closed

[2019-08-13 20:16] ervteng commented on #2222
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:16] #2222 closed

[2019-08-13 20:17] ervteng commented on #2229
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:17] #2229 closed

[2019-08-13 20:17] ervteng commented on #2108
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:17] #2108 closed

[2019-08-13 20:17] ervteng commented on #2097
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:17] #2097 closed

[2019-08-13 20:17] ervteng commented on #2083
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:17] #2083 closed

[2019-08-13 20:18] ervteng commented on #2218
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:18] #2218 closed

[2019-08-13 20:18] ervteng commented on #2231
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:18] #2231 closed

[2019-08-13 20:18] ervteng commented on #2202
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:18] #2202 closed

[2019-08-13 20:18] ervteng commented on #2245
Thanks for the comments - closing this issue due to inactivity. Feel free to open a new issue if you're still running into problems.

[2019-08-13 20:18] #2245 closed

[2019-08-13 21:02] ervteng commented on #2428
Hey @zheyangshi, @arixlin, just to let you know we're looking into this. Just to confirm, CPU inference works fine, right?

[2019-08-13 22:33] MentalGear commented on #2113
Stuck with the exact same JSON.decode error. Has anyone already figured this out ?

[2019-08-14 00:51] sunrui19941128 commented on #2427
Ok,this 0.9.0version screenshort  with Acadamy !  Picture one is No delete PlayerBrain .  Picture Two is deleted PlayerBrain! I tried your idea!but There are key errors!I suspect a version problem!sam time 0.8.1 no Problem!

![nodelete](https://user-images.githubusercontent.com/34094384/62987037-9e1fa780-be70-11e9-85d8-16dbc24b0768.png)
![delete](https://user-images.githubusercontent.com/34094384/

[2019-08-14 01:38] zheyangshi commented on #2428
@ervteng, Thank you very much. CPU inference works fine. The issue just happens in GPU inference.

[2019-08-14 06:30] agamashi commented on #2431
Fixed the issue with reinstalling Anaconda, but this time installing Anaconda version 5.1 and not the newest version.

[2019-08-14 06:30] #2431 closed

[2019-08-14 07:00] tillmusshoff opened #2434 "Offline Behavioral Cloning: The provided demonstration is not compatible with the brain being used for performance evaluation."
Hi! I am trying to get my environment running with BC. I did everything like the Imitation Learning Guide suggested. I recorded a .demo file while playing with the PlayerBrain. Then I changed to the learning brain, checked "Control" and inserted the path to the demo file into the offline_bc_config.yaml. However, when I start the training in the editor or as a built I get this error:  "The provided

[2019-08-14 07:34] yamashin0922 commented on #2427
Thank you for sharing it.
As you said, there seems to be bug around there since the behavior differs between the two versions

To train RollerBallBrain (not RollerBallPlayer), we have to drag the RollerBallBrain asset to the RollerAgent GameObject Brain field to the learning brain.
Can you check your Brain field of RollerAgent?

[2019-08-14 09:47] mnsmuts commented on #2427
Hi Yes all correct, the agent has a learning brain, the academy has a learning brain with control when creating a build for offline training, or if I am online training,  both a learning brain with control and a player brain.

[2019-08-14 10:38] MentalGear commented on #2290
Hi @gzrjzcx , I'm facing the same issue with JSONDdecodeError. I tried to follow your hints, but can't locate a file called ._[my file name], even with hidden files shown on Mac.
I assume the file is generated in the directory of "curricula/[projectname]" or is it somewhere else, like in the virtual python env ? (I use conda).
Could you also specify where you use "open(location, encoding = "ISO-88

[2019-08-14 11:34] mantasp commented on #2390
Added this to our internal bugtracker. cc: @rejunity @FlorentGuinier

[2019-08-14 13:41] stefanpantic commented on #2281
Sorry for the late reply. The paper in question is DeepSpeech https://arxiv.org/abs/1412.5567

[2019-08-14 14:25] gzrjzcx commented on #2290
Hi @MentalGear,
In my case, I just use `ls -la` to check all files in the 'curricula/[projectName]/' directory, and except my original [lesson].json file, it still has the other file called ._[lesson].json generated. I just deleted this file.  Note that I am talking about the Linux now. With respect to my mac, there is other file called `.DS_Store` and I deleted it as well.

In terms of the encodi

[2019-08-14 14:37] #2262 closed

[2019-08-14 15:58] vincentpierre commented on #2434
Hi,
The error `The provided demonstration is not compatible with the brain being used for performance evaluation` arrises when the parameters of the brain used to record the demonstrations are not strictly identical to the parameters of the learning brain. These parameters are :

 - vector_observation_space_size
 - num_stacked_vector_observations
 - number_visual_observations
 - camera_resolutions

[2019-08-14 17:15] Lei-Wei opened #2436 "Curriculum learning parameter is not present in the Environment"
Hi,
During Curriculum Learning I got this Error:
`mlagents.trainers.exception.CurriculumError: The parameter <parameter name> in Curriculum config/curricula/<JSON filename> is not present in the Environment`

I did follow the [Curriculum-Learning](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-Curriculum-Learning.md) to set up all the stuffs.

ML-Agents version: 0.8.2
Un

[2019-08-14 17:24] vincentpierre commented on #2436
Hey,
Just to be sure, your parameter is not actually called `<parameter name>` right ?
This error arrises when the parameter name in the curriculum file does not match EXACTLY the reset parameter name in the Academy. Please make sure the two match.
If they do and you still have this error, please post a screenshot of your Academy inspector, your curriculum file and your full console output.

[2019-08-14 17:53] akTwelve commented on #2423
Glad you fixed it, @SirSundays! For anyone else that hits this error but doesn't want to download the zip file, this was his workaround. Hopefully no big side effects. :)
subprocess_env_manager.py -- Comment out line 62:
[code]
He also added the note: 'In the official version this line is executed: self.conn.send(EnvironmentCommand("close")). In this unofficial version this isnt executed. Seems to

[2019-08-14 19:38] ervteng commented on #2427
Hey @mnsmuts, @yamashin0922, I can confirm that there is a bug in v0.9.1 that is preventing PlayerBrains from being used. I've pushed a fix to the branch `hotfix-onlinebc` - try checking out that branch and see if it fixes your issue.

If you want to edit yourself, add `if brain_name in self.policies:` at line 253 in `subprocess_env_manager.py`.

[2019-08-14 19:41] ervteng commented on #2399
Hi @rajatpaliwal, I tested changing it in `rpc_communicator` and it did extend the timeout. If you change the `30` in line 34 it should work.

[2019-08-14 19:44] ervteng commented on #2425
It really depends on the game. In general, your agent should implement AgentReset(), and it should move the Agent back to the starting position. In some games, however, that would cause issues or are really difficult to do.

I'm actually uncertain why you would use DestroyImmediate. The Unity docs recommend against it - I'd stick with Destroy if it works. https://docs.unity3d.com/ScriptReference/O

[2019-08-14 19:45] ervteng commented on #2397
Hope you are feeling better!

The next release will actually make this a lot easier by moving a lot of the `learn.py` functionality into a separate method. This change is currently on the `develop` branch if you'd like to test it out.

[2019-08-14 19:46] ervteng commented on #2416
Recommendation would be to scale down the Heuristic brain output to [-1,1], then in game code (DecideAction) multiply that by the opposite of the scale. That way you'll have the same output space in both brains.

[2019-08-14 19:48] ervteng commented on #2424
@narayan907 is there a reason you give a positive reward for switching? The agent will be incentivized to switch continuously.

I'd try to simplify the problem a bit and see if it learns. For instance, you could reduce the angle number or make the game board smaller. Also, be sure to check your visual observations and make sure they're being read properly.

[2019-08-14 19:49] ervteng commented on #2426
You can train two brains at the "same time", we do this in WallJump. Of course, only the brain that is switched in is actually learning at any given time.

[2019-08-14 19:51] ervteng commented on #2409
I completely agree - we'll definitely take this feedback into account in future updates of the UI. Thanks!

[2019-08-14 19:52] ervteng commented on #2402
@awjuliani are you familiar with the collider for 2D RayPercieve?

As for 3. I believe that is the case for the 3D case. But not sure why this would be different for 2D.

[2019-08-14 22:50] Erethan commented on #2432
Nice paper! I do feel tempted to play around with it but it would blow my current scope : /

As I wouldn't want to rely on demonstrations,  I'll consider separating the agents in the intial phase. However, when the agents are joined latter in the training, won't they get curious with each other in the same way?

[2019-08-15 00:47] awjuliani commented on #2402
There should be no difference between the two in terms of how they do or don't ignore objects. Are you sure that the ray begins within the object that needs to be ignored?

[2019-08-15 01:27] Hallam-Liu commented on #2416
Actually I tried but the loss descent very fast lower than 0.1. It is hard to decide whether the training is converge or not since all the outputs scaled down to [-1,1]

[2019-08-15 03:47] narayan907 commented on #2424
Thanks @ervteng to reply,
How can i check visual observation output, where does the images get stored.

[2019-08-15 05:44] arixlin commented on #2428
@ervteng
Right, CPU inference works fine,  but it is slow.
When I train multiple envs at the same time, there will be an agent to stop acting, Thanks!

[2019-08-15 06:28] AidinD commented on #2402
I did a quick setup and took a few screenshots to show my setup and highlight the issue.
Here is the agent code and this is the only script used in the project except for an empty Academy script:

using System.Collections;
using System.Collections.Generic;
using MLAgents;
using UnityEngine;

[code]

The first screenshot shows a non working scenario. You can see in the console output that all the v

[2019-08-15 07:10] AidinD commented on #2427
I had the same problem moving up to vs 0.9. However, it seems removing the player brain from the academy hub solves the issue and the agent is training when control is checked. And at the same time, you can still use the player brain any way when unchecking control from the learning brain.

[2019-08-15 09:06] tillmusshoff commented on #2434
Thanks for helping out. There was a typo in the vector_action_description. Never thought that this causes the issue. Thanks again!

[2019-08-15 09:06] #2434 closed

[2019-08-15 11:54] Lei-Wei commented on #2436
sadly it still does not work for me, these are the screen shots.
I also checked the coding of json file, it is utf-8. In VS 2019 it should be utf-8 by default too.

![console](https://user-images.githubusercontent.com/30424884/63092930-aad0f800-bf63-11e9-8a63-782a4afe9efd.PNG)
![academy](https://user-images.githubusercontent.com/30424884/63092932-aad0f800-bf63-11e9-831e-73b6e77895b2.PNG)
![json](h

[2019-08-15 12:12] Lei-Wei commented on #2436
ok I know it...
I must also manually set up in Academy inspector...

thanks for help!

[2019-08-15 12:12] #2436 closed

[2019-08-15 13:21] mnsmuts commented on #2427
Many thanks

[2019-08-15 13:58] Lei-Wei opened #2438 "One of the curricula defined in config/curricula/wall-jump/ does not have a corresponding Brain."
Hi,
I tried the wall-jump example but got this error in python console. (which also appears in my own project)
I did set corresponding brain to the academy and agent.

![console](https://user-images.githubusercontent.com/30424884/63098814-086d4080-bf74-11e9-81f7-a90f12ded80b.PNG)

Besides, can anyone explain what does this value mean in the academy inspector, which is not clearly described in doc.

[2019-08-15 17:29] SufiahA commented on #2156
I am currently getting this same error. I've managed to narrow it down to find that the root problem is inside of the Brain.cs script when it calls this function.
![image](https://user-images.githubusercontent.com/35203126/63051122-683eeb00-be91-11e9-97fd-fdb0bc4eed00.png)

![image](https://user-images.githubusercontent.com/35203126/63051063-4a718600-be91-11e9-943c-c6061bbff7f2.png)

[2019-08-15 17:56] rajatpaliwal commented on #2399
Hi @ervteng , I tried changing it in both rpc_communicator as well as environment.py. But the timeout was taking place at 30 seconds only. Do you suggest changing the value only in rpc_communicator file and not in environment.py file.

[2019-08-15 18:01] rajatpaliwal commented on #2375
Hi @awjuliani ,
Does the student agent learns from scratch in a particular iteration of training or does it also retains some learning from previous iteration of training and also learns from current iteration of training.

[2019-08-15 20:46] ervteng commented on #2399
Just rpc_communicator made my timeout much longer

[2019-08-15 20:49] ervteng commented on #2428
@arixlin I guess I was asking about CPU inference from inside Unity, not Python.

[2019-08-15 21:27] rajatpaliwal commented on #2399
Somehow not working in mine even after just making changes in rpc_communicator or in both environment.py and rpc_communicator.
Do you think I should delete some summaries or some log data to make this command work.

[2019-08-15 21:47] vincentpierre commented on #2438
I was able to reproduce your error. In the curricula folder for the walljump, there are two files: one corresponding to the BigWallBrain and one corresponding to the SmallWallBrain. Both these brains need to be trained, if one of them is not checked to `Control` in the Academy, the trainer will look into the curriculum folder, realize there is a setting for a brain that is not controlled by Python

[2019-08-15 23:09] rajatpaliwal opened #2440 "Interpreting .demo files."
Hi,
In order to perform offline behavioral cloning we generate .demo files using demonstration recorder. Is there is a way to access the data stored in .demo file and make some inference outside Unity editor. Also, what is the format of the data collected( video, images, table, vector, text) in the .demo files.

[2019-08-16 00:09] awjuliani commented on #2375
Hi @rajatpaliwal

The student agent continues to learn from data collected in the past as well as data being immediately collected in each training iteration.

[2019-08-16 00:34] vincentpierre commented on #2440
The `.demo` files are storing data in protobuf messages. These messages are the same used for communication between C# and Python. I am afraid extracting this data won't be easy, but you can look at the [demo_loader](https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/mlagents/trainers/demo_loader.py) if you really need to. If you are interested in Behavioral Cloning, you should

[2019-08-16 00:57] rajatpaliwal commented on #2375
Hi @awjuliani ,
After each iteration of training a separate .nn file is created which is imported into the learning brain after the training is done. Can you elaborate how student agent continues to learn from data collected in the past when a separate .nn file is being created with every iteration. Ideally student agent should learn from scratch from the current iteration .

[2019-08-16 01:21] ervteng commented on #2428
@arixlin, just wanted to elaborate on my prior answer. The toggle inside the Unity editor changes the inference mode of the in-game Unity Inference Engine (Barracuda). It shouldn't be affected by Tensorflow at all.

Tensorflow-GPU not working is another issue, though. In my experience tf-gpu works fine with multiple environments. Do the agents still get stuck when you're training with one env?

[2019-08-16 01:23] ervteng commented on #2432
I'm assuming there is some sparse extrinsic reward right? You may be able to lower the weight of the curiosity in the later parts of training so they won't be as incentivized to be curious with each other

[2019-08-16 01:24] ervteng commented on #2424
They're sent over as numpy arrays - you can see them in the `environment.py` file.

But usually just viewing the camera is enough.

[2019-08-16 01:26] arixlin commented on #2428
@ervteng
Yes, some of them will get stuck but no all when i using tensorflow-gpu.
I guess the situation is not caused by the tensorlfow-gpu or Barracuda setting, because both insternal and external occur, Thanks your reply.

[2019-08-16 12:11] Lei-Wei commented on #2438
@vincentpierre
thanks for the reply.
But I also tried my own scene, it shows the error info too.
for my academy, it has only one brain and I did check the 'control'
![console](https://user-images.githubusercontent.com/30424884/63166734-93f7d780-c02f-11e9-92bf-d5c2422c1d80.PNG)
![inspector](https://user-images.githubusercontent.com/30424884/63166735-93f7d780-c02f-11e9-8104-742ac95b7edc.PNG)
![acade

[2019-08-16 12:33] akTwelve commented on #2156
This happened to me and I figured it out. You probably grabbed a .nn file from a training run that had a greater number of observations than your current LearningBrain. For example, in my case, when I dragged a .nn model from a training run where I had 85 vector observations into a LearningBrain with only 54 vector observations, it gave me this error.

Here's a breakdown of what was happening in m

[2019-08-16 14:21] pkr97 opened #2441 "Training custom models for Computer Vision application"
Thanks to everyone who contributed for this project.

I was going through the tutorial of 3D ball application. It was intuitive but people may get lost in some steps. https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Basic-Guide.md
The steps given in the above link doesn't match to the environment while following the tutorial.
It would be nice to have a clear and concise guide so th

[2019-08-16 16:56] ervteng commented on #2399
Hi @rajatpaliwal, did you install ml-agents through pip? if you did there's a pre-compiled version of ML-Agents installed somewhere that doesn't change when you edit your files, this might explain why the behavior isn't changing.

[2019-08-16 17:16] rajatpaliwal commented on #2399
Hi @ervteng . Yes, I did installed ml-agents through pip. Is there a way to remove that pre-compiled version of ML-Agents. Or, I need to  uninstall the ML-Agent and then re-install them through some other method?

[2019-08-16 17:27] ervteng commented on #2399
Yes, do `pip uninstall ml-agents` and `pip uninstall ml-agents-envs`. Then browse to your ml-agents directory, enter the `ml-agents-envs` sub-directory, and run `pip install -e ./`. Then enter the `ml-agents` sub-directory and do the same. That will install your source version of ml-agents into pip, so any code modifications will work

[2019-08-16 18:13] vincentpierre commented on #2438
What did you name the file in the `config/curricula/robot` directory?

[2019-08-16 18:14] rajatpaliwal commented on #2399
Yes, uninstalling ml-agents-envs and ml-agents and reinstalling them with pip install -e ./ allowed code modification to work I was able to delay the timeout_wait parameter to more than 30 secs. Thanks @ervteng  for your help.

[2019-08-16 18:19] vincentpierre commented on #2441
Can you be a little more specific? If there are errors in the documentation we would be happy to review. Additionally, if you want to suggest improvements, we would be happy to review a PR.
Fo a more beginner guide, you can look at the [RollerBall tutorial](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Create-New.md)

The ML-Agents toolkit is only meant for

[2019-08-16 18:20] Lei-Wei commented on #2438
robotLearning.json

Vincent-Pierre BERGES <notifications@github.com> schrieb am Fr. 16. Aug.
2019 um 20:13:

--
viele Grüße
Lei Wei

[2019-08-16 18:22] vincentpierre commented on #2438
`robotLearning.json` or `RobotLearning.json`? I think the string matching between the curriculum file and the name of the Learning brain is case sensitive. Could you try with `RobotLearning.json` if you haven't tried yet?

[2019-08-16 18:26] Lei-Wei commented on #2438
I will try it tomorrow, thank for the tip

Vincent-Pierre BERGES <notifications@github.com> schrieb am Fr. 16. Aug.
2019 um 20:22:

--
viele Grüße
Lei Wei

[2019-08-16 18:36] kumarict commented on #1789
Hi! Are there any updates on this? I have generated pytorch models as .pt or .pth files and would like to load them into Unity. It would be great to convert them into .nn files or import them directly or at least know when they will be supported. Thank you.

[2019-08-16 19:07] Lei-Wei commented on #2438
@vincentpierre
I tried Renaming the json file from robotLearning.json to RobotLearning.json and it works.
It turned out to be case sensitive.
Thanks so much for your help!

[2019-08-16 19:07] #2438 closed

[2019-08-16 21:22] ervteng commented on #2399
Glad it helped. Closing the issue for now - feel free to open it back up if you're still running into problems.

[2019-08-16 21:22] #2399 closed

[2019-08-17 04:04] aadimator commented on #1167
getting the same error. Any workaround?

[2019-08-18 15:47] sdr152 opened #2444 "mlagents: API # not compatible"
I'm using Unity version 2018.3.0.
I when try to open the Unity Environment(Executable) through Jupyter, I retrieve the following message:
**`The API number is not compatible between Unity and python. Python API : API-9, Unity API : API-8.
Please go to https://github.com/Unity-Technologies/ml-agents to download the latest version of ML-Agents.`**

I have reinstalled mlagents once and over again, bu

[2019-08-19 01:48] superjayman commented on #2441
I think he means eg. image classification, segmentation, labeling ect. Would it be possible to train ml-agents to recognize peoples faces and put a box around it?

Also, The documentation says you added support for  Nature and ResNet , can you please elaborate on this, how do we actually use them(What is Nature vs ResNet)

[2019-08-19 08:29] bassmit commented on #1789
We convert to pytorch to onnx
https://github.com/mantasp/barracuda-release/tree/release/0.2.4/Tools then
to nn with onnx_to_barracuda
https://github.com/mantasp/barracuda-release/tree/release/0.2.4/Tools

On Fri, Aug 16, 2019 at 8:36 PM kumarict <notifications@github.com> wrote:

[2019-08-19 08:30] bassmit commented on #1789
oops, pytorch to onnx https://pytorch.org/docs/stable/onnx.html

On Mon, Aug 19, 2019 at 10:29 AM Bas Smit <bas@bassmit.info> wrote:

[2019-08-19 09:00] mbaske commented on #2441
I've experimented with using YOLO within Unity. Although the project isn't utilizing ml-agents, I thought I'd mention it here, since it seems to do what you're looking for.
https://github.com/mbaske/yolo-unity

[2019-08-19 12:23] djsdvg opened #2445 "Imitation Learning with multiple brain"
Is there a way to training two brain simultaneously with Imitation Learning ?
I have two different demonstration, one for each different brain in the scene but i don't know how to use them when training.
I saw that i can pass one demonstration using the .yaml config file but i didn't found how to pass two of them.

[2019-08-19 14:46] leobol96 opened #2446 "Tensorflow gpu with cuda 10"
Hello,

I Have an RTX 2060 gpu and i'd like to use it for training my env.

How can i do it if ml-agents supports only cuda 9 with tensorflow 1.7.1 and my gpu supports only cuda 10 with tensorflow 1.13?

If it's not possible to run ml-agents on the RTX 2060 , wich gpu do you recommend ?

[2019-08-19 17:27] vincentpierre commented on #2441
The ml-agents toolkit is focused on reinforcement learning, we do not support image classification, segmentation, labeling as of 0.9.1. We do support training RL agents using images as input, to do so, we feed the input image into several convolution layers. The original papers for the architectures are referenced [here](https://github.com/Unity-Technologies/ml-agents/blob/3ee09631089e7e25425e1a5c

[2019-08-19 17:30] vincentpierre commented on #2444
From the error, your python version of ML-Agents is the most recent one (API-9) but your Unity SDK is out of date. You need to replace the [C# code of ML-Agents](https://github.com/Unity-Technologies/ml-agents/tree/master/UnitySDK/Assets/ML-Agents) in your project.

[2019-08-19 17:34] vincentpierre commented on #2445
If you are trying to train two brains with two demos at the same time (either offline BC or GAIL), you need to specify the demo files for each of the brains :

[code]

If you want to train a single Brain with two demo files, we do not currently support this use case.

[2019-08-19 17:43] vincentpierre commented on #1167
There is OS specific limitation on Linux in that you cannot reuse a port right after you close it. The delay before it becomes available again is something like 60 seconds.
If you want to open multiple environments one after the other on Linux, consider changing ports every time and re-use ports only after a certain delay.
There might be bugs related to closing environments independent of this Lin

[2019-08-19 17:49] vincentpierre commented on #2150
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:49] #2150 closed

[2019-08-19 17:52] vincentpierre commented on #2211
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:52] #2211 closed

[2019-08-19 17:52] vincentpierre commented on #2255
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:52] #2255 closed

[2019-08-19 17:52] vincentpierre commented on #2105
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:52] #2105 closed

[2019-08-19 17:52] vincentpierre commented on #2254
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:52] #2254 closed

[2019-08-19 17:53] vincentpierre commented on #2261
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:53] #2261 closed

[2019-08-19 17:53] vincentpierre commented on #2238
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:53] #2238 closed

[2019-08-19 17:54] vincentpierre commented on #2201
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:54] #2201 closed

[2019-08-19 17:54] vincentpierre commented on #2235
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:54] #2235 closed

[2019-08-19 17:55] vincentpierre commented on #2283
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:55] #2283 closed

[2019-08-19 17:55] vincentpierre commented on #2291
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:55] #2291 closed

[2019-08-19 17:55] vincentpierre commented on #2252
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-08-19 17:55] #2252 closed

[2019-08-19 17:57] vincentpierre commented on #2446
Hi,
We have been experimenting internally with TensorFlow 1.13 and newer versions of CUDA on cloud machines. We have seen some results but we do not have a guide at this time.

[2019-08-19 18:38] surfnerd commented on #2446
I believe you should be able to run CUDA 9 on your GPU according to [this thread](https://devtalk.nvidia.com/default/topic/1055573/cuda-setup-and-installation/does-cuda-9-0-support-rtx-2060-/).
 i.e. running CUDA 9 on a GPU that has a newer driver should still work.  Note that the GPUs driver version is different than the CUDA version you have installed.

Have you run into errors when trying to ma

[2019-08-20 01:46] lndCruz opened #2449 "Vector Observation for next state in Jupyter Notebbok"
Hi, Guys.
I'm starting studies on ml-agents now and for testing, I have declarated the following state for observation:
![image](https://user-images.githubusercontent.com/36889600/63310293-7e550d00-c2d0-11e9-89e1-8d978b084b92.png)

My code in Jupyter Notebook, I've a array with size Q=[ [0, 0] ], i.e, one line and two coluns.
![image](https://user-images.githubusercontent.com/36889600/63310445-24a

[2019-08-20 08:36] Augustusmyc opened #2450 "Unable to preload the following plugins: ScreenSelector.so"
**Describe the bug**
In Docker container, I setup unity-gym, and open 3dball enviroment, but screen outputs:
**Unable to preload the following plugins:
	ScreenSelector.so**

**To Reproduce**
Steps to reproduce the behavior:
pip install gym_unity
python
from gym_unity.envs import UnityEnv
env_name="/3dball/3dball"
env = UnityEnv(env_name, worker_id=0, use_visual=True)

**Screenshots**
Found path: /

[2019-08-20 09:10] Augustusmyc commented on #2450
My real project must include visual observations, so I do not select the headless option.

[2019-08-20 12:30] djsdvg commented on #2445
@vincentpierre Thanks!
That is what I wanted to do

[2019-08-20 15:40] #2445 closed

[2019-08-20 23:30] rajatpaliwal opened #2452 "Not able to add reward signals using gail_config.yaml"
Hello,
While trying to add reward signals in gail_config.yaml I am receiving an error saying

[code]
I tried removing tab characters to 2 spaces but didn't work.

Kindly help.

[2019-08-21 08:43] isotropic-panda opened #2453 "Recording Demonstrations using a build"
I would like to send a build to multiple people and have them run it, record the demonstrations and combine the demonstrations in GAIL. I have successfully recorded a few trajectories through the unity editor but as you can imagine, it's time consuming and it's serial.

[2019-08-21 13:14] superjayman opened #2454 "Visual Observation image size?"
So, what image size are reasonable to use with ml-agents, no where in the docs you talk about this. Can I pass in say 1080p image for visual input and how is this related to training times?

[2019-08-21 13:17] superjayman commented on #2441
With visual input say from a web-cam to ml-agents, would it be feasable for the system to learn to say  output a vec2 screen space position of recognized object?

[2019-08-21 16:50] DIPLO22 opened #2455 "My agent is not learning anything. It is neither improving nor disimproving."
Basically my agent is a car that is trying to learn to drive on a road with inputs provided with ray perception. My tensorboard summary is --- https://imgur.com/a/3sdIruS

My hyperparameters are ----- https://imgur.com/a/J3mWxQl

I can provide more details with the reward system and the code.

[2019-08-21 17:38] vincentpierre commented on #2450
`Unable to preload the following plugins: ScreenSelector.so` is not an error. The training should start regardless (We see this message systematically when using Linux). If the training does not start, it could be due to something else.
Did you make sure your environment was working outside of Docker? Using in editor training might help you diagnose if something is wrong.

Also, in your steps to r

[2019-08-21 18:56] rajatpaliwal opened #2456 "Query regarding command line training option --load"
Hello,

I am using training option

 to restore the parameters of a previously trained model and continue the training . My query is can I select a particular trained model which is not the last iteration . If not does the --load options selects the parameter to be loaded randomly or it selects the parameters from previously saved model.

[2019-08-22 05:58] Akaash03 commented on #1826
where to find tensorflow_to_barracuda.py file in the ml-agents repo and what is that file mean
please anyone can explain it?

[2019-08-22 13:08] ChaiKnight opened #2459 "Simple CNN converted with Barracuda returns constant values with RenderTexture as Tensor"
**Describe the bug**
I exported a simple tensorflow-based CNN model and converted the .pb to a .nn-file. Loading it up as a model and feeding it a RenderTexture as Tensor (both are channel-last), I receive my 100 values as constant near-0 floats. Somewhere, the input loses its influence and I can't figure out where.

**To Reproduce**
Use the example code in the Barracuda.md to feed a RenderTexture

[2019-08-22 17:58] xiaomaogy commented on #1826
It lives here. And it is used to convert a model trained by ml-agents into something unity can use.

https://github.com/Unity-Technologies/ml-agents/blob/3ee09631089e7e25425e1a5c1795bf995eb76ac0/ml-agents/mlagents/trainers/tensorflow_to_barracuda.py

@Akaash03

[2019-08-22 18:00] xiaomaogy commented on #2452
I think posting your .yaml file would help us see where the issue is.

[2019-08-22 18:02] xiaomaogy commented on #2453
Hi @isotropic-panda This is a nice feature and we've internally discussed this before. However to make this workflow really good for the users, it takes some nontrivial effort.

[2019-08-22 18:03] xiaomaogy commented on #2454
Hi @superjayman, larger the image, longer the training would take. In our example environment, we use 84 * 84, and it is already good enough for most of the cases.

[2019-08-22 18:06] xiaomaogy commented on #2455
Hi @DIPLO22, we in general don't help with a problem that is relevant to a custom environment due to the resource constraint. You can post more information like how you set up your rewards, how you setup your ray perceptions, so that other people in the community might help.

[2019-08-22 18:09] rajatpaliwal commented on #2452
Hi @xiaomaogy ,
Here is the part of gail_config.yaml file specific to my project.
`RL_ExpertLearningBrain:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 64
    sequence_le

[2019-08-22 18:10] xiaomaogy commented on #2456
Hi @rajatpaliwal, --load will restore the model from the latest saved one. However you can also tweak one of the file within the models/ folder to change another model as the latest model (I don't remember which file, but you should be able to figure it out by looking at the files).

[2019-08-22 18:11] xiaomaogy commented on #2459
I think this is a barracuda specific issue, so @mantasp

[2019-08-22 18:27] rajatpaliwal commented on #2456
Got it. It's the checkpoint file in the models/folder . Changed the model name and is able to load any model of my choice.Thanks @xiaomaogy

[2019-08-22 19:18] DIPLO22 commented on #2455
So basically I have created a track on which the car can train. The car gets inputs from ray perceptions from five different angles and detects any fuel(which when hit gives a reward of +1) and walls (which when hit gives a reward of -1). It also gets the input of its current velocity in both x and z direction and also the position displacement since last frame. The rays are just like in this ->ht

[2019-08-22 19:48] zako42 opened #2460 "Tensorflow graph output changed in newer versions?"
Hello, and thank you for all your hard work.

I have some existing C++ simulation software, and I'm trying to use Unity trained agents to control things in it (I re-created portions of the C++ simulation in Unity for training).  The C++ simulation is using Tensorflow C++.  So I am training agents in Unity ML Agents and then taking the frozen model pb file and loading it into the simulation using T

[2019-08-22 21:07] xiaomaogy commented on #2452
Your file seems correct. Maybe there is some hidden \t that's not showing up. I would recommend taking one of our existing .yaml and replace the fields directly in that file to fine out what's wrong.

[2019-08-22 21:55] rajatpaliwal commented on #2452
Yes, the problem was I was editing the .yaml file in visual studio that was adding \t instead of spaces and was giving out error. Editing in Notepad++ solved the issue.

Query regarding gail_config:
We are performing offline behavioral cloning with added reward signals by using "gail_config" file. But I don't see any reward points being added while the training is taking place , also the student a

[2019-08-22 21:58] #2456 closed

[2019-08-23 04:36] ChaiKnight commented on #2459
So I decided to test a little more. Apparently, if I wait 2 seconds before calling the inference function for the first time (to make sure the camera is running), the results remain the same but the app lags out for about a second.

It seems like the inference sequence is never run again (if running it is supposed to lag it out) but I am not catching any exceptions which I would assume would happe

[2019-08-23 07:47] Santorayo3 opened #2462 "Behavioural Cloning: TypeError: increment_step() takes 1 positional argument but 2 were given"
I'm trying to teach my agent a demonstration file but the training fails with this error:
  File "c:\program files\python\envs\ml-agents\lib\site-packages\mlagents\trainers\trainer_controller.py", line 297, in start_learning
    n_steps = self.advance(env_manager)
  File "c:\program files\python\envs\ml-agents\lib\site-packages\mlagents\envs\timers.py", line 210, in wrapped
    return func(*args,

[2019-08-23 08:25] arixlin commented on #2462
@Santorayo3  You can use 0.9.1，this bug has fixed

[2019-08-23 09:49] Santorayo3 commented on #2462
Thanks, that helped a little. Unfortunately I've run straight into the next error:
  File "c:\program files\python\envs\ml-agents\lib\site-packages\tensorflow\python\client\session.py", line 905, in run
    run_metadata_ptr)
  File "c:\program files\python\envs\ml-agents\lib\site-packages\tensorflow\python\client\session.py", line 1116, in _run
    str(subfeed_t.get_shape())))

ValueError: Cannot

[2019-08-23 13:01] skamal16 opened #2463 "The hyper-parameter Gamma could not be found for the <class 'mlagents.trainers.ppo.trainer.PPOTrainer'> trainer of brain RubixLearner."
I get the error described in the heading when I try to run ml-agents-learn and then press play. The console window gets stuck and the unity editor window also seems to get stuck. I have to Ctrl-C to interrupt the console to do anything else.

Note: This is the first time I am running ML-Agents so I am probably missing something obvious. Any guidance would be appreciated.

Update: It's not just my

[2019-08-23 13:27] isotropic-panda commented on #2453
Hi @xiaomaogy thanks for the reply. Another temporary avenue to this that I have considered is running the environment through python and recording through that. Is there anywhere I could read more about reading and writing demo files?

[2019-08-23 19:08] xiaomaogy commented on #2453
You could refer to our https://github.com/Unity-Technologies/ml-agents/blob/master/UnitySDK/Assets/ML-Agents/Scripts/DemonstrationRecorder.cs to see how it works.

[2019-08-23 21:34] ervteng commented on #2452
@rajatpaliwal reward signals only work with the "ppo" trainer, as you need PPO to learn to maximize the reward signal. To use BC with reward signals, you could use the `pretraining` feature of PPO with a 0 `steps` parameter.

[2019-08-24 04:21] #2463 closed

[2019-08-24 11:44] sebjf commented on #2293
I've found if I convert the TensorFlow network to Barracuda manually on the inference machine, the resulting nn will work, even if the nn generated automatically on the training machine fails with the above error.

To do this copy the folder inside ./models to the inference machine and run tensorflow_to_barracuda.py.
For example:
(ml-agents) C:\Users\<username>\Documents\Unity Projects\UnityML>pyt

[2019-08-24 15:00] GitLinko opened #2464 "NullReferenceException: Object reference not set to an instance of an object during Training."
During training I sometimes get this repeating error in my console and the agent doesn't do anything anymore.
It happens seamingly at random, sometimes after 20k steps, sometimes after 200k steps sometimes not at all.
I've had it happen in my self-designed environment and I've had this happen in example environments, i.e. just now it happened in the "Hallway"-Environment.
I'm on ml-agents 0.81.

T

[2019-08-24 22:14] wandrzej commented on #1939
This is still showing up with 0.9.1. pip uninstall/install, as mentioned above, helps.

[2019-08-25 16:34] cgiles commented on #2464
Did you modified and saved some scripts as the training was ongoing ?

If yes, it's what caused this error.

You can always restart the training where it stopped by adding --load when you relaunch your training in the python/anaconda window. Just place it before the --training.

[2019-08-25 16:42] cgiles commented on #2455
I advise you to look the rayperception script in the ml-agents folder. It is a ready to use raycast for ML. It is used with the pyramid example. There is a 2d and 3d version of it. Consult this example, look at the agent prefab. You have to add a component for make it works. Then you create a variable RayPerception2/3d in your agent script and use a getcomponent function for  set this variable.

O

[2019-08-26 05:51] cloudjay commented on #2342
Hi! I'm not an expert, but maybe your agent is exploring unwanted regions. How about lowering beta for reducing random exploration? By default, UnityML PPO lowers beta from 1e-3 to 1e-5 in models.py

[2019-08-26 08:21] Augustusmyc commented on #2450
The docker that I use now is built by https://github.com/Unity-Technologies/ml-agents/blob/master/Dockerfile, just remove EXPOSE 5005 and ENTRYPOINT ["mlagents-learn"] (last 2 lines) in order to operate in docker container.

I have tried the --no-graphics version, its ok. However, without "--no-graphics" the timeout error happens. Then I opened xvfb and try again, it seems better but still cannot

[2019-08-26 09:22] joobei commented on #1673
I'm having the exact same issue on Ubuntu 18.04, I followed the instructions at
[https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation.md](url)
to the letter. There is no mlagents-learn command anywhere on my system.

[2019-08-26 13:21] joobei opened #2465 "Output from mlagents-learn -s config/trainer_config.yaml --run-id=first-run --train --debug same as mlagents-learn without any arguments"
**Describe the bug**
The output from
    mlagents-learn -s config/trainer_config.yaml --run-id=first-run --train --debug
is exactly the same as running mlagents-learn without any arguments

**To Reproduce**
Steps to reproduce the behavior:
1. switch to conda mlagents environment
2. run mlagents-learn -s config/trainer_config.yaml --run-id=first-run --train --debug
3. See output

**Screenshots**
[S

[2019-08-26 19:12] joobei commented on #2465
This is embarassing . I could have sworn I copy-pasted the command line from the Basic-Guide.md
Oh well perhaps this should be marked as an improvement request for people like me who randomly add command line arguments, some message that says "no such command line argument exists".

[2019-08-26 19:12] #2465 closed

[2019-08-27 02:46] jjangshan opened #2466 "How can i convert bytes/nn to pb file?"
How can i convert bytes/nn to pb file?
I want to use a model created by unity ml-agents in a non-Unity environment. Is it possible?

Thank you for comments.

[2019-08-27 06:07] xunyiljg commented on #2293
thanks.

[2019-08-27 09:05] leobol96 commented on #2446
Hi @vincentpierre
Can you tell me how you did it?

[2019-08-27 10:37] wandrzej commented on #2226
Have you resolved this issue? I'm getting the exact same error when running mlagents-learn, after uninstalling 'regular' TF and installing the TF-gpu as mentioned in the Installation-Windows doc

[2019-08-27 21:00] mantasp commented on #2459
Each time you update content of the RenderTexture you have to re-create input Tensor and pass new instance to the Barracuda.

[2019-08-27 22:47] rajatpaliwal opened #2467 "Debugging observation collected by RayPerception3D"
I am trying to debug the observation collected by RayPerception3D method in Hallway example. Here is my debugging code that I have added in HallwayAgent.cs
![debuuging 1](https://user-images.githubusercontent.com/30369775/63813043-2fffc980-c8e1-11e9-8e98-e3f8f1ad6568.PNG)
 and this is the output that I received in the console:
![debugging 2](https://user-images.githubusercontent.com/30369775/63813

[2019-08-28 04:16] jjangshan commented on #2466
Hi @zako42 , Thank you for your help. I found both nn, pb and ckpt files.

May i ask you one more question?

There is Game A, which is difficult to repeat for learning but, available inference/test using tensorflow  (Not based on Unity)

In Unity, I create a small testbed B similar to Game A, and learn by ml-agent using equalized input (observation) and output (action).

If then, can I use that mo

[2019-08-28 07:39] tillmusshoff opened #2468 "BC: Should Cloning Loss be high or low during training?"
Hi there,

the Cloning Loss drops from 130 to 70 and from 90 to 14 in another example after 4h of offline training. Both graphs are very smooth. What is the ideal value for the cloning loss? The description in the wiki doesn't really help me: "Losses/Cloning Loss (BC) - The mean magnitude of the behavioral cloning loss. Corresponds to how well the model imitates the demonstration data."

Thanks in

[2019-08-28 07:50] ChaiKnight commented on #2459
@mantasp I'm already doing that. I create a new Tensor(with RenderTexture and channels) and pass it to my worker. My inference code is below if that helps:

[code]

[2019-08-28 10:54] ChaiKnight commented on #2459
Update: I found a solution to this problem. Neither Compute nor ComputePrecompiled worked, so I tested ComputeRef. I still have no idea about the difference, but Ref seems to work.

In the meantime I've also enabled "Require ES3.1" and "Require ES3.1+AEP" and I've fiddled with texture settings and Project Settings (specifically related to graphics, enabling only GLES3.1 and Vulkan) so that might h

[2019-08-28 10:54] #2459 closed

[2019-08-28 12:01] mantasp commented on #2459
This actually sounds like a bug. Could you share your network (random weights are fine) for us to test?

[2019-08-28 13:24] ChaiKnight commented on #2459
Yeah sure. Here's a [link](https://gofile.io/?c=caxd3J)

The .nn file is the actual file used in my project currently, the .pb file is a very similar network I've just been working on, accidentally overwriting the original one. It shouldn't make a difference though, it's just a few extra conv layers.

[2019-08-28 14:53] Coookiez commented on #2463
I'm using the newest version cloned from the repo so when I deleted the ML-Agents folder and reimported it - nothing changed. Any other suggestions on how to fix that problem?

[2019-08-29 17:00] brifl commented on #2109
I am experiencing this as well. It happens more frequently when my agent hits its maximum reward (I call Done() when this happens) and the "Std of reward" is 0.00. I would like to understand how it determines this, so it doesn't interfere with my training. When it is hitting max reward, I increase difficulty, so I want it to continue learning.

[2019-08-29 18:09] AkhilRaja commented on #2318
The error posted is after i followed the steps mentioned in the blog. @Deepak-HpyAda  I got the errors after doingg all the steps mentioned in the blog and further. @xiaomaogy  I cannot repoen the issue, could you please do that and discuss further on how to solve this issue ? I see a lot of people facing similar issues.

[2019-08-29 18:16] unityjeffrey opened #2475 "Unity ML-Agents Toolkit Survey"
Your opinion matters a great deal to us. Only by hearing your thoughts on the Unity ML-Agents Toolkit can we continue to improve and grow. Please take a few minutes to let us know about it.

[Fill out the survey](https://goo.gl/forms/qFMYSYr5TlINvG6f1)

[2019-08-29 18:17] #2404 closed

[2019-08-29 19:44] FuzzyPinkIdiot opened #2476 "Gym wrapper with no graphics"
I'm trying to train an agent on a remote server. I'm aware that I can start an X server to handle the graphics, however my agent doesn't learn from visual observations. I'm attempting to just disable these then.

env = UnityEnvironment(file_name="TAGFullReward/Rules of War.exe", no_graphics=True)

I have the no_graphics=True in the environment. This seems to work out fine, but on the env.reset:

e

[2019-08-29 21:07] skamal16 commented on #2463
Your assets may be of the newest version, but when last did you install/update your ml agents environment? I think my main issue was the need to update my ml agents environment, in which case I just deleted it and installed it from scratch. If this doesn't fix it then I'm not sure what the problem may be.

[2019-08-29 21:15] Coookiez commented on #2463
I did it like 2-3 days prior to running the agents.

[2019-08-30 06:53] EnthusedDragon opened #2477 "Can I have two academies in one scene?"
Is it possible to have two academies in the same scene with different brains?
One will have Control on and the other will have it off.

I'm training my one brain first and once it's ready it will play a part in the training of the next brain.

I'm currently training my AI Player brain first.
But once that's ready I will be training another brain to generate game content, based off how well the AI

[2019-08-30 07:35] arixlin commented on #2477
@EnthusedDragon  Hi， you can let other brain run on internal.

[2019-08-30 07:49] arixlin commented on #2462
@Santorayo3  Can you  let me see brain settings and CollectObservations() ？

[2019-08-30 08:03] weizhuang-93 commented on #2390
Hi, i encountered similar problems but i do not know if it is the same bug. i have a cnn model, using DataFrmt NHWC, and named input and output. When i try to convert the .pb file with barracuda, i get the following error.
`(ml-agents) C:\Users\Wei Zhuang>python ml-agents-0.9.1\ml-agents\mlagents\trainers\tensorflow_to_barracuda.py D:\MasterArbeit\05_Programm_und_Code\TFSharpTest\Assets\CNN_TF_1-7

[2019-08-30 08:18] Santorayo3 commented on #2462
I've made several changes over time and don't know the settings I used there. All I can say that the brains had a visual observation with 100x80px (color) and some vector observations like their position, health, ammo and so on. Those vector observations were stacked to about 15-30 as far as I remember. Both brains had the same settings.

[2019-08-30 12:42] FuzzyPinkIdiot commented on #2476
Just kidding, it works with graphics on. Sorry for being silly.

[2019-08-30 12:42] #2476 closed

[2019-08-30 13:25] cmburgul opened #2478 "API Number is not Compatible"
UnityEnvironmentException: The API number is not compatible between Unity and python. Python API : API-9, Unity API : API-4.
Please go to https://github.com/Unity-Technologies/ml-agents to download the latest version of ML-Agents.

I don't find any update for API-4.

**Environment :**
- OS + version: Linux 16.04
- _ML-Agents version_: Unity 2017.4

![image](https://user-images.githubusercontent.co

[2019-08-30 14:27] aieie89 commented on #2302
With stacked vector = 5 and gamma = 0.99 agents learn well shooting each other.

Thank you,
for the point of multi-agent i'll open a new discussion.

[2019-08-30 14:27] #2302 closed

[2019-08-30 15:03] mantasp commented on #2459
Thank you!

[2019-08-30 15:30] mantasp commented on #2312
@Junggy I added your report to our issue tracking system.
@AkhilRaja I don't think your issue is related to BatchNormalization import, could you please make separate report?

[2019-08-30 15:34] mantasp commented on #2224
@hfnvbh do you have link to your model?

[2019-08-30 18:40] #2444 closed

[2019-08-30 18:45] vincentpierre commented on #2478
This error arrises because your Python ml-agents and your Unity ml-agents do not have the same version. To upgrade python, you need to run `pip3 install mlagents==X.Y.Z` where X.Y.Z is the version you want. To upgrade the unity code version, you must reclone and update all the files of [this folder](https://github.com/Unity-Technologies/ml-agents/tree/master/UnitySDK/Assets/ML-Agents) in you proje

[2019-08-30 18:45] #2478 closed

[2019-08-30 18:47] vincentpierre commented on #2477
As @arixlin is saying, you can indeed have multiple brains in the Academy Hub at once. You can put several learning brains in it and only the ones with the `Control` checkbox will be trained.

[2019-08-30 22:16] EnthusedDragon commented on #2477
Fantastic, thank you for confirming that.
Looking forward to testing it out.

[2019-08-30 22:16] #2477 closed

[2019-08-31 13:49] HiWill commented on #2475
I hope we can direct use ML in unity editor, I mean needn't to install python or other tools outside;
need check this one:  https://github.com/tcmxx/UnityTensorflowKeras

[2019-08-31 13:49] mnicolas94 commented on #1886
Hi, i have the same problem, i like to know if you did find the solution

[2019-08-31 23:26] jialululu commented on #13
Hi there,
we also came across similar problems. The code hangs after we run the env.reset() block. and on the small window, we could still control the angle we see using our mouses. The whole program just gets stuck on the reset part. Does anyone have any idea what kind of error we are running into?

[2019-08-31 23:28] whalefood opened #2479 "Error when "Reset On Done" set to true for some agents but not others"
**Describe the bug**
Mixing agents where some are "Reset on Done" and some aren't causes PPO training to crash on Done

**To Reproduce**
1. Open one of the examples with multiple agents.  I used the Soccer example.  And set one of the agents to not reset on done.
2.  Start PPO training.
3.  When that agent reaches the Done state, the training will crash

**Screenshots**
![bug](https://user-images.

[2019-09-01 16:12] awjuliani commented on #13
Hi all. To have the simulation proceeds from python, you must call `env.step()` from python. Unity will wait otherwise for the action from python. If you'd like to run in a simple loop, you can call `env.step()` without passing any actions. Otherwise, you would compute actions for the agents in your scene to take.

[2019-09-01 21:30] jo3w4rd opened #2481 "Tests in the Editor folder depend on scripts in the Example/Shared assets folder"
Since a "real" project might not want extraneous example content in its build, nothing outside the Example folder should depend on scripts or other assets inside Examples.

If I delete the Example folder, the Editor Ray Perception tests fail to compile.

[2019-09-01 22:36] whalefood commented on #2479
Nevermind.  Seems to be fixed in 0.9.2

[2019-09-02 00:04] whalefood commented on #2479
Actually, it is still an issue.  But only if curiosity is turned on.

[2019-09-02 01:16] arixlin commented on #2462
@Santorayo3  You are input tensor error， the input need set [n, 80, 100, 3], do you set Stacked Vectors?

[2019-09-02 08:17] weizhuang-93 commented on #2390
Hi @mantasp , is there a workaround to this problem?

[2019-09-02 08:49] maystroh commented on #1449
You can find the singularity image in this link: https://github.com/maystroh/RL_cataract

[2019-09-02 14:09] weizhuang-93 opened #2483 "Need Help Converting .pb / .h5 Tensorflow Model to .nn"
Hi,
i would like to use tensorflow trained model for audio source separation in unity. I am trying to convert the model into NN Model with Barracuda but i seems to get error. i tried Onnx to Barracuda, Keras to Barracuda, and Tensorflow to Barracuda but none seems to work. I named my single input and single output.

I really hope someone could help me on this!!

 I used:
tensorflow-gpu=1.7.1
windo

[2019-09-02 18:51] Avoca-do opened #2484 "After agents hit max Fitness, it's slowly becomming worse by far."
So i was trying to do ml agents.
and i made 1e7 steps.

after 1e6 steps.
i got the results of 4k fitness.
at 2e6.
the agent was avr around 8k - max fitness.
and then it just went down hills.

from 190k
to 220k the agents went from avg fitness of 8k to avg fitness of 2k.

with much much worse results.
and i just cant figure it out.

why? how is that possible?

[2019-09-03 13:44] joobei commented on #1505
I am still experiencing this issue in ubuntu 18.04, ml-agents 0.9.1. I have to wait sometime before I re-run mlagents-learn.

[2019-09-03 14:10] maystroh opened #2486 "Material's texture is missing in external mode"
In only external mode with visual observation input, a texture image added to a material disappeared (it becomes black at runtime) in the image treated by the CNN.

Steps to reproduce the behavior:
1. Add a texture image to a material
2. Attach this material to a game object in your scene
3. Add this line of code in `_process_pixels` in `UnityEnvironment` class:
`image.save(datetime.datetime.now()

[2019-09-03 18:20] xiaomaogy commented on #2318
@mantasp

[2019-09-03 18:33] vincentpierre commented on #2486
I tried to reproduce this bug but I did not succeed. I think it is because I do not know how to :

Is this different from what we do with the Checker materials in PushBlock ? How is this different from the Materials present in "UnitySDK/Assets/ML-Agents/Examples/SharedAsset" ?
It could be that the Material or texture you are using have different settings.

[2019-09-03 18:37] vincentpierre commented on #2338
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:37] #2338 closed

[2019-09-03 18:37] vincentpierre commented on #2340
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:37] #2340 closed

[2019-09-03 18:37] vincentpierre commented on #2351
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:37] #2351 closed

[2019-09-03 18:37] vincentpierre commented on #2321
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:37] #2321 closed

[2019-09-03 18:37] vincentpierre commented on #2353
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:37] #2353 closed

[2019-09-03 18:38] vincentpierre commented on #2370
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2370 closed

[2019-09-03 18:38] vincentpierre commented on #2358
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2358 closed

[2019-09-03 18:38] vincentpierre commented on #2359
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2359 closed

[2019-09-03 18:38] vincentpierre commented on #2365
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2365 closed

[2019-09-03 18:38] vincentpierre commented on #2354
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2354 closed

[2019-09-03 18:38] vincentpierre commented on #2350
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2350 closed

[2019-09-03 18:38] vincentpierre commented on #2253
Thank you for the discussion. We are closing this issue due to inactivity.

[2019-09-03 18:38] #2253 closed

[2019-09-03 20:34] ervteng commented on #2292
@Usmaniatech, gridworld should work fine. Multi-agent might not though.

[2019-09-03 21:03] maystroh commented on #2486
Actually, the material I use was different from those used "UnitySDK/Assets/ML-Agents/Examples/SharedAsset" but I modified it to have the same settings as the ones used in the SharedAsset but it is still showing black at runtime. Here are the settings I'm using for my material:
![Screenshot from 2019-09-03 22-58-06](https://user-images.githubusercontent.com/4221393/64208389-01648e80-ce9f-11e9-9760

[2019-09-03 21:07] qfettes commented on #1835
This is still an issue, but has a simple fix. Baselines expects the environments to be wrapped as SubprocessVecEnv or DummyVecEnv. Thus, change the make_unity_env function in the tutorial to:

[code]

[2019-09-03 21:09] GitLinko opened #2488 "Trying to train on Azure "Permission Error""
Hello,
I'm trying to set up my Azure VM to train Agents on it.
I've followed the guide in the documentation. First of all it says in the documentation that you need to check "headless" but I don't see that option anywhere. So what's that about? Anyway when I try to create my executable Enviroment using
env = UnityEnvironment("PushBlock")
or using the mlagents-learn command I get the following:

Tr

[2019-09-03 21:38] ervteng commented on #1835
Hi @qfettes, I think this guidance would help a lot of people - it'd be great if you could make a PR to our `gym_unity` docs so you get credit for the fix :P.

Also, out of curiosity, which version of Baselines are you using?

[2019-09-03 22:06] chriselion commented on #2488
Hi @linko994,
"Headless mode" should be an option in the Build Settings for your scene:
![image](https://user-images.githubusercontent.com/6877802/64211098-efacc800-ce59-11e9-9b4b-5270228a3b91.png)

As for the exceptions, I think the first thing to solve is
`PermissionError: [Errno 13] Permission denied: '/data/home/linko994/dqn/PushBlock16/PushBlock16.x86_64'`
You'll need to debug this on your ow

[2019-09-03 22:52] qfettes commented on #1835
Done - I just opened a pull request which fixes the issue.

I just pulled from baselines today, so it's the latest version.

[2019-09-03 23:09] linko994 commented on #2488
Huh. @chriselion This is how the build menu looks for me (Using Unity Editor 2018.3.11f19):

![Unity_2019-09-04_01-06-52](https://user-images.githubusercontent.com/3768115/64214345-712f4500-ceb0-11e9-97a7-dc9dda2ed58b.png)

I'm a newbie when it comes to Linux and VMs. "the file doesn't have execute permissions" how do I fix this?

[2019-09-03 23:42] chriselion commented on #2488
So you got the permissions straightened out? Here's a basic guide https://www.tutorialspoint.com/unix/unix-file-permission.htm but the short answer is that you'll probably need to run `chmod a+x [your file name]` to make the file executable.

I think for now, you can use "Server Build" instead of "Headless Build". I'll do some more digging into when "Headless Build" was removed from the build sett

[2019-09-04 00:15] vincentpierre commented on #2486
If I cannot reproduce the issue, I will not be able to help. The fact that the materials in the Shared Assets are working indicates there might be something wrong with the texture. I encourage you to experiment with different textures and try to identify what is causing the issue. It might be resolution.

[2019-09-04 00:25] linko994 commented on #2488
In the Unity Documentation it says that "Server Build" was added in 2018.3, so maybe it replaced Headless? Headless is still listed as an option in the documentation for 2018.3 as well as the 2019 Versions so I don't know.

[2019-09-04 10:07] hfnvbh commented on #2224
Hi @mantasp
I attached archive with original .pb file and converted .nn.

[testcnn.zip](https://github.com/Unity-Technologies/ml-agents/files/3573950/testcnn.zip)

[2019-09-04 10:07] maystroh commented on #2486
Ok now I see where the problem is coming from. If I run the training on my local machine using my local X server linked to my physical monitor (my display hardware), it works properly, however, if I run it on a distant machine with no display hardware using my singularity image (see this [link] (https://github.com/maystroh/RL_cataract/blob/master/README.md) for more details about it), the textures

[2019-09-04 12:37] MoMe36 opened #2492 "Is there a way to monitor pre-training ?"
Hi !

I'm training a PPO agent. To take advantage of some demonstrations I made, I'm relying on pre-training + GAIL. On launching the training session, the terminal starts by indicating progresses in terms of RL (mean reward per episode). Is there a way I can monitor the pre-training (loss over epochs, for instance). As of now, I am not even sure it is doing the pretraining.
Here is my config:
[co

[2019-09-04 16:49] unityjeffrey opened #2493 "Calling All Game Developers"
Hello!

If you are a game developer and looking to use ML-Agents in a game (for any purpose at any stage of development), we want to hear from you!

Please send us a note to ml-agents@unity3d.com and include your name, studio (or independent), and a short description of your project.

Thank you!

Unity ML-Agents Team

[2019-09-04 17:12] ervteng commented on #2492
Hi @MoMe36, the pretraining is happening at the same time as the RL (it's better for the value network) and anneals over time. If you view the Tensorboard, you can see the pretraining loss and learning rate decreasing, and 0 out when pretraining `steps` is reached.

[2019-09-04 19:04] MoMe36 commented on #2492
Oh, okay, I see. I was actually thinking that pre-training was a stage on its own.
Thanks !

Closing the issue.

[2019-09-04 19:04] #2492 closed

[2019-09-05 07:08] jjangshan commented on #2466
@zako42 Sorry for the late reply.
I think we have confirmed the possibilities based on your opinion and I think it's worth a try also.
Thank you for your kind explanation. I hope you get good results in your case too.

[2019-09-05 08:08] WannyWanny opened #2495 "I want to change Soccer Example."
Describe what you'd like to discuss.

**Note**: The ML-Agents team has limited resources for education and community discussion.  We'll participate as we are able, but encourage members of the community to support one another to discuss and support one another.

In Soccer Example, field size is 30 * 15.
I changed size to 161.8 * 100.
As a result, it doesn't work as well as it did before. Agents ca

[2019-09-05 13:27] mnsmuts opened #2496 "AttributeError: 'OnlineBCTrainer' object has no attribute 'step'"
New installation of 0.9.2 with new conda py env.
-using the UnitySDK and running the 3DBall
-player brain on one of the agents Learning brain on the rest, academy with two brains (player and learner)
Nothing unusual with the setup or command (mlagents-learn config\online_bc_config.yaml --train --slow)

Obviously I changed the brain to imitate line in the default onlineBC yaml file to 3DBallPlayer

[2019-09-05 13:44] mnsmuts commented on #2496
![mlagents0 9 2error2](https://user-images.githubusercontent.com/22680369/64347272-878deb80-cfeb-11e9-88b7-4604e0d4449a.PNG)
Same error with offline training using the basic model and a demo file.

[2019-09-05 14:25] mantasp commented on #2483
@weizhuang-93 any reason why are you doing Batch normalisation on axis=1? Typically it should be feature axis (-1) and we support only this case.

[2019-09-05 15:31] mbaske opened #2497 "How to deal with very small changes in vector observations?"
Hi - My agent has to keep track of a ball on a playing field. I'm normalizing the ball's position to x/z coordinates between -1 and +1. Depending on the size of the field, small movements might cause tiny changes in the observed values, on the order of 0.0001 step increments. Which seems to make learning precise behaviour quite difficult. What's a good practice to deal with this issue? I guess wit

[2019-09-05 17:10] chriselion commented on #2496
Hi @mnsmuts - thanks for the bug report. I think I see the problem, I'll work on a fix today.

[2019-09-05 17:18] mnicolas94 commented on #1886
Same problem and i dont find any solution. I have windows 10 1803, cpu i5 6200U. I tested on unity 2018.3 and 2019.1, and with mlagents v0.7 and v0.9. it works for inference (control checkbox unchecked) but not for training (control checkbox checked)

[2019-09-05 18:47] chriselion commented on #2496
Fixed in https://github.com/Unity-Technologies/ml-agents/pull/2498 - during a refactor, the step initialization got moved to `RLTrainer` instead of `Trainer` which explains why it didn't affect PPO training.

We'll work on some more automated testing to make sure there's better coverage on the BC Trainer code.

[2019-09-05 22:05] antisquark commented on #2065
Thanks for this.

[2019-09-05 23:52] Avoca-do commented on #2497
if you really wish,
you can normalize the position.
so -100, -100 would become something like -0.7, -0.7
and then send the distance,
the original magnitude to something like 0-1.

Second way i can think is:
lets assume the position of the ball is (423, 0) so magnitude is 423.
Again we send the position normalized.
and then we just pass each position digit separately.
so first 423 is 400 + 20 + 3
s

[2019-09-06 00:30] cloudjay commented on #1856
Hi! I also want to use the mean action for my project, so could you explain somewhere how you did this? Thanks!

[2019-09-06 00:43] ervteng commented on #1886
Hi @mnicolas94, you're using in-editor training, right?

[2019-09-06 01:23] prgmrjeong commented on #1521
@awjuliani thank you for ur answer :)

[2019-09-06 03:44] jkim447 opened #2500 "Changing Dimension of Non-primitive Objects"
Hi, I am trying to do domain randomization, where the object dimensions are changed every episode.

I originally modeled the object in Solidworks. However, after it is imported to Unity it becomes a mesh file. Any chance there might be a way to access the original dimensions of the object and be able to change them? I know changing the scale can be another option, but was wondering if ML-Agents of

[2019-09-06 06:42] ConorZAM commented on #1856
Hi cloudjay,

I came across the Deep Deterministic Policy Gradients (DDPG) algorithm
which builds a deterministic policy and was much more suited to my needs.
At the time of my problem there was no implementation for ML Agents and so
I moved over to using openAI gym and their baselines package.

Since then unity may have added more algorithms, I don't know.

I hope that helps!

On Fri, 6 Sep 2019,

[2019-09-06 09:25] mnsmuts commented on #2496
Many thanks

[2019-09-06 11:18] hanseoup opened #2501 "Memory is linearly increasing when I use model inference mode."
https://github.com/Unity-Technologies/ml-agents/issues/1817
Because i think above issue can solve memory leak issue.
I changed my ml-agent version to 0.9.2

as above url said,I checked that it can solve the issue of "3DBall" sample example.
![image](https://user-images.githubusercontent.com/53593292/64423563-cdc57680-d0e1-11e9-9200-85f056ce9dba.png)

But it still has memory leak issue, when it com

[2019-09-06 12:28] mnicolas94 commented on #1886
I tried both, editor and builded.

[2019-09-06 13:04] robertsolero opened #2502 "Issue installing on Mac OS"
Hello,
I'm unable to install ML-Agents on my Mac.

**Environment**
- Mac OS X (Mojave 10.14.5)
- Unity 2019.2.0f1
- ML-Agents version 0.9.2

I'm following this [installation](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation.md) guide.

I'm using Unity 2019.2.0f1 and the Unity-SDK portion works as expected.

I've installed Python 3.6.
`python3 -V`
returns
`Python 3.6.0`

[2019-09-06 16:50] chriselion commented on #2502
Hi @robertsolero,
It looks like typing.Deque was added in python 3.6.1 https://docs.python.org/3.6/library/typing.html#typing.Deque
so it's not available in your version (3.6.0).

Are you able to upgrade to 3.6.1? If not, if you're comfortable modifying the source locally, you should be able to remove the imports and usage (it's only used for type annotations).

I'll review our min python version

[2019-09-06 16:52] TSTsankov opened #2503 "Identify custom actions vector action space type & size"
Greetings!

I am probably asking a silly question, yet can someone help me out here:

After following the instructions provided [here](https://github.com/Unity-Technologies/ml-agents/blob/master/protobuf-definitions/README.md) && [here](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Creating-Custom-Protobuf-Messages.md) in order to setup ["Discrete and Continuous Actions in one A

[2019-09-06 17:47] chriselion commented on #2501
Hi @hanseoup,
I observed similar behavior to what you described, using the Unity profiler to track the memory usage. However, the memory usage eventually levels out (about maybe 30 seconds of real time) and stays flat after this.

![image](https://user-images.githubusercontent.com/6877802/64447724-e9546100-d090-11e9-8d6f-040adc3f383d.png)

Can you confirm (preferably in the profiler) whether the m

[2019-09-06 18:28] ervteng commented on #1886
There might be an issue with Windows Firewall - I'd check there and see if Unity is blocked. Did you get a message asking for access to your ports at any time?

[2019-09-06 18:30] chriselion commented on #2484
Hi @Avoca-do,
Are you seeing this behavior in a provided example environment? Unfortunately we don't have the resources to help debug issues with custom environments.

[2019-09-06 18:38] robertsolero commented on #2502
Hi @chriselion
Thank you for the fast support, much appreciated.
I can confirm the error is gone updating python to 3.6.1.
If I only knew it was that easy ;).

[2019-09-06 18:41] chriselion commented on #2502
Great, glad that fixed it!

[2019-09-06 18:56] mnicolas94 commented on #1886
Nop, i have my firewall disabled. I'm using it on a computer without internet access. It is that a posible reason? Could it be a cpu issue?

[2019-09-06 19:52] chriselion commented on #2495
Hi @WannyWanny,
As mentioned in the template, we have limited resources and can't help much with custom environments like yours.

That being said - I would definitely increase the ray distance to make sure the agents can "see" the other objects.

Another option might be to try using curriculum learning (https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-Curriculum-Learning.m

[2019-09-06 19:58] chriselion commented on #2497
Hi @mbaske,
As mentioned in the issue template we don't have the resources to help debug issues with custom environments.

In general, I would say that if your model is that sensitive to the position, it's going to have trouble learning.

Some general suggestions would be to use the position of the ball relative to the agent (for example `agent.position - ball.position`) instead of the ball's abso

[2019-09-06 23:07] chriselion commented on #2496
We're going to be doing a bugfix release on Monday with the fix for this.

[2019-09-06 23:12] ervteng commented on #1886
It shouldn't be a CPU issue. It looks like for some reason the environment and the Python aren't communicating. We've tested on both those Unity versions on Windows 10 with a Core i7 and it worked OK. By any chance could you post the output of the Player.log (https://docs.unity3d.com/Manual/LogFiles.html) after builded run and see if there are any errors?

[2019-09-07 07:09] mbaske commented on #2497
Thanks for your feedback @Avoca-do and @chriselion.
I did actually get better training results after splitting and normalizing the decimal places as suggested above. Great idea!

[2019-09-07 14:41] Avoca-do commented on #2484
well i might actually figured out what was causing the issue,
i miss understood the GetReward and SetReward methods.

i was sure that SetReward actually rewrite the reward of the entire run,
but there is the occomulative reward,
so, i was using to much SetReward, at the end of the run by multiplying my GetReward, value.
and that caused the issue (i guess).

still wierd that at first it worked perf

[2019-09-07 16:33] mnicolas94 commented on #1886
I solved it. I read the FAQ and there was the solution. Sorry for not looking there first. Apparently the problem was that i had the http_proxy and https_proxy environment variables setted. Thanks for your help

[2019-09-07 17:34] EnthusedDragon opened #2507 "Using a curriculum with imitation learning"
Heyo,

So I've got a curriculum setup and it is working great.
But as soon as I add a player brain to the scene for imitation learning, the curriculum doesn't load in anymore.

Does ML-Agents support using imitation learning and curriculums together?

[2019-09-07 17:58] EnthusedDragon commented on #2507
Closing, I accidentally made grammar error in my brain name...

[2019-09-07 17:58] #2507 closed

[2019-09-07 20:48] banish09 opened #2508 "No Example for Behavioral Cloning offline/online training"
I have just started working with the Unity ML-Toolkit. I see there are plenty of examples in the ML agents for most of the algorithms, however, none for the behavioral cloning.

I am trying to use offline behavioral cloning method to train a NPC in a FPS game. I don't know how to go around the Academy and Agent Scripts for this and have found neither proper documentation nor remotely close example

[2019-09-07 21:05] banish09 commented on #2434
@tillmusshoff
I have just started working with the Unity ML-Toolkit. I see there are plenty of examples in the ML agents for most of the algorithms, however, none for the behavioral cloning.

I am trying to use offline behavioral cloning method to train a NPC in a FPS game. I don't know how to go around the Academy and Agent Scripts for this and have found neither proper documentation nor remotely

[2019-09-08 11:59] aikeonnkyauk commented on #2452
What is going on

[2019-09-08 12:52] MarkTension opened #2509 "No "Scripting Runtime Version" in Unity's "Other Settings" menu?"
**Describe the bug**

In the [basic guide](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Basic-Guide.md), step 5 .ii the instruction is to:
Select Scripting Runtime Version to Experimental (.NET 4.6 Equivalent or .NET 4.x Equivalent)
However, I don't see the Scripting Runtime Version in my Project settings.

<img width="611" alt="screenshot 3" src="https://user-images.githubuser

[2019-09-08 19:08] ZeGaly commented on #1845
Hi,

I would like to re open the subject, sorry if it's a noob issue but I'm struggling for few days now on exactly the same issue of cawelsky. The solution of DBuckley101 doesn't work for me as there is no proxy variable in my environment variables.

I installed and run successfully the training for 3Dball example 1 month ago. I developed my own little game but I faced this issue. I got back at 3

[2019-09-08 22:45] laarroyo opened #2510 "Address error when manual input"
Address error when manual input. Have to pick from Google address options for correct pin

[2019-09-09 01:28] hanseoup commented on #2501
Thank you for your reply. as you said, i track the memory state, and i want to see the point that memory eventually stop. But, in my environment, the memory state is just linearly increasing.
following are snapshots... for checking the issue.

1. at start
![start](https://user-images.githubusercontent.com/53593292/64497776-d38ea800-d2eb-11e9-8ec5-f9fcde2e2698.PNG)
2. after 2min
![2min](https://use

[2019-09-09 03:35] chenmingxiang110 opened #2511 "Ray Perception return zeros."
I am trying to use ray perception to get the distance between my player and the object in my 3D game. Normally it should return something like 1,0,0,0.2987161. But in my project, it returns four zero.

As shown here, the player controls a forklift like this

<img width="244" alt="Screen Shot 2019-09-09 at 11 26 05 AM" src="https://user-images.githubusercontent.com/25835726/64501642-c4f8be80-d2f4-1

[2019-09-09 17:17] chriselion commented on #2510
Is this a problem with ML Agents? If so, please create a Bug report issue and fill in the requested information. If not, we are unable to provide any additional help.

[2019-09-09 20:50] chriselion commented on #2508
Hi @banish09
The scene in `UnitySDK/Assets/ML-Agents/Examples/BananaCollectors/Scenes/BananaIL.unity` should be usable with Behavioral Cloning.

There are some sections in the docs https://github.com/Unity-Technologies/ml-agents/blob/develop/docs/Training-Behavioral-Cloning.md and a related section on recording demonstrations https://github.com/Unity-Technologies/ml-agents/blob/develop/docs/Traini

[2019-09-09 21:14] chriselion commented on #2511
Hi @chenmingxiang110,
I think you're correct that they rays hit another object besides the ones that you're looking for.

I'm not an expert on Unity's Physics system, but I think the best fix would be to change where we perform the raycast (actually a sphere cast) here:
https://github.com/Unity-Technologies/ml-agents/blob/035045e75c04287a8ba6a3cdf65100995db7c283/UnitySDK/Assets/ML-Agents/Examples/

[2019-09-09 21:31] chriselion commented on #2509
Hi @MarkTension
It looks like some of the Player settings have changed since that part of the documentation was written (That settings appears in the 2019.1 documentation https://docs.unity3d.com/2019.1/Documentation/Manual/class-PlayerSettingsStandalone.html but was apparently removed in 2019.2). You should be fine ignoring that setting for now; we'll update the documentation to be clearer.

[2019-09-09 21:49] chriselion commented on #2488
Sorry for the delay on this. I confirmed with our platform team that "Headless" needs to be removed from the documentation (e.g. https://docs.unity3d.com/2019.3/Documentation/Manual/BuildSettings.html). "Server Build" is what you should be using instead; I'll update our docs to reflect this.

[2019-09-09 22:19] rajatpaliwal opened #2518 "Configuring the architecture of the neural net to be trained."
Is there any way to look into the architecture of the neural net being trained and then reconfiguring the parameters according to our requirement in order to achieve better results. I know that frozen_graph_def.pb contain the information regarding the latest trained neural net, but I am unable to read it. Any suggestion would be helpful.

[2019-09-10 00:16] rajatpaliwal commented on #2466
Hi @zako42 ,
Can you tell me how are you opening .pb files outside unity . What tensorflow tools are you using . Is there to configure these pb files according to our need.

[2019-09-10 04:48] hanseoup commented on #2501
Thank you, chriselion! I hope that we could solve the issue soon. please comment it, if you find some clues :)

[2019-09-10 08:44] Zilch123 opened #2527 "Getting all RL output values in Unity/Python"
Please forgive for unsuitable vocabulary.

Is it possible to get all the values of the nn output ? In unity/Python. Is there an unity/Python function to get all the outputs.
What mean as output is the each action which maximises the reward. I would also need other action values for which reward might be less or zero.
![image](https://user-images.githubusercontent.com/16478371/64598294-1d9f8880-d3d

[2019-09-10 13:05] robertsolero opened #2528 "Cannot run --train on Mac OS"
Hello,
I cannot run any --train command on my Mac OSx.

**Environment**

Mac OS X (Mojave 10.14.5)
Unity 2019.2.0f1
ML-Agents version 0.9.3 [Also replicated with  0.9.2]
Python 3.6.8 [Also replicated with  3.6.1]
Tested using "UnitySDK" Project folder, as well as a custom Environment/Project in Unity.

**Description**

I successfully installed ML-Agents after some troubles.
I tested a pre-trained

[2019-09-10 14:30] ulyssesp opened #2529 "Academy::maxSteps is private"
**Is your feature request related to a problem? Please describe.**
Making `Academy::maxSteps` private forces users to use agent's max steps to do rewards over episode.

**Describe the solution you'd like**
Make `Academy::maxSteps` public or provide a public accessor.

**Describe alternatives you've considered**
Using Agent::maxSteps

**Additional context**
It's been requested before in https://git

[2019-09-10 17:13] chriselion commented on #2496
Version 0.9.3 was released yesterday, which contains the fix for this. I'll close this issue now.

[2019-09-10 17:13] #2496 closed

[2019-09-10 17:14] chriselion commented on #2497
Glad you got it working. Closing this issue...

[2019-09-10 17:14] #2497 closed

[2019-09-10 18:11] chriselion commented on #2518
Hi @rajatpaliwal,
I'm looking into the best way to do this; it looks like we don't have an option for it currently, but you can add
[code]
to Trainer.write_summary(), and a visualization of the graph will be available in Tensorboard (see https://www.tensorflow.org/tensorboard/r1/graphs).

I don't think allowing editing of the graph is something that we plan to support.

[2019-09-10 18:27] rajatpaliwal commented on #2518
Hi @chriselion ,
Just confirming, so I should add this line in trainer.py inside def write_summary?

[2019-09-10 18:53] chriselion commented on #2528
Hi @robertsolero,
I think this is a different underlying error than https://github.com/Unity-Technologies/ml-agents/issues/1505 - in that issue, `socket.bind()` raised `OSError: [Errno 98] Address already in use` but yours raises `socket.gaierror: [Errno 8] nodename nor servname provided, or not known`. I think we're incorrectly treating this error with `UnityWorkerInUseException`.

I'm not sure t

[2019-09-10 19:14] rajatpaliwal commented on #2518
I added the line "self.summary_writer.add_graph(self.policy.graph, step)" in trainer.write_summary(). But in the tensorboard i am seeing no graph definitions files were found.

[2019-09-10 20:18] chriselion commented on #2518
Not sure about that warning. I think adding
`self.summary_writer.add_graph(self.policy.graph)`
in Trainer.save_model() might be a better place instead; that gets called if you stop training early.

[2019-09-10 20:57] rajatpaliwal commented on #2518
Thanks, that worked. Able to visualize the graph now. Do you think tensorflow graph transform tools can help in editing this neural net architecture.

[2019-09-10 23:16] chriselion commented on #2500
Hi @jkim447,
Sorry for the delay on this. There's nothing special in ML-Agents to get the original dimensions. However, you could use custom reset parameters to scale the object around each axis (say between .9x and 1.1x of its original size), for example
https://github.com/Unity-Technologies/ml-agents/blob/72088537f9ce3a3fde5ab21940d2027a42cae0fc/UnitySDK/Assets/ML-Agents/Examples/BananaCollector

[2019-09-10 23:19] chriselion commented on #2518
I'm not familiar with the tensorflow graph transform tools, and it's not something that we can provide any support for.

Backing up a bit, what are you trying to accomplish by editing the network?

[2019-09-10 23:41] chriselion commented on #2529
Hi @ulyssesp,
Thanks for the suggestion. We'll take it under consideration, but Academy::maxSteps is likely going to be removed soon (in https://github.com/Unity-Technologies/ml-agents/pull/2519/files).

[2019-09-11 02:13] yakmyakmyakm commented on #2464
<img width="501" alt="Screen Shot 2019-09-10 at 7 02 24 PM" src="https://user-images.githubusercontent.com/2358507/64662920-f198fd00-d3fe-11e9-8021-44507efbd94c.png">
I believe I have ran into the same issue. I left my computer idle for a few hours and when I came back I got this error.

[2019-09-11 05:18] yakmyakmyakm commented on #2101
Hi I've created a custom action. I can run mlagents-learn in the terminal and I see the unity logo like the documentation says.

The issue is when I returned back to unity it looks like a bunch of references to the protobuf scripts which were generated do not match correctly.

<img width="622" alt="Screen Shot 2019-09-10 at 10 17 50 PM" src="https://user-images.githubusercontent.com/2358507/646701

[2019-09-11 05:43] yakmyakmyakm opened #2531 "Unity c# script compile issues when creating Custom Protobuf"
After I run make.bat the generated files in my unity project throw errors
<img width="619" alt="Screen Shot 2019-09-10 at 10 36 22 PM" src="https://user-images.githubusercontent.com/2358507/64670893-81e53b00-d41b-11e9-9411-462cf78db0be.png">

To reproduce I restore my project to what is on the repo
git reset --hard
then I go to /protobuf-definitions and call make.bat

I go to ml-agents and ml-agen

[2019-09-11 05:52] yakmyakmyakm commented on #2531
Here are the newly generated .proto files
[CommunicatorObjectsNew.zip](https://github.com/Unity-Technologies/ml-agents/files/3599179/CommunicatorObjectsNew.zip)

[2019-09-11 06:18] Zilch123 commented on #2527
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Python-API.md

https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agents.md

[2019-09-11 06:18] #2527 closed

[2019-09-11 07:38] tecniuf opened #2532 "Integration with AirSim"
I have seen that ML-Agents and AirSim can be used together with Unity, but I have not found any implementation. How can these two systems be brought together?

[2019-09-11 11:25] jsalli opened #2533 "Problem with agent with multiple objectives"
Hi,

I have modified the pushblock-example to have two types of blocks and goals. There are red blocks and blue blocks and also a red goal and a blue goal. Red block and goal are called in the code "bad block and bad goal" and the blue block and goal are called "good block and good goal".

The agent's objectives are to push the red blocks to red goal and the blue blocks to blue goal.

The problem

[2019-09-11 13:21] robertsolero commented on #2528
Hi @chriselion,
Thank you very much again.
I've been able to solve the issue, which isn't ML-Agent related, but due entirely to my machine.

To anyone that might face the same issue here what I did.

Before I couldn't run
`ping localhost `
but
`ping 127.0.0.1`
worked as expected.

I followed these suggestions [HERE](https://apple.stackexchange.com/questions/253817/cannot-ping-my-local-machine)
and

[2019-09-11 13:21] #2528 closed

[2019-09-11 16:09] TSTsankov commented on #2531
Did you _Un-comment line 7 in make.bat (for Windows, use make_for_win.bat), and set to correct Grpc.Tools sub-directory._ **and** _Run the .bat from the terminal by navigating to $MLAGENTS_ROOT\protobuf-definitions and entering make.bat_ ?
I have [a problem](https://github.com/Unity-Technologies/ml-agents/issues/2503) with the Custom Protobuf, yet at least I get it to compile.

[2019-09-11 16:19] yakmyakmyakm commented on #2531
Yeah I have done that after resetting my repo and I have the same results. Maybe we have to add something to the python instance?

<img width="890" alt="Screen Shot 2019-09-11 at 9 14 30 AM" src="https://user-images.githubusercontent.com/2358507/64715250-f8625700-d474-11e9-845c-493370f5736c.png">

[2019-09-11 16:20] yakmyakmyakm commented on #2531
I've also found this issue which may be of help to you.
https://github.com/Unity-Technologies/ml-agents/pull/932

[2019-09-11 16:29] chriselion commented on #2528
Glad that helped. I'll make an issue to try to make the error messages clearer in this case (since `UnityWorkerInUseException` isn't really appropriate)

[2019-09-11 17:05] TSTsankov commented on #2531
Well, perhaps what you say makes sense. You know where it says [_The Python instance of the custom action looks like:_](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Creating-Custom-Protobuf-Messages.md)
`from mlagents.envs.communicator_objects import CustomAction
env = mlagents.envs.UnityEnvironment(...)
...
action = CustomAction(direction=CustomAction.NORTH, walkAmount=2.0)
en

[2019-09-11 17:23] awjuliani commented on #2531
Hi @yakmyakmyakm

Can you try building the protobuf definitions without changing anything related to the custom observation or action?

[2019-09-11 17:23] awjuliani commented on #2532
Hi @tecniuf

There is no official support for ML-Agents and AirSim integration. There is experimental AirSim Unity support however. From there ML-Agents would need to be implemented manually.

[2019-09-11 17:27] awjuliani commented on #2533
Hi @jsalli

I would try thinking through the reward function a little. It may be the case that the agent prefers one or the other because there is not greater reward that would be achieved from equally preferring both. Perhaps you could try switching off between which goals are actually rewarding, so that the agent must learn to try both.

[2019-09-11 17:47] yakmyakmyakm commented on #2531
Hi @awjuliani

Ok. I have now tried with an empty custom action and observation and I get the same result. Maybe this is a version issue?

[2019-09-11 18:13] awjuliani commented on #2531
It seems there is indeed something wrong with your build process. As @TSTsankov asked, what is your output in the terminal from running the `.bat` ?

[2019-09-11 18:15] chriselion commented on #2503
Hi,
Sorry for the delay on this.

I would strongly discourage you from using CustomActions. Just updating the protobuf definitions isn't enough; you would also need to make several customizations to the Trainer in order to tell it how to produce the CustomActions. The documentation is misleading on the amount of effort required, and I'm going to update this soon.

In your case, I would recommend b

[2019-09-11 18:19] chriselion commented on #2527
Sorry for the delay, glad you were able to find the answers.

[2019-09-11 18:26] chriselion commented on #2078
Closing this issue since it's fixed in the most recent release.

[2019-09-11 18:26] chriselion commented on #2422
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion though.

[2019-09-11 18:27] rajatpaliwal commented on #2518
Its just that in order to achieve better training results I believe apart from setting hyperparameters in config files, configuring the architecture of the neural network by deciding upon the loss function being used, dropout techniques etc. can help in achieving better results.

[2019-09-11 18:28] chriselion commented on #2405
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion though.

[2019-09-11 18:28] #2405 closed

[2019-09-11 18:29] chriselion commented on #2355
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue the discussion though.

[2019-09-11 18:29] #2355 closed

[2019-09-11 18:32] TSTsankov commented on #2503
Many thanks for the reply! I'll just take things back to my previous setup and play around with the recurrent neural network parameters.

[code]

[2019-09-11 18:32] #2503 closed

[2019-09-11 18:56] chriselion commented on #2501
Still investigating - at the moment it appears there might be a bug with our reuse (or lack thereof) of tensors in Barracuda.

[2019-09-11 18:57] chriselion commented on #2484
Glad you figured out the problem. I'll close this issue.

[2019-09-11 18:57] #2484 closed

[2019-09-11 19:10] rajatpaliwal commented on #2467
Thanks @vincentpierre

[2019-09-11 19:10] #2467 closed

[2019-09-11 19:25] rajatpaliwal opened #2538 "Imitation learning(online and offline ) too slow"
Hi,
While doing online or offline behavioral cloning  training is taking place too slowly. As per tensorboard for completing 1000 steps it is taking around 4min and 30 seconds. I tried clearing the buffer by pressing "C" during training.
Earlier it was faster but as I started doing more iterations of training it has suddenly became lot slower.

Any suggestion would be helpful!!

[2019-09-11 20:00] yakmyakmyakm commented on #2531
Here is my output from running ./make.bat
<img width="653" alt="Screen Shot 2019-09-11 at 12 59 28 PM" src="https://user-images.githubusercontent.com/2358507/64730383-11c6cb80-d494-11e9-8c24-b79b486bece5.png">

[2019-09-11 21:49] awjuliani commented on #2538
Hi @rajatpaliwal

This is expected behavior, as there is a large amount of training which takes place between steps of the simulation during behavioral cloning. Does your agent improve?

[2019-09-11 21:55] surfnerd commented on #2501
Hi @hanseoup,
Thank you for providing feedback on this issue.  #2541 should fix the memory leak.  Please let us know if you have further issues.

[2019-09-11 21:55] rajatpaliwal commented on #2538
Yes, slowly it starts doing imitation . But earlier it used to show the similar behavior with training steps being completed faster. What might have changed now?

[2019-09-11 22:26] TheMartianLife commented on #2511
To the above: layer masking is pretty simply done by passing the tags of objects you want your agent to see.

e.g. something like (incomplete)
[code]

Hope that helps 👍

[2019-09-11 23:56] sstream17 commented on #2446
I am attempting to install ML Agents on an Nvidia Jetson Nano with CUDA 10.

Whenever I run `pip3 install mlagents` I get the error:
[code]

Would that be related to this issue in anyway?

[2019-09-12 00:38] awjuliani commented on #2538
Do you mean with a previous version of ML-Agents?

[2019-09-12 00:56] rajatpaliwal commented on #2538
Yes, earlier I was using v0.8

[2019-09-12 01:43] Sohojoe commented on #2532
@tecniuf  - would love to know if you get this working

[2019-09-12 04:00] Zilch123 commented on #2527
No Problem @chriselion, I've a solution of implementing an RL algorithm in GYM and use that to get all the output from a NN.
I was wondering if you can point me a better way, I mean directly getting them in Unity by tinkering the of output function or something?

[2019-09-12 05:10] FlimFlamm opened #2546 "Significant delay only in inference decisions (Barracuda.Dense)"
EDIT:  solution has been found: **GPU inferencing**

It looks like the problem is down to C# optimization. another fix that was suggested was [barracuda burst](https://github.com/Unity-Technologies/barracuda-burst-release) because it optimizes c# which helps with CPU inferencing in barracuda. But because the GPU fix is so fantastic, I wont even need to try it. I had assumed that i needed a cuda en

[2019-09-12 05:17] FlimFlamm commented on #2546
![demspikes](https://user-images.githubusercontent.com/24987395/64755993-81c06a80-d503-11e9-92cf-24e1d15a1c27.png)

[2019-09-12 05:44] FlimFlamm commented on #2546
Did some quick testing and it looks like layer width is the main culprit.

At 1024 width the lag from the dense layers is about 51 ms, which is hard to notice, but with a layer size of 2048 the lag from Barracuda.Execute is 170 ms, which is game-ruining.

[2019-09-13 08:25] khailArt commented on #2053
yes actually i had to freeze the model and save it as .pb not h5 , then
convert it from .pb to bytes :)

On Thu, 12 Sep 2019 at 22:23, AnitaSP <notifications@github.com> wrote:

[2019-09-13 10:26] Zilch123 commented on #2527
Thanks a lot @chriselion, I wasn't expecting you to answer me. Thank you!
The above will be useful, if I know how to load the trained .nn file and run it in jupyter. But I am not able to find the relevant documents for it.
I want to get the raw output of a trained RL agents, just today I came to know that the inference engine is doing this job.
https://github.com/Unity-Technologies/ml-agents/tree/

[2019-09-13 10:56] Smileynator opened #2552 "Having an ML agent play a game - Training/Config issues"
So i am just going to try and explain my issues as best i can and am allowed to with as much details as possible.

Currently i have a Archero clone type game, and i am trying to make a ML-agent play the role of the player, to easily try out different game balancing without having to keep testing the game all manually.

### Gameplay / Environment
The game is a level based top down shooter type. You

[2019-09-13 14:41] maystroh commented on #1786
@bjg2 , in this [link](http://tiny.cc/764wbz) you can find a singularity image that works with xvbf

[2019-09-13 15:55] bjg2 commented on #1786
Thanks! :)

[2019-09-13 17:23] DanAmador commented on #2113
I've found more about this problem.

I thought this issue would be solved in version 9 and decided to retry it.

At first I got excited as the trainer loaded the curriculum and said how a parameter was not present in the environment. I edited the json file and tried to reload it and still had the same JsonDecode

This is the trace when it reads the extra param:

`Traceback (most recent call last):

[2019-09-13 17:38] chriselion commented on #2527
The `.nn` file (and some other files) are produced here:
https://github.com/Unity-Technologies/ml-agents/blob/fba79899eba43442af00524acab8ee220d800087/ml-agents/mlagents/trainers/tf_policy.py#L213-L235

The .nn file is a Unity-specific format for the Barracuda inference engine. But the `frozen_graph_def.pb` is a more standard tensorflow format that you should be able to visualize with standard too

[2019-09-13 17:43] Sohojoe commented on #2532
@tecniuf - i was able to get AirSim Unity working - (note: commit i used https://github.com/microsoft/AirSim/issues/2190)

to integrate into one can hook into the python - they api is simple - https://github.com/Microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py

[2019-09-13 19:24] rajatpaliwal commented on #2518
Hi @chriselion , Thanks for guiding me to this file. This was really helpful. I believe I have quite a lot of insight into the neural net architecture we are using and the way to configure it according to me.

[2019-09-13 23:45] andrewcoh opened #2558 "TestPerception3d test fails Window->Test Runner with 3D ball scene loaded"
The unit test TestPerception3d fails (Window->Test Runner) with 3D ball scene loaded.

To reproduce on branches master or develop:
1. Load 3D ball scene
2. Window->Test Runner
3. Run all.

[2019-09-15 08:45] mbaske opened #2559 "Self-play environment / ghost trainer"
Hi - I'd like to share a table football environment which I built for experimenting with adversarial self-play. https://github.com/mbaske/ml-table-football
I was able to train a model using @LeSphax's [ghost trainer modification](https://github.com/Unity-Technologies/ml-agents/pull/1975).
Looking forward to seeing this cool new feature in a future ml-agents release!

[2019-09-15 08:48] lh784116211 commented on #1398
你好@xiaomaogy  ，我也遇到了相同的问题，请问它现在能支持UWP了吗？

[2019-09-15 08:50] SimonNordon opened #2560 "NN model not behaving like agent during training (Curriculum Learning)."
I've been training an agent to get better at navigating a series of mazes, by giving it harder mazes to complete via curriculum training. After 500K steps it was passing the hardest maze fairly well:

![image](https://user-images.githubusercontent.com/33815844/64919010-17504880-d7e9-11e9-95e0-d15dea84f55b.png)

You can see before it hit max steps it was doing quite well. However when I get the sav

[2019-09-15 09:51] mnsmuts opened #2561 "Anaconda in startup documentation"
While I understand the advantages of Anaconda envs, they can create unnecessary complexity when automating or debugging ml-agents. ml-agents work very well with a direct installation of python and it is easier to automate training. Does anyone else feel that the process in the startup documentation could be changed to have a "simple" installation?

[2019-09-15 12:52] the-zer07 opened #2562 "Prediction of racing car trajectory"
Hi I'm trying to teach a car to run on the track, I'm using a frontal camera to take the visual observation and a "Lidar" sensors (360 raycast).
I have to teach the car a way to find the ideal trajectory but I don't know where to start.
I even thought if the edge detection from OpenCV or similar could be useful but I'm noob with Tensorflow and I don't know how to implement.
Please can someone help

[2019-09-15 16:55] xiaomaogy commented on #1398
你好 @lh784116211 , 目前我们已经不用tensorflowsharp，转为使用Barracuda了。理论上Barracuda应该支持UWP， 不过我们没有试过，你可以试一下，要是不行的话可以再post一个新的issue。

[2019-09-15 22:52] sterlingcrispin commented on #2562
@the-zer07 what is your question?

sounds like if you just reward it for forward motion on the track and punish it for going off the track it would learn to drive it

[2019-09-15 23:08] sterlingcrispin opened #2563 "no-graphics and mutli-gpu together causes model saving failure"
**Describe the bug**
I know this seems weird because the whole advantage of flagging -multi-gpu would be to gain performance on visual observations but I noticed if --no-graphics and --multi-gpu are turned on the model never saves

**To Reproduce**
Steps to reproduce the behavior (tested on windows):
1. build an environment
2. run training with --no-graphics  --multi-gpu
3. let some steps go by an

[2019-09-15 23:54] sterlingcrispin commented on #2563
Actually it seems like multi-gpu is failing on my system closing this to open a clearer issue

[2019-09-15 23:54] #2563 closed

[2019-09-15 23:57] sterlingcrispin opened #2564 "--multi-gpu causing failure to save model"
**Describe the bug**
Training with --multi-gpu causes a failure to save the model

**To Reproduce**
Steps to reproduce the behavior:
1. Build the crawler dynamic environment.
2. Train it with `mlagents-learn config/trainer_config.yaml --env="envs/CrawlerTest/UnityEnvironment.exe" --run-id=CrawlTest9 --multi-gpu --train`
3. Interrupt training with Ctrl+C

**Screenshots**
`(ml-agents-0.9) C:\code\ml

[2019-09-16 06:15] jsalli commented on #2533
Hi @awjuliani
and thanks for the idea to change the rewarding. I made two branches in which I modified the rewarding system.
1) "dev/random-goal-type-gives-reward" in which the rewarding goal type is randomized on every agent reset and the rewarding goal gives +1 points and non-rewarding goal 0 points for correct goals. Scoring the block to the wrong goal resets the environment. I've also tested t

[2019-09-16 08:02] haoxiangli6 opened #2565 "Unity logo problem"
Hello, guys. When I try to use mlagents in Windows, Unity logo become weird in the console.
Anyone know how to resolve it?
![logoerror](https://user-images.githubusercontent.com/25996824/64942170-f9dbb700-d89a-11e9-8b0a-36ef9150a3aa.PNG)

[2019-09-16 08:24] the-zer07 commented on #2562
Yes that's it. Actually I punish him if he'll going off the track or collide against a barrier. Then I gain a little reward if he is still driving.
The car gain even a reward if the time of a sector or the entire track is new record.

[2019-09-16 17:27] rajatpaliwal commented on #2278
Hi @ervteng ,
I am trying to provide real time guidance using the trained brain. I believe by your previous comment you mean to create two agents in the same environment where one agent controlled by the player brain is controlled by the user , while other agent being controlled by the trained brain will provide instructions for guidance. It is not like online behavioral cloning where we have two

[2019-09-16 17:27] awjuliani commented on #2558
Thanks @andrewcoh

I'll look into this one.

[2019-09-16 17:29] awjuliani commented on #2559
Thanks for sharing @mbaske! This is a really cool environment. Can you share a little about your experience using this feature? Did the two sets of agents reach an equilibrium you were happy with?

[2019-09-16 17:31] awjuliani commented on #2560
Hi @SimonNordon

Differences in performance between training and testing can be due to differences in the training and inference settings in the academy. I would recommend looking there to ensure that things such as visual quality aren't being changed (In the case that your agent is learning from visual observations).

[2019-09-16 17:33] awjuliani commented on #2561
Hi @mnsmuts

Thanks for this feedback. Many of us on the development team for ML-Agents actually just use direct (or virtual env) python installations and environments. We choose Anaconda instructions to help game developer users who may be less familiar with python tools. We will take this feedback into consideration as we think through documentation improvements in the future.

[2019-09-16 17:34] awjuliani commented on #2564
Thanks for bringing this issue to our attention. @harper-u3d do you know why this might be happening?

[2019-09-16 17:34] ulyssesp commented on #2529
Nevermind then! I'll switch to using agent maxSteps. Thank you.

[2019-09-16 17:34] #2529 closed

[2019-09-16 17:36] awjuliani commented on #2533
Hi @jsalli

We don't have an example of an agent learning multiple goals at once, but we do have the `Hallway` example, where the correct goal location changes based on a marker in the environment.

[2019-09-16 17:37] awjuliani commented on #2565
Hi @haoxiangli6

This seems to be an issue caused by the font being used in your console. The logo is designed to display with certain fixed-width fonts, which yours seems to not be one of.

[2019-09-16 17:40] awjuliani commented on #1484
Hi @atapley,

In the past few months we have made a number of fixes to training to address lingering memory leaks. Please try the latest version of ML-Agents, and let us know if the issue is persisting. (Closing this issue for now)

[2019-09-16 17:40] #1484 closed

[2019-09-16 17:43] harperj commented on #2564
@awjuliani I am not familiar with the issue.  This seems like the key issue: ```You need to supply the name of a node to --output_node_names.```

[2019-09-16 17:44] awjuliani commented on #1680
Hi all. I am closing this issue due to inactivity. Please feel free to open a new issue if you'd like to continue the discussion.

[2019-09-16 17:44] #1680 closed

[2019-09-16 17:44] awjuliani commented on #1117
Hi all. For the next release of ML-Agents we are cleaning up some of the logic in Academy, and this issue should be resolved. As such, I am closing this issue.

[2019-09-16 17:44] #1117 closed

[2019-09-16 17:46] awjuliani commented on #1561
Hi all,

The simulation in Offline BC trainer exists to provide a test-time measure of performance.

We also have a new imitation learning method, GAIL, which performs much better when there are only small amounts of demonstration data. I would recommend taking a look at that.

Closing this issue for now.

[2019-09-16 17:46] #1561 closed

[2019-09-16 17:59] awjuliani commented on #1802
Hi all. I am closing this issue as it is something we don't expect to be adding anytime in the near future, as Unity is moving to be 100% C# based.

[2019-09-16 17:59] #1802 closed

[2019-09-16 18:00] awjuliani commented on #1798
Closing this issue as it was addressed in a recent release of ML-Agents.

[2019-09-16 18:00] #1798 closed

[2019-09-16 18:01] awjuliani commented on #2392
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:01] #2392 closed

[2019-09-16 18:01] awjuliani commented on #2389
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:01] #2389 closed

[2019-09-16 18:03] awjuliani commented on #2396
Hi @AidinD

We use the concept of discounted returns (sums of rewards over time) to determine which actions are best. If you are interested, I would recommend taking a look at David Silver's lectures on RL available on YouTube.

[2019-09-16 18:04] awjuliani commented on #2387
Hi @gzrjzcx

We are working on a solution for a future release that will allow for continued training as you have described. Currently we recommend using a very large max step, and then stopping early.

[2019-09-16 18:04] #2387 closed

[2019-09-16 18:05] ervteng commented on #2278
Hi @rajatpaliwal you are correct it's not like online BC. In online BC the two agents perform the same task (hence behavioral cloning) but in your task they do different things.

[2019-09-16 18:06] awjuliani commented on #2429
Hi all. Hopefully you were able to get the Monitor working as desired. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:06] #2429 closed

[2019-09-16 18:08] awjuliani commented on #2425
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:08] #2425 closed

[2019-09-16 18:08] awjuliani commented on #2426
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:08] #2426 closed

[2019-09-16 18:09] awjuliani commented on #2409
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:09] #2409 closed

[2019-09-16 18:09] awjuliani commented on #2416
Hi all. Closing this issue due to inactivity. Feel free to re-open if you feel necessary.

[2019-09-16 18:09] #2416 closed

[2019-09-16 18:11] #2424 closed

[2019-09-16 18:27] rajatpaliwal commented on #2375
Hi @awjuliani . I absolutely agree that .nn file is the final product of learning. That is why I was confused how student agent which is controlled by the learning brain continues to learn from data collected in the past.
I think what you mean by that statement is using RNN's to retain previous learning or  using command line option --load for loading the parameters of previously trained brain.

[2019-09-17 00:18] harperj commented on #2564
I've created a PR for a potential fix here: https://github.com/Unity-Technologies/ml-agents/pull/2573

[2019-09-17 01:32] ericblade commented on #1786
Root of problem seems to be that Unity Editor runs just fine on about anything, while Unity Player has dependencies that don't match -- libgtk2 and OpenGL 3.3 are required for the player, nonsensically.  Why?

[2019-09-17 06:12] AidinD commented on #2396
Thanks, I will check it out

[2019-09-17 06:12] #2396 closed

[2019-09-17 07:59] Zilch123 commented on #2527
Found out a similar Thread [unexpected results from Barracuda with pre-trained model](https://github.com/Unity-Technologies/ml-agents/issues/2027)
Have to implement import the .nn file (of a game) in C# and implement something similar to [this](https://www.dropbox.com/s/i983x9fydjtm0yd/TestTensorflow.cs?dl=0).
The[ Barracuda documentation](https://github.com/Unity-Technologies/ml-agents/blob/maste

[2019-09-17 08:41] mbaske commented on #2559
Thanks @awjuliani. It looks like two agents' ELO ratings converge over time. I need to interrupt and resume training (CPU) every couple of hours though, because of the python memory leak @AcelisWeaven is describing in the PR thread. After doing so, the rewards and ELO ratings can change quite a bit. Sometimes the checkpoint file will keep previous model checkpoint paths, sometimes they seem to dis

[2019-09-17 12:30] StepNeverStop commented on #1850
Does ml-agents support TF 2.0? I also want to migrate my code to TF2.0, need I modify some file in ml-agents/envs or ml-agents/trainers??

[2019-09-17 12:51] Smileynator commented on #2552
I have so far not made any significant improvements. I let my ML play out over the weekend to see where it would end up.

It seems to have significantly worse than before the tweaks i have been doing that should be all documentation and advice i have read online, have improved the behavior of the neural net. (less over-fitting etc.)

Of course this could imply that before it was over-fitting to su

[2019-09-17 17:01] leobol96 opened #2577 "ValueError: Cannot feed value of shape"
Hello,
I have this error using learning by demostration.
This is the error message:

INFO:mlagents.envs:Hyperparameters for the OfflineBCTrainer of brain RightBrain:
trainer: offline_bc
batch_size: 256
summary_freq: 1000
max_steps: 5.0e6
batches_per_epoch: 10
use_recurrent: True
hidden_units: 256
learning_rate: 0.0003
num_layers: 3
sequence_length: 32
memory_size: 256
demo_path: nodescription_1.de

[2019-09-17 17:44] avatcc opened #2578 "ERROR: mlagents 0.9.3 has requirement mlagents-envs==0.9.3, but you'll have mlagents-envs 0.8.2 which is incompatible."
when i try to pip install -e .
It shows:

what should i do ?

[2019-09-17 17:48] awjuliani commented on #2577
Hi @leobol96

It seems that your teacher and student brains have different action spaces.

[2019-09-17 17:49] awjuliani commented on #2578
Hi @avatcc

Please uninstall your old version of `ml-agents-envs`, and then try to reinstall `ml-agents`.

[2019-09-17 18:33] avatcc opened #2579 "train error"
when i try to train my model, this error shows.
(ml-agents) C:\Users\chenchet\Downloads\ml-agents>mlagents-learn config/trainer_config.yaml --curriculum=config/curricula/penguin/ --run-id=penguin_1 --train

                        ▄▄▄▓▓▓▓
                   ╓▓▓▓▓▓▓█▓▓▓▓▓
              ,▄▄▄m▀▀▀'  ,▓▓▓▀▓▓▄                           ▓▓▓  ▓▓▌
            ▄▓▓▓▀'      ▄▓▓▀  ▓▓▓      ▄▄     ▄▄ ,▄▄ ▄▄▄▄

[2019-09-17 20:15] leobol96 commented on #2577
@awjuliani

I checked and the brains have:
- Same action spaces.
- Same environment with 28 obs.

![Hbrain](https://user-images.githubusercontent.com/36326039/65075792-e06c6500-d997-11e9-87c5-b47fe120b9c0.PNG)

![lbrain](https://user-images.githubusercontent.com/36326039/65075801-e5311900-d997-11e9-8767-100454b61eb6.PNG)

[2019-09-17 20:39] awjuliani commented on #2579
Hi @avatcc

Can you share your trainer config file? It seems that there was an error reading it.

[2019-09-17 20:45] avatcc commented on #2579
I have copied them below. The interesting thing is I don't even have line 292 in my trainer_config.yaml
`default:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    gamma: 0.99
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_hori

[2019-09-17 21:13] #2558 closed

[2019-09-18 12:10] djsdvg commented on #2577
@leobol96  I had a very similar issue where the error was :
`InvalidArgumentError (see above for traceback): Incompatible shapes: [64,11] vs. [80,11]`

I found out that **64** was my `batch_size` in the `offline_bc_config.yaml`
So i tried to increase it till the error has disappear
Now my `batch_size` is 10000

[2019-09-18 12:44] leobol96 commented on #2577
@djsdvg @awjuliani
Same for me , the error disappear with a batch size of 1000000.

[2019-09-18 14:13] maystroh commented on #2486
I spent a couple of days trying to figure out what is happening without success. It's really annoying to have such problem when working with visual observation. Not sure how to proceed. Any help would be appreciated.

[2019-09-19 00:23] TheMartianLife commented on #2565
Weirdly, it actually doesn't look like that font's character width is too inconsistent, but it is likely still the cause.

![64942170-f9dbb700-d89a-11e9-8b0a-36ef9150a3aa](https://user-images.githubusercontent.com/25126921/65198697-6fc46600-dac7-11e9-8d52-4888a4af4663.PNG)

To change the font in Windows 10 CMD:

1. search "Command Prompt" in the start bar
2. right click the result > 'Open File Loc

[2019-09-19 00:34] TheMartianLife commented on #2562
Myself + the [Secret Lab](https://secretlab.institute/2019/07/11/installing-unity-ml-agents/) team just ran a tutorial teaching people new to Unity how to do a minimal working example of this at AIConf in San Jose. All the code and assets are up [on GitHub](https://github.com/parisba/ORM-AI-SJC-2019-Unity-ML-Agents) with [a full running sheet](https://github.com/parisba/ORM-AI-SJC-2019-Unity-ML-Ag