[2018-04-11 21:25] mmattar commented on #198
Hi @MarcoMeter - let us know if you have any additional questions here. Thanks.

[2018-04-11 21:28] mmattar commented on #212
Hi @stalkermustang - please upgrade to v0.3 next time you decide to try ML-Agents, several new features and improvements have been made. I'm closing this out and please feel free to create a new issue if you run into any problems.

[2018-04-11 21:28] #212 closed

[2018-04-11 21:34] mmattar commented on #213
Thanks for feedback @ruanrothmann, @zhenghongzhi. We've since released v0.3 of ML-Agents which includes several enhancements. I'm closing this out for now, but create a new issue if you run into any additional problems.

[2018-04-11 21:34] #213 closed

[2018-04-11 21:40] mmattar commented on #300
@billluky are you still running into issues?

[2018-04-11 21:43] mmattar commented on #307
Sounds good @dongfangyier. I'll close this issue and feel free to create a new one if you run into problems using ML-Agents.

[2018-04-11 21:43] #307 closed

[2018-04-11 21:44] mmattar commented on #311
Hi @jonboh - we've also since released v0.3 of ML-Agents which includes a number of enhancements. I'll close this issue, but feel free to create a new one if you run into any additional problems.

[2018-04-11 21:44] #311 closed

[2018-04-11 21:51] mmattar commented on #313
A few updates:
- We've since released v0.3 of ML-Agents which include additional enhancements.
- Part of the release is an updated Windows installation guide: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation-Windows.md
- We currently only support TensorFlow 1.4, but working to expand to 1.5 in the near future.

Closing this issue, but feel free to create a new one for

[2018-04-11 21:51] #313 closed

[2018-04-11 21:56] mmattar commented on #314
Hi @3DAPPG2018 - are you still running into issues here? I'm curious if you've tried your set-up with v0.3 of ML-Agents.

[2018-04-11 21:58] mmattar commented on #318
Hi @lagidigu - are you still having this issue or were you able to resolve?

[2018-04-11 21:59] mmattar commented on #342
Hi @lizhihao6 - are you still facing this issue or were you able to resolve it?

[2018-04-11 22:14] unityjeffrey commented on #602
thanks @kevincog-msft and @superjayman - we've logged this bug and will report back when we have a resolution,

[2018-04-11 22:15] unityjeffrey commented on #601
thanks @kevincog-msft we've logged this and will report back when we have a resolution.

[2018-04-11 22:16] unityjeffrey commented on #447
thanks for filing.  we've logged this bug and will report back once we have a resolution.

[2018-04-11 22:17] unityjeffrey commented on #468
thanks for filing.  we've logged this bug and will report back once we have a resolution.

[2018-04-11 22:17] unityjeffrey commented on #502
thanks for filing.  we've logged this bug and will report back once we have a resolution.

[2018-04-11 22:17] unityjeffrey commented on #526
thanks for filing.  we've logged this bug and will report back once we have a resolution.

[2018-04-12 00:26] mmattar commented on #227
Hi @Robertb84 - are you still having issues or were you able to resolve?

[2018-04-12 00:30] mmattar commented on #374
Brief update: we plan to upgrade our support to TF 1.5 soon. Closing out this issue.

[2018-04-12 00:30] #374 closed

[2018-04-12 00:31] mmattar commented on #392
Hi @hpts23 - closing this due to in-activity, but please re-open if you need additional support.

[2018-04-12 00:31] #392 closed

[2018-04-12 00:32] #393 closed

[2018-04-12 00:32] mmattar commented on #403
Hi @gururise - closing this out due to inactivity, but please reopen or file a new issue if you need any additional support.

[2018-04-12 00:32] #403 closed

[2018-04-12 00:33] mmattar commented on #416
Hi @XBagon - has your issue been resolved? Let us know if you need any additional support.

[2018-04-12 00:35] mmattar commented on #430
Hi @NinaMaz - are you still having issues or were you able to resolve?

[2018-04-12 00:55] mmattar commented on #546
@palomagr I believe the issue is that `ML-AgentsWithPlugin` has not been updated to 0.3.0b. We'll fix in the next week.

[2018-04-12 00:58] mmattar commented on #557
Hi @WindRunnerCackerChen - did the feedback on this thread resolve the issue? Let us know if you need any additional support.

[2018-04-12 02:16] theforgottenmachine opened #615 "Policy loss is going up... what parameters should I look to adjust?"
I couldn't find an accurate answer in the docs.

[2018-04-12 06:41] tschmidt64 opened #616 "Does --load not work for imitation learning?"
When I Ctrl-C my imitation learning session and then try to resume with the --load flag, the command line shows that it's loading the model from whatever step I previously cancelled on, but the student actually running seems to be learning from scratch. If I start doing just one action with the teacher it almost immediately learns to do this one action, leading me to believe that the student is st

[2018-04-12 06:42] #597 closed

[2018-04-12 06:43] tschmidt64 commented on #597
If anyone else has this question, you can just create a brain for student and teacher but only attach the teacher brain the an object

[2018-04-12 10:55] MarcoMeter commented on #198
I still wasn't able to solve this "low scale" environment.
The other environments besides GridWorld do not purely rely on image input.

I'm wondering if the CNN topology is not sufficient.

[2018-04-12 11:45] 3DAPPG2018 commented on #314
Hi,
I stepped away from the machine learning to work on another project. I will try to building again in V.3 to see whether it fixed the issue & will let you know.

Thank you for the email.
Debbie

Sent from my iPhone

[2018-04-12 12:36] MarcoMeter commented on #615
Hi @theforgottenmachine
the perfect loss would be equal to 0. So in your case it is a desired behavior that the loss is going up as it is getting closer to 0.

I don't know what your environment looks like, but from my experience I doubt that 25k learning steps are not sufficient for a neural net with two layers of 256 nodes.

[2018-04-12 17:27] xiaomaogy commented on #314
@3DAPPG2018 For training, we replaced the PPO.ipynb with learn.py script. Please refer to https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-ML-Agents.md for how to use that. Also we are no longer supporting Python 2.

Also regarding all the examples with Action Type Space = "Discrete" not working , we will looking into that.

[2018-04-12 19:39] Bakikii commented on #522
Have you ensured rewards are present to encourage changes in behaviour....

[2018-04-12 19:45] Bakikii opened #617 "Imitation learning - student not moving in training"
I've setup my player to follow keyboard actions as required and it has a teacher brain and brain is in player mode. I have a student using same agent script as player.It has a student brain and it's brain is in external mode ..
But there is no movement from student in training. Has anyone any ideas why this is happening or perhaps someone can share a simple working project with imitation learning

[2018-04-12 20:38] XBagon commented on #416
Sorry for no further feedback. Honestly.. I gave up. It was a fun project and it was starting to get annoying and it felt like my changes had no impact at all. Will probably pick this up again, one day.

[2018-04-12 23:14] vincentpierre commented on #614
Hi, `Color.r`, `Color.g` and `Color.b` return floats between 0 and 1. [Source here](https://docs.unity3d.com/ScriptReference/Color-r.html) We divide on python because we send the image as PNG instead of a Texture2D. Do you manage to have the gridworld working ? It surprises me that you get better results by dividing by 255. Could you compare the performance for gridworld?

[2018-04-12 23:17] vincentpierre commented on #613
Hi,
This is normal behavior, we had to use sparse IndexedSlices for our RNN implementation. You should not be worried.

[2018-04-13 09:42] Bakikii commented on #617
Yes, I launch from cmd and it starts up fine,  I can move my teacher agent as expected .... I've followed the git hub instructions to the letter but I'm obviously missing something....

[2018-04-13 12:53] hejcz opened #620 "Most common reasons of UnityTimeOutException"
Hi!

What are the most common reasons of timeout exception. I successfully start learning process running learn.py and after ~20-30k   steps I receive below error. How can I detect what is wrong. May it be caused by training model with tensorflow for cpu?

[code]
I use Unity 2018.1.0b13 with following settings of ml components:

![academy](https://user-images.githubusercontent.com/9708672/38736115

[2018-04-13 12:54] r-lipton commented on #612
It's using my own created environment.
The solution of @Sohojoe worked for me, thanks!

[2018-04-13 12:57] #612 closed

[2018-04-13 13:05] superjayman commented on #614
So, is this a bug?

[2018-04-13 13:32] hejcz commented on #620
Ok. The problem was as simple as I expected. I did not checked "Run in Background" so every time game window was not focused the game wasn't running and I received error from socket.

[2018-04-13 13:32] #620 closed

[2018-04-13 13:42] traveltrousers opened #621 "Automatic imitation training"
I have a massive dataset I wish to use but with a very simple output created from them. I think the NN might have trouble understanding exactly how it should be reacting...
So, one solution is to feed in the inputs in real time and train it manually but this means sitting for hours (or potentially days) manually moving the output according to the dataset.

Instead I would like to set up a couple o

[2018-04-13 16:08] ActiveNick opened #622 "Issues with Basic scenario from example environments"
I have a functional setup since I was able to properly train and run the 3DBall example. However when I tried to do the same with the basic environment, I'm getting an issue. I did not make any changes to the environment or scripts. My expectation was that each example environment was ready to be trained and run out of the box. Please let me know if I missed something.

Note that I am running this

[2018-04-13 16:10] traveltrousers opened #623 "Curriculum Learning : "The given Key was not present in the dictionary""
Has anyone had the examples working from ML 0.3? To my eyes the push block and wall jump has different variables than are supplied in the json file.

I've altered the 3DBall example to translate a platform beneath a randomly moving ball instead of rotating it and would like to get it working better.

I'm assuming the Curriculum  lesson is reset by the academy reset - so I have :

	public override

[2018-04-13 17:32] entropia666 commented on #594
I have the same issue after upgrading Tensorflow. Did you solve the issue?

[2018-04-13 17:41] entropia666 commented on #552
+1

[2018-04-13 21:57] vincentpierre commented on #616
`--load` seems to be working for me in the Banana Collector environment. `--load` saves the neural network but it does `not` save the training experience buffer meaning that the experiences of the agent will be lost. The new experiences you give to the agent (after reload) will be used to update the model meaning that the model will potentially change a lot if you do not do the same things you wer

[2018-04-13 22:02] vincentpierre commented on #617
Are you able to train the banana imitation environment ? There could be a problem with the connection to python. Does python print summaries as expected or does it timeout after 30 seconds? Make sure you build with `Development Build` checked: this will ensure that any error in unity will be displayed. Also make sure that the student and teacher brain have the same brain parameters (you can just c

[2018-04-13 22:07] vincentpierre commented on #621
If you want to write simple rules for a brain, the Heuristic Brain is what you need. In your brain component, select the brain type to be Heuristic and add a decision script to the brain game object. A decision script will allow you to chose actions based of the observations via C# script. Check the [BallDecision.cs](https://github.com/Unity-Technologies/ml-agents/blob/master/unity-environment/Ass

[2018-04-13 23:44] ActiveNick commented on #534
I noticed the same issue and can confirm the same behavior in 2018.1.0b13. For example, just simply selecting the bananaIL or PushBlock bytes files in their respective TFmodels folders crashes Unity.

[2018-04-13 23:57] vincentpierre commented on #623
Did you set the reset parameter into the academy inspector ? You should have a `Add New` reset parameters button. You could have misspell it, if the error is that the key is not present in the dictionary, try to Debug.Log all the keys in the dictionary with a for loop, this should help you debug. This is not a problem with python because python only updates the reset parameters, if it is not here

[2018-04-14 01:25] vasaka opened #626 "Faster then realtime training"
I have a questions about training of physics based environment. If it is training faster than realtime game how does it scales back to normal? It would seem that physics is dependent on system time in it's simulation not on step number and running on a different speed will completely change environment behavior from agent point of view.

Also what happens to calls dependent on Time.deltaTime when

[2018-04-14 05:01] vincentpierre commented on #626
In order to run the simulation faster, we modify `Time.TimeScale` in unity. This can be used to run the simulation up to 100 times faster. You can see this int he academy inspector under `Training Configuration`. We try to synchronize the Updates with the Fixed Updates, but we recommend putting all logic into FixedUpdate rather than Update (and use `Time.fixedDeltaTime` instead of `Time.deltaTime`

[2018-04-14 05:19] theforgottenmachine opened #627 "Flying a 3D plane to a cube in the sky."
Hi!

I'm trying to try a plane to fly to a cube spawning randomly in the sky.

I started off with the pushblock brain and modified the Observations function to detect the cube. I'm looking at the following:

[code]

This gives me about 42 observations.

The plane can move up/down/left/right. It is constantly moving forward at a fixed speed.

The cost is -1f for running max steps, -1f for dying (cr

[2018-04-14 05:49] vincentpierre commented on #614
I think you are right, this is a bug. I will try to get is fixed. Thank you for your help @fre.

[2018-04-14 05:56] vincentpierre commented on #594
@Aarsh-Singh-Vishen I have never seen this error. Did you get the TensorflowSharp plugin from [here](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Using-TensorFlow-Sharp-in-Unity.md#requirements) ? Where do you this this error ? In Visual Studio or in the Unity Console? Is it a warning or an error ? Thank you,

[2018-04-14 05:56] theforgottenmachine commented on #627
I simplified further and changed hidden units to 32, and this is what I got.

![image](https://user-images.githubusercontent.com/38230427/38764948-840546e2-3f7e-11e8-8da2-5c5ecf7deaa4.png)

As you can see mean reward goes up to 4.621 at 30k steps and then it falls. Never gets to that again...

![image](https://user-images.githubusercontent.com/38230427/38764955-a14ee654-3f7e-11e8-91bf-16034dcfc47a

[2018-04-14 06:12] vincentpierre commented on #627
I think I would try to add some more observations. Just to make sure the plane can reach the cube, I would try to add the vector `(cube.transform.position - plane.transform.position) / maxDistance` (or normalized) as well as the orientation of the plane `plane.transform.forward`. I think you should go back to 256 hidden units given the size of your input. Debug your observations to make sure you g

[2018-04-14 06:47] vincentpierre commented on #552
I am unable to reproduce this bug. Can you tell me what platform, what version of visual studio and Unity do you use, where the error appears (VS or Unity Console)? I do not understand `But it does not work to debug C# script in visual studio.` Can you give more details and maybe a screenshot ?

[2018-04-14 06:50] superjayman commented on #626
vincent it seems it's not as simple as that! There is a strong correlation to processing power of the computer, at increased time scales joints in Unity behave differently( unstable). The ball demo is too simple, to notice this behavior, at 100x most things DO NOT train properly. It actually messes up the rewards when you log them. Why not leave it always at 100x for all simulations if it does not

[2018-04-14 07:00] theforgottenmachine commented on #627
@vincentpierre - thank you so much! I'll give it a try and let you know how it does.

[2018-04-14 07:00] vincentpierre commented on #626
I was not aware of this limitation, I train all my environments including crawler at 100 speed. my understanding was that the physics update always consider Time.fixedDeltaTime to be fixed and compute changes of velocity/position using this fixed delta time. If the computation takes longer, my understanding was that the game would slow down not that the physics would misbehave. Maybe there are phy

[2018-04-14 07:11] vasaka commented on #626
Thanks, that helps

[2018-04-14 07:46] MarcoMeter commented on #614
I'm wondering if this is why I could not get anything environment working, which relies on visuals only. (#198)

[2018-04-14 08:02] entropia666 commented on #552
When you press the button in VS "attach to unity" to run in debug mode, it doesn't work. Vincent, I can let you on my machine if you want, with teamviewer, and show you.

[2018-04-14 08:13] fre commented on #614
AFAIK, this bug only affects internal brains, i.e. importing the trained
agent in unity.

Training a gridworld-type task works fine for me. FYI I generate a 16x16
board representation centered on the agent where each type of entity is
rendered on a different channel (R,G,B) of the output texture and only use
a single 3x3 convolution layer with 256 filters and stride 1 before a
single fully connect

[2018-04-14 09:40] entropia666 commented on #552
Unity Version 2017 3.1f1
VIsual Studio 2017 15.6.2
.net framework 4.7.02556
Microsoft Visual Studio Community 2017
Version 15.6.2

**Details:**
VisualStudio.15.Release/15.6.2+27428.2005
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Community

C# Tools   2.7.0-beta3-62707-11. Commit Hash: 75dfc9b33ed624dff3985c7435c902c3c58c0e5c
C# components used in the IDE. Depending on your proj

[2018-04-14 12:52] prerna-p opened #628 "3D Ball Game, understanding the vector_observations and actions"
Hi
I am following the code in the Basics.ipynb Jupyter Notebook.
This line of code:
`print("Agent state looks like: \n{}".format(env_info.vector_observations[0]))`

gives an output:
[code]
**I'm confused how to interpret the coordinates from the given 2D array**
What are the X & Z components of the platform's rotation?

According to documentation,
_The Brain instance used in the 3D Balance Ball ex

[2018-04-14 14:01] Aarsh-Singh-Vishen commented on #594
Well I'm guessing its because I have .net framework 4.7 installed. But there is no way to go back to .net 4.6.... so what should I do?

[2018-04-14 14:02] Aarsh-Singh-Vishen commented on #594
Also yes I installed the TensorFlow plug in from the specified source.

[2018-04-14 17:09] RossMelbourne commented on #614
Thank you very much fre for this fix.  I applied fre's code above and it fixed a very nagging problem I have been having.  Now my app work just as well in Internal mode!

[2018-04-14 21:45] vincentpierre commented on #552
Thank you for this information @entropia666  My Visual Studio is not connected to my Unity and no one in my team tried to connect the two. We only use Visual Studio to edit code and when we want to run it, we click the play button in the Unity Editor. The issue could be that Visual Studio needs to make sure that the .NET frameworks are compatible while Unity does not. Is it possible for you to pla

[2018-04-14 21:48] vincentpierre commented on #594
I think you have the same issue as #552 Can you confirm that? Unity can only use .NET 4.6, it does not have 4.7.

[2018-04-14 21:54] vincentpierre commented on #628
This is the code used by the balance ball to collect observations :
[code]
This means that you will see 8 values : `rotation.z` `rotation.x` `ball.position.x` `ball.position.y` `ball.position.z` `velocity.x` `velocity.y` `velocity.z` The brain also has number staked vector observations set to 3, this means each agent will have 24 floats. If the observations you printed, the first 16 are 0 because

[2018-04-14 22:21] AndoniXV opened #629 ".bytes model is not being saved"
Hi, I'm having a lot of trouble trying to get the .bytes model during the training. Currently I'm trying the 3Dball enviroment. I do all as the docs say. I run:

And in the Anaconda console it actually says "Saved Model" when it reaches the save frequency:

![67cccf1784d6a4daacf3c7e281afdaf4](https://user-images.githubusercontent.com/38359058/38772873-2f1d8a7c-4041-11e8-8c7b-22fafc54ca30.png)

But

[2018-04-14 22:41] AndoniXV commented on #629
I couldn't change it that way, it just said:

![b4f45fccbf1d6de5f136f91c268e0efb](https://user-images.githubusercontent.com/38359058/38773088-8aed412c-4045-11e8-8377-6b9e8313546d.png)

and stopped. But changing it in the trainer_config actually worked, so thanks!!

[2018-04-15 01:57] MatthewHallberg opened #630 "Errors freezing graph."
This isn't an issue with this project but I am having trouble freezing the graph. Is there another way to get the bytes file other than freezeGraph.py? I keep getting this error:

TypeError: names_to_saveables must be a dict mapping string names to Tensors/Variables. Not a variable: Tensor("BoxPredictor_0/BoxEncodingPredictor/biases:0", shape=(12,), dtype=float32)

This is what I am using currentl

[2018-04-15 14:03] billatarcat opened #631 "Unity ML Agents - AddReward and SetReward"
Hi ML'ers,

I would like to know the most effective way to use AddReward and SetReward.  I have tried several combinations.  I have a task where the agent's actions aim to get it closer to a target.  So, should I AddReward a small value for each action and then a final SetReward before calling Done()?  Or, is it better to not use AddReward?  Are there some basic guidelines?

Thanks you all - your

[2018-04-15 15:57] andersonaddo commented on #629
You could also immediately end the training and get the .bytes file by pressing Ctrl + C in Anaconda.

[2018-04-15 16:05] RossMelbourne opened #632 "iOS Crash on 3DBall Example"
I have downloaded the current version 0.3.0c (as of 4-15-18) of Unity-ML and also the 03 version of TFSharpPlugin.  The 3DBall app runs in internal mode in the editor as an iOS project.  I followed the instructions in Using-TensorFlow-Sharp-in-Unity.md however I am still seeing the following crash running on iOS / iPhone X:

UnityAgentsException: The tensorflow graph needs an input for random_norm

[2018-04-15 18:55] rgjones33 commented on #552
@vincentpierre how does your team single step through code if you do not use the VS debugger? I think the message is pretty clear - whomever built the Tensorflow DLL did it against 4.6.1 - Can we get a copy of the dll built with 4.6 instead?

[2018-04-15 20:42] prerna-p commented on #628
This is extremely helpful, thanks a lot for clarifying.
I'm still confused as to why stacked vector observations are 24? What do the remaining 16 values represent?

[2018-04-15 21:02] ChrisCF commented on #608
Made some progress:
![image](https://user-images.githubusercontent.com/21068547/38783342-8bc19840-4154-11e8-92ef-9178d59b8b7e.png)

The above is with the episode length capped at 500 and beta adjusted (have tweaked it a few times and then left running for 24 hours, this is the first one where entropy didn't start trending up again at some point). This was run over the weekend.

Should entropy go a

[2018-04-15 21:24] vincentpierre commented on #631
I think it depends on your problem, one approach could be to start by giving rewards as the agent gets closer to the goal to orient learning, this can cause some problems like the agent moving back and forth to collect rewards. In the PushBlock and Wall Jump environments, the reward is only given at the when the agent steps on the goal. You could imagine a scenario in which the target is initially

[2018-04-15 21:31] vincentpierre commented on #632
I think this might be due to a difference in the TensorFlowSharp libraries in iOS and Mac. Can you try training with a downgraded version of Tensorflow ? Could you try with 1.2 if you were using 1.4?
Thank you.

[2018-04-15 21:34] #300 closed

[2018-04-15 21:37] vincentpierre commented on #628
We stack the observation by time : Imagine o_t is the observation at time t. We feed into the network [o_t-2, o_t-1, o_t] to give the network more information about the state. If o_t contains position then [o_t-1, o_t] can be used to infer the speed information. We try to give more relevant information to the network to make learning easier.
I hope this helps.

[2018-04-15 21:46] vincentpierre commented on #552
Hi, We do not use the VS debugger at all. Like I said, we use VS to edit code and then run it in the editor. Thank you for brining this problem to our attention, I think the issue is that the VS debugger is stricter than the Unity editor when it comes to .NET version. Like you said, Unity is 4.6 and TensorFlowSharp is 4.6.1, so this problem will require some workaround. I would like to know if you

[2018-04-15 23:05] staceyhaffner commented on #552
I can confirm that we can still run the Unity editor with this, but when we try to attach Visual Studio to Unity to do debugging we run into the same issue above.

[2018-04-15 23:25] prerna-p commented on #628
I see. I reduced the number of stacked observations to get a reduced matrix showing only current state, as I wanted.
Thanks for all the help!

[2018-04-15 23:53] RossMelbourne commented on #632
I should have pointed out that I was using the shipped bytes file for the 3DBall example, meaning I did not train it.  However, I have tried training 3DBall with TensorFlow 1.4 and 1.2 now and I see the same crash in iOS as above.  What version of TensorFlow is compatible with TensorFlowSharp?  Thank you for looking into this.

[2018-04-16 01:50] traveltrousers commented on #621
Heuristic kind of works, but am I right in thinking it can't learn? I want to train with a huge dataset and then be able to keep adding to it to improve the response....

[2018-04-16 02:12] traveltrousers commented on #586
Would also like this....

[2018-04-16 05:39] #628 closed

[2018-04-16 05:55] vincentpierre commented on #621
You are right when you say the heuristic brain cannot learn: that is because the Heuristic brain has FIXED rules that will not change.
The way I understand
[code]
Is that you have data-points and a rule to determine the output given the inputs (correct me if I misunderstood).
 * If that is the case : You do not need machine learning, if you know the rule to solve the problem, you can use the Heuri

[2018-04-16 13:45] ruanrothmann opened #633 "Tensorflow vs Tensorflow-gpu"
Hi,

I've read in previous discussions that unityml is currently not particularly optimised for use with tensorflow-gpu and you will get similar performance with cpu-based tensorflow, is this still the case? (as it simplifies installation by quite a bit).

[2018-04-16 14:17] traveltrousers commented on #623
I think I see the issue now... I only define the reset parameter in the academy script but you assign a value in the inspector?

[2018-04-16 16:33] vincentpierre commented on #633
Yes, it is still the case. As of version 0.3, both PPO and BC are not GPU optimized.

[2018-04-16 16:33] #633 closed

[2018-04-16 16:38] vincentpierre commented on #623
Via, script, the reset parameters should be read only. When you want to add a new reset parameters, click on the academy GameObject in the scene, at the bottom of the academy component's inspector, you will see a `Reset Parameters` field.
![image](https://user-images.githubusercontent.com/28320361/38822894-acefac3c-4159-11e8-93c5-23b75e6fddc3.png)
Use `Add New` to create a new one with appropriate

[2018-04-16 16:46] Aarsh-Singh-Vishen commented on #594
Yup! Its the same issue.

[2018-04-16 16:49] vincentpierre commented on #594
Let's continue the conversation there.

[2018-04-16 16:49] #594 closed

[2018-04-16 17:34] tschmidt64 commented on #616
@traveltrousers - yes

@vincentpierre  - that could be the issue. I'll report back if I figure anything out

[2018-04-16 17:51] drArthur opened #634 "Training multiple brains simultaneously using curricula"
Hi,
I'm looking into training multiple brains simultaneously while also using curriculum.
Is it even possible?
And if it is, which brain's reward is being measured in order to change the lesson?

[2018-04-16 18:52] Myteq commented on #588
Sorry for no response. After aplying suggestions from @Hengoo, the car moves more randomly, not just turning one way all the time. Also i found that my car has tendency to drive on 2 wheels, which causes collider detectors to wrongly measure distance(as it raycasts from rotating object). I will for sure try to fix it and se the results, but more likely towards the end of the week. I will let you k

[2018-04-16 20:14] ALanMAttano opened #635 "In Windows Issue with Unity 2018.1 for those who build directly inside the python folder."
## **Issue for those who build directly inside the python folder.**
Unity 2018.1.0b13 contain a window modification improvement:
When you try to build a game, it saves the build into a subfolder.

_

_

So if you are building the .exe inside the python directly, now with Unity 2018.1 is no longer possible in Windows. You need to save it into a subfolder.

[2018-04-16 22:50] vincentpierre commented on #591
You can change some hyperparameters but not all of them. You can change the learning rate, the number of max steps, beta, batch and buffer size but you cannot change parameters that define the structure of the network (number of hidden layers, hidden units, memories).
I would recommend starting from scratch to avoid potential problems on the structure of the network.

[2018-04-17 00:51] rgjones33 commented on #552
@vincentpierre No issues in the editor that are apparent. It is only when run through the VS debugger.

I believe you when you say you have not used VS debugger at all but sorry if  I can't understand how a programmer hasn't tried single step debugging before.

[2018-04-17 00:57] twobob opened #639 "Banana Collector FTRT training"
Perhaps I am being stupid but the faster-than-real-time.scale on the banana collector thing appears to not do much.  If any change at all.
I'll grab down a freshie source and rebuild but even after fully nerfing the exe and build data there was certainly not 100 times faster training occurring.
Is that just me?

Maybe I am being stupid. In Slow mode it operates like the editor. That seems to work

[2018-04-17 00:59] twobob opened #640 "Clicking bytes file kills editor"
Beta 2018.1.0b13  - clicking on a bytes file bombs the editor.

Happens: Always.

Reproduce: Click brain file from exported trained brains or included bytes files.
And it doesn't launch the crash collector. Hence this post.

[2018-04-17 02:00] xiaomaogy commented on #552
@entropia666 @rgjones33 @staceyhaffner I am trying to do what you described, but I was not able to reproduce the bug. Here is the steps I took:

1. Set the Brain Type to "Internal" in 3DBall.
2. Click to "Assets" -> "Open C# Project", the VS opens.
3. Click the run button in the Unity Editor, the 3DBall scene starts balancing.
4. Set a breakpoint in CoreBrainInternal.cs: 171.
5. In VS, go to "Run"

[2018-04-17 05:11] drArthur commented on #634
Thanks!
This helps me a lot.
I'll probably try to edit the code a bit, so that the reward thresholds can  be set for both brains seperately, and the lesson is changed when each threshold is met.

[2018-04-17 05:19] Vlad1094 opened #641 "Imitation Learning Theory"
What kind of algorithm is under the hood of Imitation Learning implementation? Could you share some theoretical material. Thank you in advance.

[2018-04-17 14:19] staceyhaffner commented on #552
Interesting - when I do the same steps that you outlined on Windows it attaches just fine. The issue seems to be tied to the "Attach to Unity" button within the tool bar.

![image](https://user-images.githubusercontent.com/4108756/38875562-787956ae-420f-11e8-922d-c4664e3d8f1b.png)

For those of you on Windows, here are the steps that @xiaomaogy did in VS:

1. In VS, go to **Debug** -> **Attach To

[2018-04-17 14:58] Xunzhaocunzi commented on #641
Actually, my understanding is that imitation learning is just a supervised learning. Take a racing car for instance, the inputs are images, and outputs steering angle, throttle, etc. You can use CNN to train your model. What is unknown to me is that how Unity ML agents can train the model in a short time.

[2018-04-17 15:28] ellerychan commented on #631
I thought @billatarcat was asking how `AddReward` and `SetReward` are different.

`SetReward` establishes the reward amount for the current step, which gets added to the accumulated reward amount for the episode.  If you call `SetReward` more than once during the same step, only the last call will have an effect.

`AddReward` can adjust the current step reward amount up or down, and just exists fo

[2018-04-17 15:32] rgjones33 commented on #552
In my case I have imported the soccer example in my existing project. The scene objects related the ml-agents example are currently disabled. I am trying to debug another aspect of my game. I open a script in VS from Unity. I set a breakpoint. I click attach to Unity. VS does a build and fails due the error msg we are discussing. I am asked if I want to run the last successful build. If I click ye

[2018-04-17 15:47] hsaikia opened #642 "N multiple agents using same brain"
I need to train N multiple agents using the same brain. Since the number of agents is variable, I instantiate them through a script S and an XYZ_Agent prefab. The agent prefab contains the XYZ_Agent script. Now the only thing that remains is to assign the XYZ_Brain GameObject in the scene to the Brain field of the individual XYZ_Agent scripts at runtime. How can I do this?

Right now, I have a pub

[2018-04-17 15:54] vincentpierre commented on #639
Hi, Are you doing Behavioral Cloning or PPO ? If you are doing BC, training faster than real time does not make sense since the player must give inputs (and humans perform better in x1 speed)
There is randomness in the training, I would not worry if the learning curves are "mixed" over such short periods. I would try to train for longer to see if there really is a difference in performance between

[2018-04-17 15:56] vincentpierre commented on #640
Thank you, This issue has been raise here #534 Let's continue this conversation there.

[2018-04-17 15:56] #640 closed

[2018-04-17 15:59] vincentpierre commented on #641
@Xunzhaocunzi You are right, Imitation Learning the way we implement it is supervised learning. One trick used to make the agent learn faster is to reuse at every step a bunch of experiences randomly sampled from the training buffer. This means that experience points are used multiple times which makes training faster.

[2018-04-17 16:05] vincentpierre commented on #642
Hi, you must use the `Agent.GiveBrain(Brain b)` method on your XYZ_Clone. Let us know how it worked.

[2018-04-17 16:14] jo3w4rd commented on #642
Here's an example:

    using System.Collections;
    using System.Collections.Generic;
    using UnityEngine;

    public class EnviroSpawn : MonoBehaviour {

        public GameObject prefab;
        public int Count = 1;
        public Vector3 Dimensions = Vector3.one;
        public Brain Brain;

        private bool done = false;
        public int delay = 500;

        void Update(){

[2018-04-17 16:31] Vlad1094 commented on #641
@vincentpierre Which supervised learning algorithm you have implemented?

[2018-04-17 16:37] imankgoyal opened #643 "Imitation Learning Error"
I am getting the following error when training imitation learning. I have added the complete terminal log below. The game starts as expected, but it ends as soon as I take the **second action** (for the agent with "Teacher" brain). On running the game in the Unity, I am able to control the agent with "Teacher" brain.  **Broadcast** is checked for the "Teacher" brain.

[code]

I would greatly appre

[2018-04-17 16:41] billatarcat commented on #631
Thanks Vincent and Ellery.  Great info.  As an ML newb, I am looking for some basic approaches to tackling projects (ml-agents examples are a great spot to learn).  I am having successes but there are a ton of nuances when setting up the code and which approaches to take.  I feel like this system can tackle almost any complex project you throw at it as long as your break the task into learnable ch

[2018-04-17 16:55] vincentpierre commented on #643
I think you found a bug. I will try something about it. Can you try something for me ? In `python/unitytrainers/bc/trainer.py` replace lines 188 to 189 :
Replace
[code]
with
[code]
Let me know if that does the trick.

[2018-04-17 17:02] vincentpierre commented on #641
@RossMelbourne The student does not broadcast, it is set to external so python can control it. This is done so that it is possible to see how the student is doing while training. The Teacher is a Player brain with broadcast turned on. We currently only support collecting data and training simultaneously.
@Vlad1094 We use a simple NN. If you want to look at the code, the model is in `python/unitytr

[2018-04-17 17:05] vincentpierre commented on #643
I was able to reproduce the bug by setting the decision frequency of the banana teacher to 2 instead of one. The above code seems to fix it. Let us know.

[2018-04-17 17:14] imankgoyal commented on #643
Yes, it works now. Thanks!

[2018-04-17 17:15] #643 closed

[2018-04-17 18:55] Vlad1094 commented on #641
@vincentpierre Thank you. It helps a lot.

[2018-04-17 20:47] icaro56 opened #644 "How to make agent run from bombs?"
I am creating a example of Bomberman. I wish my agent ran from the bombs. So I add to my observations the relative bomb positions and the remaining timer to explode. But, my agent does not learn that the bomb can kill him and he is putting bomb and dying all the time and not try to run.

[code]

[2018-04-17 21:12] xiaomaogy commented on #552
So it seems the problem is solved with the way @staceyhaffner stated here. When we release the TensorflowSharp plugin compatible with Tensorflow 1.5 or 1.6, we will try to build it against .NET 4.6 instead of 4.6.1 to see if it works.
If you guys think this issue is solved I will close it.

[2018-04-17 22:47] JohnnyPhoton commented on #549
@jlanis Wish I'd look at this weeks ago. I went the same direction (in terms of trying to knock the target off). I also changed the ball to a cat from the asset store. Your solution works much better. I added observations of the position of the target and the velocity of the target. Hard to tell if it helped. The value_loss graph looked better. I also made the floor zero friction. Here's my lame a

[2018-04-17 22:56] jlanis commented on #549
@JohnnyPhoton Yeah but your implementation is much cooler (who doesn't love dancing cats?) =D

[2018-04-17 23:50] JohnnyPhoton commented on #549
@jlanis Yep, nothing like dancing cats! I'm glad you enjoyed them. Did you find that when you increased the penalty for falling off the table, the cat (or ball) just gets too cautious? It just seems to be intimidated about approaching the target. With zero friction it sort of works cause it will just bop the target and then wait for it to fall but with friction turned on, it just  takes forever to

[2018-04-18 00:28] jlanis commented on #549
@JohnnyPhoton Yep I had some problems with either the agent being to aggressive (falling off too much) or too cautious. I think it's an interesting and somewhat difficult problem for the neural net because it has to find that right balance point between being too aggressive vs. too cautious. I ended up finding myself making a lot of small adjustments and tweaks to the reward system and the observa

[2018-04-18 00:36] jlanis commented on #549
@JohnnyPhoton Also, make sure you normalize your rewards [-1,1] as well as your vector observations as outlined in the best practices doc: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Best-Practices.md

(I did not try this!)

[2018-04-18 01:16] JohnnyPhoton commented on #549
@jlanis I had something similar to the 'pushing the object' reward but I also tried to include pushing toward the closest edge. At one point I took it out just to simplify it but I might put it back in. I spent a good part of the day having to rebuild the whole thing when Unity started freezing up after a build. I need to learn to make more backups! I had not read the best practices doc. Thanks fo

[2018-04-18 01:24] jlanis commented on #549
@JohnnyPhoton One more suggestion I would try is to use a discrete action space (if you're not already). Essentially, instead of applying a random velocity/direction vector, you would have 4 discrete movements (left, right, forward and backwards) and for each movement you apply the same amount of force. The reason I want to suggest this is because using a discrete action space simplifies the under

[2018-04-18 01:47] vincentpierre commented on #644
Hi, here are a few things I see :
 * Adding the distance to walls seems redundant, just giving `this.transform.position/ globalManager` should be enough I think.
 * I do not think the velocity and the position should be scaled the same way : `rigidBody.velocity.x / globalManager.xMaxVelocity`
 * I would set the agent to Done when it is killed by a bomb.
 * I think discrete control would be more ap

[2018-04-18 01:59] MichaelTSakai commented on #608
Hello ChrisCF,

what did you do to tweak the entropy? I'm having the same issues where entropy is increasing and am looking for some advice. Did you increase it or decrease it?

[2018-04-18 04:27] akmadian opened #645 "Issues with getting brain info while using python API"
After about a week of experimenting, I couldn't find out how to get data contained in the BrainInfo class when using the python API and an external brain. I'm not sure if this was because I'm missing something in the docs or because this has not been implemented yet. To solve this, I added a method to BrainInfo that packages all attributes of BrainInfo as JSON and exports it to a .txt file.

env.s

[2018-04-18 07:41] Aarsh-Singh-Vishen commented on #552
" we will try to build it against .NET 4.6 instead of 4.6.1 to see if it works." -xiaomaogy
Have you guys done this yet?

[2018-04-18 09:25] hsaikia commented on #642
It worked! thanks a lot everyone!

[2018-04-18 12:28] rgjones33 commented on #552
@xiaomaogy It is a work around so you avoid the compiler warning. I think it still needs a proper solution as you mentioned. Someone needs to understand if System.ValueTuple 4.4.0 is a hard requirement.

[2018-04-18 13:49] icaro56 commented on #644
Thanks @vincentpierre .

- The distance to walls is commented.
- Ok, I will change the velocity normalization
- So, I am setting to Done, but in the CollisionEvent
[code]
-  Do you talk about discrete action space when speak about discrete control?
-  I do a simple version where the  agent need to achieve the goal (Any Transform), and it got.
-  The animator is little strange. But he's solving the

[2018-04-18 13:56] icaro56 commented on #644
@vincentpierre , in the observation part that I get the bombs positions when there aren't bombs, which do I put in the observations? Currently, I am putting the diference between agent position and a position  far away.

[code]

[2018-04-18 14:56] RossMelbourne opened #646 "Running learn.py without —train"
I can run the sample 3DBall app in Internal mode in the editor and it works great.  However, if I build the app and try to run it without the —train parameter on learn.py I receive the following errors:

Using:   python3 learn.py 3DBall.app --run-id=3DBall_inference_1 --slow

Errors:
INFO:unityagents:
'Ball3DAcademy' started successfully!
Unity Academy name: Ball3DAcademy
        Number of Brains:

[2018-04-18 16:25] MarinLudwig opened #647 "Running learn.py ModuleNotFoundError:No module named 'docopt'"
(ml-agents) C:\ml-agents>py -3 python/learn.py python/ball --train
Traceback (most recent call last):
  File "python/learn.py", line 7, in <module>
    from docopt import docopt
ModuleNotFoundError: No module named 'docopt'

then I checked if I didn't install docopt, typying pip list,then it returns that docopt installed at version 0.6.2 So I am sure it must something wrong otherwise.

[2018-04-18 17:09] MarinLudwig commented on #647
I try changing
[code]
into
[code]
and it somehow works!

[2018-04-18 17:14] ActiveNick opened #648 "Creating a UWP build of a Unity ML Agents project"
I noticed that the only Tensorflow plugins provided for Unity ML Agents projects are for standalone/editor, iOS and Android. That said, I started exploring the possibility of **producing a UWP build** to support deployment to the Microsoft Store on Windows or Xbox One, and more specifically for Windows Mixed Reality projects (VR or HoloLens).

Looking at the TensorflowSharp package on Nuget, I see

[2018-04-18 18:13] eshvk commented on #646
Hi @RossMelbourne

`learn.py` is typically designed to do learning in four situations:

1. `--train` where you have an `ExternalBrain` where you are training the Policy using `UnityEnvironment`.

2. `--train` + `--load` where you continue training from a previously loaded model.

3. `--load` : Load and observe what happens when you use a previous model. This is inference, except that the inference

[2018-04-18 18:15] eshvk commented on #647
Does `python` in your setup refer to Python 3? It could be that `docopt` is installed for default `2.X` python but not `3.X` ?

[2018-04-18 18:55] icaro56 commented on #644
I have done some modification. Now, the agent achieves the goal, but he still does not find that bombs is danger.

Now, I will modify the action space for discrete space like @vincentpierre suggested. The animation is very crazy, but it is better than before.

Thanks @vincentpierre

I upload a video show the results on Youtube (https://youtu.be/593K045GvnQ)

[2018-04-18 21:00] awjuliani commented on #644
Hi @icaro56

The environment here looks nice. Since you are using a relatively fixed grid, one option could be to provide an encoding for each possible position in the grid about whether the bomb is present [1] or not [0]. You could do the same for the agent itself. This would make the observation size quite a bit larger, but would likely provide more interpretable information about the position o

[2018-04-18 21:17] JohnnyPhoton commented on #549
@jlanis I normalized everything. I also readjusted the rewards to be much smaller. I give a +1 for knocking it off the table but only -0.4 for falling off. It's a little slower than yours now but it's working about as well and I have not seen it fall off the table (yet).
On your last suggestion I'm not quite sure what you mean. I'm currently using the movement action from your code which I believe

[2018-04-18 21:43] icaro56 commented on #644
Thanks @awjuliani , Is there a example of fixed grid observation in the examples folder?

Let me see if I get it. Example: the observation 1 informs if there is bomb or not.

// GRID (0,0)
AddObservation (1)
// GRID (0,1)
AddObservation (0)
// GRID (0.2)
AddObservation (0)
// GRID (0.2)
AddObservation (0)

.
.
.

So I do this for all possible grid combinations? And I repeat more observations to in

[2018-04-18 21:50] awjuliani commented on #644
@icaro56 Yep. That's what I have in mind.

I wouldn't use partial values, since in the code you provided `bomb` would be semantically halfway between `nothing` and `agent` which doesn't really make sense. Separate "grids" would likely work better. Unfortunately we don't have an example exactly like this in the repo, but our "ray casting" system works similarly, except with an egocentric point of v

[2018-04-18 21:55] jlanis commented on #549
@JohnnyPhoton Sure. So if you click on your Bain object in the inspector you'll see a dropdown for choosing between a Discrete or Continuous action space (just to clarify - this is for Vector Action, not Vector Observation). The original example as well as the code I posted was set up to use a Continuous action space, which means the float array passed into AgentAction() is assumed to be the force

[2018-04-18 22:47] akmadian opened #650 "Documentation of step() in Python-API.md unclear."
I have some ideas on how to improve the documentation of step() in Python-API. I have had issues with this specific section myself as it was kinda disorganized, and in my opinion, not quite fleshed out enough.

My proposed changes are:

 - Indent the section on how to provide actions to multiple brains to be in line with the rest of the step() documentation.
 - Move the line about what is returned

[2018-04-18 22:49] akmadian commented on #645
Thank you so much! I knew there must have been a better way.

[2018-04-18 22:49] #645 closed

[2018-04-18 23:04] MarinLudwig commented on #647
I followed [Getting-Started-with-Balance-Ball.md](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md) and[Installation.md](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation.md). Python is ver3.5.5.

[2018-04-18 23:14] eshvk commented on #650
@akmadian Have you had a chance to look at the Basics Jupyter notebook? ( https://github.com/Unity-Technologies/ml-agents/blob/master/python/Basics.ipynb ).

I am trying to understand if it might be better to link this notebook in the API docs. The intent behind this notebook was to act as a source for simple examples such as this.

[2018-04-18 23:51] akmadian commented on #647
Your issue may be with conflicting pip and conda conflicting. If you installed `docopt` with `pip install`, but you're using conda as your package manager, you would need to install `docopt` with conda as well.

[2018-04-19 00:59] JohnnyPhoton commented on #549
@jlanis It was an interesting thing to try but it didn't seem to work as well. I looked at the 'basic' example where they do discrete and they just do this.transform.position(x,y,z). So you are basically teleporting. I'm thinking I could lerp it to look ok but I decided to just add force in one of the cardinal directions. Well, the cat would move around a bit, then suddenly fly off into the distan

[2018-04-19 00:59] FortyFortyLabs commented on #557
had same problem but resolution from MarcoMeter seems to have fixed it , thanx.

[2018-04-19 08:48] Tsuihao opened #653 "Tutorial of training on Google Cloud Platform"
Hi there,

I have searched on How to train the ml-agents PPO on the google cloud platform(GCP)
It would be great to provide a "How to train on GCP" tutorial based on the 3DBall example.

Anyone here already achieved training on GCP?
Any suggestion or short documentation will be appreciated.

Thanks

[2018-04-19 11:52] Lakrix commented on #653
You can use a docker to run on GPC. You can build a docker image on your local machine and push that docker image to GCP. Lookup how to build a docker image in the docker documentation.  The only thing you need to move to GCP is the unity-volume folder with your build program.

[2018-04-19 14:56] icaro56 commented on #644
Thanks @awjuliani .

[2018-04-19 15:42] eshvk commented on #430
@NinaMaz  Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-04-19 15:42] #430 closed

[2018-04-19 15:42] eshvk commented on #350
Hi Folks. Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue to discussion though.

[2018-04-19 15:42] #350 closed

[2018-04-19 15:43] eshvk commented on #285
Hi @ZephyrRaine, Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-04-19 15:43] #285 closed

[2018-04-19 15:44] eshvk commented on #653
Yes, that is exactly what you'd do. Thanks for stepping in @Lakrix !

@Tsuihao Please let us know if you face any issues!

[2018-04-19 18:43] ALanMAttano commented on #635
YES for Windows users. But that was the case of the 2018.1.beta. I do not know if persist. Discussion [LINK](https://forum.unity.com/threads/not-sure-if-bug-or-feature-in-unity-2018-1-beta-9.520088/)

[2018-04-19 22:53] xiaomaogy commented on #552
@Aarsh-Singh-Vishen  @rgjones33 We are actually working on upgrading the TensorflowSharp from 1.4 to 1.5 or 1.6. Along with that upgrade we will try to build against .NET 4.6 instead of .NET 4.6.1.

[2018-04-19 23:53] suneelbelkhale opened #658 "[Linux] Incompatible python and unity: Python API : API-3, Unity API : API-2."
OS: Ubuntu 16.04 (remote server).
Python: 3.5, using anaconda3
unityagents: latest on github (0.3.1?)
Unity Editor build: 2017.3.1f1 (linux build)

I'm getting this error when trying to create a UnityEnvironment using a linux executable (built on Mac using the linux development tools, in headless mode). I've just been trying to follow the AWS instructions in the doc.

The exact error:
`The API num

[2018-04-19 23:56] vincentpierre commented on #658
This means you have a discrepancy between the ml-agents version for unity and for python. The environment you are trying to train on does not have the latest scripts. Use `git pull` to update your scripts. I hope this helps.

[2018-04-20 00:02] suneelbelkhale commented on #658
I have pulled the latest version of unity ml-agents. Could you clarify what you mean by "scripts"? The environment was built in Unity Editor 2017.3.1f1 on mac (but for linux), with only the headless mode option checked. I then just transferred the executable and its data folder to my server and I am running it there.

[2018-04-20 00:32] ChrisCF commented on #608
I started at 5.0e-3 and decreased it a couple of times ending up around 1.0e-5

[2018-04-20 00:34] vincentpierre commented on #658
"The environment was built in Unity Editor 2017.3.1f1 on mac"
Did you pull on this mac machine before building ?
The version of ML-Agents for the executable AND the python code must be the same.

[2018-04-20 01:14] RossMelbourne opened #659 "Visual Obs App with Internal Brain run via Python Issue"
I need help running a visual observation app with an Internal Brain via python.  The following python code works successfully with 3DBall compiled in internal mode.  However as soon as I run the same python code with the GridWorld app compiled in Internal mode which has Visual Observations (runs in Editor fine), I get the errors seen below:

import numpy as np
from unityagents import UnityEnvironm

[2018-04-20 03:28] gw1108 commented on #647
I've also had the docopt issue when using `(ml-agents) C:\ml-agents>python learn.py ball --train`

Changing to the parent folder fixed that for me.

[2018-04-20 04:04] akmadian commented on #659
As far as I know, you can only interact with an environment if the brain is set to external. If you only need the observations, you may be able to experiment with catching and ignoring any exceptions that come up.

[2018-04-20 06:42] MarcoMeter commented on #198
One thing is really suspicious.
Whenever the agent is supposed to be trained on visual observations only, it either tends to move right or left only. So during one training sessions, the agent is either stuck to the right or to the left wall. This is also the behavior for setting epsilon to 0.5.

Just for clarification, for the visual observation training I'm using discrete actions. And also I add

[2018-04-20 16:25] Tsuihao commented on #653
Hi all,

Thanks for the reply.
I have found this tutorial: https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Using-Docker.md

I followed the procedure to
**Build the Docker Container**
`docker build -t <image-name> .`

It displayed:
_unable to prepare context: unable to evaluate symlinks in Dockerfile path: GetFileAttributesEx: D:\lib\ml-agents_v0.3\unity-volume\2D_Docking_Data\Dock

[2018-04-20 16:25] TinyQubit opened #660 "(iOS) ArgumentException: An item with the same key has already been added."
I keep getting this error while building any example while running Internal mode on the Brain.cs.

<img width="424" alt="screen shot 2018-04-20 at 12 19 51 pm" src="https://user-images.githubusercontent.com/28972222/39062310-25dc2c9a-4495-11e8-96fc-d49522815a30.png">

I'm not sure how to fix this, as I've tried looking through the code. The error never appears in the Unity Editor while built for i

[2018-04-20 16:27] TinyQubit opened #661 "(iOS) UnityAgentsException: The tensorflow graph needs an input for random_normal/RandomStandardNormal of type DT_FLOAT"
I'm getting this error, even after adding random_normal/RandomStandardNormal to Graph Placeholders in the Brain.cs. I've tried many combinations and even changed the Type enum to DT_FLOAT to see if it would make a difference but nothing fixed it.

This error doesn't appear in the Unity Editor while built for iOS, but the error will appear in Xcode when building to iPhone.

I've also tried downgrad

[2018-04-20 16:36] m-ronchi opened #662 "Namespaces and Assembly definitions"
Hi,
1) currently all the code is in the default namespace, and I noticed that some class names are generic enough that a conflict is not unlikely (e.g. System.Threading.Monitor exists in mono/.net class library)

2) are you planning to add asmdef to ml-agents? I use asmdefs in my project so I manually added them to use it.

[2018-04-20 16:50] vincentpierre commented on #661
I think this issue has been raised here #632
Closing for now

[2018-04-20 16:50] #661 closed

[2018-04-20 16:55] vincentpierre commented on #660
When I see this error, it usually means an error was raised before and then something goes wrong at every fixed update. If you look for earlier error messages in the log, I think you will find the cause of the crash. If you have differences between iOS in the editor and iOS in XCode, it could be because of the library not being imported right, did you follow the [additional instructions for iOS](h

[2018-04-20 17:04] TinyQubit commented on #660
Yup, I followed the additional iOS instructions but still get the error. I understand the error, I just don't know how to fix it.

[2018-04-20 17:06] TinyQubit commented on #661
Thanks for the reference. I've seen that issue here, but no one has mentioned a fix for it. Even after downgrading the error persists.

[2018-04-20 18:11] vincentpierre commented on #659
Ok, Here is a what I think is a fix : In `unity-environment/Assets/ML-Agents/Scripts/ExternalCommunicator.cs` replace line `287` :
[code]
Please let us know how that went.

[2018-04-20 19:31] JohnnyPhoton commented on #549
@jlanis Yeah, I'm sure I could have gotten it to work that way. What other stuff have you done with this? I'm still working thru the examples. Making the cat roll the ball off the table is the biggest diversion from an example I've done so far and it wasn't that different. I keep thinking there are some really different ways of applying this I haven't thought of.

[2018-04-20 20:33] Tsuihao commented on #653
Hi @eshvk
Thanks for the information.
I am a total beginner level of docker, just wanna make sure that:

1.Use the general `ml-agents` Dockfile to build the docker `image`.
2.Follow what @Lakrix mentioned, push this `image` to the GCP with `unity-volume folder`.

Is the above-mentioned correct?

[2018-04-20 20:45] RossMelbourne commented on #659
@vincentpierre Yes, that worked!  Thank you!

[2018-04-20 20:53] jlanis commented on #549
@JohnnyPhoton Well one thing you could try to make it more difficult would be to add additional obstacles to the environment that the agent would need to navigate around. To go even a step further you could add dynamic obstacles (i.e, a wall that moves up/down or left/right). However one thing I've learned about these neural nets is that they don't necessarily adapt to different environments (mean

[2018-04-20 21:15] eshvk commented on #653
There are a few pieces here:

1. Think of the `DockerFile` as code used to generate a Docker `image`. It bundles of the source i.e. `ml-agents` into that `image`. You'd have to put this `image` into your GCP registry.

2. The `image` is run as a `container`. That `container` would have to have access to the `unity-volume` folder when you run it in GCP. This is assuming that you have put the Unity

[2018-04-21 08:57] Fable67 opened #663 "Not saving .bytes file"
Hi guys,
I'm currently training the crawler model. It's taking quite long and I don't know how long, so I wanted to stop the model. The tutorial says it's saving the .bytes file when you press CTRL+C in the terminal after it printed "Saved Model". However, this doesn't happen. It's not saving the .bytes file. Does somebody know what's the problem and if not how long does "Crawler" need to train?

[2018-04-21 14:35] Myteq commented on #588
It works now :). Thanks for your help. Turns out there was also problem with physics being updated on Update and not FixedUpdate.
![tensorboard](https://user-images.githubusercontent.com/9040114/39085401-f4cc9f7a-4581-11e8-8f3f-dab2fe94f646.jpg)

[2018-04-21 17:36] vincentpierre commented on #663
If you are using windows, I am not sure the CTRL+C method will work. You can always modify the max_step field of the crawler brain in the `trainer_confic.yaml` file. If you decrease the amount of max steps, the simulation will stop sooner. I hope this helps.

[2018-04-21 17:38] #588 closed

[2018-04-22 08:15] MarcoMeter commented on #663
I observed that it works sometimes. Just can't tell which circumstances make it fail.

[2018-04-22 12:23] abhigyanMalviya opened #665 "Choosing action"
Hello everyone,
I am working on a card based game where the agent will start with a set of cards and he will choose which card to play. And when he plays the correct card he will get reward.
I am feeding the values the of the card to the brain as the vector observations. Ex: [ 412, 321, 207,120 ] This are four cards the agent have and this goes to brain as vector observations . Now I want the agen

[2018-04-22 15:11] mushketer888 opened #666 "Sometimes I don't need to terminate agent"
Hello.
By experimenting with ML-agents + GA I realised that Agent is terminating without "Reset on done".
So I made one more parameter "Can be terminated" and some IF's for blocking termination.

This problem is relevant when using self-made learning methods: DQN, GA.

Or maybe there is better approach?

[2018-04-22 17:32] h1r03 commented on #557
had the same problem and was able to fix it now thanks to MarcoMeter. (I used 2017.4.1f1 Personal just installed yesterday on OSX.) It might be nicer to mention this in this tutorial.

Also before noticing this issue, I originally stuck in [Select the Scripts/Brain](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Create-New.md) since I could not find Scripts/B

[2018-04-22 17:54] 3DAPPG2018 commented on #314
Thank you for the update. I will check it out.

Sent from my iPhone

[2018-04-23 00:01] vincentpierre commented on #665
Hi,
I do not think feeding the values of the cards as visual observations will work as the size of the vector observation must be fixed (and I supposed the number of cards is not fixed in this game). Feeding only card values will most likely remove the strategy aspect of the game as it will be impossible for the agent to know what is going on, what cards do and what relations the cards have betwee

[2018-04-23 00:08] vincentpierre commented on #666
Hi,
I am curious why you would need this additional "Can be terminated" parameter. If you do not check `Reset On Done`, the agent will call its `AgentOnDone` method, send a final observation to the brain (so the brain knows the agent is done) and then stops collecting observations and acting. The "terminate" flag in agent is used so the agent will send one last observation to the brain before "dyi

[2018-04-23 05:00] bybgr opened #667 "Questions on ML-agents - Crawler Example"
Hi all,
I am new to Unity & the ML-agents, and now studying the example of 'ML-agents - Crawler'.
In the script 'CrawlerLegContact.cs', the detection of the leg contacting is
'    void OnCollisionStay(Collision other){
        if (other.gameObject.name == "Platform")
        {
            agent.leg_touching[index] = true;
        }
    }'

However, in its scene, I did not find the GameObject - "Pl

[2018-04-23 05:13] vincentpierre commented on #667
Hi,
You are right and this is a bug that is addressed in PR #589 and has been merged into `develop`. It seems that the crawler is able to learn how to walk even without knowledge of his leg's contact with the ground.

[2018-04-23 05:13] #667 closed

[2018-04-23 06:37] MarcoMeter commented on #665
For such kind of games, isn't it common practice to go with RL algorithms, which use a model for planning?

[2018-04-23 09:55] abhigyanMalviya commented on #665
@MarcoMeter I am using RL algorithm.
@vincentpierre  thanks for your reply sir.
I know that we have to fix the size of the vector observation. I set the size to 10. The agent can have at max 10 cards in his hand. So if he has only 5 cards then the rest to the values in the vector observation will be zero. Ex: [112, 312, 109, 306, 411, 0, 0, 0, 0, 0].
In my game the cards has two attributes. One is

[2018-04-23 12:15] m-ronchi opened #668 "Academy.Done() doesn't work when called during agent action"
Academy.Done() doesn't work when called during agent action.

I setup my agents to synchronously call academy.Done when their action causes the game to end.
this sets the done flag, which is immediately reset during EnvironmentStep and will not reset the academy (which happens earlier in the EnvironmentStep routine)

[2018-04-23 14:51] m-ronchi opened #669 "Tensorboard stats"
Hi,
I setup the docker image as per your docs and started the training.

then I started tensorboard with (command line from repo root):
```tensorboard --logdir=unity-volume/summaries```
and navigated to localhost:6006.

from what I understand, I should see 8 graphs, but I only see 4:
- info/Lesson (const 0, I am not using curriculum learning)
- info/entropy (appears random, but y-axis has all valu

[2018-04-23 14:54] quinng15 commented on #517
@GeriBP ctrl+c didn't work for me at first either. I fixed it by moving my ml-agents folder out of my dropbox folder (the error message was complaining about the folder being in use by a different process). This seems to have fixed the problem; the bytes file and other files are there, though I haven't had time test if the brain runs without issue in internal mode.

[2018-04-23 17:17] vincentpierre commented on #665
I think you need to feed one hot encodings of the cards (since the order of the types / colors of the cards does not matter.) Example : Card 0 is color 2 and type 3 would be : `0010` for color and `0001000000000` for type. This would give you a (4 + 13) * 10 vector observation size. Even then I am not sure PPO alone would solve your problem, like @MarcoMeter said, planning seems to be more appropr

[2018-04-23 17:31] m-ronchi commented on #668
for now I worked around it by starting a coroutine and yielding a frame.

[2018-04-23 17:38] m-ronchi commented on #669
I set academy.Done() after the game is finished.
now I am making a build that also sets all agent to Done() just before.
agents are using on-demand decisions, what value should I give to max step? (game ends in 40 moves)

there were no messages like that in the console.
tomorrow I will try another training.

ps: I changed the action space from discrete to continuous, and take the action that has t

[2018-04-23 17:43] vincentpierre commented on #669
I think because of this problem #668 You cannot call Academy.Done from the AgentAction method. I would call done from the AcademyStep method or call done on all the agents. I think that since the game you have has a fixed number of moves (40 moves) then using max_step seems appropriate.
Do not think using continuous action will work because the trainer needs to know what action was taken. We do no

[2018-04-23 21:00] Rfrixy opened #670 "Small error in game Logic - Tennis"
Rewards for the agents are decided by a hitWall script on the ball. This script has one error-
(The following code are from lines 45 to 74 from above script)
[code]

What's happening here is that if the lastAgent was 0 which means agent was A, and it hits wall A, which is the wall behind agent A's racquet, he gets a penalty and B scores. And also, if B hits A's wall directly, he gets the point.

H

[2018-04-23 21:15] vladimiroster commented on #648
Hi @ActiveNick . Unfortunately, TF# only supports a certain number of platforms. We are working on adding support for other platforms via various internal and external libraries. Specifically, for UWP, we are working on an experimental use of Windows ML (https://docs.microsoft.com/en-us/windows/uwp/machine-learning/). I don't have a date for you, but this is being actively worked on.
In the mean t

[2018-04-23 21:46] RossMelbourne opened #671 "Unchecking Reset on Done disables Agent"
I am trying to start and stop training on the reset boundary by using Reset-On-Done flag as false.  I have read in a comment that you can call AgentReset in AgentOnDone when the Reset On Done is unchecked on the editor.  I have tried this in the GridWorld sample and after AgentOnDone is called, which then calls AgentReset, the agent receives no more input from the player (in player mode).

[2018-04-23 22:11] unityjeffrey opened #672 "Reacher Scene - Vector Action Descriptions Returning Empty"
Hi all - in the reacher scene, the vector action descriptions from the brain are returning empty.

![screen shot 2018-04-23 at 3 09 39 pm](https://user-images.githubusercontent.com/34355042/39155777-61ed6cf6-4708-11e8-9ecb-622ce19947fd.png)

[2018-04-23 22:32] jo3w4rd commented on #672
In general, the Action descriptions haven't been provided in our examples. (They are informational and don't have any functional purpose.)

[2018-04-24 02:27] dracolytch opened #674 "Imitation Learning slows over time"
While I was doing the work for my video tutorial on Imitation Learning, I found that in long training sessions the game would slow down, sometimes significantly. The scenario being used is pretty straightforward (I am using the Physics engine though). Any thoughts as to why the training might get slower over time?

Video demoing scenario is here: https://youtu.be/WzuVZuGT-rw
Code is here: https://

[2018-04-24 08:21] RK4444 opened #675 "learn.py gets stuck"
Hi, guys

I have a problem: When I first tried to train a sample project, learn.py caused an future warning error. I was able to fix that, but it seems to get stuck somewhere in the program.

![issue1](https://user-images.githubusercontent.com/37285455/39174623-89a8fec2-47a8-11e8-89a2-dad7b50481e8.PNG)

I think I figured out, where the problem is. learn.py seems to get stuck after the "options = d

[2018-04-24 11:17] devnio opened #676 "How to export the graph"
Tonight I let my computer train for some hours but I realised that my computer died when there was some steps left.
So I wonder how can I export the bytes file manually? I saw some other pepole ask this question but I did't find someone explaining it clearly.
I hope I can find some help

Thanks.

[2018-04-24 11:49] dracolytch commented on #541
I just ran into this myself while working on my YouTube series. It would be amazing to do the "discovery" part of the ML as imitation learning, and then let PPO perform optimization.

[2018-04-24 13:03] ruanrothmann commented on #676
You should simply be able to continue training with the --load parameter.

[2018-04-24 13:07] m-ronchi commented on #669
Hi,
1) AcademyStep does not work, as it is between the EnvironmentStep call:
[code]

[2018-04-24 13:35] FireDragonGameStudio commented on #641
If there is still a need for Imitation Learning papers, here is another one. :)
[http://www.ias.informatik.tu-darmstadt.de/uploads/Publications/Englert_ABJ_2013.pdf](http://www.ias.informatik.tu-darmstadt.de/uploads/Publications/Englert_ABJ_2013.pdf)

[2018-04-24 13:51] m-ronchi commented on #669
I managed to view the environment unity logs with ```
docker exec -ti 03ef66131a31 /bin/bash
tail -f unity-environment.log
[code]

[2018-04-24 14:04] m-ronchi opened #677 "Workflow"
Hi,
while integrating ml-agents in my game, I have to constantly switch the brain between 'internal/heuristic' (to enter playmode and test while I am modifying code) and 'external' (when building the environment for training). often I need to build twice because I forget to set the brain.

it would be nice if either:
- external brain worked in editor, either by playing randomly or spawning the pyt

[2018-04-24 15:27] mmattar commented on #590
Hi @Xunzhaocunzi - what is the Agent in your scenario and presumably you'd like to just collect the data and pipe it to Python?

For the purpose of transferring your data set from Unity to Python you can use the a visual observation (Camera) to represent the input image and encode the ground-truth pixel labels as a numeric observation.

[2018-04-24 16:52] vincentpierre commented on #585
We are planning to include this feature into the project soon.

[2018-04-24 16:53] eshvk commented on #675
Hi,
Can you please explain how you are running `learn.py` ? The exact command line arguments please?

[2018-04-24 16:53] eshvk commented on #676
@devnio If you exit before it has finished training by quitting `CTRL+C`, it should save the graph.

[2018-04-24 16:58] eshvk commented on #677
HI @m-ronchi. Thanks for the excellent feedback, part of this is going to be on our roadmap. We will communicate in a future release.

[2018-04-24 17:00] vincentpierre commented on #674
Hi,
The slowdown happens because the experience buffer used to train the agent becomes very large and it becomes harder to sample efficiently from it. If you have a `BCTeacherHelper` component attached to your teacher in your environment, you can press `C` to clear the experience buffer. Another thing that could cause this is when the `batch_size` and `batches_per_epoch` parameters are too large,

[2018-04-24 17:01] eshvk commented on #120
Hi Folks,
  Hopefully you have been able to resolve your problems.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-04-24 17:01] #120 closed

[2018-04-24 17:06] devnio commented on #676
Thanks again for the prompt answer.
I haven't tried it already, because I don't want to stop the training. I would like to be able to export the graph from different checkpoints in order to have a better view form how my agents is training.
And those graphs can also be used later on for testing, or used for a not expert agent in a game for example.

[2018-04-24 17:11] jo3w4rd commented on #676
I haven't tried it, but you might be able to modify trainer_controller.py so that it both saves the checkpoint and exports the graph. It looks like calling _export_graph() at the end of _save_model() would work. I don't know whether the time it takes to export the graph will cause problems, though.

[2018-04-24 17:48] devnio commented on #676
Yeah it's the whole day I'm trying to do that. I finally managed to find this link: https://github.com/Unity-Technologies/ml-agents/pull/292.
I copy pasted the code into a file, named it export.py and placed it into the python folder. In the command line a opened a python shell and run 'import export' and 'export.export_graph(<model_path>, <env_name>)'
It seems to work this way.

[2018-04-24 19:14] RK4444 commented on #675
Thank you for your answer

First I open a powershell window in the python folder, afterwards I type in "learn.py --help"

The help doesn't work properly because I just can see the first three lines, but not the other commands

After that I tried "learn.py envname --run-id=envname-pass-1 --train --save-freq=5000"

The result is sadly the same like the result of just typing in "learn.py --help"

Is

[2018-04-24 20:17] Rfrixy commented on #670
I seemed to have made a mistake while dealing with the ball-wall logic, the current code is perfectly fine. I apologize for wasting your time

[2018-04-24 20:17] #670 closed

[2018-04-25 03:29] superjayman commented on #674
If you press c to clear the experience buffer does that also clear the learning it has done so far?

[2018-04-25 04:15] vasaka opened #678 "Init new trainig session with model weights of old training session"
It would be great to allow to init new training session with results of old trainig session to allow experiments with reward function changes when you already have something sensible to start with.

I am aware of the https://github.com/Unity-Technologies/ml-agents/issues/138 issue and justification to be able to compare models.
But being able to use pre-trained model as a starting point is also us

[2018-04-25 04:15] vasaka commented on #678
I can create a pull request if you think my approach is ok

[2018-04-25 05:55] RK4444 commented on #675
The result is sadly the same. Do I have broken something maybe?

[2018-04-25 07:10] MarcoMeter commented on #674
@superjayman
The learned behavior is stored within the weights of the neural network. This is not getting erased/cleared/reset.

The learning algorithm samples training examples from the experience buffer. So if the buffer is large, then there is a potential that old or useless data is utilized during training and thus it is not of help for the training progress.

[2018-04-25 10:10] NinaMaz opened #679 "AttributeError: 'DiscreteControlModel' object has no attribute 'epsilon'"
Hello! I have a scene with two brains. I have already trained one and it is working fine, I have set it to internal and specified the TF model that brain needs to use. I want to train the second brain, so I have created the "Agent2" script and set the mode of the brain to "Extrenal".
Everything seems to work fine in "Player" mode. However, when trying to launch the PPO jupyter notebook, I receive

[2018-04-25 11:08] vasaka commented on #609
Switching to tensorflow 1.4 fixed things, are there plans to switch to a newer one in near future?

[2018-04-25 11:50] NinaMaz commented on #679
Sorry, it seemed I fixed it by myself. I needed to turn of the "Broadcast" in the internal brain's inspector.

[2018-04-25 11:50] #679 closed

[2018-04-25 15:41] eshvk commented on #675
@RK4444 It shouldn't matter where you cloned the `ML-Agents` project to. Before we attempt to do training, can you please again clarify if running `python python/learn.py --help` doesn't give you the following output:
[code]

[2018-04-25 15:46] fifialfiana commented on #675
Sorry, I think it is related question, so I just post it here.
When I run learn.py then my windows lead me to open which apps that I want to use to open the program. What program that I should choose? Unity?

![image](https://user-images.githubusercontent.com/20984658/39256839-e4ca75ae-48ea-11e8-93ae-1335e04ec7d0.png)

![image](https://user-images.githubusercontent.com/20984658/39256901-0e88dffc-4

[2018-04-25 15:53] RK4444 commented on #675
I can see half of that result: What I can see is

  Usage:
      learn (<env>) [options]
      learn --help

Then it seems to get stuck
I get the same result when I try another command

@fifialfiana
I got this issue too and the program to run that, is the python commandline, I think, at least I've done that
You should find that in a subfolder of the condafolder

[2018-04-25 15:56] eshvk commented on #675
@RK4444 I suspect you are missing the `docopt` package. Did you do a pip install of all the relevant requirements that are needed for `ML-Agents` ?

[2018-04-25 15:58] RK4444 commented on #675
I think so...but to be sure: what is the exact command to do that?

`pip install doctop=<versionname>`

Is this right?

[2018-04-25 17:48] Fable67 opened #680 "Make Crawler follow a target"
Hello guys,
does someone know what to do in order to train the Crawlers to follow a randomly placed target? I know how to spawn the targets, but I need some help defining the observation I give to the Crawler and how I should calculate the reward. I tried giving the agent the local Position of the target as well as giving him as a reward how "near" he is to the target. Also, I took the reward for

[2018-04-25 17:51] eshvk commented on #675
Yep. I'd do a `pip install -r python/requirements.txt`

[2018-04-25 17:51] sterlingcrispin opened #681 "fatal error while training: ArgumentException: An item with the same key has ..."
I've only observed this on https://github.com/Unity-Technologies/ml-agents/pull/649 after leaving my PC to train for a few hours unattended it will dump this error

``ArgumentException: An item with the same key has already been added. Key: AGENTNAME_Agent (AGENTNAME_Agent)
System.Collections.Generic.Dictionary`2[TKey,TValue].TryInsert (TKey key, TValue value, System.Collections.Generic.InsertionB

[2018-04-25 17:53] sterlingcrispin commented on #681
I've also seen this while training

`
(lots of lines of standard output here)
INFO:unityagents: SpotMiniBrain: Step: 1584000. Mean Reward: 51.759. Std of Reward: 65.585.
INFO:unityagents: SpotMiniBrain: Step: 1587000. Mean Reward: 58.809. Std of Reward: 70.917.
INFO:unityagents: SpotMiniBrain: Step: 1590000. Mean Reward: 65.245. Std of Reward: 80.803.
INFO:unityagents:
----------------------
Error

[2018-04-25 17:56] RK4444 commented on #675
Thank you, I'll try that

[2018-04-25 18:05] al291708 opened #682 "Vector Observation size mismatch between discrete agent and brain."
Hi everyone,

I have created an Agent with 38 discrete observations and 2 discrete actions as the following code:

[code]

In the Unity scene I have created an Academy, a Brain as a child of it, and I have added the above TAJAgent to a gameobject (passing the Brain to the TAJAgent Script).

Brain parameters are:
![image](https://user-images.githubusercontent.com/22665088/39263386-46284b9c-48c2-11e

[2018-04-25 18:10] jo3w4rd commented on #682
When you use a discrete observation space, what you pass as an observation is essentially an id into a table of states. Thus you only pass a single integer id for the agent's current state and that id can range from 0 up to Space Size - 1 (in your case 38-1=37).

It sounds like you should just change to the Continuous Space Type for your observations.

[2018-04-25 18:26] al291708 commented on #682
I've just changed to Continuous, it seems I misunderstood something.

Thanks for your fast answer.

[2018-04-25 18:26] #682 closed

[2018-04-25 20:03] hawkzey opened #683 "Starting environment error"
The error i get is:

UnityEnvironmentException: The API number is not compatible between Unity and python. Python API : API-3, Unity API : API-2.
Please go to https://github.com/Unity-Technologies/ml-agents to download the latest version of ML-Agents.

i have tried re grabbing the latest version of the Ml-Agents but it doesnt fix my problem.

Any ideas?

[2018-04-25 20:05] vincentpierre commented on #683
#658

[2018-04-25 20:06] #683 closed

[2018-04-25 20:07] #609 closed

[2018-04-25 20:12] vincentpierre commented on #678
I do not understand the issue. What is wrong with loading a pre-trained model with `--load` ?
It allows you to use the result of an old training session to start the learning again. If I understand correctly, you would want to have the `step` be 0 instead of being the number of steps of the previous session ?

[2018-04-25 20:18] vincentpierre commented on #680
You will need a way to normalize the `local Position of the target` and the distance. I would recommend giving a normalized direction to the agent as input. If you just remove the x velocity reward, the agent will have no incentive to move at all, you need to reward the velocity in the direction of the target. The crawler hyperparameters should be fine as they are in the `trainer_config.yaml` file

[2018-04-25 23:30] vasaka commented on #678
I want both step reset to 0 on load and ability to load another run Id to be able to experiment with training that starts at some already pre-trained model.

Something like learn.py --run-id=stage2_01 --load=stage1_99

[2018-04-26 03:10] DanielSaG opened #686 "Increase max_steps"
I know it may be a dumb question, but i can't find where to increase the max steps of the ppo algorithm. Hope someone can tell me.

[2018-04-26 03:13] vincentpierre commented on #686
You must edit the `trainer_config.yaml` file as explained [here](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-ML-Agents.md).

[2018-04-26 04:08] DanielSaG commented on #686
Thank you very much

[2018-04-26 04:08] #686 closed

[2018-04-26 04:51] jgarza9788 opened #687 "Invalid links/Shortcuts"
multiple links/shortcuts in Unity ML-Agents Documentation are invalid

[2018-04-26 05:21] sinhadanish opened #688 "Doesn't work for LTS Build"
Hi!

I am unable to create a build using Unity 2017.4.1.f1 LTS. Will there be a fix/support for that?

[2018-04-26 06:35] RK4444 commented on #675
I haven't modified the scripts. I have also pulled the files again, but that didn't work. Another thing I tried, was cloning the project to another directory, but that didn't work too. Maybe my computer is blocking something, but he isn't telling me that. Is that possible?

[2018-04-26 07:53] RK4444 commented on #675
I have found the error: The whole time I missed a `python` in front of everything. I thought the command was:

`learn.py (<envname>) --run-id=<run-id> --train`

but instead it was:

`python learn.py (<envname>) --run-id=<run-id> --train`

I'm so sorry, I haven't read the documentation well enough.
Thank you for your patience and your advice, my problem is officially solved

[2018-04-26 10:05] ruanrothmann commented on #678
This is something I would find useful as well. For instance, if I were to train a model a certain policy as a base, I might want to use that model to train other divergent models.

E.G. Train a ragdoll to just stand and balance, and then use that as as a base for training different attack animation/running/jumping behaviours. Or, training a basic agent to play a game, but then training different p

[2018-04-26 13:39] eshvk commented on #675
Great thanks!

[2018-04-26 13:39] #675 closed

[2018-04-26 14:45] oscarbg opened #689 "Some ETA for WinML support.."
Curious seeing GDC WinML slides seems ml-agents has been ported to WinML already..
now seeing Unite Berlin sessions mention "ml-agents 0.4.0" will that be the versión released by June with WinML support?
if not some can share ETA?
thanks..

[2018-04-26 16:29] hsaikia opened #690 "Imitation Learning crashes"
My training using imitation learning crashes after just 2000 steps or so with this error:

[code]

Anything I'm doing wrong?

[2018-04-26 19:15] eshvk commented on #687
Hi @jgarza9788, thanks for bringing this to our attention. It'd be great if you could give us more specifics and we'd be happy to update those links.

[2018-04-26 20:00] xiaomaogy commented on #688
@sinhadanish Can you provide more details on this? Like the operating system you used, towards which platform are you building, and which environment are you building(your custom one or one of our example environment. )

[2018-04-26 20:46] RossMelbourne commented on #671
I think this is a bug or perhaps the documentation is out of date.  This problem is very easy to recreate, simply uncheck Reset on Done on Banana Imitation or GridWorld set in Player Mode.  When done() is called the agent stops receiving inputs.  If it is not a bug then I would like to know what to call in AgentOnDone to continue receiving keyboard inputs.

[2018-04-26 22:56] vladimiroster commented on #689
Hi @oscarbg . We are currently working on a more complete solution, that will allow us to take advantage of platforms not currently supported by TensorFlow#. This is still work in progress, and unfortunately we can't share timelines at this point.

[2018-04-26 23:41] sinhadanish opened #691 "Instructions unclear for "Getting Started with the 3D Balance Ball Environment" after "Training the Brain with Reinforcement Learning""
I am unable to understand what to specifically do in order to train after creating a build for training.
Can you create more elaborate steps like you did for "Building the Environment"?

[2018-04-27 04:30] hsaikia commented on #690
My bad. Guess that this bug was already pull. I was using a slightly older version of the repository.

Thanks nonetheless!

[2018-04-27 09:32] MarcoMeter commented on #198
@vincentpierre Thanks for the patch.

The patch included adjusted hyperparameters, a punishing reward signal for each step (-0.001) and it lets the episode terminate after reaching the target.
I'll update my repo on this concern soon.

After all this issue can be finally closed.

[2018-04-27 09:32] #198 closed

[2018-04-27 09:34] Fable67 commented on #691
I don't know how familiar you are with python and as described in this tutorial with Anaconda. So if you have any problems with that installation process just tell me and I'll help you install it. Now I just expect you to have Anaconda properly installed.
You open the Basic.ipynb with Jupyter notebook to get a first view of how to interact with the environment in case you want to write your own Br

[2018-04-27 10:53] m-ronchi opened #692 "Different behavior between Editor and training"
Hi,
I am building my game for training, and I noticed that behaviour is different between editor and build:
in particular, AcademyReset seems to be called twice, without resetting the agents.

setup:
Academy (subclassed): max steps 50, training: quality level = 0, time scale = 1,  other settings default
- Brain (external in build, internal in editor): vector obs = 244 continuous, visual obs = 0, a

[2018-04-27 11:35] m-ronchi opened #693 "Exception in python"
Hi,
I am trying to train my game.
I made 2 builds whose only difference is that I override AgentReset.

if I override AgentReset, I get this error in python:
[code]

if I don't override, there is no error but the behavior is wrong (see #692 )

relevant code:

[code]

[2018-04-27 14:07] sinhadanish commented on #691
I am sorry I was reading your docs and went through a youtube tutorial which showed  how to do it for a previous version and got confused. Yes it is now clear. Thank you @Fable67 👍

https://www.youtube.com/watch?v=-YWts_GlHCY&list=RDqxicgknzUG8&index=3

[2018-04-27 19:54] #690 closed

[2018-04-27 22:12] oscarbg commented on #689
Hi @vladimiroster,
thanks for info..
will keep an eye..

[2018-04-27 22:52] xiaomaogy commented on #692
@Hunter-Unity Do you have any insights on this?

[2018-04-28 04:55] alexwzk commented on #342
Hey @mmattar! Thanks for taking care of this issue. I also encountered this problem while I was using TFSharp plugin to run the image recognition model on my Android phone. Here is the log:

04-28 12:25:47.198 11595 11609 I Unity   : SystemInfo ARM big.LITTLE configuration: 4 big (mask: 15), 0 little (mask: 0)
04-28 12:25:47.199 11595 11609 I Unity   : ApplicationInfo com.cornelledtech.arvb versio

[2018-04-28 09:15] mbaske opened #695 "Training on AWS EC2 P2 instance"
Hi - Regarding
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-on-Amazon-Web-Service.md

Is ami-30ec184a being maintained to work with current EC2 P2 instances?
I was able to train my model with this AMI on a p2.xlarge instance yesterday, but it didn't seem to use the GPU.
Thanks.

2018-04-27 06:24:06.166940: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorF

[2018-04-28 11:24] RyanRizzo96 opened #696 "How do I create a custom neural network in TensorFlow and run as an external brain?"
Hi everyone,

I have completed all the necessary steps to install ML-Agents on Windows 10 following this excellent tutorial:

https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation-Windows.md 👍

Next I followed this [comprehensive guide](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md) to get started with the balance ball

[2018-04-28 11:34] hsaikia commented on #552
+1 same issue.

On VS Code :

`The primary reference "TensorFlowSharp" could not be resolved because it was built against the ".NETFramework,Version=v4.6.1" framework. This is a higher version than the currently targeted framework ".NETFramework,Version=v4.6".
`
On Unity Editor :

[code]

[2018-04-28 11:36] hsaikia commented on #552
This is strange because up until a few days ago, Internal brain was working. I wonder what the issue is.

[2018-04-28 13:03] mbaske commented on #485
Tweaking hyperparameters is tricky, because they work in conjunction with each other. So there's likely no straightforward recipe for tuning individual parameters in isolation. Plus, they depend on the network architecture (numer of layers, neurons per layer, etc) as well.
Maybe you want to check out my attempt to automate hyperparameter search for ml-agents:
https://github.com/mbaske/ml-agents-hy

[2018-04-29 01:11] sinhadanish commented on #688
Hmm, reverted back to the previous version and it worked correctly.
If it happens again I will share exact steps or errors messages.

[2018-04-29 01:15] sinhadanish opened #697 "Training AI using ml-agents for a game of chess (Imitation Learning)"
Hi Unity Ml-Agents Team,

I am  building a board game and wanted to  understand the process you would currently take to build a board game e.g. chess for Imitation learning or just training the agent to play perfectly.

Can you give me some steps you  would take to build the AI?

[2018-04-29 02:46] alexwzk opened #698 "MobileNet-v1 Runs Much Slower using TFSharp Plugin"
Dear staff,
I re-implemented the object detection demo on Unity using TFSharp Plugin. I ran the code on an Android phone. The runner session took in average 1.5 seconds to run. Whereas the same Tensorflow Android example demo took only 0.3s. I did find in the adb that some object couldn't find the libtensorflow file. Does it affect the performance? Do you have a newer version of the TFSharp Plugin

[2018-04-29 11:42] FireDragonGameStudio opened #699 "Reset parameter of WallJump example are wrong"
Hy everybody,
while playing around with the WallJump sample, I noticed that the reset parameter of the academy are not the same as in the wall.json curriculum file. In the wall.json the parameters are
```min_wall_height``` and ```max_wall_height``` but the academy has ```big_wall_max_height```, ```no_wall_height```, ```big_wall_min_height``` and ```small_wall_max_height```. Is it possible to chang

[2018-04-30 07:09] MarcoMeter commented on #697
Whenever I think about the design of a chess environment, I start to wonder what the action space is like.
It sounds challenging that each kind of the pieces have different restrictions and that not all of the pieces are present throughout the entire game.

As chess has been quiet a subject in AI research, I'd suggest you to look into related projects and literature. I only fear that you have to u

[2018-04-30 09:31] Lakrix opened #700 "Big difference in performance between training and running byte file in Unity"
Hi,

has anyone the same problem where there is a big performance difference of the agent during training and when using the byte file inside Unity?

The agent performance is really good when visualising it during training. After that I interrupt the training and a byte file is created. I set the brain type to internal and then I use this byte file as the Graph Model inside Unity. When starting th

[2018-04-30 10:41] lagidigu commented on #552
Got the same error, cannot run anything because of Internal Brain..

[2018-04-30 14:13] m-ronchi commented on #697
I am not sure if it is possible with ml-agents, but a common approach I read in papers is like:
- train the network to learn the value of a game state
- during your turn, for each legal action, evaluate the game state after simulating that action
- take the action that resulted in the greatest value

this can be combined with a MCTS approach (see how AlphaZero did it)

[2018-04-30 19:43] awjuliani commented on #485
Hi all, as mentioned above, the effects of hyperparameters can often be complex, and intuition unfortunately only goes so far. That being said, we are always working to improve our documentation, so if there is some aspect of our algorithm which might be clearer in a way that would benefit end-users, we'd be happy to explain it better.

@mbaske This project seems really great. For reasons that you

[2018-04-30 19:43] Aarsh-Singh-Vishen opened #701 "Vector Observation size mismatch."
hi! I've set up a project and this is the error I get when I try to run it.
"UnityAgentsException: Vector Observation size mismatch between discrete agent Agent and brain Brain. Was Expecting 1 but received 3. "

There is no error during compilation.

[2018-04-30 22:26] lizhihao6 commented on #342
yep，though the tfsharp works well on my phone（I mean it can recognize image ）, it still reports these errors.

[2018-04-30 22:40] xiaomaogy commented on #695
@awjuliani Hi Arthur, do you know anything about this?

[2018-04-30 22:47] zkwen commented on #342
@lizhihao6 Hey, Zhihao. Did you measure the performance and compare it with the Tensorflow demo? I found it multiple times slower than the Android implementation.

[2018-04-30 22:51] xiaomaogy commented on #700
Hi Lakrix, have you tried to run learn.py with inference mode(which don't have --train flag and have --load flag), and see what happens?

[2018-04-30 23:00] xiaomaogy commented on #701
Hi Aarsh, this error is exactly what it says, please check your Brain Script's Brain Parameters -> Vector Observations -> Space Size number, and make sure it matches your vector observation size defined in your Agent code's CollectObservations method.

[2018-04-30 23:06] xiaomaogy commented on #529
This request hasn't been resolved yet, so keeping it open for now.

[2018-04-30 23:08] xiaomaogy commented on #346
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-04-30 23:08] #346 closed

[2018-04-30 23:11] xiaomaogy commented on #194
This request is still on our roadmap, so will keep it open for now.

[2018-04-30 23:14] zkwen commented on #698
@xiaomaogy Thank you so much for helping me out! I implemented the Unity project that merely reproduces the TFDetect app (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java). I can share it with you if it helps.

[2018-04-30 23:14] xiaomaogy commented on #268
I am currently trying to upgrade the tensorflow from 1.4 to 1.5, and also see the exact same linker error as you do, still trying to figure out what happens here.

[2018-04-30 23:17] xiaomaogy commented on #698
@zkwen That would be really helpful if you could share it with me.

[2018-04-30 23:25] alexwzk commented on #698
@xiaomaogy lol Yeah @zkwen is my primary account now. Was trying to tide up this account but it was a mess. Started with a new one instead. To keep it consistent, I'll share the project under @alexwzk.

[2018-04-30 23:25] xiaomaogy commented on #272
Thank you for your comments.  We’ve documented your feedback and will prioritize when appropriate.

[2018-04-30 23:28] xiaomaogy commented on #545
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue to discussion though.

[2018-04-30 23:28] #545 closed

[2018-04-30 23:32] xiaomaogy commented on #523
Could you please provide more details regarding this question?

[2018-04-30 23:36] xiaomaogy commented on #319
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue to discussion though.

[2018-04-30 23:36] #319 closed

[2018-04-30 23:37] xiaomaogy commented on #496
Thank you for the discussion. We are closing this issue due to inactivity. Feel free to reopen it if you’d like to continue to discussion though.

[2018-04-30 23:37] #496 closed

[2018-04-30 23:40] xiaomaogy commented on #504
@AiSatan What Linux subsystem are you referring to?

[2018-04-30 23:42] xiaomaogy commented on #495
Thank you for your comments.  We’ve documented your feedback and will prioritize when appropriate.

[2018-04-30 23:42] #495 closed

[2018-04-30 23:45] joaquines commented on #696
yes you can. all the python code that creates the TF layers is included. you do not need to touch it for it to work, but if might be a good place to start if you want a custom topology.
Take a look at https://github.com/Unity-Technologies/ml-agents/blob/master/python/unitytrainers/models.py#L162

[2018-05-01 00:41] superjayman commented on #678
+1 Here.

[2018-05-01 00:45] xiaomaogy commented on #494
Where are you using this ResetDoneAndReward function? Could you please give more context on this?

[2018-05-01 00:49] xiaomaogy commented on #424
Thank you for your comments.  We’ve documented your feedback and will prioritize when appropriate.
We are closing this issue due to inactivity for now. Feel free to reopen it if you’d like to continue to discussion though.

[2018-05-01 01:39] alexwzk commented on #698
@xiaomaogy I just shared the project TFDetect-Unity with you. Let me know if you encounter any issues accessing and compiling the code. Thanks for taking a look. Looking forward to hearing back from you!

[2018-05-01 01:53] xiaomaogy commented on #698
@alexwzk Thanks for sharing that. I will take a look this week and hopefully can get some clues regarding this.

[2018-05-01 01:57] alexwzk commented on #698
@xiaomaogy Thank you! This is wonderful! And thanks again for your prompt reply after ur work hour.

[2018-05-01 01:57] superjayman commented on #678
It might be good idea to implement Cascaded type training approach, where after training the weights are frozen, and a new hidden units are added(Change brain morphology after training). Subsequent training session still backprobs thru the frozen weights, with this approach the Agent does not forget what it's learned.

[2018-05-01 07:47] mbaske commented on #485
Thanks Arthur, I'd be happy to contribute. Let me know how I can help. Email is probably best, since I'm 9 time zones away from you guys.

[2018-05-01 07:48] Lakrix commented on #700
Yes that works well but when I use the most recent byte file then It behaves random when I run it inside Unity.

[2018-05-01 11:14] hsaikia commented on #552
Any updates on this? Without internal brain working, it's hard to make progress. Any workarounds will also be appreciated!

[2018-05-01 12:16] ThuanDoVan opened #702 "Unfavorable with CollectObservations from enviroment with just a float vector for car in traffic system"
I am making a traffic system and a need to develop a Car AI. Sensors of car are many raycast. But i thinks passing data of raycasts through list float vector is very unfavorable. Because i have many type of raycast:  raycast for detect lane, light, obstacle ....... Any ideas for this problem ? Thanks very much !

[2018-05-01 13:50] DSobscure commented on #700
#614
Is this problem?
image in internal brain is not normalized, add / 255f to solve it

[2018-05-01 14:02] Lakrix commented on #700
Yes this was the problem. Thank you.

[2018-05-01 17:34] xiaomaogy commented on #552
@lagidigu @hsaikia So for both of you, even the workaround I mentioned above doesn't work?

[2018-05-02 07:38] MarcoMeter commented on #702
The observation you gather is represented by a vector, an image (three dimensional matrix) or both.
The algorithms in the background treat the observation abstractly. It's not like that you can tell it that these values belong to a certain group of state features. It's not desirable to have an human expert telling the algorithm what's important and what's not. Of course it is important to properly

[2018-05-02 09:50] sinhadanish commented on #697
Thanks @m-ronchi  and @MarcoMeter for your reply.  I read about model-based  RL algorithm and tree search. I think if I use that approach I dont require ml-agents. But that also  means  there is no imitation  learning applied here,  right?

If not chess can I create a much simpler environment like checkers where all the pieces work the same way.

I am trying to implement a Computer AI (Imitation L

[2018-05-02 10:45] hsaikia commented on #552
I didn't quite catch which workaround you are referring to. the bug doesn't have anything to do with Visual Studio. There is an error on the Unity editor itself when I load my internal brain model and run the environment.

This is the error
[code]

[2018-05-02 11:28] r-lipton opened #704 "Specify config file"
Hey

Can we specify the config file to run instead of using always `trainer_config.yaml` when running `python3 learn.py`?
This can be useful for running multiple instances with different parameters

Thanks

[2018-05-02 16:18] Fallscout opened #705 "How to evaluate the performance on a zero-sum game?"
I'm looking for ways to evaluate the performance of a zero sum game in Unity ML-Agents. My scenario consists of an RTS game with a sparse ternary reward (win (1)/tie (0)/loss (-1)) at the end of the game. Naturally, if both players are controlled by the same brain, the plot of the cumulative reward in tensorboard will always be 0.

Looking at the episode duration, I can see which episodes finished

[2018-05-02 17:56] Aarsh-Singh-Vishen commented on #701
These are my Brain Script's parameters :
![1](https://user-images.githubusercontent.com/31087556/39540292-d9144292-4e5f-11e8-8752-7147a49a87ff.png)

and this is the CollectObservations method:
  public override void CollectObservations()
    {
        AddVectorObs(pos);

    }

This means that the Vector Observation size and the number of Observations added in the CollectObservations methos must b

[2018-05-02 18:09] jo3w4rd commented on #701
The meaning of "Space Size" is different depending on whether you set the "Space Type" to **Discrete** or **Continuous**.

Here you have chosen **Discrete**, so you only pass a single value as the observation. This represents the which state from a table of states (or similar construct) the agent is in. Typically, the **Discrete** observation type is only useful for very simple scenarios.

Probabl

[2018-05-02 18:26] Hengoo commented on #705
I dont think it can learn when it only plays against itself.
I tried something similar and my pest approach to this problem:

First make an environment where the ml-agent can learnt he game basics (so you need a simple self written ai he can train against).  Here you can find out if your current reward is sufficient or not. (small tip: 100k timesteps is probably way to long. if you can not reduce

[2018-05-02 18:31] Hengoo commented on #704
Not really answering your question, but im sure the learning process only reads the condig file once at the beginning. This means you start your first training and then change the config and start your second training. I did this multiple times and im very certain it works

[2018-05-02 19:54] Fallscout commented on #705
Thank you for your suggestions. I will try implementing a heuristic brain that I can use to provide my learning agent with some initial challenge. However, considering that my setup is similar to that of the Soccer example for ML-Agents, I think that the agent can still learn by playing against itself. The Soccer example is not a zero-sum game, which makes it possible to get at least some informat

[2018-05-03 01:11] xiaomaogy commented on #552
@hsaikia

The workaround is mentioned in my previous comment which said:

"I am trying to do what you described, but I was not able to reproduce the bug. Here is the steps I took:....."

However your error in the Unity seems unrelated with the TensorflowSharp version. Your error message said tensorflow side is looking for a input with name recurrent_in with type DT_FLOAT.

Did your code use LSTM?

[2018-05-03 02:14] xiaomaogy commented on #342
I think this might be related with this post. https://answers.unity.com/questions/780006/how-to-make-android-native-plugin-working-with-uni.html

The TensorFlowSharp binding we use for Android is coming from this repo https://github.com/gmlwns2000/TensorFlowSharp, where they have this code everywhere for importing the libtensorflow.so lib.

[DllImport (NativeBinding.TensorFlowLibrary)]

in which N

[2018-05-03 02:25] alexwzk commented on #698
Excellent! I’ll try out your suggestions. Im also writing a native Tensorflow Java plugin for Unity from the scratch just in case other options still cant reduce the running time.

[2018-05-03 02:31] ThuanDoVan commented on #702
Thanks for your repply @MarcoMeter . But if I use heuristic brain, i need know exactly "what data i collected ?". I think it hard to clear if we have many properties collected.

[2018-05-03 03:25] zkwencu commented on #698
@xiaomaogy Yup, I renaming the so dependency file does resolve issue #342, whereas the running time remains slow. I'll keep you posted when I come up with a solution.

[2018-05-03 03:59] jo3w4rd commented on #702
One thing you can do is to make a class or struct that just stores all your data. You can use properties that have reasonable names for all your raycasts and other data.

For collecting the observation from the Agent, write a ToVector() function to present the data as a list or array that you can pass to AddVectorObs().

For the Heuristic brain, you can add a FromVector() function that takes the v

[2018-05-03 05:28] MarcoMeter commented on #702
In the case of manually composing heuristics, I'd go with jow4rd's advice.

[2018-05-03 08:07] r-lipton commented on #704
Yes, I know this is possible, but I want to automate the process, like running one command to launch multiple instances with different configurations.
One way to do this is to create a script to replace some value in the `trainer_config.yaml` and then launch a training and repeat it until the desired number of instances is reached.
But is there a simpler way ?

[2018-05-03 10:14] hsaikia commented on #552
@xiaomaogy

Yes I use LSTM alongside imitation learning. Here is my agent --

https://github.com/hsaikia/UnityMLAgents/blob/master/SocialWalkerImitation/SWAgent.cs

My trainer_config.yaml file is here --

https://github.com/hsaikia/UnityMLAgents/blob/master/SocialWalkerImitation/trainer_config.yaml

My Brain is called SWStudent which is the last entry in the config file.

[2018-05-03 15:13] Aarsh-Singh-Vishen commented on #701
Well thanks! That helped, the error is gone although I do get another one:

NullReferenceException: Object reference not set to an instance of an object
Follow.AgentAction (System.Single[] vectorAction, System.String textAction) (at Assets/ML-Agents/Scripts/Follow.cs:48)
Agent.AgentStep () (at Assets/ML-Agents/Scripts/Agent.cs:859)
Academy.EnvironmentStep () (at Assets/ML-Agents/Scripts/Academy.cs

[2018-05-03 15:45] jo3w4rd commented on #701
That usually happens when you try to use a member of an object that is null at runtime. Look around line 48 in your Follow script for objects that might not be set as you expect.

[2018-05-03 17:39] Aarsh-Singh-Vishen commented on #701
Thanks for the help!!

[2018-05-03 17:39] #701 closed

[2018-05-03 18:12] Aarsh-Singh-Vishen opened #706 "Graph model not saved."
![1](https://user-images.githubusercontent.com/31087556/39594776-4832f616-4f2b-11e8-8302-7a7bbc41b016.png)

So I train as shown but I can't find an output file for the training session. i.e. no file of the same name as the application is in the models\ppo folder.

![1](https://user-images.githubusercontent.com/31087556/39594931-a4fc9b54-4f2b-11e8-9c2b-889cae4de680.png)

this is what the Anaconda p

[2018-05-03 18:27] jo3w4rd opened #707 "[Doc] Incorrect function name in docs"
In Learning-Environment-Design.md, under The Simulation and Training Process, step 5 mentions AcademyAct() function. It should be AcademyStep().

Should probably make sure the Academy decision loop is still the same using On-Demand decisions.

[2018-05-03 22:26] eshvk commented on #706
@Aarsh-Singh-Vishen Unless you have significantly modified the `Basics.ipynb` notebook, the code there is designed to take random actions in the environment. This doesn't involve using say PPO to train a Policy. This is why you are not generating a Brain. I'd suggest using the `learn.py` script to get started with training.

[2018-05-04 00:03] icaro56 opened #708 "How to do Online Learning?"
Online learning: https://en.wikipedia.org/wiki/Online_machine_learning

I have an idea, where I want to train an agent with Imitation Learning and after he is already trained, I would like him to continue learning at runtime. How can we do this with ML-Agent plugin?

[2018-05-04 05:59] eshvk commented on #706
Yes, if you need more clarification on how things have changed, please take a look at the updated version of the [Balance Ball tutorial](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md).

[2018-05-04 06:09] eshvk commented on #708
Hi @icaro56, the policy implemented by BC in theory can be training by online supervised learning. Having said that, this is not something we have currently implemented in the current release. It is likely to be computationally expensive (depending on what your run time device is ).

[2018-05-04 08:32] r-lipton commented on #608
In the docs `This corresponds to how random the decisions of a brain are. This should consistently decrease during training. If it decreases too soon or not at all, beta should be adjusted (when using discrete action space).`
But you are using continuous action space

[2018-05-04 10:33] Aarsh-Singh-Vishen commented on #706
Thanks for the help!

[2018-05-04 10:33] #706 closed

[2018-05-04 11:31] Aarsh-Singh-Vishen opened #709 "Can't get cube to move to its destination"
Hi, so I have a scene set up where a cube must get to vector3(0,0,0) from its starting point.
Doesn't work as expected.
Here's the script:
`using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.AI;
public class Follow : Agent
{

    private BasicAcademy academy;
    public float timeBetweenDecisionsAtInference;
    private float timeSinceDecision;
    pub

[2018-05-04 12:58] eshvk commented on #704
@r-lipton
Couple of things:
1. Modify `learn.py` to make the [`TRAINER_CONFIG_PATH`](https://github.com/Unity-Technologies/ml-agents/blob/master/python/learn.py#L58) a variable that takes a command line argument rather than a constant.

2. Now use your wrapper script to run all the experiments by repeatedly calling `learn.py`. Caveat being that you will have to override the port. You could also ve

[2018-05-04 13:35] mbaske commented on #704
@r-lipton This might be what you're looking for  https://github.com/mbaske/ml-agents-hyperparams

[2018-05-04 13:37] icaro56 commented on #708
I would like the agent continue learning alone (unsupervised) at runtime. Like RL.

[2018-05-04 14:07] r-lipton commented on #704
`ml-agents-hyperparams` is exactly what I am looking for thanks!

[2018-05-04 14:07] #704 closed

[2018-05-04 14:08] #709 closed

[2018-05-04 15:16] Aarsh-Singh-Vishen opened #710 "Increasing the default number of steps during training."
Hey, so by default the brain trains upto 50,000 steps.
How do I increase the number of steps during training?

[2018-05-04 20:07] mbaske commented on #710
The maximum number of trainig steps is set by the "max_steps" property in trainer_config.yaml

[2018-05-04 20:08] icaro56 opened #711 "Best way to reset the scene"
What is the best way to reset the scene?

I am developing a game like Bomberman. When an agent is in Done state, I need to reset the entire scene: return destroyed blocks, other agents and etc for initial position, But the academy reset only is called in the begging of execution or when the max step is reached.

If I implement a global reset on AgentReset then I need to manage each AgentReset.

Sh

[2018-05-04 21:45] Aarsh-Singh-Vishen commented on #710
There seem to be many max-steps. Which one do I choose?

[2018-05-04 23:01] Aarsh-Singh-Vishen commented on #710
trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    gamma: 0.99
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 64
    sequence_length: 64
    summary_freq: 1000
    use_recurrent: false

BananaBrain:
    normalize: false

[2018-05-04 23:02] Aarsh-Singh-Vishen commented on #710
default:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    gamma: 0.99
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 64
    sequence_length: 64
    summary_freq: 1000
    use_recurrent: false

BananaBrain:
    normali

[2018-05-04 23:03] Aarsh-Singh-Vishen commented on #710
Should I change the default one? I mean the first max_step?

[2018-05-04 23:28] jo3w4rd commented on #710
The default settings are used by all brains unless overridden in the later sections.

The later sections are organized by the name of the Brain GameObject. For example, "BananaBrain" is the name of the Brain GameObject in the BananaRL scene in the BananaCollectors example.

You can add a section for your own project the same way. Just be sure to use the name shown in the Unity Scene Hierarchy and

[2018-05-04 23:49] jo3w4rd commented on #711
You could implement AcademyStep() to check to see if the conditions are such that you need to reset the entire scene. If so, call Academy.Done(), which I believe will then trigger the AcademyReset() on the next cycle.

Reloading the scene would destroy your Communicator object and break the connection to Learn.py process.

[2018-05-05 00:44] Aarsh-Singh-Vishen commented on #710
Thanks!

[2018-05-05 00:44] #710 closed

[2018-05-05 00:48] Aarsh-Singh-Vishen opened #712 "Cube does not move."
So I have a really simple setup where a cube needs to get to its destination from a random spawn point.
I've trained the model but the cube doesn't even move.

Here's my code, please let me know where I'm wrong.

`using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.AI;
public class Follow : Agent
{

    private BasicAcademy academy;
    public float tim

[2018-05-05 00:49] Aarsh-Singh-Vishen commented on #712
These are the main bits of the code I guess.

`public override void AgentAction(float[] vectorAction, string textAction)
{
    float movement = vectorAction[0];

    switch ((int)vectorAction[0]) {
        case 0:
            pos = new Vector3(this.gameObject.transform.position.x, this.gameObject.transform.position.y, this.gameObject.transform.position.z + 0.1f);
            break;
        case 1:

[2018-05-05 02:58] jo3w4rd commented on #712
Your AgentAction(), CollectObservation(), and AgentReset() functions look fine, but you could comment out your FixedUpdate() function and let your Academy drive the Agent normally.

I also find it helpful to set the Brain to Player with appropriate keystrokes to make sure that the mechanics of the scene works before running training. And then when first training, you can set the Academy's Training

[2018-05-05 04:18] Techno263 opened #713 "Curriculum Learning lessons not changing after passing threshold"
I'm using the ml agents to train an ai to navigate to a spot in a room. My plan was to start with small rooms and increase the size of the room as the ai improved using curriculum learning. I thought i had done everything correctly, but it seems like the ai will not move on the the next lesson after meeting the threshold for the current lesson.

Here is my curriculum json file
[code]

And here is

[2018-05-05 05:39] zkwencu commented on #698
Hi, Vincent! Thank you so much for helping me investigating this issue! I'm wee embarrassed and just want to let you know that this issue can be closed. The reason my code being slow is not because of your TFSharp plugin. My code spends the extra 1s on allocating memory for several TF objects, which shouldn't be executed every time the session runs again. The performance becomes competitive with n

[2018-05-05 06:52] stevesan opened #714 "Unnecessary to auto-resolve 'brain' dependency"
https://github.com/Unity-Technologies/ml-agents/blob/13beeac72759ccb57a872aadea96c3cacaeb5ffd/unity-environment/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasic.cs#L53

I was modifying the agent for learning purposes, and this line caused me a couple of hours of confused debugging. Doesn't seem necessary for the example scenes, and definitely bad practice.

[2018-05-05 12:43] ToZaho opened #715 "Error when i try to train any of examples"
I was trying to train some examples, until an error started to show in command prompt when running learn.py: https://pastebin.com/z0VvEcNv

And in output log of the game, that was started by learn.py, was this error: https://pastebin.com/Kz6ZDAYq

What is causing it and how can i fix it?

[2018-05-05 13:55] Aarsh-Singh-Vishen commented on #712
![1](https://user-images.githubusercontent.com/31087556/39663988-e90be812-5099-11e8-908d-dcea931285b1.png)
Umm I tried setting the Brain to player and gave it values and hotkeys, but when I play it during player mode, the cube moves forward, slowly, by itself. pressing any of the hotkeys does not make the cube do anything. Any ideas?

[2018-05-05 14:00] Aarsh-Singh-Vishen commented on #712
Changing the Default action during runtime with Brain set as player does make the cube change directions. But pressing the keys still does not help

[2018-05-06 08:04] MatthewHallberg opened #716 "Error Building for IOS"
I am getting this error when trying to build for IOS:
 System.NotSupportedException: To marshal a managed method, please add an attribute named 'MonoPInvokeCallback' to the method definition.
Any ideas? I saw a previous issue that was closed which said it could from using graph.DecodeJpeg () which I am using but it said the work around provided did not produce great results.

[2018-05-06 09:49] miguelsuau opened #717 "Environment Global Done"
How can I make sure the variable `env.global_done` is set to `True` when all the agents in the environment are done?

As far as I can see this variable is only set to `True` whenever the maximum number of steps in the academy is reached, which means that only in that case the following chunk of code in `trainer_controller.py` is executed.

[code]

My problem is that when an episode ends because al

[2018-05-06 21:44] pyBlob opened #718 "Provide a way to regularly skip FixedUpdate steps on Physics-heavy simulations"
I'm running ML-Agents on a simulation that requires a small fixedDeltaTime (~1ms), otherwise the physics and controlling scripts will get instable. As the controls for the AI/User are slow compared to the underlying physics, it would be interesting to have something like a "frameSkip" or "aiDeltaTime" value so that the Agents update at a more reasonable rate (like 10-50hz).

[2018-05-06 22:30] vincentpierre commented on #713
Hi, The lesson will only change when the academy resets. This means that you either must set the academy to done manually (with Academy.Done) in Academy.Step when some conditions are met OR set Academy max step to some positive value in the inspector of the academy. If each academy episode is too long, it will probably take a long time to change lesson since min_lesson_length is 15 in your scenari

[2018-05-06 22:49] vincentpierre commented on #712
I would try to Debug.Log `(int)vectorAction[0]` just to see if the pressing the keys changes its value or not. If it is not the case, there is most likely a problem with the mapping from keys to actions. If `(int)vectorAction[0]` changes as expected, there might be a problem with `SetDestination`.

[2018-05-06 22:52] vincentpierre commented on #716
Can you explain in which context you are getting this error. Is the graph you are trying to use made with `learn.py` ? On which environment does this error happen ? Does it happen with one of the example environment ?

[2018-05-06 23:01] vincentpierre commented on #717
Hi, In version 0.2, calling AcademyReset() is done automatically when the academy is `done`. You should not be calling AcademyReset directly. In 0.3, `env.global_done` is only ever set to true when `Academy.Done()` is called in Unity (or when max step is reached). If the academy does not reset but the agent is `local_done` true, the observations are still stored to be used in the next step (they a

[2018-05-06 23:07] vincentpierre commented on #718
Would [Decision Frequency](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Agents.md#decisions) help ?
You can select the frequency of fixed update in the `Edit -> Project Settings -> Time` settings (I would not recommend decreasing the fixed update too much as I think you will get a lot of overhead). You can modify the Decision Frequency in the Inspect

[2018-05-06 23:19] Aarsh-Singh-Vishen opened #719 "Can't SerializeField a variable on my agent script."
I have an agent script but I can't get one of its variables to be seen in the inspector?

[2018-05-06 23:25] vincentpierre commented on #719
Maybe [this](https://answers.unity.com/questions/361040/c-variables-not-showing-up-in-inspector.html) will help. I think this is more a Unity question than a ML-Agents question. I think you need to make your variable public for it to show up in the inspector.

[2018-05-07 04:26] MatthewHallberg commented on #716
Ohh sorry I am trying to use a pre-trained mobilenets ssd model for object detection. Everything works fine in the editor but when I build to IOS I was getting the error above because I was using the graph.DecodeJpeg() function. So I found a workaround for that but when I build out now I get:
TFException: Op type not registered 'NonMaxSuppressionV2'
  at TensorFlow.TFGraph.Import (System.Byte[] bu

[2018-05-07 12:16] lagidigu commented on #552
@xiaomaogy the problem is that I cannot even do step 1., as I cannot modify scripts, as long as the following message appears:

Can't really do anything, as the scene won't run because of that. Tensorflow has been installed.

[2018-05-07 12:43] NinaMaz opened #721 "Balancing and carrying a human body"
Hello!

I have an RL project, which I try to implement using Unity and Ml-Agents. The main idea is that I have a humanoid agent that I have already trained  to navigate himself from the starting point (which is always changing) to a goal (a violet cube on the gif below). Now i have a patient's body that kind of falls into agent's arms in the beginning and starting from that the agent needs to bala

[2018-05-07 12:44] lagidigu opened #722 "Cannot start any Scene because of CoreBrainInternal.cs"
Hi!

I have ENABLE_TENSORFLOW in Scripting Define Symbols, and installed all the dependencies. I am getting the following errors:

Tensorflow is installed, so I am not sure what the problem is. I cannot run the scene to begin with...

[2018-05-07 13:00] #722 closed

[2018-05-07 14:46] denisamselem opened #723 "More than one visual observation - ArgumentException: An item with the same key has already been added."
Hello there,

Has anyone been able to use 2 Visual Observations successfully?
Training and generating the model appears to be working but there seems to be an issue while using the generated model in internal mode. At runtime the Unity console will spit out the following exceptions:

**First exception (only reported once)**
[code]

**Second exception: reported every frame**
[code]
I have stepped t

[2018-05-07 16:55] vincentpierre commented on #716
The TensorFlowSharp library for iOS does not contain as many operators as its standalone counterpart. I suppose it is because the Op 'NonMaxSuppressionV2' is present in the standalone library but missing on iOS.

[2018-05-07 17:02] vincentpierre commented on #723
Hi, are you using 0.3.1? There was a but in 0.3.0 where the generated model would only contain the last visual observation. Can you try visualizing the graph the graph in Tensorboard and tell us if the "visual_observation_0" is used to generate the action ?

[2018-05-07 18:43] icaro56 commented on #711
Thanks @jo3w4rd .

[2018-05-07 19:32] wimachtendink commented on #647
I was having this issue, using ./learn.py worked for me from Anaconda Prompt.

[2018-05-07 20:49] xiaomaogy commented on #552
@hsaikia I think your error is related with your LSTM usage. Could you post your snapshot of your Brain Script?

[2018-05-07 21:07] denisamselem commented on #723
That was it!
I was on 0.3.0b and moving to 0.3.1 solved the issue.
Thanks again @vincentpierre ,
You and the rest of the team keep up the good work.

[2018-05-07 21:07] #723 closed

[2018-05-07 21:35] Techno263 commented on #713
OK. Thank you for the help.

[2018-05-07 21:35] #713 closed

[2018-05-07 22:18] kramea opened #726 "How can we use export_inference_graph (TF) with Unity?"
Hi, I have been training the model with the config files that tensorflow has provided. They suggest exporting the model [with "export_inference_graph". ](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md)

The binary file that is exported seems to be different from what is suggested [here](https://github.com/Unity-Technologies/ml-agents/blob/maste

[2018-05-07 23:49] cr545l commented on #552
PlayerSetting -> Scriptomg Define Symbols -> ENABLE_TENSORFLOW

Using this option will result in a CS0246 error.

[2018-05-08 02:06] RossMelbourne commented on #671
I think I have a work around or fix for this depending upon the original intent of Reset On Done.  After some experimentation it appears that when Reset On Done is set to False in the Editor then the Agent becomes disabled when Done() is called.  I am not sure if this is the intended behavior or not.  However if you want to Reset the agent manually, to say pause the learning, then comment out the

[2018-05-08 05:38] hsaikia commented on #552
@xiaomaogy I don't quite understand what you mean by Brain Script. I already posted my agent script. If you wanna know how I assign brains to the instantiated agents, it is done [here](https://github.com/hsaikia/UnityMLAgents/blob/master/SocialWalkerImitation/SWCrowd.cs)

I thought LSTM was turned on only from trainer_config.yaml and has nothing to do with the C# code. In any case, I'll try to tur

[2018-05-08 05:48] hsaikia commented on #552
Although without LSTM, my agents would be pretty much useless.

[2018-05-08 10:43] TejaswiniiB opened #728 "SoccerTwos training not working"
Hi  , I trained soccertwos example with same parameters present when downloading ml-agents repo. But when I import the generated .bytes file, it's not working properly- agents aren't playing well at all. The already present .bytes file provided in the repo for this example is working fine. Why is this happening?

I am building .exe after setting both brains to external, and training using command

[2018-05-08 12:43] leewsimpson opened #729 "My agent does not learn anything"
Hi - I have been trying to solve this myself for quite some time.  I created a very basic 'game', followed all of the examples as best I could and then tried to train it.  Every time I get poor results.  I have tried playing with the parameters, but no luck.  I don't think that my agent task is too complex:

A bouncy object is dropped at random from the top of the screen.  The agent has to move un

[2018-05-08 13:25] mbaske commented on #729
That sounds like a task which could be hardcoded rather easily. I'm not saying that to discourage you from solving it with RL. But plugging in a heuristic first can sometimes help tracking down flaws in the RL setup.
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Heuristic-Brains.md

[2018-05-08 22:23] Aarsh-Singh-Vishen opened #731 "Using two brains is way too slow."
So I have a sphere which runs after cubes and the cubes try to avoid the sphere.
Both are controlled by two different brains.

I can see the frames changing in the training but the step summary is too slow even at 10, where as usually the step summary even at 1000 is fast with just one brain.

[2018-05-09 02:07] cxbxmxcx commented on #494
That issue was reported for .2 it is fixed in .3 on and can be closed.

[2018-05-09 08:50] TejaswiniiB commented on #728
Hi, does someone know how to resolve this?

[2018-05-09 11:32] TejaswiniiB opened #732 "Imitation learning with VR"
Hi, I have 2 doubts related to Imitation Learning -
1. Does imitation learning have anything to do with rewards?,
2. How can we have  continuous floats as continuous space actions for teacher agent in player mode brain? Can we use imitation learning with VR where teacher agent will be playing tennis in VR with Vive, and teach student agents?

[2018-05-09 13:52] MarcoMeter opened #733 "Unexpected behavior of EpisodeCount and AcademyReset (develop branch)"
On the Unity side I wrote some code to log some statistics to a csv file on each end of an episode.
For that reason I'm using the override of AcademyReset().

While working on that, I encountered some strange behavior. The summaries, the agents and the Academy have a maxStep of 1k. Running for 300k steps should result in 300 episodes, however the actual episode count after 300k steps was 600. So i

[2018-05-09 18:00] alexisbcook opened #734 "SoccerTwos observation space"
In the [docs](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Examples.md#soccer-twos), I read that the observation space has size 112.
When I built the environment, the observation space for each agent was size 336.
Is this an error in my environment or a small typo in the docs?

[2018-05-09 18:02] vincentpierre commented on #734
This is probably due to Staked Vectors being set to 3 in the brain inspector. See [here](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Learning-Environment-Design-Brains.md#brain-properties) for details on the brain properties.

[2018-05-09 18:04] alexisbcook commented on #734
makes sense. thanks!

[2018-05-09 18:04] #734 closed

[2018-05-09 18:54] theforgottenmachine opened #735 ".bytes files, and exporting them"
Hi,

Is there any information on how to export .bytes model files and use them elsewhere? Are these just standard tensorflow models or is there something special here?

Thanks!

[2018-05-10 04:45] YuMurata opened #736 "Curriculum training by multiplebrains"
hi there

i have 2 agents and brains, avoider(brain 1) and shooter(brain 2).
i want to use different curriculum to train them
and use "reward" for parameter of "measure"
can i use curriculum  for each brains ?

thanks!

[2018-05-10 13:03] marcelwessely commented on #569
I come across the same problem. My implementation is also a baskteball game.

Build it like you discribed it and i also get only one step displayed. When stopping and restart with --load the simulation will also output only the next step. Step number is not the same as at the start. Looking into the tensorboard --logdir=summaries i only find the reward at these steps displayed during simulation in

[2018-05-10 16:59] miguelsuau commented on #717
I think I misunderstood something or maybe my question was not clear. My point is that, if `env.global_done` is only set to `True` when the maximum number of steps is reached then when an episode ends naturally (agent `agent.local_done` is true) the variable `stored_info.local_done` at the initial step of the next episode is still `True` (from last episode) and therefore the first step of an episo

[2018-05-10 17:04] ChrisRisner opened #737 "Missing documentation on running training on Microsoft Azure"
Current documentation includes how to train models on AWS but no other cloud platforms.

I recently spent time walking through getting everything working on Azure and unless there are issues, will submit a PR with comparable instructions on running the training on Microsoft Azure.

[2018-05-10 17:37] awjuliani commented on #737
Hi @ChrisRisner. Please feel free to submit a PR with Azure instructions. I am sure the community would appreciate them. Be sure to follow our contribution guidelines: https://github.com/Unity-Technologies/ml-agents/blob/master/CONTRIBUTING.md. Looking forward to it.

[2018-05-10 18:13] #698 closed

[2018-05-10 18:15] xiaomaogy commented on #698
@zkwencu Glad to hear that you've found out the solution to the issue.

[2018-05-10 19:14] RossMelbourne opened #738 "Recording Player actions and agent observations for Supervised Learning"
I have read comments that currently imitation learning has teacher and student activity happening simultaneous.  Are there plans to offer recording the Teacher agent actions and observations (like supervised learning) to be applied to training at a later point?

[2018-05-10 19:56] vincentpierre commented on #729
Hi,
Did you manage to get the example learning environments to learn?
If yes, the problem might come from the definition of the problem, maybe making the task simpler first would help. It could be that the agent does not get enough information to solve the problem, you can try to visualize the vector observations provided and see if they correspond to what you expect.
You could also implement the

[2018-05-10 20:01] vincentpierre commented on #671
When an agent is done and has reset on done not checked, then the agent is terminated. You should usually destroy the agent in the AgentOnDone method. Once an agent is done and it cannot reset, then there is nothing left for it to do. You should not be calling AgentReset manually, you should just set the agent to done. If it resets on done then it will reset, else it will die. It does not make sen

[2018-05-10 20:06] vincentpierre commented on #731
This seems odd, it should be slower but not by an order of magnitude. Are the two brain exactly similar ? It is possible that the two brain did not receive the same training parameters, if one of them uses recurrent, then the training should be slower.
Are you sure the number of steps is slower or is it just the summary freq that is slower ? Python will only print a summary if there was new comple

[2018-05-10 20:07] #494 closed

[2018-05-10 20:10] vincentpierre commented on #728
Hi,
How long did you train the simulation for. Soccer takes a lot more time to train than Tennis. You could be in a local minima, I would recommend training until the learning curve no longer changes. I think in soccer there are 2 cumulative rewards curves, they regularly cross so the agents can look like they are done learning while they are still growing.

[2018-05-10 20:15] vincentpierre commented on #732
1. Nothing, Imitation learning ignores the reward signal and focusses on imitating the teacher.
2. In the player Brain, you can link keys to actions for both discrete and continuous control. You can set a key press to correspond to a specific float value at a specific index. I have not tried to use ML-Agents in VR but since we exchange messages with python at each step of the simulation, I think V

[2018-05-10 20:25] vincentpierre commented on #733
This looks like a bug to me, can you try with agent having max step to 0? Can you reproduce this on develop? I think it could be an error of implementation of the ForcedFullReset method.

[2018-05-10 20:27] vincentpierre commented on #735
`.bytes` files are just `.pb` files renamed as .`bytes` files so Unity will be able to load them. If you rename them, they should still be usable. We use `freeze_graph` to generate the graph, it is a standard way to generate TensorFlow graphs.

[2018-05-10 20:30] vincentpierre commented on #736
As of now, no. Curriculum will look at the sums of the rewards. An alternative would be to use the number of steps as threshold. Upgrading the curriculum to support these things is on our roadmap.

[2018-05-10 20:41] vincentpierre commented on #569
One reason I see is that the agent never requests a decision after some point. It could be due to an Academy reset gone wrong or a condition to request a decision that is never met. Could you try interacting directly with the environment. Something along the lines of :
[code]
If the counter stops increasing at some point, it would mean the agents are not requesting decisions anymore.
This could al

[2018-05-10 20:50] vincentpierre commented on #717
I think I misunderstood as well. If an agent has his local_done flag set to true, the vector_observations of the agent correspond to the RESETED observations. This means that the first step is still used properly (at least in our implementation of PPO).
When the env.global_done is true, you must call env.reset() to reset the environment.
I hope this helps.

[2018-05-10 23:45] awjuliani commented on #563
Hi @jlanis, apologies for my delay in getting back to you. If should not have an effect on the training process.

[2018-05-10 23:47] #555 closed

[2018-05-10 23:48] awjuliani commented on #566
Hi @q7777777hk,

The difference is that in the first case the network used to control the agent will be a simple feed-forward network which is fed the last X observations. In the second case a RNN will be created, and only the most recent observation will be fed into the network.

[2018-05-10 23:48] #566 closed

[2018-05-10 23:50] awjuliani commented on #565
Hi @Fangh.

That is an interesting idea. It would certainly be possible to do what you are suggesting. As @MarcoMeter mentioned though, you'd want to have a lot of patience with the process, as it would likely take quite a while.

I am going to close out this issue, but if you want to continue discussion, feel free to re-open it or to create a new issue.

[2018-05-10 23:50] #565 closed

[2018-05-10 23:54] awjuliani commented on #607
Hi all. I am closing the issue for now, as we have moved to only keep the latest ML-Agents on our GitHub repo for the near future.

[2018-05-10 23:54] #607 closed

[2018-05-10 23:57] djdoggy99 opened #740 "Is it possible to train a brain using Behavioral Cloning training so that the brain can get the idea of what it has to do then train using PPO so that it can get better and faster?"
I am trying to train an ai to drive a car when using ppo the ai just sits at the starting position the whole time spamming all the different buttons i have an idea why and this is because i am using a check point system for the rewards therefore its not getting a reward i then used Behavioural Cloning training this worked and the ai was able to go forwards and turn the corner the only problem was

[2018-05-11 00:27] awjuliani commented on #714
Hi @stevesan,

Thanks for pointing this out. I am tagging this issue as a bug, as this line should be removed from the code.

[2018-05-11 00:29] vincentpierre commented on #740
There is no way to bootstrap PPO with Imitation learning in the current version. I would recommend curriculum learning : You could have a strong reward signal at the beginning (example : Reward every step the agent gets closer to checkpoint and then slowly decrease this reward signal only leaving the checkpoint reward. You could also reward the agent as a function of its speed in the direction of

[2018-05-11 00:37] djdoggy99 commented on #740
Thank you. I will try changing the reward system so that it gets smaller rewards but more often so that it gets more feed back about what its doing.

[2018-05-11 05:33] TejaswiniiB commented on #728
I used same hyper parameters present in the config file of repo, which should work as the .bytes file already present wasa generated using same config file. The config file contains 100k steps.

[2018-05-11 05:35] TejaswiniiB commented on #732
Okay thankyou !!

[2018-05-11 11:50] hejcz opened #741 "Combination of visual observations and continous actions"
I created a simple game. There is a small room generated randomly and agent must go to the blue block and return with it to the green "base" field. I want to use visual observations only.

When I started learning process with continous actions (1 float for vertical and one for horizontal movement) after first gradient descent it was moving a little staying in the same place. As if it was scared to

[2018-05-11 11:56] hejcz opened #742 "Masks key in training_buffer"
What is the goal of the `masks` key in `training_buffer` and using it's values in `create_ppo_optimizer` later. It has only `1.0` values appended so it seems unnecessary as `tf.boolean_mask` returns tensor without any changes. Do I miss something?

[2018-05-11 17:19] Aarsh-Singh-Vishen opened #743 "Mean reward always remains negative."
`using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.AI;
public class Follow : Agent
{

    private BasicAcademy academy;
    public float timeBetweenDecisionsAtInference;
    private float timeSinceDecision;
    public int position;
    Vector3 pos;
    public Vector3 destination;
    Vector3 start_pos;
    NavMeshAgent nagent;
    [SerializeField] Gam

[2018-05-11 18:33] vincentpierre commented on #742
When using RNN, we pad the sequences with 0 data (in order to always feed the same length to the NN). For this reason, when sampling from the buffer, the mask is only one when the data point was added by the trainer. This allows at training time to ignore these data points in the back-propagation.
I hope this helps.

[2018-05-11 19:33] vincentpierre commented on #743
* Have you made sure a player Brain or a heuristic brain can solve the problem ?
 * You should normalize your inputs, divide `pos` by 15 before calling AddVectorObs
 * Did you make sure that the action space size was set to 4 in the brain inspector?
 * You could try to increase the distance threshold for the agent to meet the goal to make sure it works.
 * You could penalize the agent by a number

[2018-05-11 21:34] Aarsh-Singh-Vishen commented on #743
Thanks, I'll check it out and get back to you!

[2018-05-11 22:18] YuMurata commented on #736
i got it
im looking forward to upgrade :)
thanks!

[2018-05-11 22:18] #736 closed

[2018-05-12 00:15] hejcz commented on #741
I see. Is there any paper on visual observations and continous control you're aware of? I would love to understand the reason of such behavior.

[2018-05-12 00:16] hejcz commented on #742
Sure. Thanks for help!

[2018-05-12 00:16] #742 closed

[2018-05-12 08:29] pyBlob commented on #718
I didn't want to use Decision Frequency, because it does not skip the AgentAction call.
The description for On Demand Decision Making looks better, and I might try it. In the meanwhile, I've added a counter to the FixedUpdate of the Academy, so it updates at a lower rate.

[2018-05-12 10:29] the1icon commented on #552
Hello
If you are starting a new project you must import the TFSharpPlugin again.

[2018-05-12 11:17] mbaske commented on #740
Such a feature would be high on my wish list too. I know the point of RL is to not make assumptions about HOW an agent reaches its goals. Nevertheless, sometimes you'd like to implement some basic actions quickly, before training more complex and flexible behavior on top of that. A workaround I have experimented with, is to train a PPO agent with a heuristic one first. Assuming the two agents face

[2018-05-12 14:46] KilianSillero commented on #549
@jlanis I am trying to do your example to practise but the ball keeps falling off the platform no matter how I change the rewards.
Did you do something "special" for that?

That's the code and the .bytes result of 500k training
[RollerBallPush.zip](https://github.com/Unity-Technologies/ml-agents/files/1997692/RollerBallPush.zip)

[2018-05-12 16:50] cxbxmxcx opened #747 "python_Data folder getting deleted, somehow?"
Not sure if I incorrectly existed a training session or a build crashed but why could that folder get deleted?

In any case, the issue is nasty but easy to fix by just pulling a full version from GitHub and rebuilding.

Will plan to update this post if I experience the same issue again.

[2018-05-12 17:14] RossMelbourne commented on #671
@vincentpierre Thank you for this clarification!  Now I understand the intent of unchecking reset on done and the AgentOnDone method.

[2018-05-13 03:12] #671 closed

[2018-05-13 07:40] BenM77 opened #748 "Vector Observation Size Mismatch Error"
I am getting the following exception:
UnityAgentsException: Vector Observation size mismatch between continuous agent Enemy and brain Brain. Was Expecting 29 but received 33.
Agent.SendInfoToBrain () (at Assets/ML-Agents/Scripts/Agent.cs:518)
Agent.SendInfo () (at Assets/ML-Agents/Scripts/Agent.cs:829)
Academy.EnvironmentStep () (at Assets/ML-Agents/Scripts/Academy.cs:475)
Academy.FixedUpdate () (

[2018-05-13 08:15] mbaske commented on #748
AddVectorObs(thrownWeaponTypes);
You're passing a list here whose size depends on thrownWeapons. Maybe the size of your thrownWeapons list varies?

[2018-05-13 08:43] BenM77 commented on #748
Does that matter? I'm still passing in the same amount of lists no matter what. Otherwise, how would you handle tracking a variable amount of objects present in the scene?

[2018-05-13 09:31] mbaske commented on #748
Yes, passing a list to AddVectorObs increases the size of the agents vector observation by the size of that list.
If you know the max number of objects you want to track, then you could always pass a list of that size. And set a specific value for objects that aren't present at a given observation. Like a weaponType "none".

[2018-05-14 00:32] #748 closed

[2018-05-14 01:29] BenM77 opened #749 "Training not executing"
When i tell my anaconda prompt to train my agent, it doesn't actually do anything.
<img width="960" alt="2018-05-13" src="https://user-images.githubusercontent.com/34111213/39974148-95e92b3e-56db-11e8-8256-172697249dce.png">

[2018-05-14 02:26] BenM77 commented on #675
Hey, I have the exact same problem except I am using:
python learn.py (<envname>) --run-id=<run-id> --train
however, it still does not show the docopts

[2018-05-14 04:47] BenM77 opened #750 "docopt not found training not working"
help needed: learn.py is unable to run. Similar problem to https://github.com/Unity-Technologies/ml-agents/issues/675 but when i enter
`python learn.py (<envname>) --run-id=<run-id> --train`
i still get the problem.
the issue is also related to https://github.com/Unity-Technologies/ml-agents/issues/647 as I have gotten the same error message
<img width="960" alt="2018-05-13" src="https://user-imag

[2018-05-14 06:44] wimachtendink commented on #750
You might want to share less information about yourself in public.

I was having the same problem, Using Anaconda Navigator I added and updated Docopt from the list it offers which fixed it for me.

[2018-05-14 07:16] BenM77 commented on #750
@wimachtendink How did you do this?

[2018-05-14 13:52] camigord opened #751 "Python API when "Reset on Done" = False"
Hello,
I am making some experiments using the 3DBall scenario but I am having some problems when using the python API and setting the agents "Reset on Done" flag to False in the Unity Editor.

The main idea is that I would like to receive a done flag together with a final observation for any terminated agent whenever I execute `env.step(actions...)`. Something like:

[code]

Meaning that after the

[2018-05-14 14:48] RK4444 commented on #675
Have you installed the correct version of docopt?

Another idea would be the usage of python3 instead of just python in front of the learn.py

[2018-05-14 16:06] wimachtendink commented on #750
Yeah, when I installed from pip in my ml-agents environment I was getting that error.

I tried it again from Anaconda Navigator, not Anaconda Prompt, and it worked.

I guess you could just verify by going into the Anaconda Navigator>Environments>ml-agents>installed and scroll down to Docopt.

![anacondanavigator](https://user-images.githubusercontent.com/19740189/40008543-68bc59e6-5754-11e8-8f8d-3

[2018-05-14 16:40] unityjeffrey opened #752 "[Request] Time stamp unity-enviornment.log"
Hi all - instead of writing over the unity-environment.log on each run, we should time stamp this every run.  this way, we preserve the logs for debugging.  and move this into an logs folder.

[2018-05-14 17:32] vincentpierre commented on #749
I think it might be because of the white spaces in the folders you have. Can you try wrap your paths into double quotes ? Or Put the project in a path that does not contain white space ?

[2018-05-14 18:05] vincentpierre commented on #751
When the agent dies, It sends a done flag immediately to Python, it does not wait (like the other 11) that `XXX` fixed updates pass before sending the new observations. This is the expected behavior, in a similar manner, it you had one of the balance ball with a decision frequency set to 1, you would receive an observation for that balance ball alone `XXX` times in a row before receiving all 12 ob

[2018-05-14 18:08] vincentpierre commented on #750
This is a duplicate of #749 Please Continue this conversation here.

[2018-05-14 18:08] #750 closed

[2018-05-14 18:11] vincentpierre commented on #752
I think the size of this folder would soon become too large. Users would have to periodically remove logs from the folder. What about adding the log into an issue template, I think this would make identification of bugs easier.

[2018-05-14 18:16] unityjeffrey commented on #752
hmm, true, maybe we can have a flag to turn it off in learn.py.  but i dont think the logs are really large.  what is an issue template?

[2018-05-14 18:20] vincentpierre commented on #752
The logs can become very large when the user calls `Debug.Log` at every engine Update or when there is a recurring error. I mean github issue template. When there is a bug, the users could save this log and post it, this way it would be visible by us.

[2018-05-14 18:42] JohnnyPhoton commented on #549
@KilianSillero @jlanis

Here is the modifications I made that did the best job of not falling off the table. I added observations for the target position and velocity and lowered the rewards. Note the negative reward for falling is not that high but this does a much better job.

`using System.Collections.Generic;
using UnityEngine;

public class RollerAgent : Agent
{
    Rigidbody rBody;
    Rigid

[2018-05-14 18:54] marcelwessely commented on #569
I added a counter after every decision and displayed it direktly in the UI. The counter went up and also the AgentAction is executed (the ball is thrown).

[code]

Nevertheless the training enviorment only displays one step. Also the reward is always (one or many?) miss so -0.1f .
When inspecting with the jupyter notebook the reward gets displayed.

Where can I look more into detail to fix the pro

[2018-05-14 19:02] vincentpierre commented on #569
Can you decrease `summary-freq` in `trainer-config.yaml` ? This will allow you to see at what point the environment stops displaying the step. Can you also print in addition to counter the local done flag ? If it is always false, it means the agent never finishes an episode, if it is always true, then it means the episode length is 1 and in this scenario, I am not sure ppo will consider it an epis

[2018-05-14 19:47] Aarsh-Singh-Vishen commented on #731
Hi! So I got them to train and saved the output file. But when I try to plug in the graphs and hit play, I get this error:

	 [[Node: dense/MatMul = MatMul[T=DT_FLOAT, transpose_a=false, transpose_b=false, _device="/job:localhost/replica:0/task:0/cpu:0"](_arg_vector_observation_0_0, dense/kernel/read)]]
CoreBrainInternal.DecideAction (System.Collections.Generic.Dictionary`2[TKey,TValue] agentInfo)

[2018-05-14 19:59] BenM77 commented on #675
Yes, docopt has the correct version and python 3 is not recognized, only python. What do you mean by the environmentvariables?

[2018-05-14 20:08] vincentpierre commented on #731
It seems the size of the input and the expected size are different. Make sure the observation size used in training is the same as the one used at inference. Same goes for number of stacked vector observations. Finally, make sure the graph scope is set correctly in the internal brain settings.

[2018-05-14 20:10] vincentpierre commented on #675
@BenM77 I think your issue could be related to #749

[2018-05-14 22:30] mmattar commented on #752
@vincentpierre @unityjeffrey Using log rotation here can help. Caps the size and offers a recency buffer.

[2018-05-14 22:37] unityjeffrey commented on #752
that works too.  something between infinite logs vs overwrites.  i will add this to planning for us to discuss.

[2018-05-15 01:46] Robintjhb opened #753 "The brain Ball3DBrain was set to External mode but Unity was unable to read the arguments passed at launch."
Please help~
I followed the steps above at https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md.

But when using the cmd command line: python learn.py python.exe --train --slow, call build's python.exe application.

The output_log.txt output shows "The brain Ball3DBrain was set to External mode but Unity was unable to read the arguments passed at la

[2018-05-15 04:01] vincentpierre commented on #753
Just to clarify, you are not opening python.exe manually, `learn.py` is opening the executable right ?
There could be a problem naming your executable python.exe, maybe your system is confusing it with the python program, you should rename it `ball` for instance. This could be due to a discrepancy between the python version of ml-agents and the unity version of ml-agents. Make sure both these vers

[2018-05-15 06:46] Robintjhb commented on #753
You are right. Thank you very much. After I renamed the application of build to ball.exe, I succeeded in running it. Thank you very much.

[2018-05-15 06:46] #753 closed

[2018-05-15 06:46] BenM77 commented on #749
It was because I was using a .apk instead of a .exe. It worked after building to standalone PC/Mac/Linux instead of Android. It seems like it is intended to work with building to any platform, but if not it should be clarified that .exe must be used.

[2018-05-15 06:46] #749 closed

[2018-05-15 07:34] camigord commented on #751
Hi @vincentpierre , thanks a lot for the reply!
So, if I understand correctly, it has to do with the "Decision Frequency" which is assigned to each agent in the Unity's Editor right? If I were to put a decision frequency of 1 for all the agents, I wouldn't be getting this problem right? Given that regardless of whether the agents are done or not, they will reply at the same time...

One last comme

[2018-05-15 07:38] r-lipton opened #754 "Cannot tick "Headless mode""
Hello,

I created a custom environment, on the scene, there is some cameras game object.
However, for the state, I only consider the vector observation, visual observation size is set to 0.
When I tried to build the env for Linux, the "Headless mode" is shown in gray, is it normal?
On the docs, it says that we can tick it only when we don't use visual observation, but it is the case.

Thanks

[2018-05-15 09:35] BenM77 commented on #522
I have a similar problem. My environment runs and the player brain type works perfectly, but the agent does not move at all during training. A couple errors happen repeatedly:

[2018-05-15 09:42] BenM77 opened #755 "Agent does not preform any actions during training"
My environment runs fine and the player brain works perfectly, but the agent does not move at all during training. A couple errors happen repeatedly:

NullReferenceException: Object reference not set to an instance of an object
EnemyAgent.AgentAction (System.Single[] vectorAction, System.String textAction) (at <36c59ff2250e45b19ec9332a93a4d0cd>:0)
Agent.AgentStep () (at <36c59ff2250e45b19ec9332a93

[2018-05-15 10:10] RK4444 commented on #675
That are the path variables, you need to set in order to access python from within the anaconda prompt

If you don't set them, the anaconda prompt doesn't know what to do with the command "python"

[2018-05-15 12:34] leewsimpson commented on #729
Many thanks for taking the time to respond @mbaske and @vincentpierre.

I did indeed get the heuristic decision to work with some simple code - but it still struggled to learn anything at all when set to external.

Then I simplified the game even more with a much narrower field, as well as removing the bounce.  This did the trick and after 1M iterations, it kinda works.  I expect that I would need

[2018-05-15 12:34] #729 closed

[2018-05-15 13:50] Sposito commented on #424
I created an summary of parameters to tweak, I hope some help could be provided for some more experienced user. @ZiadJ  ?

[2018-05-15 13:56] marcelwessely commented on #569
Decreasing the `summary-freq` to 1 also gives only one step as output.
Monitoring the flag shows that it resets correctly every time when the agent has to be reset. On the other side the `done` flag is still true when the agent did the next desicion (but i think that is intended)

I could get a output when the agent has to do 2 `RequestDecisions()` between every `Done()`. Maybe the the framework d

[2018-05-15 16:59] vincentpierre commented on #751
The balance ball will probably not train properly with a decision frequency of 1, that is because the consequences of each actions do not have a lot of weight.
You are right in your second paragraph, when you receive observations from one agent, the environment expect an action for this agent. The others are not affected since this extra communication is between their decision period of XXX frames

[2018-05-15 17:03] hejcz commented on #741
@vincentpierre do you know any or should I close this issue?

[2018-05-15 17:06] vincentpierre commented on #755
@BenM77 Have you made sure your `vector_observations` are between -1 and 1 ? It seems it is a `null` problem, not a `NaN` problem, maybe the two are separate issues.

[2018-05-15 17:13] vincentpierre commented on #569
The framework is not suitable for episodes of one step only, I think this could be the problem. PPO uses `(state, action, reward, next_state)` when training, it does not make sense if there is only one state per episode. Could you not set the agent to done every decision, could you do it every 10, 100 steps ? This would help us figure out if this is the issue here.

[2018-05-15 17:18] vincentpierre commented on #741
I do not have any on top of my mind. I made some experiments and very simple environments learn with continuous control and visual observations. Issues arise when the complexity increases.

[2018-05-15 18:06] BenM77 commented on #755
@vincentpierre I went back and chekced my vector_observations. This made the errors in the log go away, but I am still getting NaN in the vectorAction array.

[2018-05-15 18:51] devnio opened #756 "Information about the Architecture"
I'm working on understanding the framework better since I wanted to do some research about different outcomes using different settings.

I already found out that the yaml file and the train.py file give enough freedom to set up also the hidden layers and the hidden units. But what I didn't manage to find is what kind of activation functions are being used in the network and what kind of network is

[2018-05-15 19:08] devnio commented on #756
Thanks a lot for the prompt answer. I will take a look at the paper and if I have more questions I will post them here.

[2018-05-15 23:41] vincentpierre commented on #755
I do not know what could be causing this. What branch are you on ? What is the environment like ? Observations? Discrete or continuous actions ? Are you training with PPO or BC ? Do the NaN values appear immediately or after some training. What are the errors you get now ? You said it made the errors go away, but I think NaN values should break a few things...

[2018-05-15 23:42] Aarsh-Singh-Vishen commented on #731
Size of which input ?

[2018-05-15 23:43] vincentpierre commented on #731
Sorry, the `vector_observation` size.

[2018-05-15 23:47] Aarsh-Singh-Vishen opened #757 "Using two adversial brains and I get this error while I run it with Internal brain."
CoreBrainInternal.DecideAction (System.Collections.Generic.Dictionary`2[TKey,TValue] agentInfo) (at Assets/ML-Agents/Scripts/CoreBrainInternal.cs:251)
Brain.DecideAction () (at Assets/ML-Agents/Scripts/Brain.cs:241)
Academy.EnvironmentStep () (at Assets/ML-Agents/Scripts/Academy.cs:477)
Academy.FixedUpdate () (at Assets/ML-Agents/Scripts/Academy.cs:507)

Any ideas?

[2018-05-15 23:47] vincentpierre commented on #726
Where are you stuck ? If you rename your file `graph.bytes` you should be able to import it in Unity. Then you should be able to run the graph as long as you know what are the names of the placeholders and outputs in the graph (and the operators are present in TensorFlowSharp). I would assume export_inderence_graph would use freeze_graph like we do but If that is not the case, I do not know how to

[2018-05-15 23:52] vincentpierre commented on #757
Is the graphScope correct ?
When you finished training with `learn.py`, there should have been a message with the names of the exported nodes and the graphScopes present in the graph. You must use the appropriate graph scope in the Internal Brain. In theory, it should be the brain name with some escaping on it. You can look at `GoalieBrain` and `StrikerBrain` in the `SoccerTwos` example.
I hope th

[2018-05-16 07:03] mbaske opened #758 "Best practice for hierarchical RL?"
Hi - I have a robot agent with two brains. The low level brain controls walking while the high level brain is concerned with navigation. They have different  observation and action spaces. I was able to train each of them individually and would now like to continue training them together. What is the recommended way to set this up? My guess is I'll need to keep two distinct agent classes, but I'm

[2018-05-16 07:26] camigord commented on #751
Cool, I think I get it. Thanks for the help.

[2018-05-16 07:26] #751 closed

[2018-05-16 07:40] gaoyuankidult commented on #741
@hejcz Maybe you want to check this paper:
https://arxiv.org/pdf/1509.02971.pdf

Convolutional PPO can be an option too depending on your task.

Do you mind to share the example of yours? I just started to learn this framework and I am looking for a way in this framework to use images as input. However, the examples they provided do not have a combination of visual observations and continuous acti

[2018-05-16 08:53] Tlospock opened #759 "Training not launching: TimeOutException"
Hello,

The exact same project was working a week ago, but since I changed Unity version from 2017.4 to 2018.1.
The problem is the following:
Launching the training from Anaconda prompt start the build, but the screen stay black, until the python process throws TimeOutException. Then the Unity window display the game.
The window starts the game instantly when just starting the same build.

I wonde

[2018-05-16 09:10] #593 closed

[2018-05-16 11:15] marcelwessely commented on #569
The way to play the game (throw a ball into a basket) has to have only one decision at the start (throwing the ball with a specific velocity). Therefore I dont see how to implement this kind of game with more than one step.

It would make sense that one state per episode is not supported. When I allow the agents to execute 2 `RequestDecision()` it generates a output but that is not the way to play

[2018-05-16 11:21] aschmitz13 opened #760 "3DBall example, learns but doesnt play in Unity"
I am currently setting up ML Agents and tried the tutorial here on the website. Everything works fine. When i use "python python/learn.py python/3dball.exe --train", I can see 3dball window and I see the agents improving. I can visualize with tensorboard as well. Once it is finished i got a .bytes file (this file is named slightly different than in the tutorial: 3DBall_ppo.bytes).

But when i load

[2018-05-16 14:39] aschmitz13 commented on #760
Ok i found the solution for now. tensorflow 1.8.0 is not working with ml-agents. it has to be tensorflow 1.4.0

[2018-05-16 17:25] icaro56 commented on #760
@aschmitz13, close this topic.

I had this same problem a few months ago.

[2018-05-16 19:20] icaro56 commented on #711
@jo3w4rd , on the documentation is write:
[code]
So, I did the above code in MyAcademy, but the AcademyReset function was not called.

[code]
In step 100 the academy should be reset.

Can I force the academy reset?

[2018-05-16 19:31] icaro56 commented on #711
The problem is in EnvironmentStep(). The test to reset on done is made before AcademyStep.

[code]

Then, after I set Done() in AcademyStep, the done is flag is set to false.

[2018-05-16 19:40] #760 closed

[2018-05-16 19:45] vincentpierre commented on #758
Hi, this is a super cool idea for a project. I think you need 2 agents classes yes. I would have the high level take decisions with On-demand-decision and the low level have a fixed decision frequency. The action of the high level should be included in the observations of the agent (we do not have a way to specify goals yet, so this is the closest thing I can think of). I think episode length shou

[2018-05-16 19:49] vincentpierre commented on #569
Maybe you could consider one episode to be 10 free throws ? The agent has 10 attempts at throwing the ball per episode, He is only done after 10 throws. His cumulative score is given by the sum of the rewards for each throw. There is no correlation between throws but this should not bother the agent...
Once the agent is trained, you can set the number of throws to be anything you want (including 1

[2018-05-16 19:58] icaro56 commented on #711
@vincentpierre , this is not a bug. I must change Academy status to done elsewhere. I just can not use AcademyStep to do this.

[2018-05-16 21:24] green4you opened #761 "tutorial issue"
in this tutorial
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md#training-with-ppo

1.
since there is no python3.exe,

"python**3** python/learn.py <env_file_path> --run-id=<run-identifier> --train "

should be changed to

"python python/learn.py <env_file_path> --run-id=<run-identifier> --train"

2.
"ml-agents" is ambiguous in this sentence
"T

[2018-05-16 21:45] jo3w4rd commented on #761
On 1, whether or not you have a python3 executable depends on how you have installed python. From the Python docs:

You are correct on the second point. There is both an "ml-agents" folder and an "ML-Agents" folder in the ML-Agents repository (although only one has a python subfolder, so hopefully the confusion isn't too long lasting).

[2018-05-16 22:35] reillydonovan opened #762 "TFException"
Hi,
after successfully training a brain and bring it back into unity for the Getting Started Ball Balancing tutorial I am returned the following, if I use the .byte file native to the ml-agents package it works fine, any suggestions?

TFException: Op type not registered 'ClipByValue' in binary running on REILLYAW. Make sure the Op and Kernel are registered in the binary running in this process.
Te

[2018-05-16 22:43] vincentpierre commented on #762
From [this website](http://www.aipacommander.com/entry/2018/05/03/200917), it seems someone with the same error as you fixed his issue by downgrading the TensorFlow version to 1.4. Could you try this out?
I hope this helps.

[2018-05-17 00:43] icaro56 commented on #644
@awjuliani , I thought something now. If do I create only one grid state? Where each important gameObject will be represented by a Integer. (e.g. Agent = 1, Block = 2, Bomb = 3, Goal = 4, None = 0)

1 | 0 | 0 | 0 | 0 | 0 | 0 |
3 | 2 | 0 | 2 | 0 | 0 | 0 |
0 | 2 | 0 | 2 | 0 | 0 | 0 |
0 | 2 | 2 | 2 | 0 | 0 | 0 |
0 | 2 | 0 | 0 | 0 | 0 | 0 |
0 | 2 | 0 | 0 | 0 | 0 | 0 |
0 | 2 | 0 | 0 | 0 | 0 | 0 |
0 | 0

[2018-05-17 00:45] awjuliani commented on #644
Hi @icaro56,

You will want to use a one-hot encoding instead of an integer. So instead of 1, 2, 3, you will want [1, 0, 0], [0, 1, 0], [0, 0, 1], etc.

[2018-05-17 03:28] green4you opened #763 "question about tensor borad"
I wonder what is value loss is meaning.

in the tutorial of
https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Getting-Started-with-Balance-Ball.md#observing-training-progress

it is defined as
Value Loss - "The mean loss of the value function update. Correlates to how well the model is able to predict the value of each state. This should decrease during a successful training session

[2018-05-17 03:53] vincentpierre commented on #763
State is not exactly the same as observation as it can contain previous stacked observations or even an embedding of previous observations (and even actions in some cases). By state, we mean all the information made available to the neural network.
Value a little like an estimate of the future rewards the agent is expected to obtain. PPO uses an actor and a critic. The critic uses its value estima

[2018-05-17 03:54] #606 closed

[2018-05-17 03:54] #117 closed

[2018-05-17 03:54] #318 closed

[2018-05-17 03:55] #227 closed

[2018-05-17 08:05] hsaikia commented on #552
Well the TFSharpPlugin is imported. My problem still persists. I feel it has something to do with me using LSTM and imitation learning at the same time.

[2018-05-17 09:14] r-lipton commented on #754
Ah yes, thank you!

[2018-05-17 09:14] #754 closed

[2018-05-17 12:11] mmattar commented on #728
HI @TejaswiniiB did you remember to enable all the SoccerFieldTwos game objects before building the scene?

[2018-05-17 12:27] JamesYFC opened #764 "python version for win10 conda environment?"
In the [docs](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Installation-Windows.md), it seems to give conflicting information about which python version to use while setting up the conda environment, pointing to both python 3.5 and 3.6 . Which one is it?

in step 1:

in step 2, it's quite clear about the command using 3.5

but right afterwards, it says

and the [screenshot](htt

[2018-05-17 17:19] awjuliani commented on #644
Hi @icaro56,

That is correct, you would add multiple values per call to `AddVecObservation`. The function is designed to take variable length arrays as input. I would suggest looking at our RayCastPerception script for inspiration on adding one-hot vectors. https://github.com/Unity-Technologies/ml-agents/blob/master/unity-environment/Assets/ML-Agents/Examples/SharedAssets/Scripts/RayPerception.cs

[2018-05-17 17:57] icaro56 commented on #644
Thank you again.

[2018-05-17 17:57] #644 closed

[2018-05-17 18:14] xiaomaogy commented on #762
@reillydonovan You could also try to use the new TensorFlowSharp 1.7 plugin in this PR if you are interested. https://github.com/Unity-Technologies/ml-agents/pull/746

[2018-05-17 18:33] xiaomaogy commented on #721
Hi @NinaMaz, your gif is really small and I can barely see what's going on. Also it would be helpful to share your code here to help people understand how you setup the everything.

Also it is recommended to use our latest repo in the master or develop branch.

[2018-05-17 18:42] xiaomaogy commented on #716
@MatthewHallberg Yes you can add it yourself by recompiling the libtensorflow-core.a library. But before you go with that route you can probably try this new TensorflowSharp plugin in this PR.
https://github.com/Unity-Technologies/ml-agents/pull/746

If you want to do it yourself, here is the documentation from tensorflow github to compile it. https://github.com/tensorflow/tensorflow/tree/master/t

[2018-05-17 18:44] xiaomaogy commented on #715
@ToZaho Which os platform are you running this on? Also which branch of ml-agents are you using?

[2018-05-17 20:01] Earlh21 opened #765 "learn.py ends without throwing error or starting training"
I'm trying to train an agent. I've got the environment set up, and I run:
`python learn.py C:\Users\Idrialite\Desktop\Other\Machine Learning Pathfinding\temp.exe --run-id=test --train`
I get only this output:
[code]
There's no modules folder or anything, it ends there without doing anything.

[2018-05-17 20:07] vincentpierre commented on #552
@hsaikia I made a fix for the issue you raised in #766 Can you tell me if it solves the problem you are having ?

[2018-05-17 20:09] jo3w4rd commented on #765
When you see the usage information, that generally means that learn.py hasn't understood the parameters you are giving it. Perhaps try putting quotes around your project executable since there are  spaces in the path?

[2018-05-17 20:46] xiaomaogy commented on #602
@kevincog-msft I assume @vincentpierre has replied to you on this issue in your ml-agents email list, so I am closing this issue. Feel free to open if there is more to be discussed here.

To explain what happened here for people who is not in the email list, this is something related to Unity Editor. The Unity won't save the change under this case, but if you change something in the scene after st

[2018-05-17 20:47] xiaomaogy commented on #602
@superjayman I think the error you raised is a different issue. Please create a new issue and post the snapshot and your C# script in that new issue post for others to help you.

[2018-05-17 20:54] xiaomaogy commented on #447
Hi @m-ronchi, we've only tried to compile it against Mono, could you please tell us why you need il2cpp instead of Mono? We will try to work on getting il2cpp to work if that is really necessary.

[2018-05-17 21:02] xiaomaogy commented on #502
I am closing this issue due to inactivity. Feel free to reopen it if it is still not fixed in the 0.3.0b.

[2018-05-17 21:02] #502 closed

[2018-05-17 21:05] xiaomaogy commented on #526
@r-lipton Do you see any error message when you tested it in the Windows platform? More information would be helpful here.

[2018-05-17 21:09] xiaomaogy commented on #527
Hi @freiSMS, have you tried our latest master branch which uses learn.py for training?

[2018-05-17 21:11] xiaomaogy commented on #564
hi @ruanrothmann , you could check the checkpoint file under the models folder, and the "model_checkpoint_path" should tell you which model it is loading when you pass the --load flag.

[2018-05-17 21:15] xiaomaogy commented on #543
@vincentpierre @awjuliani I am also getting this issue when training on Windows, this is something pretty important for our windows users. Do you guys have any idea what might be causing this?

[2018-05-17 21:18] xiaomaogy commented on #546
@palomagr We are no longer supporting the unitypackage with ML-Agents, and hopefully people would all directly use the github repo to setup the project.

Since this issue is related to the legacy ML-agentsWithPlugin.unitypackage that has been deprecated, I'm closing this issue.

[2018-05-17 21:18] #546 closed

[2018-05-17 21:20] xiaomaogy commented on #416
Hi @XBagon, we are closing this issue due to inactivity, feel free to open it if you need more help.

[2018-05-17 21:20] #416 closed

[2018-05-17 21:25] xiaomaogy commented on #534
@floAr @ActiveNick Does the same issue happen for newer version of Unity?

[2018-05-17 21:26] xiaomaogy commented on #627
Hi @theforgottenmachine , we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:26] #627 closed

[2018-05-17 21:28] xiaomaogy commented on #626
Hi @vasaka @superjayman, we are closing this issue due to inactivity, feel free to open it if you guys want to discuss more on this issue.

[2018-05-17 21:28] #626 closed

[2018-05-17 21:30] xiaomaogy commented on #614
Hi @fre @RossMelbourne, we are closing this issue due to inactivity, feel free to open it if you need more help on this, hopefully Vince's fix solves your issue.

[2018-05-17 21:30] #614 closed

[2018-05-17 21:34] xiaomaogy commented on #629
Hi @AndoniXV @andersonaddo, we are closing this issue due to inactivity, feel free to open it if you need more help on this. I will keep the [other issue](https://github.com/Unity-Technologies/ml-agents/issues/543) open until it gets solved.

[2018-05-17 21:34] #629 closed

[2018-05-17 21:35] xiaomaogy commented on #630
Hi @MatthewHallberg, we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:35] #630 closed

[2018-05-17 21:39] xiaomaogy commented on #632
@RossMelbourne For the current code and TensorflowSharp plugin pointed by the doc in master branch, TensorFlow 1.4.0 is compatible. However we recommend you try the PR https://github.com/Unity-Technologies/ml-agents/pull/746, which is compatible with TensorFlow 1.7.1. I've tested it myself recently and if your stuff doesn't work I can work with you to get it work.

[2018-05-17 21:41] xiaomaogy commented on #621
Hi @traveltrousers , we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:41] #621 closed

[2018-05-17 21:42] xiaomaogy commented on #623
Hi @traveltrousers , we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:42] #623 closed

[2018-05-17 21:45] xiaomaogy commented on #600
Hi @theforgottenmachine  , we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:45] #600 closed

[2018-05-17 21:46] xiaomaogy commented on #610
Hi @vasaka , we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:46] #610 closed

[2018-05-17 21:48] xiaomaogy commented on #616
Hi @tschmidt64, we are closing this issue due to inactivity, feel free to open it if you need more help on this.

[2018-05-17 21:48] #616 closed

[2018-05-17 21:49] xiaomaogy commented on #591
@jlanis Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-17 21:49] #591 closed

[2018-05-17 21:50] xiaomaogy commented on #639
@twobob Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-17 21:50] #639 closed

[2018-05-17 21:53] xiaomaogy commented on #700
Closing the issue since it is solved.

[2018-05-17 21:53] #700 closed

[2018-05-17 21:58] xiaomaogy commented on #268
Hi @60days, I know it has been a long time since you posted this. I've personally struggle through the problem we've had, and it is due to libtensorflow-core.a file not corrently compiled (missing certain ops etc).

I've got a new version of TensorflowSharp package to work with tensorflow 1.7.1, which is posted in PR https://github.com/Unity-Technologies/ml-agents/pull/746. If you are interested p

[2018-05-17 22:02] xiaomaogy commented on #314
Hi @3DAPPG2018, the previous version of TensorFlowSharp plugin for iOS was missing a certain operator in the complied libtensorflow-core.a which is used in discrete mode, and that's the cause for the issue you were seeing. In the new TensorFlowSharp plugin for 1.7.1 listed in the PR https://github.com/Unity-Technologies/ml-agents/pull/746 we've fixed that issue, and now it should work for the disc

[2018-05-17 22:07] xiaomaogy commented on #631
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-17 22:07] #631 closed

[2018-05-17 22:07] xiaomaogy commented on #642
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-17 22:07] #642 closed

[2018-05-17 22:57] vincentpierre commented on #601
There is a PR pending #724 that I hope solve the problem (It no longer uses JSON). I would also like to know if there are more issues with IL2CPP besides the monitor, could you try removing the monitor file all together (and calls to the monitor in other scripts such as Teacher Helper) and see if other issues arise ?

[2018-05-17 23:07] kevincog-msft commented on #601
I haven't encountered any other issues related to IL2CPP. If I disable the BC Teacher Helper component, it avoids this issue and everything else I've done seems to work normally.

[2018-05-18 02:33] JamesYFC commented on #764
Got it. Thanks!
I'll leave the closing to you if you're leaving it till the PR goes through.

[2018-05-18 02:54] animaleja32 commented on #701
Thanks for asking & answering this question :)

[2018-05-18 03:34] unityjeffrey commented on #699
Hi @FireDragonGameStudio - i was able to use the below for the wall jump and worked for me.

{
    "measure" : "reward",
    "thresholds" : [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
    "min_lesson_length" : 2,
    "signal_smoothing" : true,
    "parameters" :
    {
        "big_wall_min_height" : [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5],
        "big_wall_max_height" : [1.5, 2.0, 2

[2018-05-18 05:28] ToZaho commented on #715
@xiaomaogy I'm running Windows 10.
I don't know which branch I'm using. I didn't even know, that there are more of them. Could you tell me where I can find which I'm using?

Also, I don't know, if it was clear from the first comment, but few times I've been able to run it.

[2018-05-18 06:53] gyanshankar commented on #590
Hi @mmattar - Can you please suggest any example environment for this? I am trying to use visual observation from camera for object detection using tensorflow. The ground truth is going to be a object name and a bounding box of the detected object.

[2018-05-18 07:29] mbaske commented on #695
Quick follow-up: This AMI appears to work nicely with ml-agents on p2.xlarge
https://aws.amazon.com/marketplace/pp/B078JLK5DC

[2018-05-18 13:57] TejaswiniiB commented on #728
Yes, I did enable SoccerFieldTwos all game objects.
Did training work for anyone of you successfully?

[2018-05-18 16:04] unityjeffrey commented on #728
hi @TejaswiniiB i remember I had similar problems if I did not enable all the game objects.  does your training window look like this:

![screen shot 2018-05-18 at 9 04 28 am](https://user-images.githubusercontent.com/34355042/40245431-84b78afc-5a7a-11e8-82fe-696274766a66.png)

[2018-05-18 21:03] xiaomaogy commented on #715
@ToZaho I think learning Git would be really helpful for you to know which branch you are using. Also just looking at your log file doesn't really help me debug the issue for you. Are you training using one of our example environment?

[2018-05-18 21:13] vincentpierre commented on #715
@ToZaho I am looking at the error messages you get and I see

[code]
Did you set the brain to `External` in the scene ?

[2018-05-18 23:09] hejcz commented on #741
@gaoyuankidult thanks for paper! Unfortunately I have changed my environment to use discrete actions. However it is really simple to adjust one of the sample environments to your needs. Take any example environment with visual observations and discrete actions. Then change actions type of brain and modify agentAct to use continous values (dont forget to clip the values). If you still struggle adju

[2018-05-19 09:25] ToZaho commented on #715
@xiaomaogy Ok, I thought that the error should tell you what's wrong...

This is **exactly** what i've done:
I've downloaded ml-agents, read how to use it, opened the **ball example**, imported TFSharpPlugin, set **ENABLE_TENSORFLOW** symbol, restarted Unity, set brain type to **External**, compiled it and trained it. It **worked**.

Then I tried to **change** some public **values of Ball3DAgent**

[2018-05-19 11:18] green4you opened #778 "a agent's property "Decision frequency" is ambigueous"
'Decision Frequency" seems to mean decision step by its name.

but brain's "stacked vector" property can delay decision step.

so "Decision Frequency" should be changed to "Observation Frequency"

[2018-05-19 11:27] green4you opened #779 "Agent property name of "Decision Frequency" is comfusing"
'Decision Frequency" seems to mean "step count per decision" by its name.

but brain "stacked vector" property can delay "step count per decision" by stacking observations per next decision making

if "decision frequency" is 1 and "stacked vector" is 2, then decision will be maked every 2 step.

'Decision Frequency" associate with "step count per CollectObservations() call"

so "Decision Frequency

[2018-05-19 12:33] KilianSillero commented on #549
@JohnnyPhoton I changed my code to make it simmilar to yours but didnt work no matter what I do, so I copy paste your code and doesn't work either.
I dont know what I am doing bad. How much did you train your agent? 500k is not enought?

[2018-05-19 13:31] 3DAPPG2018 commented on #314
Thank you so much. I appreciate your following up on this.

Sent from my iPhone

[2018-05-19 19:14] JohnnyPhoton commented on #549
@KilianSillero
Now that I think about it, I may have changed my batch and buffer sizes. Don't recall what the originals were.

` trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    gamma: 0.99
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    max_steps: 5e5
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2

[2018-05-20 06:24] #731 closed, assigned to nobody

[2018-05-20 06:25] Aarsh-Singh-Vishen opened #781 "Imitation Learning."
Hi I just set up an imitation learning scene and everything works except when I add the BC helper script.
I get the following error:

BCTeacherHelper.FixedUpdate () (at Assets/ML-Agents/Scripts/BCTeacherHelper.cs:52)

Any ideas?

[2018-05-20 06:32] sterlingcrispin commented on #680
@Fable67 have you worked on this more? I'm trying to solve the same problem with my own quadruped agent.

I've tried:

- The agent starts attempts to follow a goal that starts off moving in the X axis and randomly changes direction
- The agent starts attempts to follow a goal randomly placed 360 degrees around the agent

I'm training to 2-3M steps with this reward function

`

        Vector3 dire

[2018-05-20 06:39] Aarsh-Singh-Vishen commented on #757
Yup this works  Thanks! :)

[2018-05-20 06:39] #757 closed

[2018-05-20 06:40] Aarsh-Singh-Vishen commented on #743
The problem was that I set the negative reward for taking a step as too high.
Lowering it helped! Thanks :)

[2018-05-20 06:40] #743 closed

[2018-05-20 06:41] Aarsh-Singh-Vishen commented on #719
Thanks!

[2018-05-20 06:41] #719 closed

[2018-05-20 06:42] #712 closed

[2018-05-20 06:45] Aarsh-Singh-Vishen opened #783 "Curriculum Learning."
So I came across this and I don't know how launch ppo using the curriculum-file thingy.
Well I kinda don't know how to do most of that sentence. Help appreciated!

[2018-05-20 06:50] Aarsh-Singh-Vishen commented on #781
Also where is the default .bytes file  for imitation learning saved to by default?

[2018-05-20 06:55] gyanshankar opened #784 "visual observations with webcam"
Will a webcam work with visual observations?
I have an environment with a rawimage that plays the webcam video.
When I run this within unity I can see live webcam play.
However when I run the Basics.ipynb with below code I can see other game objects but not the webcam video.
`plt.imshow(env_info.visual_observations[0][0])
plt.show()`

Any idea what am I missing?

[2018-05-20 10:05] KilianSillero commented on #549
@JohnnyPhoton I have the same

[2018-05-20 12:11] Aarsh-Singh-Vishen commented on #783
Is there a more detailed how -to?

[2018-05-20 18:04] Aarsh-Singh-Vishen opened #785 "AddVectorObs() during runtime."
Can i use AddVectorObs()  during runtime to monitor the position of an instantiated object (eg:bullets,spawned enemies,etc) in the AgentAction function?

[2018-05-20 20:29] vincentpierre commented on #785
`AddVectorObs()` can only be called in `CollectObservations()`.
If all you want to do is see some values, you could use the [Monitor](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Feature-Monitor.md) or you could store the values you are interested in in a temporary variable during `AgentAction` and then add them to the Observations in `CollectObservations`

[2018-05-21 09:56] m-ronchi commented on #447
@xiaomaogy we are developing for both Android and iOS, and using the same backend helps avoiding some gotchas (i.e. AOT compilation) before switching to iOS. also:
1) Unity is pushing IL2CPP for all platforms
2) IL2CPP *should* be faster than mono
3) eventually, 64-bit

[2018-05-21 19:03] baggyg commented on #609
I had the same problem. No need anymore to go all the way back to 1.4. Its enough to go to 1.7 and ensure you have the latest TensorFlowSharp. TensorFlow GPU 1.7 uses Cuda 9 whereas 1.4 would require 8.

I used the gpu version:

`pip install tensorflow-gpu==1.7`

I reran the training and all is now working fine.

[2018-05-21 19:04] baggyg commented on #762
I had the same problem. No need anymore to go all the way back to 1.4. Its enough to go to 1.7 and ensure you have the latest TensorFlowSharp. TensorFlow GPU 1.7 uses Cuda 9 whereas 1.4 would require 8.

I used the gpu version:

pip install tensorflow-gpu==1.7

I reran the training and all is now working fine.

[2018-05-21 19:42] xiaomaogy commented on #783
Yes I agree, we should come up with some doc with more detailed explanation and guidance. Will raise it within the team.

[2018-05-21 20:02] #764 closed

[2018-05-21 20:25] xiaomaogy commented on #447
@m-ronchi I've tried to compiled against IL2CPP for android, and got the same error as you do. The TensorFlowSharp plugin for Android we use is from this [repo](https://github.com/gmlwns2000/TensorFlowSharp), which only supports Mono. For the short term, I think we don't have a plan to support IL2CPP for Android given the current situation, but you are welcome to contribute on this if you are inte

[2018-05-21 20:28] xiaomaogy commented on #601
Since the bug is fixed I'm closing this issue, feel free to reopen this if you encounter any other issues.

[2018-05-21 20:28] #601 closed

[2018-05-21 20:31] xiaomaogy commented on #659
@vincentpierre Have you merged this fix? May I close this issue?

[2018-05-21 20:33] xiaomaogy commented on #653
Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-21 20:33] #653 closed

[2018-05-21 20:35] vincentpierre commented on #659
@xiaomaogy  I have not, that is because there might be some unintended consequences commenting those lines. I do not know if it could cause issues for intensive image based scenarios. The issue should be resolved on the `develop-communicator-redesign` branch since the image collection code changed.

[2018-05-21 20:41] xiaomaogy commented on #659
@vincentpierre Ok, I will keep this open and revisit it once your communicator branch has merged.

[2018-05-21 20:56] xiaomaogy commented on #660
@TinyQubit I've seen similar error and fixed during the new TensorFlowSharp plugin upgrade, could you please try again with the new plugin in https://github.com/Unity-Technologies/ml-agents/pull/746? If this still doesn't work, we can work together to fix it.

[2018-05-21 20:58] xiaomaogy commented on #658
@suneelbelkhale Thanks for reaching out to us. Hopefully you were able to resolve your issue.  We are closing this due to inactivity, but if you need additional assistance, feel free to reopen the issue.

[2018-05-21 20:58] #658 closed

[2018-05-21 21:02] xiaomaogy commented on #635
@ALanMAttano Yes you are correct, during the test on Windows last week I've also faced this issue. Basically you just need to create a folder named <env_name>, then save inside that folder. Then you can still call
[code]
Within your ml-agents/python folder. I will change the corresponding Windows doc to make this clear.

[2018-05-21 22:43] reillydonovan commented on #762
nice, thanks, I reverted back to 1.4, now I'll try to go back to 1.7 :)

[2018-05-22 06:30] FireDragonGameStudio commented on #699
Hy @unityjeffrey, which version of ML-agents are you using? I played around with the current version, but I always get the error of not finding the correct reset parameters. Oo

Best regards :)

[2018-05-22 08:13] hsaikia commented on #552
Hi @vincentpierre, sorry for not replying earlier. Is the fix merged with the master branch yet? I was working on other projects and haven't had a time to look. I'll try it out soon enough.

[2018-05-22 08:58] mbaske commented on #779
The way I understand decision frequency, is that for a frequency of, let's say 5, AgentAction is invoked 5 consecutive times with identical vectorAction values. You could implement the same behavior by enabling "on demand decisions", and call RequestDecision every 5th time your agent's FixedUpdate method executes. You'd have to store the vectorAction values and apply them in FixedUpdate.

I think

[2018-05-22 09:43] floAr commented on #534
@xiaomaogy 2018.2.0b4 is working correctly

[2018-05-22 13:12] me97esn opened #788 "Getting '¤¤¤' instead of float in AgentAction"
I ran the training, which looks succesful. I then try to run it using an internal brain.
It works with some of the brains that I've tried, but not other times.
Sometimes the trained brain responds some weird chars that isn't a number: ¤¤¤

Is this how it's supposed to be, or is this a bug?

Using Unity 2017.2.0f3 on a Mac with osx version 10.11.6

[2018-05-22 13:55] Aarsh-Singh-Vishen commented on #785
Thanks
:)

[2018-05-22 13:55] #785 closed

[2018-05-22 13:56] Aarsh-Singh-Vishen commented on #781
Thanks :)

[2018-05-22 13:56] #781 closed

[2018-05-22 14:04] Aarsh-Singh-Vishen opened #789 "Want to do something like this:"
I just want the enemy to attack->lose health-> attack until health low-> retreat-> heal->repeat.

I've given it a few preset destinations that it can go to (some close to the player, some far away).
The problem I face is that the enemy just stays close to the player and keeps attacking. It doesn't care that its health is lowered to -500 or whatever. Also the reward the mean reward for this behavio

[2018-05-22 16:42] r-lipton commented on #526
No, there is not error when tested on Windows neither on Linux

[2018-05-22 17:13] vincentpierre commented on #552
@hsaikia It is on `develop`